{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourcegroups/blob-audit-cmdlet-test-rgps1198?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourcegroups/audit-cmdlet-test-rgps4069?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "51511794-568b-43a6-8132-8f8c2b735189"
=======
          "743d800f-b564-437e-a452-dc23f2712fc0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.2.0"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.11"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "37"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1195"
        ],
        "x-ms-request-id": [
          "ddde89c5-3eea-494a-896f-72dd1c6bee41"
        ],
        "x-ms-correlation-request-id": [
          "ddde89c5-3eea-494a-896f-72dd1c6bee41"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190606T153904Z:ddde89c5-3eea-494a-896f-72dd1c6bee41"
=======
          "1199"
        ],
        "x-ms-request-id": [
          "6c64ec7f-10f6-49e7-9b22-fd5d11f9ed0f"
        ],
        "x-ms-correlation-request-id": [
          "6c64ec7f-10f6-49e7-9b22-fd5d11f9ed0f"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH:20200406T161717Z:6c64ec7f-10f6-49e7-9b22-fd5d11f9ed0f"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Thu, 06 Jun 2019 15:39:04 GMT"
        ],
        "Content-Length": [
          "222"
=======
          "Mon, 06 Apr 2020 16:17:17 GMT"
        ],
        "Content-Length": [
          "212"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps1198\",\r\n  \"name\": \"blob-audit-cmdlet-test-rgps1198\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps1198/providers/Microsoft.Sql/servers/blob-audit-cmdlet-serverps1198?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps4069\",\r\n  \"name\": \"audit-cmdlet-test-rgps4069\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps4069/providers/Microsoft.Sql/servers/audit-cmdlet-serverps4069?api-version=2019-06-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "485348b1-93ca-4d6f-9321-109ed718e6cb"
=======
          "42f66f53-6d7d-4244-95cb-d6dfc34f0abe"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.31.0.0"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.41.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "32606511-bf15-40bd-b395-ec25963e59de"
        ],
        "x-ms-correlation-request-id": [
          "32606511-bf15-40bd-b395-ec25963e59de"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190606T153905Z:32606511-bf15-40bd-b395-ec25963e59de"
=======
          "a2022cbf-cb92-43e7-8dcd-d5cb88044c17"
        ],
        "x-ms-correlation-request-id": [
          "a2022cbf-cb92-43e7-8dcd-d5cb88044c17"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH:20200406T161718Z:a2022cbf-cb92-43e7-8dcd-d5cb88044c17"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Thu, 06 Jun 2019 15:39:04 GMT"
=======
          "Mon, 06 Apr 2020 16:17:18 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "187"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/blob-audit-cmdlet-serverps1198' under resource group 'blob-audit-cmdlet-test-rgps1198' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps4069/providers/Microsoft.Sql/servers/audit-cmdlet-serverps4069?api-version=2019-06-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.31.0.0"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.41.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "f3946ba4-0fc0-4855-846b-a90dc5003d50"
=======
          "da44cb97-3b37-4fbc-b241-81ee68852829"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11980"
        ],
        "x-ms-correlation-request-id": [
          "595d2941-99a6-4551-8809-333d71368608"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190606T153953Z:595d2941-99a6-4551-8809-333d71368608"
=======
          "11977"
        ],
        "x-ms-correlation-request-id": [
          "7e0eaada-00f1-4405-8451-9a8785b44554"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH:20200406T161808Z:7e0eaada-00f1-4405-8451-9a8785b44554"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Thu, 06 Jun 2019 15:39:53 GMT"
        ],
        "Content-Length": [
          "448"
=======
          "Mon, 06 Apr 2020 16:18:08 GMT"
        ],
        "Content-Length": [
          "492"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"blob-audit-cmdlet-serverps1198.database.windows.net\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps1198/providers/Microsoft.Sql/servers/blob-audit-cmdlet-serverps1198\",\r\n  \"name\": \"blob-audit-cmdlet-serverps1198\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps1198/providers/Microsoft.Sql/servers/blob-audit-cmdlet-serverps1198?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"audit-cmdlet-serverps4069.database.windows.net\",\r\n    \"privateEndpointConnections\": [],\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps4069/providers/Microsoft.Sql/servers/audit-cmdlet-serverps4069\",\r\n  \"name\": \"audit-cmdlet-serverps4069\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps4069/providers/Microsoft.Sql/servers/audit-cmdlet-serverps4069?api-version=2019-06-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"t357ingP@s5w0rd!Sec\",\r\n    \"version\": \"12.0\"\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "707c91bf-abe2-4a08-b612-4bc3b7a5b1ea"
=======
          "f45007c2-6f1f-4968-b9cb-ed9001b4ab78"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.31.0.0"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.41.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "186"
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps1198/providers/Microsoft.Sql/locations/westcentralus/serverOperationResults/e948a92e-3023-4212-9a4f-902e68faff55?api-version=2015-05-01-preview"
=======
          "https://management.azure.com/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps4069/providers/Microsoft.Sql/locations/westcentralus/serverOperationResults/9f015392-6aec-4679-8099-7e25aba81ec7?api-version=2019-06-01-preview"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps1198/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/e948a92e-3023-4212-9a4f-902e68faff55?api-version=2015-05-01-preview"
        ],
        "x-ms-request-id": [
          "e948a92e-3023-4212-9a4f-902e68faff55"
=======
          "https://management.azure.com/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps1198/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/e948a92e-3023-4212-9a4f-902e68faff55?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2020-04-06T16:17:22.99Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps4069/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/9f015392-6aec-4679-8099-7e25aba81ec7?api-version=2019-06-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microso[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps1198/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/e948a92e-3023-4212-9a4f-902e68faff55?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"9f015392-6aec-4679-8099-7e25aba81ec7\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-04-06T16:17:22.99Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps1198/providers/Microsoft.Sql/servers/blob-audit-cmdlet-serverps1198/databases/blob-audit-cmdlet-dbps1198?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"9f015392-6aec-4679-8099-7e25aba81ec7\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-04-06T16:17:22.99Z\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps4069/providers/Microsoft.Sql/servers/audit-cmdlet-serverps4069/databases/audit-cmdlet-dbps4069?api-version=2017-10-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "c24b0443-2e8f-43eb-a3ef-d401e5c92237"
=======
          "14b45f8d-2d21-47df-b1e9-5318521972bc"
>>>>>>>[...]
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps1198/providers/Microsoft.Sql/servers/blob-audit-cmdlet-serverps1198/databases/blob-audit-cmdlet-dbps1198?api-version=2017-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Basic\"\r\n  },\r\n  \"properties\": {\r\n    \"maxSizeBytes\": 0,\r\n    \"readScale\": \"Disabled\"\r\n  },\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Basic\",\r\n    \"capacity\": 5\r\n  },\r\n  \"kind\": \"v12.0,user\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 2147483648,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"11978306-890a-4be5-9417-6e0b7e85ef98\",\r\n    \"creationDate\": \"2020-04-06T16:18:46.547Z\",\r\n    \"currentServiceObjectiveName\": \"Basic\",\r\n    \"requestedServiceObjectiveName\": \"Basic\",\r\n    \"defaultSecondaryLocation\": \"westus2\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false,\r\n    \"earliestRestoreDate\": \"2020-04-06T16:48:46.547Z\",\r\n    \"readScale\": \"Disabled\",\r\n    \"readReplicaCount\": 0,\r\n    \"currentSku\": {\r\n      \"name\": \"Basic\",\r\n      \"tier\": \"Basic\",\r\n      \"capacity\": 5\r\n    }\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps4069/providers/Microsoft.Sql/servers/audit-cmdlet-serverps4069/databases/audit-cmdlet-dbps4069\",\r\n  \"name\": \"audit-cmdlet-dbps4069\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps1198/providers/Microsoft.Sql/locations/westcentralus/databaseAzureAsyncOperation/b7ee24ed-2564-4462-85ca-fff27a3669cc?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"CreateLogicalDatabase\",\r\n  \"startTime\": \"2020-04-06T16:18:11.617Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps4069/providers/Microsoft.Sql/locations/westcentralus/databaseAzureAsyncOperation/1257577a-9fa7-43cf-a57c-598edd2b79d0?api-version=2017-10-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Micro[...]
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps1198/providers/Microsoft.Storage/storageAccounts/blobauditps1198?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\"\r\n  },\r\n  \"kind\": \"Storage\",\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"name\": \"1257577a-9fa7-43cf-a57c-598edd2b79d0\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-04-06T16:18:11.617Z\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps4069/providers/Microsoft.Storage/storageAccounts/blobauditps4069?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Lang[...]
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/providers/Microsoft.Storage/locations/westcentralus/asyncoperations/db37d35d-3345-4d03-8a7c-abf4dc7c49e5?monitor=true&api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/providers/Microsoft.Storage/locations/westcentralus/asyncoperations/db37d35d-3345-4d03-8a7c-abf4dc7c49e5?monitor=true&api-version=2017-10-01"
        ],
        "Retry-After": [
          "3"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/providers/Microsoft.Storage/locations/westcentralus/asyncoperations/db37d35d-3345-4d03-8a7c-abf4dc7c49e5?monitor=true&api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ]
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"Storage\",\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps1198/providers/Microsoft.Storage/storageAccounts/blobauditps1198\",\r\n  \"name\": \"blobauditps1198\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"virtualNetworkRules\": [],\r\n      \"ipRules\": [],\r\n      \"defaultAction\": \"Allow\"\r\n    },\r\n    \"supportsHttpsTrafficOnly\": false,\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"file\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2019-06-06T15:40:28.9070479Z\"\r\n        },\r\n        \"blob\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2019-06-06T15:40:28.9070479Z\"\r\n        }\r\n      },\r\n      \"keySource\": \"Microsoft.Storage\"\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"creationTime\": \"2019-06-06T15:40:28.828893Z\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://blobauditps1198.blob.core.windows.net/\",\r\n      \"queue\": \"https://blobauditps1198.queue.core.windows.net/\",\r\n      \"table\": \"https://blobauditps1198.table.core.windows.net/\",\r\n      \"file\": \"https://blobauditps1198.file.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"westcentralus\",\r\n    \"statusOfPrimary\": \"available\",\r\n    \"secondaryLocation\": \"westus2\",\r\n    \"statusOfSecondary\": \"available\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourcegroups/blob-audit-cmdlet-test-rgps1198/providers/Microsoft.OperationalInsights/workspaces/audit-cmdlet-workspaceps1198?api-version=2015-11-01-preview",
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"id\": \"/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps4069/providers/Microsoft.Storage/storageAccounts/blobauditps4069\",\r\n  \"name\": \"blobauditps4069\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"virtualNetworkRules\": [],\r\n      \"ipRules\": [],\r\n      \"defaultAction\": \"Allow\"\r\n    },\r\n    \"supportsHttpsTrafficOnly\": false,\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"file\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2020-04-06T16:19:01.9699594Z\"\r\n        },\r\n        \"blob\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2020-04-06T16:19:01.9699594Z\"\r\n        }\r\n      },\r\n      \"keySource\": \"Microsoft.Storage\"\r\n    },\r\n    \"accessTier\": \"Hot\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"creationTime\": \"2020-04-06T16:19:01.9230749Z\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://blobauditps4069.blob.core.windows.net/\",\r\n      \"queue\": \"https://blobauditps4069.queue.core.windows.net/\",\r\n      \"table\": \"https://blobauditps4069.table.core.windows.net/\",\r\n      \"file\": \"https://blobauditps4069.file.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"westcentralus\",\r\n    \"statusOfPrimary\": \"available\",\r\n    \"secondaryLocation\": \"westus2\",\r\n    \"statusOfSecondary\": \"available\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourcegroups/audit-cmdlet-test-rgps4069/providers/Microsoft.OperationalInsights/workspaces/audit-cmdlet-workspaceps4069?api-version=2015-11-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "7db8aa69-4ea4-4b5d-8bcd-fbacda99f75c"
=======
          "c0a0f6e7-4829-4b25-a31f-635ead956812"
>>>>>>> e5fcd5c7b[...]
[...]
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourcegroups/audit-cmdlet-test-rgps4069/providers/Microsoft.OperationalInsights/workspaces/audit-cmdlet-workspaceps4069?api-version=2015-11-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "Microsoft.Azure.Management.OperationalInsights.OperationalInsightsManagementClient/0.19.0.0"
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "eaf92e88-4bf5-4853-8cba-2fd3826aa908"
=======
          "6e103d70-8506-4dd7-834c-48b9c7ce6efe"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Server": [
          "Microsoft-IIS/10.0",
          "Microsoft-IIS/10.0"
        ],
        "X-Powered-By": [
          "ASP.NET",
          "ASP.NET"
        ],
<<<<<<< HEAD
        "Request-Context": [
          "appId=cid-v1:3d24a429-e724-4d71-9886-21ad884cf893"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11929"
        ],
        "x-ms-correlation-request-id": [
          "e986d80b-bbec-48c3-85d1-e3ada0c938be"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190606T154133Z:e986d80b-bbec-48c3-85d1-e3ada0c938be"
        ],
        "Date": [
          "Thu, 06 Jun 2019 15:41:33 GMT"
        ],
        "Content-Length": [
          "1165"
=======
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "x-ms-correlation-request-id": [
          "dd76e8fd-3e50-41a6-b07e-7881fdb2d1df"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH:20200406T162016Z:dd76e8fd-3e50-41a6-b07e-7881fdb2d1df"
        ],
        "Date": [
          "Mon, 06 Apr 2020 16:20:16 GMT"
        ],
        "Content-Length": [
          "1008"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\": \"f9c1b340-9c88-4c8c-bd90-20c6ae3c4e32\",\r\n    \"portalUrl\": \"https://eus.mms.microsoft.com/Account?tenant=72f988bf-86f1-41af-91ab-2d7cd011db47&resource=%2fsubscriptions%2fcca24ec8-99b5-4aa7-9ff6-486e886f304c%2fresourcegroups%2fblob-audit-cmdlet-test-rgps1198%2fproviders%2fmicrosoft.operationalinsights%2fworkspaces%2faudit-cmdlet-workspaceps1198\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"sku\": {\r\n      \"name\": \"standard\"\r\n    },\r\n    \"retentionInDays\": 30,\r\n    \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 1,\r\n      \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n    },\r\n    \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n      \"quotaNextResetTime\": \"Fri, 07 Jun 2019 01:00:00 GMT\",\r\n      \"dataIngestionStatus\": \"RespectQuota\"\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourcegroups/blob-audit-cmdlet-test-rgps1198/providers/microsoft.operationalinsights/workspaces/audit-cmdlet-workspaceps1198\",\r\n  \"name\": \"audit-cmdlet-workspaceps1198\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {}\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourcegroups/blob-audit-cmdlet-test-rgps1198/providers/Microsoft.OperationalInsights/workspaces/audit-cmdlet-workspaceps1198?api-version=2015-11-01-preview",
=======
[...]
