{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourcegroups/blob-audit-cmdlet-test-rgps778?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourcegroups/audit-cmdlet-test-rgps8274?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "4273bd58-004b-4f93-be10-96b7d98eec99"
=======
          "d0af5d4a-7f88-40e6-9344-d9e084ef8532"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.2.0"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.11"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "37"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ]
<<<<<<< HEAD
          "368f861a-1918-4d94-a3c3-ec6e67ea9c53"
        ],
        "x-ms-correlation-request-id": [
          "368f861a-1918-4d94-a3c3-ec6e67ea9c53"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190606T164105Z:368f861a-1918-4d94-a3c3-ec6e67ea9c53"
=======
          "087431ed-cb00-4022-b16a-5257f392ecb0"
        ],
        "x-ms-correlation-request-id": [
          "087431ed-cb00-4022-b16a-5257f392ecb0"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH:20200406T135527Z:087431ed-cb00-4022-b16a-5257f392ecb0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Thu, 06 Jun 2019 16:41:04 GMT"
        ],
        "Content-Length": [
          "220"
=======
          "Mon, 06 Apr 2020 13:55:27 GMT"
        ],
        "Content-Length": [
          "212"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps778\",\r\n  \"name\": \"blob-audit-cmdlet-test-rgps778\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps778/providers/Microsoft.Sql/servers/blob-audit-cmdlet-serverps778?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps8274\",\r\n  \"name\": \"audit-cmdlet-test-rgps8274\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps8274/providers/Microsoft.Sql/servers/audit-cmdlet-serverps8274?api-version=2019-06-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "e89df4e4-38fb-47d3-ac15-d3b6695b6239"
=======
          "9edfced9-8f93-4dcc-9c69-23e15b88ce0d"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.31.0.0"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.41.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "0128e3af-e8c1-4609-b86f-110988b21be3"
        ],
        "x-ms-correlation-request-id": [
          "0128e3af-e8c1-4609-b86f-110988b21be3"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190606T164105Z:0128e3af-e8c1-4609-b86f-110988b21be3"
=======
          "bea56076-25d6-4bfe-8487-7f00f5a7bc58"
        ],
        "x-ms-correlation-request-id": [
          "bea56076-25d6-4bfe-8487-7f00f5a7bc58"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH:20200406T135528Z:bea56076-25d6-4bfe-8487-7f00f5a7bc58"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Thu, 06 Jun 2019 16:41:05 GMT"
=======
          "Mon, 06 Apr 2020 13:55:28 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "185"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/blob-audit-cmdlet-serverps778' under resource group 'blob-audit-cmdlet-test-rgps778' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps8274/providers/Microsoft.Sql/servers/audit-cmdlet-serverps8274?api-version=2019-06-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.31.0.0"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.41.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "70bbaffd-70f5-40f4-b14c-99f49355c9f3"
=======
          "055e8a5e-a2c0-447b-9f90-8f55d40e73a0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11974"
        ],
        "x-ms-correlation-request-id": [
          "22453057-4f9f-48f1-9e0d-8cc95c7527fe"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190606T164153Z:22453057-4f9f-48f1-9e0d-8cc95c7527fe"
=======
          "11985"
        ],
        "x-ms-correlation-request-id": [
          "9b34c559-e173-456f-9eba-7ebfb9e1c23a"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH:20200406T135619Z:9b34c559-e173-456f-9eba-7ebfb9e1c23a"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Thu, 06 Jun 2019 16:41:53 GMT"
        ],
        "Content-Length": [
          "444"
=======
          "Mon, 06 Apr 2020 13:56:18 GMT"
        ],
        "Content-Length": [
          "492"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"blob-audit-cmdlet-serverps778.database.windows.net\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps778/providers/Microsoft.Sql/servers/blob-audit-cmdlet-serverps778\",\r\n  \"name\": \"blob-audit-cmdlet-serverps778\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps778/providers/Microsoft.Sql/servers/blob-audit-cmdlet-serverps778?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"audit-cmdlet-serverps8274.database.windows.net\",\r\n    \"privateEndpointConnections\": [],\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps8274/providers/Microsoft.Sql/servers/audit-cmdlet-serverps8274\",\r\n  \"name\": \"audit-cmdlet-serverps8274\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps8274/providers/Microsoft.Sql/servers/audit-cmdlet-serverps8274?api-version=2019-06-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"t357ingP@s5w0rd!Sec\",\r\n    \"version\": \"12.0\"\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "27f8dbaf-a773-4537-8e1f-61d8eea6e29d"
=======
          "46ddf390-248a-4285-b4ea-9fbbba792e0e"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.31.0.0"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.41.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "186"
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps778/providers/Microsoft.Sql/locations/westcentralus/serverOperationResults/21ac7d66-549b-4bb6-abe0-9675d0196180?api-version=2015-05-01-preview"
=======
          "https://management.azure.com/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps8274/providers/Microsoft.Sql/locations/westcentralus/serverOperationResults/4067e582-13eb-43e3-b915-6d99a02f2aa5?api-version=2019-06-01-preview"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps778/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/21ac7d66-549b-4bb6-abe0-9675d0196180?api-version=2015-05-01-preview"
        ],
        "x-ms-request-id": [
          "21ac7d66-549b-4bb6-abe0-9675d0196180"
=======
          "https://management.azure.com/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps8274/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/4067e582-13eb-43e3-b915-6d99a02f2aa5?api-version=2019-06-01-preview"
        ],
        "x-ms-request-id": [
          "4067e582-13eb-43e3-b915-6d99a02f2aa5"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps778/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/21ac7d66-549b-4bb6-abe0-9675d0196180?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2020-04-06T13:55:33.517Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps8274/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/4067e582-13eb-43e3-b915-6d99a02f2aa5?api-version=2019-06-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microso[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps778/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/21ac7d66-549b-4bb6-abe0-9675d0196180?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"4067e582-13eb-43e3-b915-6d99a02f2aa5\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-04-06T13:55:33.517Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps778/providers/Microsoft.Sql/servers/blob-audit-cmdlet-serverps778/databases/blob-audit-cmdlet-dbps778?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"4067e582-13eb-43e3-b915-6d99a02f2aa5\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-04-06T13:55:33.517Z\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps8274/providers/Microsoft.Sql/servers/audit-cmdlet-serverps8274/databases/audit-cmdlet-dbps8274?api-version=2017-10-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "be8c7e52-d5c2-436b-93c3-401344d834a7"
=======
          "b0f697ac-9816-4c03-9748-e6c7b90a5a01"
>>>>>>>[...]
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps778/providers/Microsoft.Sql/servers/blob-audit-cmdlet-serverps778/databases/blob-audit-cmdlet-dbps778?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Basic\",\r\n    \"capacity\": 5\r\n  },\r\n  \"kind\": \"v12.0,user\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 2147483648,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"732d4323-67ed-4228-9114-9cc38dc8187e\",\r\n    \"creationDate\": \"2020-04-06T13:57:01.09Z\",\r\n    \"currentServiceObjectiveName\": \"Basic\",\r\n    \"requestedServiceObjectiveName\": \"Basic\",\r\n    \"defaultSecondaryLocation\": \"westus2\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false,\r\n    \"earliestRestoreDate\": \"2020-04-06T14:27:01.09Z\",\r\n    \"readScale\": \"Disabled\",\r\n    \"readReplicaCount\": 0,\r\n    \"currentSku\": {\r\n      \"name\": \"Basic\",\r\n      \"tier\": \"Basic\",\r\n      \"capacity\": 5\r\n    }\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps8274/providers/Microsoft.Sql/servers/audit-cmdlet-serverps8274/databases/audit-cmdlet-dbps8274\",\r\n  \"name\": \"audit-cmdlet-dbps8274\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps778/providers/Microsoft.Sql/locations/westcentralus/databaseAzureAsyncOperation/77b424e8-b16b-421f-9c29-6ad2a6e7504e?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"CreateLogicalDatabase\",\r\n  \"startTime\": \"2020-04-06T13:56:21.593Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps8274/providers/Microsoft.Sql/locations/westcentralus/databaseAzureAsyncOperation/5dd3bcb2-57cf-4493-9e66-b22c80b84859?api-version=2017-10-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Micro[...]
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps778/providers/Microsoft.Storage/storageAccounts/blobauditps778?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\"\r\n  },\r\n  \"kind\": \"Storage\",\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"name\": \"5dd3bcb2-57cf-4493-9e66-b22c80b84859\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-04-06T13:56:21.593Z\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps8274/providers/Microsoft.Storage/storageAccounts/blobauditps8274?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Lang[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourcegroups/blob-audit-cmdlet-test-rgps778/providers/Microsoft.OperationalInsights/workspaces/audit-cmdlet-workspaceps778?api-version=2015-11-01-preview",
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"id\": \"/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps8274/providers/Microsoft.Storage/storageAccounts/blobauditps8274\",\r\n  \"name\": \"blobauditps8274\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"virtualNetworkRules\": [],\r\n      \"ipRules\": [],\r\n      \"defaultAction\": \"Allow\"\r\n    },\r\n    \"supportsHttpsTrafficOnly\": false,\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"file\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2020-04-06T13:57:12.006386Z\"\r\n        },\r\n        \"blob\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2020-04-06T13:57:12.006386Z\"\r\n        }\r\n      },\r\n      \"keySource\": \"Microsoft.Storage\"\r\n    },\r\n    \"accessTier\": \"Hot\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"creationTime\": \"2020-04-06T13:57:11.94387Z\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://blobauditps8274.blob.core.windows.net/\",\r\n      \"queue\": \"https://blobauditps8274.queue.core.windows.net/\",\r\n      \"table\": \"https://blobauditps8274.table.core.windows.net/\",\r\n      \"file\": \"https://blobauditps8274.file.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"westcentralus\",\r\n    \"statusOfPrimary\": \"available\",\r\n    \"secondaryLocation\": \"westus2\",\r\n    \"statusOfSecondary\": \"available\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourcegroups/audit-cmdlet-test-rgps8274/providers/Microsoft.OperationalInsights/workspaces/audit-cmdlet-workspaceps8274?api-version=2015-11-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "099bc377-1c1d-47f5-91ff-bebea3bcd9e0"
=======
          "45517684-b558-49bc-9048-72467f1b7262"
>>>>>>> e5fcd5c7b[...]
[...]
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourcegroups/audit-cmdlet-test-rgps8274/providers/Microsoft.OperationalInsights/workspaces/audit-cmdlet-workspaceps8274?api-version=2015-11-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "Microsoft.Azure.Management.OperationalInsights.OperationalInsightsManagementClient/0.19.0.0"
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "7a0efe8f-faff-410e-9bb0-7c59bfba4c59"
=======
          "a1cab29d-f3b1-4382-aeee-2542177b0ceb"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Server": [
          "Microsoft-IIS/10.0",
          "Microsoft-IIS/10.0"
        ],
        "X-Powered-By": [
          "ASP.NET",
          "ASP.NET"
        ],
<<<<<<< HEAD
        "Request-Context": [
          "appId=cid-v1:3d24a429-e724-4d71-9886-21ad884cf893"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11981"
        ],
        "x-ms-correlation-request-id": [
          "5b929045-3d30-4ac3-843d-b8b19bd8766c"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190606T164348Z:5b929045-3d30-4ac3-843d-b8b19bd8766c"
        ],
        "Date": [
          "Thu, 06 Jun 2019 16:43:48 GMT"
        ],
        "Content-Length": [
          "1160"
=======
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11980"
        ],
        "x-ms-correlation-request-id": [
          "2c5ac9ab-c0d8-4178-b40b-dc4e1f23a384"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH:20200406T135817Z:2c5ac9ab-c0d8-4178-b40b-dc4e1f23a384"
        ],
        "Date": [
          "Mon, 06 Apr 2020 13:58:17 GMT"
        ],
        "Content-Length": [
          "1008"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\": \"aa18b219-999a-4e2c-a9df-04eee00a8af4\",\r\n    \"portalUrl\": \"https://eus.mms.microsoft.com/Account?tenant=72f988bf-86f1-41af-91ab-2d7cd011db47&resource=%2fsubscriptions%2fcca24ec8-99b5-4aa7-9ff6-486e886f304c%2fresourcegroups%2fblob-audit-cmdlet-test-rgps778%2fproviders%2fmicrosoft.operationalinsights%2fworkspaces%2faudit-cmdlet-workspaceps778\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"sku\": {\r\n      \"name\": \"standard\"\r\n    },\r\n    \"retentionInDays\": 30,\r\n    \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 1,\r\n      \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n    },\r\n    \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n      \"quotaNextResetTime\": \"Fri, 07 Jun 2019 08:00:00 GMT\",\r\n      \"dataIngestionStatus\": \"RespectQuota\"\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourcegroups/blob-audit-cmdlet-test-rgps778/providers/microsoft.operationalinsights/workspaces/audit-cmdlet-workspaceps778\",\r\n  \"name\": \"audit-cmdlet-workspaceps778\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {}\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourcegroups/blob-audit-cmdlet-test-rgps778/providers/Microsoft.OperationalInsights/workspaces/audit-cmdlet-workspaceps778?api-version=2015-11-01-preview",
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\": \"a81e9217-a1fa-4661-a274-0e6e7420b93b\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"sku\": {\r\n      \"name\": \"standard\",\r\n      \"lastSkuUpdate\": \"Mon, 06 Apr 2020 13:57:46 GMT\"\r\n    },\r\n    \"retentionInDays\": 30,\r\n    \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 1,\r\n      \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n    },\r\n    \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n      \"quotaNextResetTime\": \"Tue, 07 Apr 2020 06:00:00 GMT\",\r\n      \"dataIngestionStatus\": \"RespectQuota\"\r\n    },\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n    \"publicNetworkAccessForQuery\": \"Enabled\"\r\n  },\r\n  \"id\": \"/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourcegroups/audit-cmdlet-test-rgps8274/providers/microsoft.operationalinsights/workspaces/audit-cmdlet-workspaceps8274\",\r\n  \"name\": \"audit-cmdlet-workspaceps8274\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {}\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps778/providers/Microsoft.EventHub/namespaces/audit-cmdlet-event-hub-nsps778?api-version=2017-04-01",
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\": \"a81e9217-a1fa-4661-a274-0e6e7420b93b\",\r\n    \"provisioningState\": \"Creating\",\r\n    \"sku\": {\r\n      \"name\": \"standard\",\r\n      \"lastSkuUpdate\": \"Mon, 06 Apr 2020 13:57:46 GMT\"\r\n    },\r\n    \"retentionInDays\": 30,\r\n    \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 1,\r\n      \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n    },\r\n    \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n      \"quotaNextResetTime\": \"Tue, 07 Apr 2020 06:00:00 GMT\",\r\n      \"dataIngestionStatus\": \"RespectQuota\"\r\n    },\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n    \"publicNetworkAccessForQuery\": \"Enabled\"\r\n  },\r\n  \"id\": \"/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourcegroups/audit-cmdlet-test-rgps8274/providers/microsoft.operationalinsights/workspaces/audit-cmdlet-workspaceps8274\",\r\n  \"name\": \"audit-cmdlet-workspaceps8274\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {}\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps8274/providers/Microsoft.EventHub/namespaces/audit-cmdlet-event-hub-nsps8274?api-version=2017-04-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"isAutoInflateEnabled\": false,\r\n    \"kafkaEnabled\": false\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "d8527653-54fc-4476-88b8-c24e82691283"
=======
          "6c606292-1939-450e-af34-4eab4ae94335"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "Microsoft.Azure.Management.EventHub.EventHubManagementClient/2.5.0.0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "125"
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "a895b26d-0fd7-4f28-86bb-dce64d7fd6e6_M1CH3_M1CH3"
=======
          "c1758d3a-cbee-48fc-ac9f-8a21d97dcf39_M7CH3_M7CH3"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server-SB": [
[...]
