{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourcegroups/blob-audit-cmdlet-test-rgps4285?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourcegroups/audit-cmdlet-test-rgps9663?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "da149cf6-2e56-4512-98b1-88092a588b75"
=======
          "4818495a-76d8-4498-a85a-08165aa7d179"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.2.0"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.11"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "37"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1195"
        ],
        "x-ms-request-id": [
          "c198e4b7-bd91-4d0a-8ecb-17997578c82a"
        ],
        "x-ms-correlation-request-id": [
          "c198e4b7-bd91-4d0a-8ecb-17997578c82a"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190606T161233Z:c198e4b7-bd91-4d0a-8ecb-17997578c82a"
=======
          "1187"
        ],
        "x-ms-request-id": [
          "06a9a507-f042-4c35-909e-d12c8ee39872"
        ],
        "x-ms-correlation-request-id": [
          "06a9a507-f042-4c35-909e-d12c8ee39872"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH:20200406T140610Z:06a9a507-f042-4c35-909e-d12c8ee39872"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Thu, 06 Jun 2019 16:12:32 GMT"
        ],
        "Content-Length": [
          "222"
=======
          "Mon, 06 Apr 2020 14:06:09 GMT"
        ],
        "Content-Length": [
          "212"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps4285\",\r\n  \"name\": \"blob-audit-cmdlet-test-rgps4285\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps4285/providers/Microsoft.Sql/servers/blob-audit-cmdlet-serverps4285?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps9663\",\r\n  \"name\": \"audit-cmdlet-test-rgps9663\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps9663/providers/Microsoft.Sql/servers/audit-cmdlet-serverps9663?api-version=2019-06-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "b8dc13d3-975f-42b9-9831-33754db1a746"
=======
          "a34d62ee-3425-4e35-8c28-d265abb2943e"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.31.0.0"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.41.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "9b92cd0c-468c-4b2b-adbd-8f8f08582d7a"
        ],
        "x-ms-correlation-request-id": [
          "9b92cd0c-468c-4b2b-adbd-8f8f08582d7a"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190606T161234Z:9b92cd0c-468c-4b2b-adbd-8f8f08582d7a"
=======
          "aa11f063-0af9-4f6f-8362-5e5cb491e317"
        ],
        "x-ms-correlation-request-id": [
          "aa11f063-0af9-4f6f-8362-5e5cb491e317"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH:20200406T140611Z:aa11f063-0af9-4f6f-8362-5e5cb491e317"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Thu, 06 Jun 2019 16:12:34 GMT"
=======
          "Mon, 06 Apr 2020 14:06:10 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "187"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/blob-audit-cmdlet-serverps4285' under resource group 'blob-audit-cmdlet-test-rgps4285' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps9663/providers/Microsoft.Sql/servers/audit-cmdlet-serverps9663?api-version=2019-06-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.31.0.0"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.41.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "e0c65501-1b69-4303-815b-a215a0d91f4b"
=======
          "e2b0ce12-0be5-45a3-b659-ec939083c9ff"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11990"
        ],
        "x-ms-correlation-request-id": [
          "f6fbaa59-0c75-4849-ae65-8e6ae99b4e52"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190606T161322Z:f6fbaa59-0c75-4849-ae65-8e6ae99b4e52"
=======
          "11973"
        ],
        "x-ms-correlation-request-id": [
          "72bed31b-9709-47c5-8cc4-3102840161cf"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH:20200406T140701Z:72bed31b-9709-47c5-8cc4-3102840161cf"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Thu, 06 Jun 2019 16:13:22 GMT"
        ],
        "Content-Length": [
          "448"
=======
          "Mon, 06 Apr 2020 14:07:01 GMT"
        ],
        "Content-Length": [
          "492"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"blob-audit-cmdlet-serverps4285.database.windows.net\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps4285/providers/Microsoft.Sql/servers/blob-audit-cmdlet-serverps4285\",\r\n  \"name\": \"blob-audit-cmdlet-serverps4285\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps4285/providers/Microsoft.Sql/servers/blob-audit-cmdlet-serverps4285?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"audit-cmdlet-serverps9663.database.windows.net\",\r\n    \"privateEndpointConnections\": [],\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps9663/providers/Microsoft.Sql/servers/audit-cmdlet-serverps9663\",\r\n  \"name\": \"audit-cmdlet-serverps9663\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps9663/providers/Microsoft.Sql/servers/audit-cmdlet-serverps9663?api-version=2019-06-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"t357ingP@s5w0rd!Sec\",\r\n    \"version\": \"12.0\"\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "bb32c46e-a1b0-4424-a2c9-24a4d8bf84e1"
=======
          "6aa65102-8e86-4295-8013-870cc4520b17"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.31.0.0"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.41.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "186"
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps4285/providers/Microsoft.Sql/locations/westcentralus/serverOperationResults/33c34608-d107-411f-b786-f223d0d72647?api-version=2015-05-01-preview"
=======
          "https://management.azure.com/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps9663/providers/Microsoft.Sql/locations/westcentralus/serverOperationResults/43fadf13-93a6-4d45-8e6f-8248bf7dbb93?api-version=2019-06-01-preview"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps4285/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/33c34608-d107-411f-b786-f223d0d72647?api-version=2015-05-01-preview"
        ],
        "x-ms-request-id": [
          "33c34608-d107-411f-b786-f223d0d72647"
=======
          "https://management.azure.com/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps4285/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/33c34608-d107-411f-b786-f223d0d72647?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2020-04-06T14:06:16.237Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps9663/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/43fadf13-93a6-4d45-8e6f-8248bf7dbb93?api-version=2019-06-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microso[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps4285/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/33c34608-d107-411f-b786-f223d0d72647?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"43fadf13-93a6-4d45-8e6f-8248bf7dbb93\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-04-06T14:06:16.237Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps4285/providers/Microsoft.Sql/servers/blob-audit-cmdlet-serverps4285/databases/blob-audit-cmdlet-dbps4285?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"43fadf13-93a6-4d45-8e6f-8248bf7dbb93\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-04-06T14:06:16.237Z\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps9663/providers/Microsoft.Sql/servers/audit-cmdlet-serverps9663/databases/audit-cmdlet-dbps9663?api-version=2017-10-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "72f70950-ed0d-4a5d-bb90-398e0e3be638"
=======
          "4136923f-74b3-456b-be7d-6580482ec7eb"
>>>>>>>[...]
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps4285/providers/Microsoft.Sql/servers/blob-audit-cmdlet-serverps4285/databases/blob-audit-cmdlet-dbps4285?api-version=2017-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Basic\"\r\n  },\r\n  \"properties\": {\r\n    \"maxSizeBytes\": 0,\r\n    \"readScale\": \"Disabled\"\r\n  },\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Basic\",\r\n    \"capacity\": 5\r\n  },\r\n  \"kind\": \"v12.0,user\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 2147483648,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"0b64c3fe-58ee-4a62-bf49-5a96a319c3ee\",\r\n    \"creationDate\": \"2020-04-06T14:07:43.073Z\",\r\n    \"currentServiceObjectiveName\": \"Basic\",\r\n    \"requestedServiceObjectiveName\": \"Basic\",\r\n    \"defaultSecondaryLocation\": \"westus2\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false,\r\n    \"earliestRestoreDate\": \"2020-04-06T14:37:43.073Z\",\r\n    \"readScale\": \"Disabled\",\r\n    \"readReplicaCount\": 0,\r\n    \"currentSku\": {\r\n      \"name\": \"Basic\",\r\n      \"tier\": \"Basic\",\r\n      \"capacity\": 5\r\n    }\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps9663/providers/Microsoft.Sql/servers/audit-cmdlet-serverps9663/databases/audit-cmdlet-dbps9663\",\r\n  \"name\": \"audit-cmdlet-dbps9663\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps4285/providers/Microsoft.Sql/locations/westcentralus/databaseAzureAsyncOperation/260922fb-2c95-4f48-ba11-401be22dfdd7?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"CreateLogicalDatabase\",\r\n  \"startTime\": \"2020-04-06T14:07:04.243Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps9663/providers/Microsoft.Sql/locations/westcentralus/databaseAzureAsyncOperation/dca5e259-7284-4fe4-96fd-746f10fc84f9?api-version=2017-10-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Micro[...]
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps4285/providers/Microsoft.Storage/storageAccounts/blobauditps4285?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\"\r\n  },\r\n  \"kind\": \"Storage\",\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"name\": \"dca5e259-7284-4fe4-96fd-746f10fc84f9\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-04-06T14:07:04.243Z\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps9663/providers/Microsoft.Storage/storageAccounts/blobauditps9663?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Lang[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourcegroups/blob-audit-cmdlet-test-rgps4285/providers/Microsoft.OperationalInsights/workspaces/audit-cmdlet-workspaceps4285?api-version=2015-11-01-preview",
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"id\": \"/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps9663/providers/Microsoft.Storage/storageAccounts/blobauditps9663\",\r\n  \"name\": \"blobauditps9663\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"virtualNetworkRules\": [],\r\n      \"ipRules\": [],\r\n      \"defaultAction\": \"Allow\"\r\n    },\r\n    \"supportsHttpsTrafficOnly\": false,\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"file\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2020-04-06T14:07:54.3793901Z\"\r\n        },\r\n        \"blob\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2020-04-06T14:07:54.3793901Z\"\r\n        }\r\n      },\r\n      \"keySource\": \"Microsoft.Storage\"\r\n    },\r\n    \"accessTier\": \"Hot\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"creationTime\": \"2020-04-06T14:07:54.3168927Z\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://blobauditps9663.blob.core.windows.net/\",\r\n      \"queue\": \"https://blobauditps9663.queue.core.windows.net/\",\r\n      \"table\": \"https://blobauditps9663.table.core.windows.net/\",\r\n      \"file\": \"https://blobauditps9663.file.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"westcentralus\",\r\n    \"statusOfPrimary\": \"available\",\r\n    \"secondaryLocation\": \"westus2\",\r\n    \"statusOfSecondary\": \"available\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourcegroups/audit-cmdlet-test-rgps9663/providers/Microsoft.OperationalInsights/workspaces/audit-cmdlet-workspaceps9663?api-version=2015-11-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "4bb52169-d9e4-4ee8-a6d1-84c487abcd23"
=======
          "416d5865-b44b-4cfd-a807-3076bf312c5a"
>>>>>>> e5fcd5c7b[...]
[...]
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourcegroups/audit-cmdlet-test-rgps9663/providers/Microsoft.OperationalInsights/workspaces/audit-cmdlet-workspaceps9663?api-version=2015-11-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "Microsoft.Azure.Management.OperationalInsights.OperationalInsightsManagementClient/0.19.0.0"
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "43c9004c-7b65-4738-a2b8-c782ec8d2b5a"
=======
          "e807f4c2-b174-48b7-b10f-dae547256022"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Server": [
          "Microsoft-IIS/10.0",
          "Microsoft-IIS/10.0"
        ],
        "X-Powered-By": [
          "ASP.NET",
          "ASP.NET"
        ],
<<<<<<< HEAD
        "Request-Context": [
          "appId=cid-v1:3d24a429-e724-4d71-9886-21ad884cf893"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11957"
        ],
        "x-ms-correlation-request-id": [
          "85fefefb-5c35-4f38-9c1d-329008fe4470"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190606T161517Z:85fefefb-5c35-4f38-9c1d-329008fe4470"
        ],
        "Date": [
          "Thu, 06 Jun 2019 16:15:17 GMT"
        ],
        "Content-Length": [
          "1165"
=======
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "x-ms-correlation-request-id": [
          "b83ceb35-7287-44b7-a4d5-231fcf40159a"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH:20200406T140900Z:b83ceb35-7287-44b7-a4d5-231fcf40159a"
        ],
        "Date": [
          "Mon, 06 Apr 2020 14:08:59 GMT"
        ],
        "Content-Length": [
          "1008"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\": \"a0fd7481-11ea-4d87-9808-29c5e93cd491\",\r\n    \"portalUrl\": \"https://eus.mms.microsoft.com/Account?tenant=72f988bf-86f1-41af-91ab-2d7cd011db47&resource=%2fsubscriptions%2fcca24ec8-99b5-4aa7-9ff6-486e886f304c%2fresourcegroups%2fblob-audit-cmdlet-test-rgps4285%2fproviders%2fmicrosoft.operationalinsights%2fworkspaces%2faudit-cmdlet-workspaceps4285\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"sku\": {\r\n      \"name\": \"standard\"\r\n    },\r\n    \"retentionInDays\": 30,\r\n    \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 1,\r\n      \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n    },\r\n    \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n      \"quotaNextResetTime\": \"Fri, 07 Jun 2019 05:00:00 GMT\",\r\n      \"dataIngestionStatus\": \"RespectQuota\"\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourcegroups/blob-audit-cmdlet-test-rgps4285/providers/microsoft.operationalinsights/workspaces/audit-cmdlet-workspaceps4285\",\r\n  \"name\": \"audit-cmdlet-workspaceps4285\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {}\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourcegroups/blob-audit-cmdlet-test-rgps4285/providers/Microsoft.OperationalInsights/workspaces/audit-cmdlet-workspaceps4285?api-version=2015-11-01-preview",
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\": \"e0c4f36b-f0fd-4f82-9abd-c8754219ac9d\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"sku\": {\r\n      \"name\": \"standard\",\r\n      \"lastSkuUpdate\": \"Mon, 06 Apr 2020 14:08:28 GMT\"\r\n    },\r\n    \"retentionInDays\": 30,\r\n    \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 1,\r\n      \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n    },\r\n    \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n      \"quotaNextResetTime\": \"Tue, 07 Apr 2020 12:00:00 GMT\",\r\n      \"dataIngestionStatus\": \"RespectQuota\"\r\n    },\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n    \"publicNetworkAccessForQuery\": \"Enabled\"\r\n  },\r\n  \"id\": \"/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourcegroups/audit-cmdlet-test-rgps9663/providers/microsoft.operationalinsights/workspaces/audit-cmdlet-workspaceps9663\",\r\n  \"name\": \"audit-cmdlet-workspaceps9663\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {}\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps4285/providers/Microsoft.EventHub/namespaces/audit-cmdlet-event-hub-nsps4285?api-version=2017-04-01",
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\": \"e0c4f36b-f0fd-4f82-9abd-c8754219ac9d\",\r\n    \"provisioningState\": \"Creating\",\r\n    \"sku\": {\r\n      \"name\": \"standard\",\r\n      \"lastSkuUpdate\": \"Mon, 06 Apr 2020 14:08:28 GMT\"\r\n    },\r\n    \"retentionInDays\": 30,\r\n    \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 1,\r\n      \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n    },\r\n    \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n      \"quotaNextResetTime\": \"Tue, 07 Apr 2020 12:00:00 GMT\",\r\n      \"dataIngestionStatus\": \"RespectQuota\"\r\n    },\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n    \"publicNetworkAccessForQuery\": \"Enabled\"\r\n  },\r\n  \"id\": \"/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourcegroups/audit-cmdlet-test-rgps9663/providers/microsoft.operationalinsights/workspaces/audit-cmdlet-workspaceps9663\",\r\n  \"name\": \"audit-cmdlet-workspaceps9663\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {}\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps9663/providers/Microsoft.EventHub/namespaces/audit-cmdlet-event-hub-nsps9663?api-version=2017-04-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"isAutoInflateEnabled\": false,\r\n    \"kafkaEnabled\": false\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "8b52baf1-f9c0-4faa-9cc0-f117a38494d6"
=======
          "4fd338a8-7ea1-4de2-85dc-2d38ac94c910"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "Microsoft.Azure.Management.EventHub.EventHubManagementClient/2.5.0.0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "125"
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "dfbb7a3c-f7c6-4c33-a0dc-211581d68f47_M9CH3_M9CH3"
=======
          "4a4977e8-c89f-4c92-9161-bde905627fab_M14CH3_M14CH3"
[...]
