{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourcegroups/blob-audit-cmdlet-test-rgps2500?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourcegroups/audit-cmdlet-test-rgps2123?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "69fc16c3-8846-474a-bd03-94288b947598"
=======
          "f7623006-deee-484a-8976-51ee748b553a"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.2.0"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.11"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "37"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1192"
        ],
        "x-ms-request-id": [
          "f286ac6a-9a8a-4888-89ba-890f298dc359"
        ],
        "x-ms-correlation-request-id": [
          "f286ac6a-9a8a-4888-89ba-890f298dc359"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190606T174530Z:f286ac6a-9a8a-4888-89ba-890f298dc359"
=======
          "1198"
        ],
        "x-ms-request-id": [
          "b49800d9-6d12-47d1-9fea-9964629ce386"
        ],
        "x-ms-correlation-request-id": [
          "b49800d9-6d12-47d1-9fea-9964629ce386"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH:20200406T153152Z:b49800d9-6d12-47d1-9fea-9964629ce386"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Thu, 06 Jun 2019 17:45:30 GMT"
        ],
        "Content-Length": [
          "222"
=======
          "Mon, 06 Apr 2020 15:31:52 GMT"
        ],
        "Content-Length": [
          "212"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps2500\",\r\n  \"name\": \"blob-audit-cmdlet-test-rgps2500\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps2500/providers/Microsoft.Sql/servers/blob-audit-cmdlet-serverps2500?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps2123\",\r\n  \"name\": \"audit-cmdlet-test-rgps2123\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps2123/providers/Microsoft.Sql/servers/audit-cmdlet-serverps2123?api-version=2019-06-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "abf7c218-d49e-428b-88fe-df2239eccdc4"
=======
          "4ec8eab0-30ed-4759-92dd-377938973baa"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.31.0.0"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.41.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "0239b835-0454-4dcf-b57f-e2e01c63c663"
        ],
        "x-ms-correlation-request-id": [
          "0239b835-0454-4dcf-b57f-e2e01c63c663"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190606T174531Z:0239b835-0454-4dcf-b57f-e2e01c63c663"
=======
          "ad5d0b58-abfb-4999-9732-3f66dd6fd8f0"
        ],
        "x-ms-correlation-request-id": [
          "ad5d0b58-abfb-4999-9732-3f66dd6fd8f0"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH:20200406T153153Z:ad5d0b58-abfb-4999-9732-3f66dd6fd8f0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Thu, 06 Jun 2019 17:45:30 GMT"
=======
          "Mon, 06 Apr 2020 15:31:53 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "187"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/blob-audit-cmdlet-serverps2500' under resource group 'blob-audit-cmdlet-test-rgps2500' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps2123/providers/Microsoft.Sql/servers/audit-cmdlet-serverps2123?api-version=2019-06-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.31.0.0"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.41.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "969024ae-950a-4eef-83c4-7513e14bcf2a"
=======
          "fae92146-8b01-4cac-bdd2-c3e110e048f9"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11956"
        ],
        "x-ms-correlation-request-id": [
          "4efa3c9f-8b72-4d85-838b-75068d435bd8"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190606T174619Z:4efa3c9f-8b72-4d85-838b-75068d435bd8"
=======
          "11992"
        ],
        "x-ms-correlation-request-id": [
          "f2670e9e-f458-4a05-acab-40138f3ecb6a"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH:20200406T153246Z:f2670e9e-f458-4a05-acab-40138f3ecb6a"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Thu, 06 Jun 2019 17:46:18 GMT"
        ],
        "Content-Length": [
          "448"
=======
          "Mon, 06 Apr 2020 15:32:45 GMT"
        ],
        "Content-Length": [
          "492"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"blob-audit-cmdlet-serverps2500.database.windows.net\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps2500/providers/Microsoft.Sql/servers/blob-audit-cmdlet-serverps2500\",\r\n  \"name\": \"blob-audit-cmdlet-serverps2500\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps2500/providers/Microsoft.Sql/servers/blob-audit-cmdlet-serverps2500?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"audit-cmdlet-serverps2123.database.windows.net\",\r\n    \"privateEndpointConnections\": [],\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps2123/providers/Microsoft.Sql/servers/audit-cmdlet-serverps2123\",\r\n  \"name\": \"audit-cmdlet-serverps2123\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps2123/providers/Microsoft.Sql/servers/audit-cmdlet-serverps2123?api-version=2019-06-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"t357ingP@s5w0rd!Sec\",\r\n    \"version\": \"12.0\"\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "9caa38c7-7621-4d83-b52d-195df192f0a5"
=======
          "50d8907e-9840-4286-a05b-7f4077c8f30b"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.31.0.0"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.41.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "186"
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps2500/providers/Microsoft.Sql/locations/westcentralus/serverOperationResults/4636e194-8e1f-47e4-95c4-e893216e1be6?api-version=2015-05-01-preview"
=======
          "https://management.azure.com/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps2123/providers/Microsoft.Sql/locations/westcentralus/serverOperationResults/bcf67449-e269-4e0f-90d2-2f77d4d8f5cf?api-version=2019-06-01-preview"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps2500/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/4636e194-8e1f-47e4-95c4-e893216e1be6?api-version=2015-05-01-preview"
        ],
        "x-ms-request-id": [
          "4636e194-8e1f-47e4-95c4-e893216e1be6"
=======
          "https://management.azure.com/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps2500/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/4636e194-8e1f-47e4-95c4-e893216e1be6?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2020-04-06T15:32:00.333Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps2123/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/bcf67449-e269-4e0f-90d2-2f77d4d8f5cf?api-version=2019-06-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microso[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps2500/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/4636e194-8e1f-47e4-95c4-e893216e1be6?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"bcf67449-e269-4e0f-90d2-2f77d4d8f5cf\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-04-06T15:32:00.333Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps2500/providers/Microsoft.Sql/servers/blob-audit-cmdlet-serverps2500/databases/blob-audit-cmdlet-dbps2500?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"bcf67449-e269-4e0f-90d2-2f77d4d8f5cf\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-04-06T15:32:00.333Z\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps2123/providers/Microsoft.Sql/servers/audit-cmdlet-serverps2123/databases/audit-cmdlet-dbps2123?api-version=2017-10-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "ebac470a-f159-4298-83d7-f30e12e7270e"
=======
          "eb974bd4-57c1-436c-9a83-65fa8284973c"
>>>>>>>[...]
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps2500/providers/Microsoft.Sql/servers/blob-audit-cmdlet-serverps2500/databases/blob-audit-cmdlet-dbps2500?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Basic\",\r\n    \"capacity\": 5\r\n  },\r\n  \"kind\": \"v12.0,user\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 2147483648,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"67d09cbc-cae9-4c59-a4d5-99daa455bb42\",\r\n    \"creationDate\": \"2020-04-06T15:33:28.433Z\",\r\n    \"currentServiceObjectiveName\": \"Basic\",\r\n    \"requestedServiceObjectiveName\": \"Basic\",\r\n    \"defaultSecondaryLocation\": \"westus2\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false,\r\n    \"earliestRestoreDate\": \"2020-04-06T16:03:28.433Z\",\r\n    \"readScale\": \"Disabled\",\r\n    \"readReplicaCount\": 0,\r\n    \"currentSku\": {\r\n      \"name\": \"Basic\",\r\n      \"tier\": \"Basic\",\r\n      \"capacity\": 5\r\n    }\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps2123/providers/Microsoft.Sql/servers/audit-cmdlet-serverps2123/databases/audit-cmdlet-dbps2123\",\r\n  \"name\": \"audit-cmdlet-dbps2123\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps2500/providers/Microsoft.Sql/locations/westcentralus/databaseAzureAsyncOperation/b7a3043f-381e-471f-90bf-897926e08dad?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"CreateLogicalDatabase\",\r\n  \"startTime\": \"2020-04-06T15:32:49.553Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps2123/providers/Microsoft.Sql/locations/westcentralus/databaseAzureAsyncOperation/d6d33190-cb6e-4e69-8fa9-e04259353aae?api-version=2017-10-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Micro[...]
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps2500/providers/Microsoft.Storage/storageAccounts/blobauditps2500?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\"\r\n  },\r\n  \"kind\": \"Storage\",\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"name\": \"d6d33190-cb6e-4e69-8fa9-e04259353aae\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-04-06T15:32:49.553Z\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps2123/providers/Microsoft.Storage/storageAccounts/blobauditps2123?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Lang[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourcegroups/blob-audit-cmdlet-test-rgps2500/providers/Microsoft.OperationalInsights/workspaces/audit-cmdlet-workspaceps2500?api-version=2015-11-01-preview",
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"id\": \"/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps2123/providers/Microsoft.Storage/storageAccounts/blobauditps2123\",\r\n  \"name\": \"blobauditps2123\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"virtualNetworkRules\": [],\r\n      \"ipRules\": [],\r\n      \"defaultAction\": \"Allow\"\r\n    },\r\n    \"supportsHttpsTrafficOnly\": false,\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"file\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2020-04-06T15:33:40.1765055Z\"\r\n        },\r\n        \"blob\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2020-04-06T15:33:40.1765055Z\"\r\n        }\r\n      },\r\n      \"keySource\": \"Microsoft.Storage\"\r\n    },\r\n    \"accessTier\": \"Hot\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"creationTime\": \"2020-04-06T15:33:40.1139176Z\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://blobauditps2123.blob.core.windows.net/\",\r\n      \"queue\": \"https://blobauditps2123.queue.core.windows.net/\",\r\n      \"table\": \"https://blobauditps2123.table.core.windows.net/\",\r\n      \"file\": \"https://blobauditps2123.file.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"westcentralus\",\r\n    \"statusOfPrimary\": \"available\",\r\n    \"secondaryLocation\": \"westus2\",\r\n    \"statusOfSecondary\": \"available\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourcegroups/audit-cmdlet-test-rgps2123/providers/Microsoft.OperationalInsights/workspaces/audit-cmdlet-workspaceps2123?api-version=2015-11-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "c6e0fb0a-ae43-478a-af0b-cc8010a14ad4"
=======
          "09a1391a-4aaa-496e-83e7-a30bcce9365b"
>>>>>>> e5fcd5c7b[...]
[...]
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourcegroups/audit-cmdlet-test-rgps2123/providers/Microsoft.OperationalInsights/workspaces/audit-cmdlet-workspaceps2123?api-version=2015-11-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "Microsoft.Azure.Management.OperationalInsights.OperationalInsightsManagementClient/0.19.0.0"
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "60cf4688-bf66-47f3-a8ce-951c2c3982d6"
=======
          "dd36b12f-bbbc-41ba-954f-9f9e4ee24c61"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Server": [
          "Microsoft-IIS/10.0",
          "Microsoft-IIS/10.0"
        ],
        "X-Powered-By": [
          "ASP.NET",
          "ASP.NET"
        ],
<<<<<<< HEAD
        "Request-Context": [
          "appId=cid-v1:3d24a429-e724-4d71-9886-21ad884cf893"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11993"
        ],
        "x-ms-correlation-request-id": [
          "938a7a9e-c79c-433f-90e8-30f2ed28d72d"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190606T174812Z:938a7a9e-c79c-433f-90e8-30f2ed28d72d"
        ],
        "Date": [
          "Thu, 06 Jun 2019 17:48:11 GMT"
        ],
        "Content-Length": [
          "1165"
=======
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ],
        "x-ms-correlation-request-id": [
          "2478e6ef-d277-4ee7-b5e8-e4de314234b1"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH:20200406T153446Z:2478e6ef-d277-4ee7-b5e8-e4de314234b1"
        ],
        "Date": [
          "Mon, 06 Apr 2020 15:34:46 GMT"
        ],
        "Content-Length": [
          "1008"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\": \"98c9ffdd-39b4-4ee2-ac75-c33fd178cd75\",\r\n    \"portalUrl\": \"https://eus.mms.microsoft.com/Account?tenant=72f988bf-86f1-41af-91ab-2d7cd011db47&resource=%2fsubscriptions%2fcca24ec8-99b5-4aa7-9ff6-486e886f304c%2fresourcegroups%2fblob-audit-cmdlet-test-rgps2500%2fproviders%2fmicrosoft.operationalinsights%2fworkspaces%2faudit-cmdlet-workspaceps2500\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"sku\": {\r\n      \"name\": \"standard\"\r\n    },\r\n    \"retentionInDays\": 30,\r\n    \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 1,\r\n      \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n    },\r\n    \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n      \"quotaNextResetTime\": \"Fri, 07 Jun 2019 17:00:00 GMT\",\r\n      \"dataIngestionStatus\": \"RespectQuota\"\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourcegroups/blob-audit-cmdlet-test-rgps2500/providers/microsoft.operationalinsights/workspaces/audit-cmdlet-workspaceps2500\",\r\n  \"name\": \"audit-cmdlet-workspaceps2500\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {}\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourcegroups/blob-audit-cmdlet-test-rgps2500/providers/Microsoft.OperationalInsights/workspaces/audit-cmdlet-workspaceps2500?api-version=2015-11-01-preview",
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\": \"e581b3a2-37b1-4379-b167-446b626860a4\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"sku\": {\r\n      \"name\": \"standard\",\r\n      \"lastSkuUpdate\": \"Mon, 06 Apr 2020 15:34:15 GMT\"\r\n    },\r\n    \"retentionInDays\": 30,\r\n    \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 1,\r\n      \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n    },\r\n    \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n      \"quotaNextResetTime\": \"Tue, 07 Apr 2020 01:00:00 GMT\",\r\n      \"dataIngestionStatus\": \"RespectQuota\"\r\n    },\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n    \"publicNetworkAccessForQuery\": \"Enabled\"\r\n  },\r\n  \"id\": \"/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourcegroups/audit-cmdlet-test-rgps2123/providers/microsoft.operationalinsights/workspaces/audit-cmdlet-workspaceps2123\",\r\n  \"name\": \"audit-cmdlet-workspaceps2123\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {}\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/blob-audit-cmdlet-test-rgps2500/providers/Microsoft.EventHub/namespaces/audit-cmdlet-event-hub-nsps2500?api-version=2017-04-01",
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\": \"e581b3a2-37b1-4379-b167-446b626860a4\",\r\n    \"provisioningState\": \"Creating\",\r\n    \"sku\": {\r\n      \"name\": \"standard\",\r\n      \"lastSkuUpdate\": \"Mon, 06 Apr 2020 15:34:15 GMT\"\r\n    },\r\n    \"retentionInDays\": 30,\r\n    \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 1,\r\n      \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n    },\r\n    \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n      \"quotaNextResetTime\": \"Tue, 07 Apr 2020 01:00:00 GMT\",\r\n      \"dataIngestionStatus\": \"RespectQuota\"\r\n    },\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n    \"publicNetworkAccessForQuery\": \"Enabled\"\r\n  },\r\n  \"id\": \"/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourcegroups/audit-cmdlet-test-rgps2123/providers/microsoft.operationalinsights/workspaces/audit-cmdlet-workspaceps2123\",\r\n  \"name\": \"audit-cmdlet-workspaceps2123\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {}\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/audit-cmdlet-test-rgps2123/providers/Microsoft.EventHub/namespaces/audit-cmdlet-event-hub-nsps2123?api-version=2017-04-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"isAutoInflateEnabled\": false,\r\n    \"kafkaEnabled\": false\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "eb0c962a-e208-4d76-948b-2225e257014b"
=======
          "1246821e-aa9d-4310-8193-c204152224ce"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "Microsoft.Azure.Management.EventHub.EventHubManagementClient/2.5.0.0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "125"
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "7c246217-5ab9-4dd3-8300-7a2411f0a4ba_M5CH3_M5CH3"
=======
          "797f424a-48e0-466d-93fe-17bc744936b3_M4CH3_M4CH3"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "Server": [
          "Service-Bus-Resource-Provider/CH3",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
[...]
