{
  "Entries": [
    {
      "RequestUri": "/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/providers/Microsoft.Network?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "3a7badb9-b6a9-4a63-9ec9-0a3f83118072"
=======
          "bb1115a8-1a36-4eaa-91ef-49734cb288cf"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.2"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.11"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11999"
        ],
        "x-ms-request-id": [
          "46417037-df62-42c5-bc21-e015f88be9cd"
        ],
        "x-ms-correlation-request-id": [
          "46417037-df62-42c5-bc21-e015f88be9cd"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200115T090408Z:46417037-df62-42c5-bc21-e015f88be9cd"
=======
          "11993"
        ],
        "x-ms-request-id": [
          "6c3670eb-cba6-40a8-a092-58c22f7100b0"
        ],
        "x-ms-correlation-request-id": [
          "6c3670eb-cba6-40a8-a092-58c22f7100b0"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200423T153844Z:6c3670eb-cba6-40a8-a092-58c22f7100b0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 15 Jan 2020 09:04:08 GMT"
=======
          "Thu, 23 Apr 2020 15:38:44 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "64296"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-14ece36cc7a1\"\r\n    },\r\n    {\r\n      \"applicationId\": \"7c33bfcb-8d33-48d6-8e60-dc6404003489\",\r\n      \"roleDefinitionId\": \"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3\"\r\n    },\r\n    {\r\n      \"applicationId\": \"1e3e4475-288f-4018-a376-df66fd7fac5f\",\r\n      \"roleDefinitionId\": \"1d538b69-3d87-4e56-8ff8-25786fd48261\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a0be0c72-870e-46f0-9c49-c98333a996f7\",\r\n      \"roleDefinitionId\": \"7ce22727-ffce-45a9-930c-ddb2e56fa131\"\r\n    },\r\n    {\r\n      \"applicationId\": \"486c78bf-a0f7-45f1-92fd-37215929e116\",\r\n      \"roleDefinitionId\": \"98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d\"\r\n    },\r\n    {\r\n      \"applicationId\": \"19947cfd-0303-466c-ac3c-fcc19a7a1570\",\r\n      \"roleDefinitionId\": \"d813ab6c-bfb7-413e-9462-005b21f0ce09\"\r\n    },\r\n    {\r\n      \"applicationId\": \"341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd\",\r\n      \"roleDefinitionId\": \"8141843c-c51c-4c1e-a5bf-0d351594b86c\"\r\n    },\r\n    {\r\n      \"applicationId\": \"328fd23b-de6e-462c-9433-e207470a5727\",\r\n      \"roleDefinitionId\": \"79e29e06-4056-41e5-a6b2-959f1f47747e\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"virtualNetworks\",\r\n      \"locations\": [\r\n        \"West US\",\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Brazil South\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Central India\",\r\n        \"South India\",\r\n        \"West India\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"West Central US\",\r\n        \"West US 2\",\r\n        \"UK West\",\r\n        \"UK South\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"France Central\",\r\n        \"Australia Central\",\r\n        \"South Africa North\",\r\n        \"UAE North\",\r\n        \"Switzerland North\",\r\n        \"Central US EUAP\",\r\n        \"East US 2 EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2019-11-01\",\r\n        \"2019-09-01\",\r\n        \"2019-08-01\",\r\n        \"2019-07-01\",\r\n        \"2019-06-01\",\r\n        \"2019-04-01\",\r\n        \"2019-02-01\",\r\n        \"2018-12-01\",\r\n        \"2018-11-01\",\r\n        \"2018-10-01\",\r\n        \"2018-08-01\",\r\n        \"2018-07-01\",\r\n        \"2018-06-01\",\r\n        \"2018-05-01\",\r\n        \"2018-04-01\",\r\n        \"2018-03-01\",\r\n        \"2018-02-01\",\r\n        \"2018-01-01\",\r\n        \"2017-11-01\",\r\n        \"2017-10-01\",\r\n        \"2017-09-01\",\r\n        \"2017-08-01\",\r\n        \"2017-06-01\",\r\n        \"2017-04-01\",\r\n        \"2017-03-01\",\r\n        \"2016-12-01\",\r\n        \"2016-11-01\",\r\n        \"2016-10-01\",\r\n        \"2016-09-01\",\r\n        \"2016-08-01\",\r\n        \"2016-07-01\",\r\n        \"2016-06-01\",\r\n        \"2016-03-30\",\r\n        \"2015-06-15\",\r\n        \"2015-05-01-preview\",\r\n        \"2014-12-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"publicIPAddresses\",\r\n      \"locations\": [\r\n        \"West US\",\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n[...]
    {
      "RequestUri": "/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/resourcegroups/ps7615?api-version=2016-09-01",
=======
          "74768"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-[...]
    {
      "RequestUri": "/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/resourcegroups/ps8230?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "73149af2-efbd-43d5-868e-cc867c4933f9"
=======
          "9cbdc805-2625-4614-9c72-95d57f030333"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resource[...]
    {
      "RequestUri": "/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/resourceGroups/ps7615/providers/Microsoft.Network/virtualNetworks/ps5095?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/resourceGroups/ps8230\",\r\n  \"name\": \"ps8230\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/resourceGroups/ps8230/providers/Microsoft.Network/virtualNetworks/ps5301?api-version=2020-04-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "998871db-9443-49be-bcca-55299fdfe691"
=======
          "c9105e92-c9ca-4743-8fe9-dacdc0b9c47a"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/423.1707.49677.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "1ea3e208-eb92-41d8-b8da-c48da0d39e77"
        ],
        "x-ms-correlation-request-id": [
          "1ea3e208-eb92-41d8-b8da-c48da0d39e77"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200115T090410Z:1ea3e208-eb92-41d8-b8da-c48da0d39e77"
=======
          "868c02af-3032-4e6f-aec4-4cb3b0ae0806"
        ],
        "x-ms-correlation-request-id": [
          "868c02af-3032-4e6f-aec4-4cb3b0ae0806"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200423T153846Z:868c02af-3032-4e6f-aec4-4cb3b0ae0806"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 15 Jan 2020 09:04:09 GMT"
=======
          "Thu, 23 Apr 2020 15:38:45 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "150"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps5095' under resource group 'ps7615' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/resourceGroups/ps8230/providers/Microsoft.Network/virtualNetworks/ps5301?api-version=2020-04-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/423.1707.49677.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "ETag": [
<<<<<<< HEAD
          "W/\"6e7f7e28-3627-409a-b1c9-5289ec987a13\""
        ],
        "x-ms-request-id": [
          "5088b682-120e-4531-b1c2-f79399074837"
        ],
        "x-ms-correlation-request-id": [
          "ae93eebb-c2d1-47e3-ade9-73573b1e039f"
        ],
        "x-ms-arm-service-request-id": [
          "765743d2-4c4c-437e-b967-e8d762adfe0b"
=======
          "W/\"aa1ba975-a639-4af7-8f43-42c7e5566d0c\""
        ],
        "x-ms-request-id": [
          "f18e9dcc-5343-49a0-8d63-9e4047a99a0d"
        ],
        "x-ms-correlation-request-id": [
          "231da5a6-e548-4c89-ad5a-fb512bcb9008"
        ],
        "x-ms-arm-service-request-id": [
          "90f58577-51c1-4b10-bbaa-cc82a6e14a25"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11993"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200115T090414Z:ae93eebb-c2d1-47e3-ade9-73573b1e039f"
=======
          "11997"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200423T153850Z:231da5a6-e548-4c89-ad5a-fb512bcb9008"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 15 Jan 2020 09:04:14 GMT"
=======
          "Thu, 23 Apr 2020 15:38:50 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "1299"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"name\": \"ps5095\",\r\n  \"id\": \"/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/resourceGroups/ps7615/providers/Microsoft.Network/virtualNetworks/ps5095\",\r\n  \"etag\": \"W/\\\"6e7f7e28-3627-409a-b1c9-5289ec987a13\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"b2c6435e-7116-46b9-8a0a-c65a75b0b48b\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"AzureBastionSubnet\",\r\n        \"id\": \"/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/resourceGroups/ps7615/providers/Microsoft.Network/virtualNetworks/ps5095/subnets/AzureBastionSubnet\",\r\n        \"etag\": \"W/\\\"6e7f7e28-3627-409a-b1c9-5289ec987a13\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/resourceGroups/ps7615/providers/Microsoft.Network/virtualNetworks/ps5095?api-version=2019-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"name\": \"AzureBastionSubnet\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"name\": \"ps5301\",\r\n  \"id\": \"/subscriptions/359a08a9[...]
    {
      "RequestUri": "/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/resourceGroups/ps8230/providers/Microsoft.Network/virtualNetworks/ps5301?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"ipAllocations\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"name\": \"AzureBastionSubnet\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/423.1707.49677.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "640"
=======
          "698"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ]
<<<<<<< HEAD
          "ae9b1886-cdef-4403-bfa1-35ef5c0800dd"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/providers/Microsoft.Network/locations/westcentralus/operations/ae9b1886-cdef-4403-bfa1-35ef5c0800dd?api-version=2019-11-01"
        ],
        "x-ms-correlation-request-id": [
          "d83e2944-bb81-42b9-b54e-6bef8b3e4d2a"
=======
          "2a7acbca-b9e1-4b4e-a117-69eedeb47eb7"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/providers/Microsoft.Network/locations/westcentralus/operations/2a7acbca-b9e1-4b4e-a117-69eedeb47eb7?api-version=2020-04-01"
        ],
        "x-ms-correlation-request-id": [
          "ffa66f54-222c-47f7-bccd-e2b02e838f0a"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-arm-service-request-id": [
<<<<<<< HEAD
          "7e9f4a47-7104-435e-80d3-935f8a6b431b"
=======
          "9993dac5-8c27-45c8-be64-736a861cc43f"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-w[...]
    {
      "RequestUri": "/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/providers/Microsoft.Network/locations/westcentralus/operations/ae9b1886-cdef-4403-bfa1-35ef5c0800dd?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps5301\",\r\n  \"id\": \"/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/resourceGroups/ps8230/providers/Microsoft.Network/virtualNetworks/ps5301\",\r\n  \"etag\": \"W/\\\"833df4d3-fea9-434a-af6d-5fa6e14bdf63\\\"\",\r\n  \"type\": \"Microsoft[...]
[...]
    {
      "RequestUri": "/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/resourceGroups/ps7615/providers/Microsoft.Network/publicIPAddresses/ps6996?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/ps6176' under resource group 'ps8230' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/resourceGroups/ps7615/providers/Microsoft.Network/publicIPAddresses/ps6996?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps6176\",\r\n  \"id\": \"/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/resourceGroups/ps8230/providers/Microsoft.Network/publicIPAddresses/ps6176\",\r\n  \"etag\": \"W/\\\"ca4f9bb7-bcf4-4753-b3e3-5cd353388f6a\\\"\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"c201256c-fd3a-4a74-b079-b17696ba71a9\",\r\n    \"ipAddress\": \"52.159.49.115\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/resourceGroups/ps8230/providers/Microsoft.Network/publicIPAddresses/ps6176?api-version=2020-04-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"ipTags\": []\r\n  },\r\n  \"zones\": [],\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "76f0b2e8-01fe-4b13-b922-d952284be685"
=======
          "54dbc613-e624-4cfe-90d1-6b74ff803f91"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Manag[...]
[...]
    {
      "RequestUri": "/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/resourceGroups/ps7615/providers/Microsoft.Network/bastionHosts/ps5590?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/bastionHosts/ps7345' under resource group 'ps8230' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/resourceGroups/ps7615/providers/Microsoft.Network/bastionHosts/ps5590?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps7345\",\r\n  \"id\": \"/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/resourceGroups/ps8230/providers/Microsoft.Network/bastionHosts/ps7345\",\r\n  \"etag\": \"W/\\\"d8bd1b44-c0c3-4a43-838c-18982146fe45\\\"\",\r\n  \"type\": \"Microsoft.Network/bastionHosts\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"dnsName\": \"bst-d141155c-cda1-4bb4-ae14-cf706836b01a.bastion.azure.com\",\r\n    \"scaleUnits\": 2,\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"IpConf\",\r\n        \"id\": \"/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/resourceGroups/ps8230/providers/Microsoft.Network/bastionHosts/ps7345/bastionHostIpConfigurations/IpConf\",\r\n        \"etag\": \"W/\\\"d8bd1b44-c0c3-4a43-838c-18982146fe45\\\"\",\r\n        \"type\": \"Microsoft.Network/bastionHosts/bastionHostIpConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/resourceGroups/ps8230/providers/Microsoft.Network/publicIPAddresses/ps6176\"\r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/resourceGroups/ps8230/providers/Microsoft.Network/virtualNetworks/ps5301/subnets/AzureBastionSubnet\"\r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"bastionShareableLinks\": {}\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/providers/Microsoft.Network/locations/westcentralus/operations/8f0c2531-5deb-4a00-862d-c929433dc883?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/resourceGroups/ps8230/providers/Microsoft.Network/bastionHosts?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "Retry-After": [
          "10"
        ],
        "x-ms-request-id": [
          "4c6d6c8d-40f0-4667-950b-7053a40d83d4"
        ],
    [...]
    {
      "RequestUri": "/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/providers/Microsoft.Network/locations/westcentralus/operations/8f0c2531-5deb-4a00-862d-c929433dc883?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ps7345\",\r\n      \"id\": \"/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/resourceGroups/ps8230/providers/Microsoft.Network/bastionHosts/ps7345\",\r\n      \"etag\": \"W/\\\"d8bd1b44-c0c3-4a43-838c-18982146fe45\\\"\",\r\n      \"type\": \"Microsoft.Network/bastionHosts\",\r\n      \"location\": \"westcentralus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"dnsName\": \"bst-d141155c-cda1-4bb4-ae14-cf706836b01a.ba[...]
[...]
    {
      "RequestUri": "/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/providers/Microsoft.Network/bastionHosts?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "Retry-After": [
          "10"
        ],
        "x-ms-request-id": [
          "426d290f-02ea-4383-9bf6-a906bace8862"
        ],
        "x-ms-correlation-request-id": [
          "f1108034-4205-449c-aca3-d350aaef9409"
        ],
        "x-ms-arm-service-request-id": [
          "dced560f-e07b-4406-a277-8cc4707b6967"
=======
        "x-ms-original-request-ids": [
          "8e5181da-f4c7-45c9-8ec0-0c75b70b1b8e",
          "002c24bb-b353-4b8e-9295-5add4cf0d014",
          "ae12a575-8429-486a-b6e6-10ce4e092aa8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "x-ms-request-id": [
          "6492a3eb-9f5b-4cec-97d5-2eee94f5ae24"
        ],
        "x-ms-correlation-request-id": [
          "6492a3eb-9f5b-4cec-97d5-2eee94f5ae24"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200[...]
[...]
    {
      "RequestUri": "/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/resourceGroups/ps8230/providers/Microsoft.Network/bastionHosts/ps7345?api-version=2020-04-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
=======
        "Location": [
          "https://management.azure.com/subscriptions/359a08a9-ff1b-463c-92d7-6df8d946f25c/providers/Microsoft.Network/locations/westcentralus/operationResults/b3f4e587-02ca-4fdd-91e2-010724239c97?api-version=2020-04-01"
        ],
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        "Retry-After": [
          "10"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "a6c0d90c-408d-49f6-b4f4-931c5c2abf1d"
        ],
        "x-ms-correlation-request-id": [
          "c189351b-b3[...]
[...]
