{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network/locations/West%20Central%20US/availableServiceAliases?api-version=2019-11-01",
=======
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network/locations/West%20Central%20US/availableServiceAliases?api-version=2020-04-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "92b5da65-d846-4af1-a97d-e1b7ee7fed22"
=======
          "7f7ab2e9-2da7-4bd2-ad43-dbaf463d4b76"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/423.1707.49677.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "df5ac7ee-5713-47a9-8469-fa625992d442"
        ],
        "x-ms-correlation-request-id": [
          "bb7c499a-9bd9-4e96-98fe-c0df109a154c"
        ],
        "x-ms-arm-service-request-id": [
          "a50b035d-1668-46d5-ae45-bb8d2600785f"
=======
          "94825b98-ca8d-40ff-bbae-8b0631aaa6e5"
        ],
        "x-ms-correlation-request-id": [
          "932e6392-ca12-400b-bd64-03d8ff3e5629"
        ],
        "x-ms-arm-service-request-id": [
          "b8e6097d-994d-4ba7-b033-e4eda1511b86"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11995"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200115T133646Z:bb7c499a-9bd9-4e96-98fe-c0df109a154c"
=======
          "11979"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200427T080742Z:932e6392-ca12-400b-bd64-03d8ff3e5629"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 15 Jan 2020 13:36:45 GMT"
=======
          "Mon, 27 Apr 2020 08:07:41 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "4322"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"servicesAzure\",\r\n      \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network/AvailableServiceAliases/servicesAzure\",\r\n      \"type\": \"Microsoft.Network/AvailableServiceAliases\",\r\n      \"resourceName\": \"/services/Azure\"\r\n    },\r\n    {\r\n      \"name\": \"servicesAzureActiveDirectory\",\r\n      \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network/AvailableServiceAliases/servicesAzureActiveDirectory\",\r\n      \"type\": \"Microsoft.Network/AvailableServiceAliases\",\r\n      \"resourceName\": \"/services/Azure/ActiveDirectory\"\r\n    },\r\n    {\r\n      \"name\": \"servicesAzureAKS\",\r\n      \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e[...]
