{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/matthchrwestcentralus/providers/Microsoft.Batch/batchAccounts/matthchrwestcentralus/applications/updatePoolWithApplicationPackage/versions/foo?api-version=2019-08-01",
=======
      "RequestUri": "/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/matthchrwestcentralus/providers/Microsoft.Batch/batchAccounts/matthchrwestcentralus/applications/updatePoolWithApplicationPackage/versions/foo?api-version=2020-03-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "41cc3f70-39d2-4f45-a9cb-7e23d32cdd99"
=======
          "9c9de7f7-6b8b-41c4-897c-e0f75e756e36"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Batch.BatchManagementClient/9.0.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Batch.BatchManagementClient/10.0.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "ETag": [
<<<<<<< HEAD
          "W/\"0x8D7331889F44452\""
=======
          "W/\"0x8D7E2F73252959D\""
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "883599c8-f01d-422f-9bd1-531a7a6e1881"
=======
          "6f777306-3f56-41b4-be07-770917729dde"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "4f2a318a-e0cd-421a-9263-2f219598f5cc"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190906T222119Z:4f2a318a-e0cd-421a-9263-2f219598f5cc"
        ],
        "Date": [
          "Fri, 06 Sep 2019 22:21:18 GMT"
        ],
        "Content-Length": [
          "733"
=======
          "33d399f1-1dd5-40f1-845c-949c1a760faa"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200417T174602Z:33d399f1-1dd5-40f1-845c-949c1a760faa"
        ],
        "Date": [
          "Fri, 17 Apr 2020 17:46:01 GMT"
        ],
        "Content-Length": [
          "665"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Last-Modified": [
<<<<<<< HEAD
          "Fri, 06 Sep 2019 22:21:18 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"type\": \"Microsoft.Batch/batchAccounts/applications/versions\",\r\n  \"id\": \"/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/matthchrwestcentralus/providers/Microsoft.Batch/batchAccounts/matthchrwestcentralus/applications/updatePoolWithApplicationPackage/versions/foo\",\r\n  \"name\": \"foo\",\r\n  \"etag\": \"W/\\\"0x8D7331889F44452\\\"\",\r\n  \"properties\": {\r\n    \"storageUrl\": \"https://matthchr1.blob.core.windows.net/app-updatepoolwithappl-4a358fdb664073254e74693d5d6d8255aed78782/updatepoolwithapplicationpackage-foo-46725fbc-c7e1-4b8c-a2a9-7b8cfabe6da5?sv=2018-03-28&sr=b&sig=L0vLjUNMwzzpzQkVMFeT9eqjAAtWJbS7Q762fR3foQc%3D&st=2019-09-06T22%3A16%3A18Z&se=2019-09-07T02%3A21%3A18Z&sp=rw\",\r\n    \"storageUrlExpiry\": \"2019-09-07T02:21:18.2925691Z\",\r\n    \"state\": \"Pending\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/pools?api-version=2019-08-01.10.0",
=======
          "Fri, 17 Apr 2020 17:46:02 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"type\": \"Microsoft.Batch/batchAccounts/applications/versions\",\r\n  \"id\": \"/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/matthchrwestcentralus/providers/Microsoft.Batch/batchAccounts/matthchrwestcentralus/applications/updatePoolWithApplicationPackage/versions/foo\",\r\n  \"name\": \"foo\",\r\n  \"etag\": \"W/\\\"0x8D7E2F73252959D\\\"\",\r\n  \"properties\": {\r\n    \"storageUrl\": \"https://matthchr1.blob.core.windows.net/app-updatepoolwithapplicationp-13d5288020c7411bae68b59705014646/foo?sv=2018-03-28&sr=b&sig=0slb7I6WGoHtdBxGlHginKIeFIJSv2GCTqD%2FKzGkRj8%3D&st=2020-04-17T17%3A41%3A02Z&se=2020-04-17T21%3A46%3A02Z&sp=rw\",\r\n    \"storageUrlExpiry\": \"2020-04-17T21:46:02.5393504Z\",\r\n    \"state\": \"Pending\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/pools?api-version=2020-03-01.11.0",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"testUpdatePoolWithAppPackages\",\r\n  \"vmSize\": \"small\",\r\n  \"cloudServiceConfiguration\": {\r\n    \"osFamily\": \"4\",\r\n    \"osVersion\": \"*\"\r\n  },\r\n  \"targetDedicatedNodes\": 1,\r\n  \"targetLowPriorityNodes\": 0,\r\n  \"enableInterNodeCommunication\": true\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "c28779b0-8014-40c0-a70d-340ac1b790ec"
=======
          "2d8195ec-3133-485b-ba63-820210f8e58e"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "ocp-date": [
<<<<<<< HEAD
          "Fri, 06 Sep 2019 22:21:19 GMT"
        ],
        "User-Agent": [
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Batch.Protocol.BatchServiceClient/12.0.19.40611",
=======
          "Fri, 17 Apr 2020 17:46:02 GMT"
        ],
        "User-Agent": [
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Batch.Protocol.BatchServiceClient/13.0.20.15503",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "AzurePowershell/Az1.0.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "Content-Length": [
          "254"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
<<<<<<< HEAD
          "0x8D733188AB61EAF"
=======
          "0x8D7E2F7327E28F6"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Location": [
          "https://matthchrwestcentralus.westcentralus.batch.azure.com/pools/testUpdatePoolWithAppPackages"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "request-id": [
<<<<<<< HEAD
          "1d57d47e-88d3-4fcd-bbb6-f17066583ceb"
=======
          "d9826154-6d93-45bf-8dca-6e5d91d9bd68"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://matthchrwestcentralus.westcentralus.batch.azure.com/pools/testUpdatePoolWithAppPackages"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 06 Sep 2019 22:21:18 GMT"
        ],
        "Last-Modified": [
          "Fri, 06 Sep 2019 22:21:19 GMT"
=======
          "Fri, 17 Apr 2020 17:46:02 GMT"
        ],
        "Last-Modified": [
          "Fri, 17 Apr 2020 17:46:02 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/matthchrwestcentralus/providers/Microsoft.Batch/batchAccounts/matthchrwestcentralus/applications/updatePoolWithApplicationPackage/versions/foo/activate?api-version=2019-08-01",
=======
      "RequestUri": "/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/matthchrwestcentralus/providers/Microsoft.Batch/batchAccounts/matthchrwestcentralus/applications/updatePoolWithApplicationPackage/versions/foo/activate?api-version=2020-03-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"format\": \"zip\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "c98e45de-d7a4-47e2-8527-dfdff3b5dd23"
=======
          "5aef6e52-2eef-4075-a145-7c7c4d186767"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Batch.BatchManagementClient/9[...]
    {
      "RequestUri": "/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/matthchrwestcentralus/providers/Microsoft.Batch/batchAccounts/matthchrwestcentralus/applications/updatePoolWithApplicationPackage/versions/foo?api-version=2019-08-01",
=======
          "Fri, 17 Apr 2020 17:46:03 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"type\": \"Microsoft.Batch/batchAccounts/applications/versions\",\r\n  \"id\": \"/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/matthchrwestcentralus/providers/Microsoft.Batch/batchAccounts/matthchrwestcentralus/applications/updatePoolWithApplicationPackage/versions/foo\",\r\n  \"name\": \"foo\",\r\n  \"etag\": \"W/\\\"0x8D7E2F732BD0336\\\"\",\r\n  \"properties\": {\r\n    \"storageUrl\": \"https://matthchr1.blob.core.windows.net/app-updatepoolwithapplicationp-13d5288020c7411bae68b59705014646/foo?sv=2018-03-28&sr=b&sig=004061aRwod7zuz6fa5E0aq9s1lohrLCpEqHgU1jClU%3D&st=2020-04-17T17%3A41%3A03Z&se=2020-04-17T21%3A46%3A03Z&sp=rw\",\r\n    \"storageUrlExpiry\": \"2020-04-17T21:46:03.2888666Z\",\r\n    \"state\": \"Active\",\r\n    \"format\": \"zip\",\r\n    \"lastActivationTime\": \"2020-04-17T17:46:03.2026769Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/pools/testUpdatePoolWithAppPackages?api-version=2019-08-01.10.0",
=======
          "Fri, 17 Apr 2020 17:46:03 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"type\": \"Microsoft.Batch/batchAccounts/applications/versions\",\r\n  \"id\": \"/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/matthchrwestcentralus/providers/Microsoft.Batch/batchAccounts/matthchrwestcentralus/applications/updatePoolWithApplicationPackage/versions/foo\",\r\n  \"name\": \"foo\",\r\n  \"etag\": \"W/\\\"0x8D7E2F732BD0336\\\"\",\r\n  \"properties\": {\r\n    \"storageUrl\": \"https://matthchr1.blob.core.windows.net/app-updatepoolwithapplicationp-13d5288020c7411bae68b59705014646/foo?sv=2018-03-28&sr=b&sig=004061aRwod7zuz6fa5E0aq9s1lohrLCpEqHgU1jClU%3D&st=2020-04-17T17%3A41%3A03Z&se=2020-04-17T21%3A46%3A03Z&sp=rw\",\r\n    \"storageUrlExpiry\": \"2020-04-17T21:46:03.3888373Z\",\r\n    \"state\": \"Active\",\r\n    \"format\": \"zip\",\r\n    \"lastActivationTime\": \"2020-04-17T17:46:03.2026769Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/pools/testUpdatePoolWithAppPackages?api-version=2019-08-01.10.0",
=======
          "Fri, 17 Apr 2020 17:46:02 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#pools/@Element\",\r\n  \"id\": \"testUpdatePoolWithAppPackages\",\r\n  \"url\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/pools/testUpdatePoolWithAppPackages\",\r\n  \"eTag\": \"0x8D7E2F7327E28F6\",\r\n  \"lastModified\": \"2020-04-17T17:46:02.8142838Z\",\r\n  \"creationTime\": \"2020-04-17T17:46:02.8142838Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2020-04-17T17:46:02.8142838Z\",\r\n  \"allocationState\": \"resizing\",\r\n  \"allocationStateTransitionTime\": \"2020-04-17T17:46:02.8142838Z\",\r\n  \"vmSize\": \"small\",\r\n  \"resizeTimeout\": \"PT15M\",\r\n  \"currentDedicatedNodes\": 0,\r\n  \"targetDedicatedNodes\": 1,\r\n  \"currentLowPriorityNodes\": 0,\r\n  \"targetLowPriorityNodes\": 0,\r\n  \"enableAutoScale\": false,\r\n  \"enableInterNodeCommunication\": true,\r\n  \"maxTasksPerNode\": 1,\r\n  \"taskSchedulingPolicy\": {\r\n    \"nodeFillType\": \"Spread\"\r\n  },\r\n  \"cloudServiceConfiguration\": {\r\n    \"osFamily\": \"4\",\r\n    \"osVersion\": \"*\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/pools/testUpdatePoolWithAppPackages/updateproperties?api-version=2019-08-01.10.0",
=======
          "Fri, 17 Apr 2020 17:46:03 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#pools/@Element\",\r\n  \"id\": \"testUpdatePoolWithAppPackages\",\r\n  \"url\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/pools/testUpdatePoolWithAppPackages\",\r\n  \"eTag\": \"0x8D7E2F7331296AE\",\r\n  \"lastModified\": \"2020-04-17T17:46:03.7870254Z\",\r\n  \"creationTime\": \"2020-04-17T17:46:02.8142838Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2020-04-17T17:46:02.8142838Z\",\r\n  \"allocationState\": \"resizing\",\r\n  \"allocationStateTransitionTime\": \"2020-04-17T17:46:02.8142838Z\",\r\n  \"vmSize\": \"small\",\r\n  \"resizeTimeout\": \"PT15M\",\r\n  \"currentDedicatedNodes\": 0,\r\n  \"targetDedicatedNodes\": 1,\r\n  \"currentLowPriorityNodes\": 0,\r\n  \"targetLowPriorityNodes\": 0,\r\n  \"enableAutoScale\": false,\r\n  \"enableInterNodeCommunication\": true,\r\n  \"certificateReferences\": [],\r\n  \"applicationPackageReferences\": [\r\n    {\r\n      \"applicationId\": \"updatepoolwithapplicationpackage\",\r\n      \"version\": \"foo\"\r\n    }\r\n  ],\r\n  \"maxTasksPerNode\": 1,\r\n  \"taskSchedulingPolicy\": {\r\n    \"nodeFillType\": \"Spread\"\r\n  },\r\n  \"cloudServiceConfiguration\": {\r\n    \"osFamily\": \"4\",\r\n    \"osVersion\": \"*\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/pools/testUpdatePoolWithAppPackages/updateproperties?api-version=2020-03-01.11.0",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"certificateReferences\": [],\r\n  \"applicationPackageReferences\": [\r\n    {\r\n      \"applicationId\": \"updatePoolWithApplicationPackage\",\r\n      \"version\": \"foo\"\r\n    }\r\n  ],\r\n  \"metadata\": []\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "54834fa2-b889-4e2b-811d-fdeefc78d708"
=======
          "1ae54614-cce7-4df6-aa9e-30371746b13d"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "ocp-date": [
<<<<<<< HEAD
          "Fri, 06 Sep 2019 22:21:20 GMT"
        ],
        "User-Agent": [
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.[...]
