{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/matthchrwestcentralus/providers/Microsoft.Batch/batchAccounts/matthchrwestcentralus/applications/createPoolWithApplicationPackage/versions/foo?api-version=2019-08-01",
=======
      "RequestUri": "/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/matthchrwestcentralus/providers/Microsoft.Batch/batchAccounts/matthchrwestcentralus/applications/createPoolWithApplicationPackage/versions/foo?api-version=2020-03-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "f3f5a25a-1b9f-44c0-86b8-ddca58c73ed1"
=======
          "5c39f481-e0c0-4694-9fb6-d3a78be266d0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Batch.BatchManagementClient/9.0.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Batch.BatchManagementClient/10.0.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "ETag": [
<<<<<<< HEAD
          "W/\"0x8D733187FD83F48\""
=======
          "W/\"0x8D7E2F72B3145F9\""
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "18c5930d-a885-4bc3-9fea-4e495368d56b"
=======
          "348d636b-1469-4a5b-9dd0-7daa281a6ce8"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "b03100cf-2413-4c41-9b10-47be2a69475e"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190906T222101Z:b03100cf-2413-4c41-9b10-47be2a69475e"
        ],
        "Date": [
          "Fri, 06 Sep 2019 22:21:01 GMT"
        ],
        "Content-Length": [
          "733"
=======
          "3c3f9494-8c21-4f7a-94ab-51f9eb9b9bb2"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200417T174550Z:3c3f9494-8c21-4f7a-94ab-51f9eb9b9bb2"
        ],
        "Date": [
          "Fri, 17 Apr 2020 17:45:50 GMT"
        ],
        "Content-Length": [
          "663"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Last-Modified": [
<<<<<<< HEAD
          "Fri, 06 Sep 2019 22:21:01 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"type\": \"Microsoft.Batch/batchAccounts/applications/versions\",\r\n  \"id\": \"/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/matthchrwestcentralus/providers/Microsoft.Batch/batchAccounts/matthchrwestcentralus/applications/createPoolWithApplicationPackage/versions/foo\",\r\n  \"name\": \"foo\",\r\n  \"etag\": \"W/\\\"0x8D733187FD83F48\\\"\",\r\n  \"properties\": {\r\n    \"storageUrl\": \"https://matthchr1.blob.core.windows.net/app-createpoolwithappl-3cfcd7091812a8971dd693f069532e872e2342e7/createpoolwithapplicationpackage-foo-71bfc880-939c-4692-97fc-3d12dd0bc04c?sv=2018-03-28&sr=b&sig=TN1Mng3tJoyeryXTyc0Fvflu2etd8wTGGOd92nz2FL0%3D&st=2019-09-06T22%3A16%3A01Z&se=2019-09-07T02%3A21%3A01Z&sp=rw\",\r\n    \"storageUrlExpiry\": \"2019-09-07T02:21:01.3334082Z\",\r\n    \"state\": \"Pending\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/matthchrwestcentralus/providers/Microsoft.Batch/batchAccounts/matthchrwestcentralus/applications/createPoolWithApplicationPackage/versions/foo/activate?api-version=2019-08-01",
=======
          "Fri, 17 Apr 2020 17:45:50 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"type\": \"Microsoft.Batch/batchAccounts/applications/versions\",\r\n  \"id\": \"/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/matthchrwestcentralus/providers/Microsoft.Batch/batchAccounts/matthchrwestcentralus/applications/createPoolWithApplicationPackage/versions/foo\",\r\n  \"name\": \"foo\",\r\n  \"etag\": \"W/\\\"0x8D7E2F72B3145F9\\\"\",\r\n  \"properties\": {\r\n    \"storageUrl\": \"https://matthchr1.blob.core.windows.net/app-createpoolwithapplicationp-859ae56e0aeb4315a8d8ed85a2f0e869/foo?sv=2018-03-28&sr=b&sig=VfNW3bZayUm2F3qmh2mxodLY1vpugO1IckBjGxKiz2I%3D&st=2020-04-17T17%3A40%3A50Z&se=2020-04-17T21%3A45%3A50Z&sp=rw\",\r\n    \"storageUrlExpiry\": \"2020-04-17T21:45:50.5732366Z\",\r\n    \"state\": \"Pending\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/matthchrwestcentralus/providers/Microsoft.Batch/batchAccounts/matthchrwestcentralus/applications/createPoolWithApplicationPackage/versions/foo/activate?api-version=2020-03-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"format\": \"zip\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "78e9c89f-9469-42bb-abca-6cb6542b704b"
=======
          "4d815843-d54e-413a-92b4-9587d431a0d2"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Batch.BatchManagementClient/9[...]
    {
      "RequestUri": "/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/matthchrwestcentralus/providers/Microsoft.Batch/batchAccounts/matthchrwestcentralus/applications/createPoolWithApplicationPackage/versions/foo?api-version=2019-08-01",
=======
          "Fri, 17 Apr 2020 17:45:52 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"type\": \"Microsoft.Batch/batchAccounts/applications/versions\",\r\n  \"id\": \"/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/matthchrwestcentralus/providers/Microsoft.Batch/batchAccounts/matthchrwestcentralus/applications/createPoolWithApplicationPackage/versions/foo\",\r\n  \"name\": \"foo\",\r\n  \"etag\": \"W/\\\"0x8D7E2F72C522BEA\\\"\",\r\n  \"properties\": {\r\n    \"storageUrl\": \"https://matthchr1.blob.core.windows.net/app-createpoolwithapplicationp-859ae56e0aeb4315a8d8ed85a2f0e869/foo?sv=2018-03-28&sr=b&sig=TYAY59pIMd5l5gBgrJJz50uRFXaZRymJk5uangtZ%2Bw0%3D&st=2020-04-17T17%3A40%3A52Z&se=2020-04-17T21%3A45%3A52Z&sp=rw\",\r\n    \"storageUrlExpiry\": \"2020-04-17T21:45:52.4912759Z\",\r\n    \"state\": \"Active\",\r\n    \"format\": \"zip\",\r\n    \"lastActivationTime\": \"2020-04-17T17:45:52.4393532Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/pools?api-version=2019-08-01.10.0",
=======
          "Fri, 17 Apr 2020 17:45:52 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"type\": \"Microsoft.Batch/batchAccounts/applications/versions\",\r\n  \"id\": \"/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/matthchrwestcentralus/providers/Microsoft.Batch/batchAccounts/matthchrwestcentralus/applications/createPoolWithApplicationPackage/versions/foo\",\r\n  \"name\": \"foo\",\r\n  \"etag\": \"W/\\\"0x8D7E2F72C522BEA\\\"\",\r\n  \"properties\": {\r\n    \"storageUrl\": \"https://matthchr1.blob.core.windows.net/app-createpoolwithapplicationp-859ae56e0aeb4315a8d8ed85a2f0e869/foo?sv=2018-03-28&sr=b&sig=TYAY59pIMd5l5gBgrJJz50uRFXaZRymJk5uangtZ%2Bw0%3D&st=2020-04-17T17%3A40%3A52Z&se=2020-04-17T21%3A45%3A52Z&sp=rw\",\r\n    \"storageUrlExpiry\": \"2020-04-17T21:45:52.6201751Z\",\r\n    \"state\": \"Active\",\r\n    \"format\": \"zip\",\r\n    \"lastActivationTime\": \"2020-04-17T17:45:52.4393532Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/pools?api-version=2020-03-01.11.0",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"testCreatePoolWithAppPackages\",\r\n  \"vmSize\": \"small\",\r\n  \"cloudServiceConfiguration\": {\r\n    \"osFamily\": \"4\",\r\n    \"osVersion\": \"*\"\r\n  },\r\n  \"targetDedicatedNodes\": 3,\r\n  \"enableInterNodeCommunication\": false,\r\n  \"applicationPackageReferences\": [\r\n    {\r\n      \"applicationId\": \"createPoolWithApplicationPackage\",\r\n      \"version\": \"foo\"\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "c849ff1c-bfaf-47bd-a204-4f75ff35c1e0"
=======
          "1ad5fb89-8dfa-4519-9f05-69893e101161"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "ocp-date": [
<<<<<<< HEAD
          "Fri, 06 Sep 2019 22:21:04 GMT"
        ],
        "User-Agent": [
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Batch.Protocol.BatchServiceClient/12.0.19.40611",
=======
          "Fri, 17 Apr 2020 17:45:52 GMT"
        ],
        "User-Agent": [
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Batch.Protocol.BatchServiceClient/13.0.20.15503",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "AzurePowershell/Az1.0.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "Content-Length": [
          "364"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
<<<<<<< HEAD
          "0x8D7331881C4C91B"
=======
          "0x8D7E2F72CBB416D"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Location": [
          "https://matthchrwestcentralus.westcentralus.batch.azure.com/pools/testCreatePoolWithAppPackages"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "request-id": [
<<<<<<< HEAD
          "fa4dbbb9-6aa5-4241-aeaf-eb980a44e490"
=======
          "29dbe47b-afd6-46cc-bb37-2a65a9357663"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://matthchrwestcentralus.westcentralus.batch.azure.com/pools/testCreatePoolWithAppPackages"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 06 Sep 2019 22:21:03 GMT"
        ],
        "Last-Modified": [
          "Fri, 06 Sep 2019 22:21:04 GMT"
=======
          "Fri, 17 Apr 2020 17:45:53 GMT"
        ],
        "Last-Modified": [
          "Fri, 17 Apr 2020 17:45:53 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseBody": "",
 [...]
