{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourcegroups/PSTestRGc9506ec3?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourcegroups/PSTestRGb860a031?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "4afe9dbe-afb6-45d1-8b66-bd5bcb461c00"
=======
          "656c1284-1223-4b92-a39a-8f848e275a06"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.2"
=======
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.4"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11934"
        ],
        "x-ms-request-id": [
          "edb19c2a-0697-43e1-9e6a-2a8d12630d37"
        ],
        "x-ms-correlation-request-id": [
          "edb19c2a-0697-43e1-9e6a-2a8d12630d37"
        ],
        "x-ms-routing-request-id": [
          "SOUTHINDIA:20191118T091438Z:edb19c2a-0697-43e1-9e6a-2a8d12630d37"
=======
          "11999"
        ],
        "x-ms-request-id": [
          "e016d540-d5b3-4316-a238-4852c70b9912"
        ],
        "x-ms-correlation-request-id": [
          "e016d540-d5b3-4316-a238-4852c70b9912"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUSEUAP:20200131T191314Z:e016d540-d5b3-4316-a238-4852c70b9912"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 18 Nov 2019 09:14:37 GMT"
=======
          "Fri, 31 Jan 2020 19:13:14 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "108"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'PSTestRGc9506ec3' could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourcegroups/PSTestRGc9506ec3?api-version=2016-09-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb860a031\",\r\n  \"name\": \"PSTestRGb860a031\",\r\n  \"location\": \"southeastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGc9506ec3/providers/Microsoft.RecoveryServices/vaults?api-version=2016-06-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb860a031\",\r\n  \"name\": \"PSTestRGb860a031\",\r\n  \"location\": \"southeastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb860a031/providers/Microsoft.RecoveryServices/vaults/PSTestRSVb860a031?api-version=2016-06-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "a9a07b06-b2df-41c4-8e7a-0d508fd40d03-2019-11-18 09:14:39Z-P"
=======
          "f8ffee73-d991-45e0-91e2-2be7889fc39a-2020-01-31 19:13:21Z-P"
>>>>>>>[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGc9506ec3/providers/Microsoft.RecoveryServices/vaults?api-version=2016-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"location\": \"southeastasia\",\r\n      \"name\": \"PSTestRSVc9506ec3\",\r\n      \"etag\": \"W/\\\"datetime'2019-11-18T09%3A14%3A44.44565Z'\\\"\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGc9506ec3/providers/Microsoft.RecoveryServices/vaults/PSTestRSVc9506ec3\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n      \"sku\": {\r\n        \"name\": \"Standard\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb860a031/providers/Microsoft.RecoveryServices/vaults/PSTestRSVb860a031?api-version=2016-06-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {},\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"location\": \"southeastasia\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "6a439468-e333-4356-9bfb-4170081a376c-2019-11-18 09:14:39Z-P"
=======
          "5d8baab1-173a-4ca3-bef1-c49bd1acbaf6-2020-01-31 19:13:22Z-P"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
=======
          "FxVersion/4.6.28207.04",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.RecoveryServices.RecoveryServicesClient/4.2.1.0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "98"
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "9f8ebed3-9443-4aae-8167-4e853c1d6adb"
        ],
        "x-ms-client-request-id": [
          "6a439468-e333-4356-9bfb-4170081a376c-2019-11-18 09:14:39Z-P"
=======
          "6d126d4a-1dc1-4a5d-ac42-9a4ad66c0c4c"
        ],
        "x-ms-client-request-id": [
          "5d8baab1-173a-4ca3-bef1-c49bd1acbaf6-2020-01-31 19:13:22Z-P"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-IIS/10.0"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "199"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "9f8ebed3-9443-4aae-8167-4e853c1d6adb"
        ],
        "x-ms-routing-request-id": [
          "SOUTHINDIA:20191118T091444Z:9f8ebed3-9443-4aae-8167-4e853c1d6adb"
        ],
        "Date": [
          "Mon, 18 Nov 2019 09:14:44 GMT"
        ],
        "Content-Length": [
          "380"
=====[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGc9506ec3/providers/Microsoft.Compute/virtualMachines/PSTestVMc95060?api-version=2019-07-01",
=======
      "ResponseBody": "{\r\n  \"location\": \"southeastasia\",\r\n  \"name\": \"PSTestRSVb860a031\",\r\n  \"etag\": \"W/\\\"datetime'2020-01-31T19%3A13%3A33.7798352Z'\\\"\",\r\n  \"properties\": {},\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb860a031/providers/Microsoft.RecoveryServices/vaults/PSTestRSVb860a031\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb860a031/providers/Microsoft.Compute/virtualMachines/PSTestVMb860a0?api-version=2019-07-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Compute.ComputeManagementClient/30.1.0.0"
=======
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Compute.ComputeManagementClient/31.0.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
<<<<<<< HEAD
          "Microsoft.Compute/LowCostGet3Min;3994,Microsoft.Compute/LowCostGet30Min;31932"
=======
          "Microsoft.Compute/LowCostGet3Min;3998,Microsoft.Compute/LowCostGet30Min;31989"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "a8b4b6a8-afb9-4952-9730-36df21f465f7"
=======
          "ca5d78ae-598e-4e80-9602-22d3[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGc9506ec3/providers/Microsoft.Compute/virtualMachines/PSTestVMc95060?api-version=2019-07-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"PSTestVMb860a0\",\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb860a031/providers/Microsoft.Compute/virtualMachines/PSTestVMb860a0\",\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"DeleteBy\": \"05-2020\",\r\n    \"Owner\": \"sarath\",\r\n    \"Purpose\": \"PSTest\",\r\n    \"AutoShutDown\": \"No\",\r\n    \"MabUsed\": \"Yes\"\r\n  },\r\n  \"properties\": {\r\n    \"vmId\": \"53b66e5d-d0d5-490a-a35a-943764daece7\",\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_D1\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2016-Datacenter\",\r\n        \"version\": \"latest\",\r\n        \"exactVersion\": \"14393.3443.2001090113\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Windows\",\r\n        \"name\": \"PSTestVMb860a0_OsDisk_1_651d59af3aaf4409b18a70039929ae97\",\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Standard_LRS\",\r\n          \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTESTRGB860A031/providers/Microsoft.Compute/disks/PSTestVMb860a0_OsDisk_1_651d59af3aaf4409b18a70039929ae97\"\r\n        },\r\n        \"diskSizeGB\": 127\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"PSTestVMb860a0\",\r\n      \"adminUsername\": \"demouser\",\r\n      \"windowsConfiguration\": {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\": false\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\": true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb860a031/providers/Microsoft.Network/networkInterfaces/PSTestNICb860a0\"\r\n        }\r\n      ]\r\n    },\r\n    \"diagnosticsProfile\": {\r\n      \"bootDiagnostics\": {\r\n        \"enabled\": true,\r\n        \"storageUri\": \"https://aasavigationestdiag.blob.core.windows.net/\"\r\n      }\r\n    },\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGc9506ec3/providers/Microsoft.Network/virtualNetworks/PSTestVNETc95060?api-version=2019-09-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"PSTestVMb860a0\",\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb860a031/providers/Microsoft.Compute/virtualMachines/PSTestVMb860a0\",\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \[...]
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb860a031/providers/Microsoft.Network/virtualNetworks/PSTestVNETb860a0?api-version=2019-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
=======
          "FxVersion/4.6.28207.04",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.17.0.0"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
<<<<<<< HEAD
          "W/\"65e65bca-1573-41a1-8493-4ce086776d44\""
        ],
        "x-ms-request-id": [
          "6916743e-2094-4491-b7bf-cf17d5a69e6b"
        ],
        "x-ms-correlation-request-id": [
          "e961430e-d8e1-4ead-9b38-540d9fd27b88"
        ],
        "x-ms-arm-service-request-id": [
          "6d827717-d8f1-4d6d-9c45-9c2ca1b3bb91"
=======
          "W/\"c4fb6e5e-0406-4a29-b787-72a94a1701cd\""
        ],
        "x-ms-request-id": [
          "4593d6ec-8b00-476f-bb93-acd46ce3025e"
        ],
        "x-ms-correlation-request-id": [
          "71e85a03-4a29-4e2e-b5bf-5bb838e433e4"
        ],
        "x-ms-arm-service-request-id": [
          "3483032b-a32a-462a-907c-6d56a467d122"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGc9506ec3/providers/Microsoft.Network/virtualNetworks/PSTestVNETc95060?api-version=2019-09-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"PSTestVNETb860a0\",\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb860a031/providers/Microsoft.Network/virtualNetworks/PSTestVNETb860a0\",\r\n  \"etag\": \"W/\\\"c4fb6e5e-0406-4a29-b787-72a94a1701cd\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"southeastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"09610e2a-868c-4e84-adb2-9001f05d5fcd\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"PSTestSNCb860a0\",\r\n        \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb860a031/providers/Microsoft.Network/virtualNetworks/PSTestVNETb860a0/subnets/PSTestSNCb860a0\",\r\n        \"etag\": \"W/\\\"c4fb6e5e-0406-4a29-b787-72a94a1701cd\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"192.168.1.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGc9506ec3/providers/Microsoft.Network/virtualNetworks/PSTestVNETc95060?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"192.168.1.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"name\": \"PSTestSNCc95060\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  },\r\n  \"location\": \"southeastasia\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"name\": \"PSTestVNETb860a0\",\r\n  \"id\": \"/subscriptions/383[...]
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/providers/Microsoft.Network/locations/southeastasia/operations/2cb565d3-ed71-4e25-b911-19a7196b0c26?api-version=2019-09-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"PSTestVNETb860a0\",\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb860a031/providers/Microsoft.Network/virtualNetworks/PSTestVNETb860a0\",\r\n  \"etag\": \"W/\\\"fd70fced-4b28-40f8-8514-34b37b683fd0\\\"[...]
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGc9506ec3/providers/Microsoft.Network/publicIPAddresses/pstestpublicdnsc95060?api-version=2019-09-01",
=======
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/pstestpublicdnsb860a0' under resource group 'PSTestRGb860a031' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGc9506ec3/providers/Microsoft.Network/publicIPAddresses/pstestpublicdnsc95060?api-version=2019-09-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"pstestpublicdnsb860a0\",\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb860a031/providers/Microsoft.Network/publicIPAddresses/pstestpublicdnsb860a0\",\r\n  \"etag\": \"W/\\\"118d5fba-8a0c-47eb-b4a1-f6428ada17fa\\\"\",\r\n  \"location\": \"southeastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"c637fa1d-2769-49d0-8efb-55703c83c567\",\r\n    \"ipAddress\": \"52.163.202.232\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb860a031/providers/Microsoft.Network/publicIPAddresses/pstestpublicdnsb860a0?api-version=2019-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"ipTags\": [],\r\n    \"idleTimeoutInMinutes\": 4\r\n  },\r\n  \"zones\": [],\r\n  \"location\": \"southeastasia\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "4a7093e4-5942-4d7c-b209-c81012086563"
=======
          "1bcaeec0-8a3d-4cc1-9a2c-f4bc9c0d3b92"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
=======
          "FxVersion/4.6.28207.04",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.17.0.0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "169"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ]
<<<<<<< HEAD
          "7fd28d84-faa7-4d69-8a2a-5aaecc8a2767"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/providers/Microsoft.Network/locations/southeastasia/operations/7fd28d84-faa7-4d69-8a2a-5aaecc8a2767?api-version=2019-09-01"
        ],
        "x-ms-correlation-request-id": [
          "4e1f0c44-3003-4724-b910-852aeb59c02a"
        ],
        "x-ms-arm-service-request-id": [
          "625bf4a9-76db-4381-a270-37014acd050b"
=======
          "8a555309-8109-4d93-8565-b394fdc5288a"
        ],
        "Azu[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/providers/Microsoft.Network/locations/southeastasia/operations/7fd28d84-faa7-4d69-8a2a-5aaecc8a2767?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "2"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11928"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGc9506ec3/providers/Microsoft.Network/networkSecurityGroups/PSTestNSGc95060?api-version=2019-09-01",
=======
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/networkSecurityGroups/PSTestNSGb860a0' under resource group 'PSTestRGb860a031' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGc9506ec3/providers/Microsoft.Network/networkSecurityGroups/PSTestNSGc95060?api-version=2019-09-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"PSTestNSGb860a0\",\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb860a031/providers/Microsoft.Network/networkSecurityGroups/PSTestNSGb860a0\",\r\n  \"etag\": \"W/\\\"40235213-ff91-4246-8545-f8a7509ae846\\\"\",\r\n  \"type\": \"Microsoft.Network/networkSecurityGroups\",\r\n  \"location\": \"southeastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"734f66dc-9034-4b71-ae0f-972198490cf5\",\r\n    \"securityRules\": [\r\n      {\r\n        \"name\": \"PSTestNSGRuleRDPb860a0\",\r\n        \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb860a031/providers/Microsoft.Network/networkSecurityGroups/PSTestNSGb860a0/securityRules/PSTestNSGRuleRDPb860a0\",\r\n        \"etag\": \"W/\\\"40235213-ff91-4246-8545-f8a7509ae846\\\"\",\r\n        \"type\": \"Microsoft.Network/networkSecurityGroups/securityRules\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"protocol\": \"Tcp\",\r\n          \"sourcePortRange\": \"*\",\r\n          \"destinationPortRange\": \"3389\",\r\n          \"sourceAddressPrefix\": \"*\",\r\n          \"destinationAddressPrefix\": \"*\",\r\n          \"access\": \"Allow\",\r\n          \"priority\": 1000,\r\n          \"direction\": \"Inbound\",\r\n          \"sourcePortRanges\": [],\r\n          \"destinationPortRanges\": [],\r\n          \"sourceAddressPrefixes\": [],\r\n          \"destinationAddressPrefixes\": []\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"PSTestNSGRuleWebb860a0\",\r\n        \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb860a031/providers/Microsoft.Network/networkSecurityGroups/PSTestNSGb860a0/securityRules/PSTestNSGRuleWebb860a0\",\r\n        \"etag\": \"W/\\\"40235213-ff91-4246-8545-f8a7509ae846\\\"\",\r\n        \"type\": \"Microsoft.Network/networkSecurityGroups/securityRules\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"protocol\": \"Tcp\",\r\n          \"sourcePortRange\": \"*\",\r\n          \"destinationPortRange\": \"80\",\r\n          \"sourceAddressPrefix\": \"*\",\r\n          \"destinationAddressPrefix\": \"*\",\r\n          \"access\": \"Allow\",\r\n          \"priority\": 1001,\r\n          \"direction\": \"Inbound\",\r\n          \"sourcePortRanges\": [],\r\n          \"destinationPortRanges\": [],\r\n          \"sourceAddressPrefixes\": [],\r\n          \"destinationAddressPrefixes\": []\r\n        }\r\n      }\r\n    ],\r\n    \"defaultSecurityRules\": [\r\n      {\r\n        \"name\": \"AllowVnetInBound\",\r\n        \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb860a031/providers/Microsoft.Network/networkSecurityGroups/PSTestNSGb860a0/defaultSecurityRules/AllowVnetInBound\",\r\n        \"etag\": \"W/\\\"40235213-ff91-4246-8545-f8a7509ae846\\\"\",\r\n        \"type\": \"Microsoft.Network/networkSecurityGroups/defaultSecurityRules\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"description\": \"Allow inbound traffic from all VMs in VNET\",\r\n          \"protocol\": \"*\",\r\n          \"sourcePortRange\": \"*\",\r\n          \"destinationPortRange\": \"*\",\r\n          \"sourceAddressPrefix\": \"VirtualNetwork\",\r\n          \"destinationAddressPrefix\": \"VirtualNetwork\",\r\n          \"access\": \"Allow\",\r\n          \"priority\": 65000,\r\n          \"direction\": \"Inbound\",\r\n          \"sourcePortRanges\": [],\r\n          \"destinationPortRanges\": [],\r\n          \"[...]
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGc9506ec3/providers/Microsoft.Network/networkInterfaces/PSTestNICc95060?api-version=2019-09-01",
=======
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/networkInterfaces/PSTestNICb860a0' under resource group 'PSTestRGb860a031' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGc9506ec3/providers/Microsoft.Network/networkInterfaces/PSTestNICc95060?api-version=2019-09-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"PSTestNICb860a0\",\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb860a031/providers/Microsoft.Network/networkInterfaces/PSTestNICb860a0\",\r\n  \"etag\": \"W/\\\"ba7a7b4d-a970-4714-9501-5f9e2ed78027\\\"\",\r\n  \"location\": \"southeastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"77fe7141-1d7f-4711-933e-f03cd6447516\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig1\",\r\n        \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb860a031/providers/Microsoft.Network/networkInterfaces/PSTestNICb860a0/ipConfigurations/ipconfig1\",\r\n        \"etag\": \"W/\\\"ba7a7b4d-a970-4714-9501-5f9e2ed78027\\\"\",\r\n        \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"192.168.1.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb860a031/providers/Microsoft.Network/publicIPAddresses/pstestpublicdnsb860a0\"\r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb860a031/providers/Microsoft.Network/virtualNetworks/PSTestVNETb860a0/subnets/PSTestSNCb860a0\"\r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\": \"fihgccmmq0ce3lnssaa5axk5zf.ix.internal.cloudapp.net\"\r\n    },\r\n    \"enableAcceleratedNetworking\": false,\r\n    \"enableIPForwarding\": false,\r\n    \"networkSecurityGroup\": {\r\n      \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb860a031/providers/Microsoft.Network/networkSecurityGroups/PSTestNSGb860a0\"\r\n    },\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGc9506ec3/providers/Microsoft.Network/networkInterfaces/PSTestNICc95060?api-version=2019-09-01",
      "RequestMethod": "PUT",
[...]
