{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/f879818f-5b29-4a43-8961-34169783144f/resourcegroups/PSTestRGd6269798?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourcegroups/PSTestRG09c96a87?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "c3759676-3611-4966-9878-8b55069697e8"
=======
          "f3fcaaad-1e7f-49a7-b864-a030e452ea2d"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.2"
=======
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.4"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11998"
        ],
        "x-ms-request-id": [
          "b2b8518c-2794-4297-ae41-5c8073354e40"
        ],
        "x-ms-correlation-request-id": [
          "b2b8518c-2794-4297-ae41-5c8073354e40"
        ],
        "x-ms-routing-request-id": [
          "SOUTHINDIA:20191119T104703Z:b2b8518c-2794-4297-ae41-5c8073354e40"
=======
          "11872"
        ],
        "x-ms-request-id": [
          "ae49065d-4aed-486b-a0e2-175b23538540"
        ],
        "x-ms-correlation-request-id": [
          "ae49065d-4aed-486b-a0e2-175b23538540"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUSEUAP:20200131T164942Z:ae49065d-4aed-486b-a0e2-175b23538540"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 19 Nov 2019 10:47:03 GMT"
=======
          "Fri, 31 Jan 2020 16:49:42 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "108"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'PSTestRGd6269798' could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/f879818f-5b29-4a43-8961-34169783144f/resourcegroups/PSTestRGd6269798?api-version=2016-09-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG09c96a87\",\r\n  \"name\": \"PSTestRG09c96a87\",\r\n  \"location\": \"southeastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/f879818f-5b29-4a43-8961-34169783144f/resourceGroups/PSTestRGd6269798/providers/Microsoft.RecoveryServices/vaults?api-version=2016-06-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG09c96a87\",\r\n  \"name\": \"PSTestRG09c96a87\",\r\n  \"location\": \"southeastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG09c96a87/providers/Microsoft.RecoveryServices/vaults/PSTestRSV09c96a87?api-version=2016-06-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "2455e1f1-d44e-443b-841e-e9e91b252288-2019-11-19 10:47:05Z-P"
=======
          "c56c9b84-8c96-4ed3-87ad-8fcd76b01058-2020-01-31 16:49:47Z-P"
>>>>>>>[...]
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG09c96a87/providers/Microsoft.RecoveryServices/vaults/PSTestRSV09c96a87?api-version=2016-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {},\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"location\": \"southeastasia\"\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.RecoveryServices.RecoveryServicesClient/4.2.1.0"
=======
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.RecoveryServices.RecoveryServicesClient/4.2.1.0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "98"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "237c05ae-120d-40b7-b191-db595f142b8b"
        ],
        "x-ms-client-request-id": [
          "8c48e6d9-382d-47a9-84de-3881b11dfbcc-2019-11-19 10:47:11Z-P"
=======
          "b19ac158-c4f0-4052-bf83-52352b94fad4"
        ],
        "x-ms-client-request-id": [
          "06fbc02f-2710-4aa5-8f70-3213c11be8e1-2020-01-31 16:49:48Z-P"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-IIS/10.0"
        ],
<<<<<<< HEAD
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "x-ms-correlation-request-id": [
          "237c05ae-120d-40b7-b191-db595f142b8b"
        ],
        "x-ms-routing-request-id": [
          "SOUTHINDIA:20191119T104711Z:237c05ae-120d-40b7-b191-db595f142b8b"
        ],
        "Date": [
          "Tue, 19 Nov 2019 10:47:11 GMT"
        ],
        "Content-Length": [
          "394"
=======
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "199"
        ],
        "x-ms-correlation-request-id": [
          "b19ac158-c4f0-4052-bf83-52352b94fad4"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUSEUAP:20200131T165004Z:b19ac158-c4f0-4052-bf83-52352b94fad4"
        ],
        "Date": [
          "Fri, 31 Jan 2020 16:50:04 GMT"
        ],
        "Content-Length": [
          "350"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"location\": \"southeastasia\",\r\n      \"name\": \"PSTestRSVd6269798\",\r\n      \"etag\": \"W/\\\"datetime'2019-11-19T10%3A47%3A08.2657237Z'\\\"\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/f879818f-5b29-4a43-8961-34169783144f/resourceGroups/PSTestRGd6269798/providers/Microsoft.RecoveryServices/vaults/PSTestRSVd6269798\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n      \"sku\": {\r\n        \"name\": \"Standard\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/Subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG09c96a87/providers/Microsoft.RecoveryServices/vaults/PSTestRSV09c96a87/backupconfig/vaultconfig?api-version=2019-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
     [...]
    {
      "RequestUri": "/Subscriptions/f879818f-5b29-4a43-8961-34169783144f/resourceGroups/PSTestRGd6269798/providers/Microsoft.RecoveryServices/vaults/PSTestRSVd6269798/backupconfig/vaultconfig?api-version=2019-05-13",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG09c96a87/providers/Microsoft.RecoveryServices/vaults/PSTestRSV09c96a87/backupconfig/vaultconfig\",\r\n  \"name\": \"vaultconfig\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/backupconfig\",\r\n  \"properties\": {\r\n    \"enhancedSecurityState\": \"Enabled\",\r\n    \"softDeleteFeatureState\": \"Enabled\",\r\n    \"isSoftDeleteFeatureStateEditable\": true\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/Subscriptions/f879818f-5b29-4a43-8961-34169783144f/resourceGroups/PSTestRGd6269798/providers/Microsoft.RecoveryServices/vaults/PSTestRSVd6269798/backupProtectionContainers?$filter=backupManagementType%20eq%20'AzureIaasVM'%20and%20status%20eq%20'Registered'&api-version=2016-12-01",
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"location\": \"southeastasia\",\r\n      \"name\": \"PSTestRSV09c96a87\",\r\n      \"etag\": \"W/\\\"datetime'2020-01-31T16%3A50%3A02.864178Z'\\\"\",\r\n      \"properties\": {},\r\n      \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG09c96a87/providers/Microsoft.RecoveryServices/vaults/PSTestRSV09c96a87\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n      \"sku\": {\r\n        \"name\": \"Standard\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
