{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourcegroups/PSTestRG909386b4?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourcegroups/PSTestRG211e3842?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "6a5ec6e4-90d6-4b75-b8d6-2f63b4e1830b"
=======
          "5867f5d3-049a-4362-bae2-eef6f60b7a51"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.2"
=======
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.4"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11383"
        ],
        "x-ms-request-id": [
          "918ad97b-70f9-4767-8e8c-119d7f7544d9"
        ],
        "x-ms-correlation-request-id": [
          "918ad97b-70f9-4767-8e8c-119d7f7544d9"
        ],
        "x-ms-routing-request-id": [
          "SOUTHINDIA:20191118T075956Z:918ad97b-70f9-4767-8e8c-119d7f7544d9"
=======
          "11998"
        ],
        "x-ms-request-id": [
          "d76ac7af-2fc4-4281-9eee-6b996e282a86"
        ],
        "x-ms-correlation-request-id": [
          "d76ac7af-2fc4-4281-9eee-6b996e282a86"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUSEUAP:20200131T165114Z:d76ac7af-2fc4-4281-9eee-6b996e282a86"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 18 Nov 2019 07:59:55 GMT"
=======
          "Fri, 31 Jan 2020 16:51:14 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "108"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'PSTestRG909386b4' could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourcegroups/PSTestRG909386b4?api-version=2016-09-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG211e3842\",\r\n  \"name\": \"PSTestRG211e3842\",\r\n  \"location\": \"southeastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG909386b4/providers/Microsoft.Compute/virtualMachines/PSTestVM909380?api-version=2019-07-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG211e3842\",\r\n  \"name\": \"PSTestRG211e3842\",\r\n  \"location\": \"southeastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG211e3842/providers/Microsoft.Compute/virtualMachines/PSTestVM211e30?api-version=2019-07-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Compute.ComputeManagementClient/30.1.0.0"
=======
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Compute.ComputeManagementClient/31.0.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
<<<<<<< HEAD
          "Microsoft.Compute/LowCostGet3Min;3997,Microsoft.Compute/LowCostGet30Min;31963"
=======
          "Microsoft.Compute/LowCostGet3Min;3998,Microsoft.Compute/LowCostGet30Min;31996"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "4c6571f1-4808-4941-88a1-a1b06d9b8e23"
=======
          "7c44dad4-c43e-4bff-b9a6-adda90d23b96"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11991"
        ],
        "x-ms-correlation-request-id": [
          "1715e5d1-3e7c-4026-a844-fd0c82373004"
        ],
        "x-ms-routing-request-id": [
          "SOUTHINDIA:20191118T080243Z:1715e5d1-3e7c-4026-a844-fd0c82373004"
=======
          "11871"
        ],
        "x-ms-correlation-request-id": [
          "2510d337-a278-4358-bdb1-6c732e2a9f81"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUSEUAP:20200131T165433Z:2510d337-a278-4358-bdb1-6c732e2a9f81"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 18 Nov 2019 08:02:43 GMT"
=======
          "Fri, 31 Jan 2020 16:54:33 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "2108"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"name\": \"PSTestVM909380\",\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG909386b4/providers/Microsoft.Compute/virtualMachines/PSTestVM909380\",\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"DeleteBy\": \"05-2020\",\r\n    \"AutoShutDown\": \"No\",\r\n    \"Owner\": \"sarath\",\r\n    \"Purpose\": \"PSTest\",\r\n    \"MabUsed\": \"Yes\"\r\n  },\r\n  \"properties\": {\r\n    \"vmId\": \"da7ecac4-8c90-43d3-a607-dca1b18ef14d\",\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_D1\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2016-Datacenter\",\r\n        \"version\": \"latest\",\r\n        \"exactVersion\": \"14393.3274.1910061629\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Windows\",\r\n        \"name\": \"PSTestVM909380_OsDisk_1_6535a369417641fea6220b737c55d6aa\",\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Standard_LRS\",\r\n          \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG909386b4/providers/Microsoft.Compute/disks/PSTestVM909380_OsDisk_1_6535a369417641fea6220b737c55d6aa\"\r\n        },\r\n        \"diskSizeGB\": 127\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"PSTestVM909380\",\r\n      \"adminUsername\": \"demouser\",\r\n      \"windowsConfiguration\": {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\": false\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\": true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG909386b4/providers/Microsoft.Network/networkInterfaces/PSTestNIC909380\"\r\n        }\r\n      ]\r\n    },\r\n    \"diagnosticsProfile\": {\r\n      \"bootDiagnostics\": {\r\n        \"enabled\": true,\r\n        \"storageUri\": \"https://aasavigationestdiag.blob.core.windows.net/\"\r\n      }\r\n    },\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG909386b4/providers/Microsoft.Network/virtualNetworks/PSTestVNET909380?api-version=2019-09-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"PSTestVM211e30\",\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG211e3842/providers/Microsoft.Compute/virtualMachines/PSTestVM211e30\",\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \[...]
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG211e3842/providers/Microsoft.Network/virtualNetworks/PSTestVNET211e30?api-version=2019-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
=======
          "FxVersion/4.6.28207.04",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.17.0.0"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
<<<<<<< HEAD
          "W/\"51f15e01-52c1-48cb-8845-e117d4751506\""
        ],
        "x-ms-request-id": [
          "83293a19-3b85-40c8-bc9f-8fdad1f19d94"
        ],
        "x-ms-correlation-request-id": [
          "d7d818e3-5949-44ae-a862-3bbd5b4d64fd"
        ],
        "x-ms-arm-service-request-id": [
          "57b22d2d-c00d-4fc3-9b45-c54b62a37a30"
=======
          "W/\"78341166-bf2a-4d77-9b57-91191b4401bf\""
        ],
        "x-ms-request-id": [
          "c0b5f663-3bae-4291-a3f5-dfd658673661"
        ],
        "x-ms-correlation-request-id": [
          "01f4cb7d-4f0e-4e21-8270-7229800d82cf"
        ],
        "x-ms-arm-service-request-id": [
          "de123737-054f-4251-b1db-93b8b31d4d0c"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG909386b4/providers/Microsoft.Network/virtualNetworks/PSTestVNET909380?api-version=2019-09-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"PSTestVNET211e30\",\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG211e3842/providers/Microsoft.Network/virtualNetworks/PSTestVNET211e30\",\r\n  \"etag\": \"W/\\\"78341166-bf2a-4d77-9b57-91191b4401bf\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"southeastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"2f57f5f6-bcea-4ce3-bead-ce2133f0ca59\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"PSTestSNC211e30\",\r\n        \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG211e3842/providers/Microsoft.Network/virtualNetworks/PSTestVNET211e30/subnets/PSTestSNC211e30\",\r\n        \"etag\": \"W/\\\"78341166-bf2a-4d77-9b57-91191b4401bf\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"192.168.1.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG909386b4/providers/Microsoft.Network/virtualNetworks/PSTestVNET909380?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"192.168.1.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"name\": \"PSTestSNC909380\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  },\r\n  \"location\": \"southeastasia\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"name\": \"PSTestVNET211e30\",\r\n  \"id\": \"/subscriptions/383[...]
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/providers/Microsoft.Network/locations/southeastasia/operations/d8280ec7-229f-481c-99ef-da4726810f16?api-version=2019-09-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"PSTestVNET211e30\",\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG211e3842/providers/Microsoft.Network/virtualNetworks/PSTestVNET211e30\",\r\n  \"etag\": \"W/\\\"048715d7-354b-4ea4-9960-280fa0d7fcc7\\\"[...]
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG909386b4/providers/Microsoft.Network/publicIPAddresses/pstestpublicdns909380?api-version=2019-09-01",
=======
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/pstestpublicdns211e30' under resource group 'PSTestRG211e3842' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG909386b4/providers/Microsoft.Network/publicIPAddresses/pstestpublicdns909380?api-version=2019-09-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"pstestpublicdns211e30\",\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG211e3842/providers/Microsoft.Network/publicIPAddresses/pstestpublicdns211e30\",\r\n  \"etag\": \"W/\\\"da6e62e5-9301-4280-9353-edfd30a0719c\\\"\",\r\n  \"location\": \"southeastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"6b176fd0-cf5b-4410-b7cd-3d61e985d7d9\",\r\n    \"ipAddress\": \"23.97.50.28\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG211e3842/providers/Microsoft.Network/publicIPAddresses/pstestpublicdns211e30?api-version=2019-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"ipTags\": [],\r\n    \"idleTimeoutInMinutes\": 4\r\n  },\r\n  \"zones\": [],\r\n  \"location\": \"southeastasia\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "3a4dd648-1833-4bc6-aab9-bcd8602d85ad"
=======
          "f9086d7c-aa07-43d9-b3a7-4fefdaf6c7cd"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
=======
          "FxVersion/4.6.28207.04",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.17.0.0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "169"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ]
<<<<<<< HEAD
          "2b0ca0c4-930d-4dc3-927f-1683bb995bff"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/providers/Microsoft.Network/locations/southeastasia/operations/2b0ca0c4-930d-4dc3-927f-1683bb995bff?api-version=2019-09-01"
        ],
        "x-ms-correlation-request-id": [
          "80e81890-a1b2-450c-8e5e-d6a00c71530f"
        ],
        "x-ms-arm-service-request-id": [
          "f068c612-48e0-4625-9eec-12e439a12329"
=======
          "b98f5a9a-5d57-4d06-af03-617272954653"
        ],
        "Azu[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/providers/Microsoft.Network/locations/southeastasia/operations/2b0ca0c4-930d-4dc3-927f-1683bb995bff?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "2"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11974"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG909386b4/providers/Microsoft.Network/networkSecurityGroups/PSTestNSG909380?api-version=2019-09-01",
=======
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/networkSecurityGroups/PSTestNSG211e30' under resource group 'PSTestRG211e3842' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG909386b4/providers/Microsoft.Network/networkSecurityGroups/PSTestNSG909380?api-version=2019-09-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"PSTestNSG211e30\",\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG211e3842/providers/Microsoft.Network/networkSecurityGroups/PSTestNSG211e30\",\r\n  \"etag\": \"W/\\\"5987ba17-ce1d-49e3-903b-51a53cedf7b1\\\"\",\r\n  \"type\": \"Microsoft.Network/networkSecurityGroups\",\r\n  \"location\": \"southeastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"f892a9bd-606a-4b48-b6c4-358664362511\",\r\n    \"securityRules\": [\r\n      {\r\n        \"name\": \"PSTestNSGRuleRDP211e30\",\r\n        \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG211e3842/providers/Microsoft.Network/networkSecurityGroups/PSTestNSG211e30/securityRules/PSTestNSGRuleRDP211e30\",\r\n        \"etag\": \"W/\\\"5987ba17-ce1d-49e3-903b-51a53cedf7b1\\\"\",\r\n        \"type\": \"Microsoft.Network/networkSecurityGroups/securityRules\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"protocol\": \"Tcp\",\r\n          \"sourcePortRange\": \"*\",\r\n          \"destinationPortRange\": \"3389\",\r\n          \"sourceAddressPrefix\": \"*\",\r\n          \"destinationAddressPrefix\": \"*\",\r\n          \"access\": \"Allow\",\r\n          \"priority\": 1000,\r\n          \"direction\": \"Inbound\",\r\n          \"sourcePortRanges\": [],\r\n          \"destinationPortRanges\": [],\r\n          \"sourceAddressPrefixes\": [],\r\n          \"destinationAddressPrefixes\": []\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"PSTestNSGRuleWeb211e30\",\r\n        \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG211e3842/providers/Microsoft.Network/networkSecurityGroups/PSTestNSG211e30/securityRules/PSTestNSGRuleWeb211e30\",\r\n        \"etag\": \"W/\\\"5987ba17-ce1d-49e3-903b-51a53cedf7b1\\\"\",\r\n        \"type\": \"Microsoft.Network/networkSecurityGroups/securityRules\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"protocol\": \"Tcp\",\r\n          \"sourcePortRange\": \"*\",\r\n          \"destinationPortRange\": \"80\",\r\n          \"sourceAddressPrefix\": \"*\",\r\n          \"destinationAddressPrefix\": \"*\",\r\n          \"access\": \"Allow\",\r\n          \"priority\": 1001,\r\n          \"direction\": \"Inbound\",\r\n          \"sourcePortRanges\": [],\r\n          \"destinationPortRanges\": [],\r\n          \"sourceAddressPrefixes\": [],\r\n          \"destinationAddressPrefixes\": []\r\n        }\r\n      }\r\n    ],\r\n    \"defaultSecurityRules\": [\r\n      {\r\n        \"name\": \"AllowVnetInBound\",\r\n        \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG211e3842/providers/Microsoft.Network/networkSecurityGroups/PSTestNSG211e30/defaultSecurityRules/AllowVnetInBound\",\r\n        \"etag\": \"W/\\\"5987ba17-ce1d-49e3-903b-51a53cedf7b1\\\"\",\r\n        \"type\": \"Microsoft.Network/networkSecurityGroups/defaultSecurityRules\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"description\": \"Allow inbound traffic from all VMs in VNET\",\r\n          \"protocol\": \"*\",\r\n          \"sourcePortRange\": \"*\",\r\n          \"destinationPortRange\": \"*\",\r\n          \"sourceAddressPrefix\": \"VirtualNetwork\",\r\n          \"destinationAddressPrefix\": \"VirtualNetwork\",\r\n          \"access\": \"Allow\",\r\n          \"priority\": 65000,\r\n          \"direction\": \"Inbound\",\r\n          \"sourcePortRanges\": [],\r\n          \"destinationPortRanges\": [],\r\n          \"[...]
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG909386b4/providers/Microsoft.Network/networkInterfaces/PSTestNIC909380?api-version=2019-09-01",
=======
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/networkInterfaces/PSTestNIC211e30' under resource group 'PSTestRG211e3842' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG909386b4/providers/Microsoft.Network/networkInterfaces/PSTestNIC909380?api-version=2019-09-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"PSTestNIC211e30\",\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG211e3842/providers/Microsoft.Network/networkInterfaces/PSTestNIC211e30\",\r\n  \"etag\": \"W/\\\"53a5afa8-c5cc-4589-8e46-3ccb81aa59bc\\\"\",\r\n  \"location\": \"southeastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"4eecca29-c1ab-497b-a6c6-abe2d7c2ce5e\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig1\",\r\n        \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG211e3842/providers/Microsoft.Network/networkInterfaces/PSTestNIC211e30/ipConfigurations/ipconfig1\",\r\n        \"etag\": \"W/\\\"53a5afa8-c5cc-4589-8e46-3ccb81aa59bc\\\"\",\r\n        \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"192.168.1.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG211e3842/providers/Microsoft.Network/publicIPAddresses/pstestpublicdns211e30\"\r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG211e3842/providers/Microsoft.Network/virtualNetworks/PSTestVNET211e30/subnets/PSTestSNC211e30\"\r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\": \"410vol5kxtruzpvnzyqth2gklb.ix.internal.cloudapp.net\"\r\n    },\r\n    \"enableAcceleratedNetworking\": false,\r\n    \"enableIPForwarding\": false,\r\n    \"networkSecurityGroup\": {\r\n      \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG211e3842/providers/Microsoft.Network/networkSecurityGroups/PSTestNSG211e30\"\r\n    },\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG909386b4/providers/Microsoft.Network/networkInterfaces/PSTestNIC909380?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"networkSecurityGroup\": {\r\n      \"properties\": {\r\n        \"securityRules\": []\r\n      },\r\n      \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG909386b4/providers/Microsoft.Network/networkSecurityGroups/PSTestNSG909380\",\r\n      \"tags\": {}\r\n    },\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"virtualNetworkTaps\": [],\r\n          \"applicationGatewayBackendAddressPools\": [],\r\n          \"loadBalancerBackendAddressPools\": [],\r\n          \"loadBalancerInboundNatRules\": [],\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"properties\": {\r\n              \"addressPrefixes\": [],\r\n              \"serviceEndpoints\": [],\r\n              \"serviceEndpointPolicies\": [],\r\n              \"delegations\": []\r\n            },\r\n            \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG909386b4/providers/Microsoft.Network/virtualNetworks/PSTestVNET909380/subnets/PSTestSNC9[...]
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG909386b4/providers/Microsoft.Storage/storageAccounts?api-version=2017-10-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"PSTestNIC211e30\",\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG211e3842/providers/Microsoft.Network/networkInterfaces/PSTestNIC211e30\",\r\n  \"etag\": \"W/\\\"53a5afa8-c5cc-4589-8e46-3ccb81aa59bc\\\"\",\r\n  \"location\": \[...]
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/providers/Microsoft.Storage/storageAccounts?api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "57b0f89c-2337-4d1b-bf59-e04be0511184"
=======
          "8d8fe8a4-d9a8-4165-9d20-b776fb6f145b"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HE[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG909386b4/providers/Microsoft.Compute/virtualMachines/PSTestVM909380?api-version=2019-07-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_D1\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2016-Datacenter\",\r\n        \"version\": \"latest\"\r\n      }\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"PSTestVM909380\",\r\n      \"adminUsername\": \"demouser\",\r\n      \"adminPassword\": \"909386b4-7e7\",\r\n      \"windowsConfiguration\": {\r\n        \"enableAutomaticUpdates\": false\r\n      }\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRG909386b4/providers/Microsoft.Network/networkInterfaces/PSTestNIC909380\"\r\n        }\r\n      ]\r\n    },\r\n    \"diagnosticsProfile\": {\r\n      \"bootDiagnostics\": {\r\n        \"enabled\": true,\r\n        \"storageUri\": \"https://aasavigationestdiag.blob.core.windows.net/\"\r\n      }\r\n    }\r\n  },\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"DeleteBy\": \"05-2020\",\r\n    \"AutoShutDown\": \"No\",\r\n    \"Owner\": \"sarath\",\r\n    \"Purpose\": \"PSTest\",\r\n    \"MabUsed\": \"Yes\"\r\n  }\r\n}",
      "RequestHeaders": {
=======
[...]
