{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/8f38cfec-0ecd-413a-892e-2494f77a3b56/resourcegroups/ps604?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourcegroups/ps8207?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "ef014331-ac49-4acc-bf57-a0717fd63531"
=======
          "dd409563-0174-4417-9a96-349ec23e5bda"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27019.06",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.2"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.11"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "29"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
<<<<<<< HEAD
          "2f4f467f-b492-4cae-9a22-b76a7ea16430"
        ],
        "x-ms-correlation-request-id": [
          "2f4f467f-b492-4cae-9a22-b76a7ea16430"
        ],
        "x-ms-routing-request-id": [
          "SOUTHEASTASIA:20191123T102757Z:2f4f467f-b492-4cae-9a22-b76a7ea16430"
=======
          "f0b43a32-5e27-41ef-8cd1-20bd7c27f9cc"
        ],
        "x-ms-correlation-request-id": [
          "f0b43a32-5e27-41ef-8cd1-20bd7c27f9cc"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200417T094844Z:f0b43a32-5e27-41ef-8cd1-20bd7c27f9cc"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Sat, 23 Nov 2019 10:27:56 GMT"
        ],
        "Content-Length": [
          "164"
=======
          "Fri, 17 Apr 2020 09:48:43 GMT"
        ],
        "Content-Length": [
          "166"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/8f38cfec-0ecd-413a-892e-2494f77a3b56/resourceGroups/ps604\",\r\n  \"name\": \"ps604\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/8f38cfec-0ecd-413a-892e-2494f77a3b56/resourceGroups/ps604/providers/Microsoft.NetApp/netAppAccounts/ps8353?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps8207\",\r\n  \"name\": \"ps8207\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps8207/providers/Microsoft.NetApp/netAppAccounts/ps3206?api-version=2019-10-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "209f16d0-322c-479f-bc84-6ab7890844fb"
=======
          "bc8afcc1-6d6d-4f37-ac31-41dfe75cae47"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27019.06",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.NetApp.AzureNetAppFilesManagementClient/1.3.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.NetApp.AzureNetAppFilesManagementClient/1.4.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "29"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
<<<<<<< HEAD
          "W/\"datetime'2019-11-23T10%3A28%3A05.057297Z'\""
        ],
        "x-ms-request-id": [
          "f0057257-85e4-451b-a48d-ac3b696d2e57"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/8f38cfec-0ecd-413a-892e-2494f77a3b56/providers/Microsoft.NetApp/locations/westus2/operationResults/d82e1bb5-ea2f-4641-a9f0-4be3b627993a?api-version=2019-08-01"
=======
          "W/\"datetime'2020-04-17T09%3A48%3A49.3848896Z'\""
        ],
        "x-ms-request-id": [
          "c3053cac-0c4e-4cd8-a513-c9046ddfe2f5"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/westus2/operationResults/ba58f81b-65ba-4208-a02e-2e45fde6cf6d?api-version=2019-10-01"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Request-Context": [
          "appId=cid-v1:2c4cb680-0a1f-424d-bb8d-8e650ba68d53"
        ],
        "Access-Control-Expose-Headers": [
          "Request-Context"
        ],
        "Server": [
          "Microsoft-IIS/10.0"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1199"
        ],
        "x-ms-correlation-request-id": [
          "398076f0-98e5-48a9-b8fd-116094bab6eb"
        ],
        "x-ms-routing-request-id": [
          "SOUTHEASTASIA:20191123T102806Z:398076f0-98e5-48a9-b8fd-116094bab6eb"
=======
          "1194"
        ],
        "x-ms-correlation-request-id": [
          "cfe4e357-a8ee-423a-be57-e1eeea18ffbb"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200417T094850Z:cfe4e357-a8ee-423a-be57-e1eeea18ffbb"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Sat, 23 Nov 2019 10:28:05 GMT"
        ],
        "Content-Length": [
          "327"
=======
          "Fri, 17 Apr 2020 09:48:50 GMT"
        ],
        "Content-Length": [
          "329"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/8f38cfec-0ecd-413a-892e-2494f77a3b56/resourceGroups/ps604/providers/Microsoft.NetApp/netAppAccounts/ps8353\",\r\n  \"name\": \"ps8353\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts\",\r\n  \"etag\": \"W/\\\"datetime'2019-11-23T10%3A28%3A05.057297Z'\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"name\": \"ps8353\",\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/8f38cfec-0ecd-413a-892e-2494f77a3b56/providers/Microsoft.NetApp/locations/westus2/operationResults/d82e1bb5-ea2f-4641-a9f0-4be3b627993a?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps8207/providers/Microsoft.NetApp/netAppAccounts/ps3206\",\r\n  \"name\": \"ps3206\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts\",\r\n  \"etag\": \"W/\\\"datetime'2020-04-17T09%3A48%3A49.3848896Z'\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"name\": \"ps3206\",\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/8f38cfec-0ecd-413a-892e-2494f77a3b56/resourceGroups/ps604/providers/Microsoft.NetApp/netAppAccounts/ps8353?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/westus2/operationResults/ba58f81b-65ba-4208-a02e-2e45fde6cf6d\",\r\n  \"name\": \"ba58f81b-65ba-4208-a02e-2e45fde6cf6d\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-04-17T09:48:49.3233967Z\",\r\n  \"endTime\": \"2020-04-17T09:48:49.4640284Z\",\r\n  \"percentComplete\": 100.0,\r\n  \"properties\": {\r\n    \"resourceName\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps8207/providers/Microsoft.NetApp/netAppAccounts/ps3206\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps8207/providers/Microsoft.NetApp/netAppAccounts/ps3206?api-version=2019-10-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "d6fe6970-c669-468e-aa73-65f84f7cd1d3"
=======
          "26f745c9-946e-4d47-afd8-cd73c9cff7b5"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27019.06",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.NetApp.AzureNetAppFilesManagementClient/1.3.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.NetApp.AzureNetAppFilesManagementClient/1.4.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/8f38cfec-0ecd-413a-892e-2494f77a3b56/providers/Microsoft.NetApp/locations/westus2/operationResults/206f357f-940c-41e9-a489-d4e71993a87f?api-version=2019-08-01&operationResultResponseType=Location"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/8f38cfec-0ecd-413a-892e-2494f77a3b56/providers/Microsoft.NetApp/locations/westus2/operationResults/206f357f-940c-41e9-a489-d4e71993a87[...]
    {
      "RequestUri": "/subscriptions/8f38cfec-0ecd-413a-892e-2494f77a3b56/providers/Microsoft.NetApp/locations/westus2/operationResults/206f357f-940c-41e9-a489-d4e71993a87f?api-version=2019-08-01&operationResultResponseType=Location",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/westus2/operationResults/c1c73788-2b43-47e9-af5d-c36b7a0f206a\",\r\n  \"name\": \"c1c73788-2b43-47e9-af5d-c36b7a0f206a\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-04-17T09:49:22.3492849Z\",\r\n  \"endTime\": \"2020-04-17T09:49:22.7711791Z\",\r\n  \"percentComplete\": 100.0,\r\n  \"properties\": {\r\n    \"resourceName\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps8207/providers/Microsoft.NetApp/netAppAccounts/ps3206\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
