{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourcegroups/ps5276?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourcegroups/ps8160?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "d4d66edb-0d1d-4012-96ee-38409133d6b3"
=======
          "f7db647f-affd-4fd4-af73-2d328f4ace81"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.5"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.11"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "29"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1199"
        ],
        "x-ms-request-id": [
          "15ce06aa-ba11-4f3f-9e60-dde7068958b4"
        ],
        "x-ms-correlation-request-id": [
          "15ce06aa-ba11-4f3f-9e60-dde7068958b4"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200121T120755Z:15ce06aa-ba11-4f3f-9e60-dde7068958b4"
=======
          "1189"
        ],
        "x-ms-request-id": [
          "8dc20289-d230-4009-abbc-e2c95c39b62e"
        ],
        "x-ms-correlation-request-id": [
          "8dc20289-d230-4009-abbc-e2c95c39b62e"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200417T095458Z:8dc20289-d230-4009-abbc-e2c95c39b62e"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 21 Jan 2020 12:07:55 GMT"
=======
          "Fri, 17 Apr 2020 09:54:57 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "166"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps5276\",\r\n  \"name\": \"ps5276\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps5276/providers/Microsoft.Network/virtualNetworks/ps5276-vnet?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps8160\",\r\n  \"name\": \"ps8160\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps8160/providers/Microsoft.Network/virtualNetworks/ps8160-vnet?api-version=2020-03-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "545d5f9f-c61f-4b59-a571-ab9c83d92c12"
=======
          "b2a24161-23f8-4d42-9184-94af62681456"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.18.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.20.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "ff309ecd-aac3-4c25-95ba-8ae9a56d7caf"
        ],
        "x-ms-correlation-request-id": [
          "ff309ecd-aac3-4c25-95ba-8ae9a56d7caf"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200121T120756Z:ff309ecd-aac3-4c25-95ba-8ae9a56d7caf"
=======
          "089531f0-6a79-4905-b26c-7639574c7de3"
        ],
        "x-ms-correlation-request-id": [
          "089531f0-6a79-4905-b26c-7639574c7de3"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200417T095458Z:089531f0-6a79-4905-b26c-7639574c7de3"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 21 Jan 2020 12:07:56 GMT"
=======
          "Fri, 17 Apr 2020 09:54:58 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "155"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps5276-vnet' under resource group 'ps5276' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps8160/providers/Microsoft.Network/virtualNetworks/ps8160-vnet?api-version=2020-03-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.18.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.20.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "ETag": [
<<<<<<< HEAD
          "W/\"a680e2db-3e5f-41c8-8777-a257cd316d11\""
        ],
        "x-ms-request-id": [
          "242874a5-6a91-4746-b2d6-20b6f6c5fa6b"
        ],
        "x-ms-correlation-request-id": [
          "113df8ea-42d1-4f0b-aa1e-d9aba1539c8e"
        ],
        "x-ms-arm-service-request-id": [
          "05358ea0-394a-40cb-9ba1-24f8c9a411a8"
=======
          "W/\"ef179b5a-3d16-4c18-b26b-c4d0290e91f9\""
        ],
        "x-ms-request-id": [
          "7ced1e77-883f-4b9e-a2f2-b82d83d55072"
        ],
        "x-ms-correlation-request-id": [
          "855d2cb5-efe8-4e34-82f4-72554edb0c7c"
        ],
        "x-ms-arm-service-request-id": [
          "07dd0467-fe77-4a9b-9348-1ee41d3dc71c"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11997"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200121T120806Z:113df8ea-42d1-4f0b-aa1e-d9aba1539c8e"
=======
          "11982"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200417T095529Z:855d2cb5-efe8-4e34-82f4-72554edb0c7c"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 21 Jan 2020 12:08:06 GMT"
=======
          "Fri, 17 Apr 2020 09:55:28 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "642"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"name\": \"ps5276-vnet\",\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps5276/providers/Microsoft.Network/virtualNetworks/ps5276-vnet\",\r\n  \"etag\": \"W/\\\"a680e2db-3e5f-41c8-8777-a257cd316d11\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"a8af2d5e-fdc9-4c6b-bb45-806806dd537f\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps5276/providers/Microsoft.Network/virtualNetworks/ps5276-vnet?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps8160-vnet\",\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps8160/providers/Microsoft.Network/virtualNetworks/ps8160-vnet\",\r\n  \"etag\": \"W/\\\"bfc81f71-ea03-4f8e-9423-2d9f1ba237d4\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"f1e0a639-e338-44e1-9b03-51b48e9319d9\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"default\",\r\n        \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps8160/providers/Microsoft.Network/virtualNetworks/ps8160-vnet/subnets/default\",\r\n        \"etag\": \"W/\\\"bfc81f71-ea03-4f8e-9423-2d9f1ba237d4\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [\r\n            {\r\n              \"name\": \"netAppVolumes\",\r\n              \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps8160/providers/Microsoft.Network/virtualNetworks/ps8160-vnet/subnets/default/delegations/netAppVolumes\",\r\n              \"etag\": \"W/\\\"bfc81f71-ea03-4f8e-9423-2d9f1ba237d4\\\"\",\r\n              \"properties\": {\r\n                \"provisioningState\": \"Succeeded\",\r\n                \"serviceName\": \"Microsoft.Netapp/volumes\",\r\n                \"actions\": [\r\n                  \"Microsoft.Network/networkinterfaces/*\",\r\n                  \"Microsoft.Network/virtualNetworks/subnets/join/action\"\r\n                ]\r\n              },\r\n              \"type\": \"Microsoft.Network/virtualNetworks/subnets/delegations\"\r\n            }\r\n          ],\r\n          \"purpose\": \"HostedWorkloads\",\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps8160/providers/Microsoft.Network/virtualNetworks/ps8160-vnet?api-version=2020-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.18.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.20.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "235"
=======
          "261"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ]
<<<<<<< HEAD
          "634eae46-9828-4163-bb20-702e758aba6b"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network/locations/westus2/operations/634eae46-9828-4163-bb20-702e758aba6b?api-version=2019-11-01"
        ],
        "x-ms-correlation-request-id": [
          "591ead04-971f-4138-929d-a523a2a0980c"
        ],
        "x-ms-arm-service-request-id": [
          "14cf6c9d-c36a-4562-9068-7ef8c089a4d2"
=======
          "0278c18b-65d9-4614-966f-c7899b9ab27b"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.Network/locations/westus2/operations/0278c18b-65d9-4614-966f-c7899b9ab27b?api-version=2020-03-01"
        ],
        "x-ms-correlation-request-id": [
          "0592328d-8971-4c9a-9f14-bce0f98deabd"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-arm-service-request-id": [
          "526a2f8a-d3ea-4a82-b0d6-0bfb3397c83d"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1198"
        ],
        "x-ms-routi[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps5276/providers/Microsoft.Network/virtualNetworks/ps5276-vnet?api-version=2019-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"delegations\": [\r\n            {\r\n              \"properties\": {\r\n                \"serviceName\": \"Microsoft.Netapp/volumes\"\r\n              },\r\n              \"name\": \"netAppVolumes\"\r\n            }\r\n          ],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"name\": \"default\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enable[...]
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network/locations/westus2/operations/634eae46-9828-4163-bb20-702e758aba6b?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps8160-vnet\",\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps8160/providers/Microsoft.Network/virtualNetworks/ps8160-vnet\",\r\n  \"etag\": \"W/\\\"65fef0ba-4ffb-4846-94b4-bb43c2a8732f\\\"\",\r\n  \"type\": \"Micro[...]
[...]
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.Network/locations/westus2/operations/0278c18b-65d9-4614-966f-c7899b9ab27b?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11984"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.NetApp/locations/westus2/operationResults/37e5a311-dfee-4385-bbe3-ade5db1408ff?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps8160/providers/Microsoft.NetApp/netAppAccounts/ps6654\",\r\n  \"name\": \"ps6654\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts\",\r\n  \"etag\": \"W/\\\"datetime'2020-04-17T09%3A55%3A40.5241224Z'\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"name\": \"ps6654\",\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/westus2/operationResults/78abb978-703c-4be2-a379-7491ee03df49?api-version=2019-10-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.NetApp.AzureNetAppFilesManagementClient/1.3.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.NetApp.AzureNetAppFilesManagementClient/1.4.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "95906ffe-b94e-4ee5-ae25-df5d1da8e412"
=======
          "75e0357a-4265-4333-bf6a-907329336a4e"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Request-Context": [
          "appId=cid-v1:2c4cb680-0a1f-424d-bb8d-8e650ba68d53"
        ],
        "Access-Control-Expose-Headers": [
          "Request-Context"
        ],
        "Server": [
          "Microsoft-IIS/10.0"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11999"
        ],
        "x-ms-correlation-request-id": [
          "46c4e070-0dc7-42e0-9f56-b114df12b8c3"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200121T120850Z:46c4e070-0dc7-42e0-9f56-b114df12b8c3"
=======
          "11995"
        ],
        "x-ms-correlation-request-id": [
          "17973f99-17a9-47bf-ad15-800e808624a6"
        ],
      [...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps5276/providers/Microsoft.NetApp/netAppAccounts/ps3923?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/westus2/operationResults/78abb978-703c-4be2-a379-7491ee03df49\",\r\n  \"name\": \"78abb978-703c-4be2-a379-7491ee03df49\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-04-17T09:55:40.4627668Z\",\r\n  \"endTime\": \"2020-04-17T09:55:40.5876703Z\",\r\n  \"percentComplete\": 100.0,\r\n  \"properties\": {\r\n    \"resourceName\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps8160/providers/Microsoft.NetApp/netAppAccounts/ps6654\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps5276/providers/Microsoft.NetApp/netAppAccounts/ps3923/capacityPools/ps3071?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps8160/providers/Microsoft.NetApp/netAppAccounts/ps6654\",\r\n  \"name\": \"ps6654\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts\",\r\n  \"etag\": \"W/\\\"datetime'2020-04-17T09%3A55%3A40.5821632Z'\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"name\": \"ps6654\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps8160/providers/Microsoft.NetApp/netAppAccounts/ps6654/capacityPools/ps151?api-version=2019-10-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"size\": 4398046511104,\r\n    \"serviceLevel\": \"Premium\"\r\n  }\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "a116cc0d-2727-40ae-9e15-194a4f69c082"
=======
          "00adab73-4bd9-4c74-a772-16ad92e63f94"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.NetApp.AzureNetApp[...]
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps5276/providers/Microsoft.NetApp/netAppAccounts/ps3923/capacityPools/ps3071/volumes/ps9136?api-version=2019-08-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"creationToken\": \"ps9136\",\r\n    \"serviceLevel\": \"Premium\",\r\n    \"usageThreshold\": 107374182400,\r\n    \"subnetId\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps5276/providers/Microsoft.Network/virtualNetworks/ps5276-vnet/subnets/default\"\r\n  }\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps8160/providers/Microsoft.NetApp/netAppAccounts/ps6654/capacityPools/ps151\",\r\n  \"name\": \"ps6654/ps151\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts/capacityPools\",\r\n  \"etag\": \"W/\\\"datetime'2020-04-17T09%3A56%3A14.4432136Z'\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"poolId\": \"95b91e32-a518-1e0d-dadf-a426933e2ede\",\r\n    \"name\": \"ps6654/ps151\",\r\n    \"serviceLevel\": \"Premium\",\r\n    \"size\": 4398046511104,\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps5276/providers/Microsoft.NetApp/netAppAccounts/ps3923/capacityPools/ps3071/volumes/ps9136/snapshots/ps7830?api-version=2019-08-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"fileSystemId\": \"e5f6178c-718e-f628-9ae5-72fd91517db8\"\r\n  }\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps8160/providers/Microsoft.NetApp/netAppAccounts/ps6654/capacityPools/ps151/volumes/ps7033\",\r\n  \"name\": \"ps6654/ps151/ps7033\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts/capacityPools/volumes\",\r\n  \"etag\": \"W/\\\"datetime'2020-04-17T09%3A59%3A36.213548Z'\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"mountTargets\": [\r\n      {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"mountTargetId\": \"72a7e6a7-73b3-1f4d-3f65-60c40e7aa76d\",\r\n        \"fileSystemId\": \"72a7e6a7-73b3-1f4d-3f65-60c40e7aa76d\",\r\n        \"startIp\": \"10.0.1.4\",\r\n        \"endIp\": \"10.0.1.4\",\r\n        \"gateway\": \"\",\r\n        \"netmask\": \"\",\r\n        \"subnet\": \"\",\r\n        \"ipAddress\": \"10.0.1.4\"\r\n      }\r\n    ],\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"fileSystemId\": \"72a7e6a7-73b3-1f4d-3f65-60c40e7aa76d\",\r\n    \"name\": \"ps7033\",\r\n    \"serviceLevel\": \"Premium\",\r\n    \"creationToken\": \"ps7033\",\r\n    \"usageThreshold\": 107374182400,\r\n    \"usedBytes\": 0,\r\n    \"exportPolicy\": {\r\n      \"rules\": [\r\n        {\r\n          \"ruleIndex\": 1,\r\n          \"unixReadOnly\": false,\r\n          \"unixReadWrite\": true,\r\n          \"cifs\": false,\r\n          \"nfsv3\": true,\r\n          \"nfsv4\": false,\r\n          \"nfsv41\": false,\r\n          \"allowedClients\": \"0.0.0.0/0\"\r\n        }\r\n      ]\r\n    },\r\n    \"protocolTypes\": [\r\n      \"NFSv3\"\r\n    ],\r\n    \"baremetalTenantId\": \"baremetalTenant_svm_955fe00183474412a263ec0f52d2aeeb_1f03e25f\",\r\n    \"subnetId\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps8160/providers/Microsoft.Network/virtualNetworks/ps8160-vnet/subnets/default\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps8160/providers/Microsoft.NetApp/netAppAccounts/ps6654/capacityPools/ps151/volumes/ps7033/snapshots/ps6333?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"fileSystemId\": \"72a7e6a7-73b3-1f4d-3f65-60c40e7aa76d\"\r\n  }\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.NetApp.AzureNetAppFilesManagementClient/1.3.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.NetApp.AzureNetAppFilesManagementClient/1.4.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "114"
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.NetApp/locations/westus2/operationResults/b11584c4-fc30-4ce0-b15d-ae6662fe12e2?api-version=2019-08-01&operationResultResponseType=Location"
        ],
        "x-ms-request-id": [
          "15a3e4cc-da82-4753-ba84-a9bd9c7cebe0"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/provider[...]
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps5276/providers/Microsoft.NetApp/netAppAccounts/ps3923/capacityPools/ps3071/volumes/ps9136/snapshots/ps7830?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps8160/providers/Microsoft.NetApp/netAppAccounts/ps6654/capacityPools/ps151/volumes/ps7033/snapshots/ps6333\",\r\n  \"name\": \"ps6654/ps151/ps7033/ps6333\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts/capacityPools/volumes/snapshots\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"snapshotId\": \"9c70b517-f067-f4be-d4d6-a463edcde5bc\",\r\n    \"fileSystemId\": \"72a7e6a7-73b3-1f4d-3f65-60c40e7aa76d\",\r\n    \"name\": \"ps6333\",\r\n    \"created\": \"2020-04-17T09:59:57Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps5276/providers/Microsoft.NetApp/netAppAccounts/ps3923/capacityPools/ps3071/volumes/ps9136/snapshots?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps8160/providers/Microsoft.NetApp/netAppAccounts/ps6654/capacityPools/ps151/volumes/ps7033/snapshots/ps3021\",\r\n  \"name\": \"ps6654/ps151/ps7033/ps3021\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts/capacityPools/volumes/snapshots\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"snapshotId\": \"5aaf6270-0427-ec81-4b94-a1a0f375ee60\",\r\n    \"fileSystemId\": \"72a7e6a7-73b3-1f4d-3f65-60c40e7aa76d\",\r\n    \"name\": \"ps3021\",\r\n    \"created\": \"2020-04-17T10:00:32Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
[...]
