{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourcegroups/ps9141?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourcegroups/ps7778?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "62e2502c-7707-46ae-99f0-dfc5b5dd2c0c"
=======
          "a7bfbe96-d4bf-44f8-878b-ffc013e5d8c7"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.5"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.11"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "29"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1199"
        ],
        "x-ms-request-id": [
          "704b9463-b7e1-4527-a1a3-17e68d86fe70"
        ],
        "x-ms-correlation-request-id": [
          "704b9463-b7e1-4527-a1a3-17e68d86fe70"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200121T122146Z:704b9463-b7e1-4527-a1a3-17e68d86fe70"
=======
          "1188"
        ],
        "x-ms-request-id": [
          "a1ea3938-c3f4-44c4-bf82-6d92d08c0312"
        ],
        "x-ms-correlation-request-id": [
          "a1ea3938-c3f4-44c4-bf82-6d92d08c0312"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200417T100913Z:a1ea3938-c3f4-44c4-bf82-6d92d08c0312"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 21 Jan 2020 12:21:45 GMT"
=======
          "Fri, 17 Apr 2020 10:09:12 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "166"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps9141\",\r\n  \"name\": \"ps9141\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps9141/providers/Microsoft.Network/virtualNetworks/ps9141-vnet?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps7778\",\r\n  \"name\": \"ps7778\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps7778/providers/Microsoft.Network/virtualNetworks/ps7778-vnet?api-version=2020-03-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "877d755e-0ebf-4bb0-b343-1c035b27530c"
=======
          "921960c8-56b2-4ef6-9d09-cb8afeb0ed54"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.18.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.20.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "f38c3309-4a86-4c00-aaaf-c2dcef047f43"
        ],
        "x-ms-correlation-request-id": [
          "f38c3309-4a86-4c00-aaaf-c2dcef047f43"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200121T122147Z:f38c3309-4a86-4c00-aaaf-c2dcef047f43"
=======
          "13e86ccb-d122-4cd8-9c48-6a93cf164874"
        ],
        "x-ms-correlation-request-id": [
          "13e86ccb-d122-4cd8-9c48-6a93cf164874"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200417T100914Z:13e86ccb-d122-4cd8-9c48-6a93cf164874"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 21 Jan 2020 12:21:46 GMT"
=======
          "Fri, 17 Apr 2020 10:09:14 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "155"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps9141-vnet' under resource group 'ps9141' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps7778/providers/Microsoft.Network/virtualNetworks/ps7778-vnet?api-version=2020-03-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.18.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.20.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "ETag": [
<<<<<<< HEAD
          "W/\"c0597b0a-5dbf-4469-b423-94be55f0bacd\""
        ],
        "x-ms-request-id": [
          "849223b0-deb3-4b6f-9d12-8d90ef79ae5a"
        ],
        "x-ms-correlation-request-id": [
          "9b91d5ef-c24b-46ea-a4c8-072e81ad1d9d"
        ],
        "x-ms-arm-service-request-id": [
          "7c6138cc-6094-49ba-b9aa-02e2a4983d2d"
=======
          "W/\"b551e313-b5fd-4192-8bdc-bb21213c84b3\""
        ],
        "x-ms-request-id": [
          "aaab7fdd-86b4-4ef6-8303-078a7a6b8506"
        ],
        "x-ms-correlation-request-id": [
          "cb4b3932-a937-4d29-83ce-4dc147c09412"
        ],
        "x-ms-arm-service-request-id": [
          "2f515363-ac26-4ef3-b73f-f0ab74e3d9bc"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11996"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200121T122156Z:9b91d5ef-c24b-46ea-a4c8-072e81ad1d9d"
=======
          "11981"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200417T100922Z:cb4b3932-a937-4d29-83ce-4dc147c09412"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 21 Jan 2020 12:21:56 GMT"
=======
          "Fri, 17 Apr 2020 10:09:22 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "642"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"name\": \"ps9141-vnet\",\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps9141/providers/Microsoft.Network/virtualNetworks/ps9141-vnet\",\r\n  \"etag\": \"W/\\\"c0597b0a-5dbf-4469-b423-94be55f0bacd\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"bd6386d2-804a-42ad-ab32-56fc5f32b440\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps9141/providers/Microsoft.Network/virtualNetworks/ps9141-vnet?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps7778-vnet\",\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps7778/providers/Microsoft.Network/virtualNetworks/ps7778-vnet\",\r\n  \"etag\": \"W/\\\"fdc9f83e-f365-4371-9a34-987a72953960\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"c5b91779-f5ab-4aae-b176-2cc51268443c\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"default\",\r\n        \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps7778/providers/Microsoft.Network/virtualNetworks/ps7778-vnet/subnets/default\",\r\n        \"etag\": \"W/\\\"fdc9f83e-f365-4371-9a34-987a72953960\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [\r\n            {\r\n              \"name\": \"netAppVolumes\",\r\n              \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps7778/providers/Microsoft.Network/virtualNetworks/ps7778-vnet/subnets/default/delegations/netAppVolumes\",\r\n              \"etag\": \"W/\\\"fdc9f83e-f365-4371-9a34-987a72953960\\\"\",\r\n              \"properties\": {\r\n                \"provisioningState\": \"Succeeded\",\r\n                \"serviceName\": \"Microsoft.Netapp/volumes\",\r\n                \"actions\": [\r\n                  \"Microsoft.Network/networkinterfaces/*\",\r\n                  \"Microsoft.Network/virtualNetworks/subnets/join/action\"\r\n                ]\r\n              },\r\n              \"type\": \"Microsoft.Network/virtualNetworks/subnets/delegations\"\r\n            }\r\n          ],\r\n          \"purpose\": \"HostedWorkloads\",\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps7778/providers/Microsoft.Network/virtualNetworks/ps7778-vnet?api-version=2020-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.18.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.20.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "235"
=======
          "261"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ]
<<<<<<< HEAD
          "e89248d2-96b1-489b-94e3-594c415160a5"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network/locations/westus2/operations/e89248d2-96b1-489b-94e3-594c415160a5?api-version=2019-11-01"
        ],
        "x-ms-correlation-request-id": [
          "0635f7ae-6fc8-44fe-a95c-de19b8926ac3"
        ],
        "x-ms-arm-service-request-id": [
          "2a215b47-8735-4e74-81d7-0c5023bd1baf"
=======
          "e052abcb-7ccb-4fea-b720-5ac07d6f9401"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.Network/locations/westus2/operations/e052abcb-7ccb-4fea-b720-5ac07d6f9401?api-version=2020-03-01"
        ],
        "x-ms-correlation-request-id": [
          "53a5853e-067d-4781-8f39-b922aa576cc9"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-arm-service-request-id": [
          "f2dc1614-ba80-488c-b037-1bbe1bf6fa8e"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1198"
        ],
        "x-ms-routi[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps9141/providers/Microsoft.Network/virtualNetworks/ps9141-vnet?api-version=2019-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"delegations\": [\r\n            {\r\n              \"properties\": {\r\n                \"serviceName\": \"Microsoft.Netapp/volumes\"\r\n              },\r\n              \"name\": \"netAppVolumes\"\r\n            }\r\n          ],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"name\": \"default\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enable[...]
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network/locations/westus2/operations/e89248d2-96b1-489b-94e3-594c415160a5?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps7778-vnet\",\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps7778/providers/Microsoft.Network/virtualNetworks/ps7778-vnet\",\r\n  \"etag\": \"W/\\\"965a1926-61f7-46f4-b531-c24ca50bf78c\\\"\",\r\n  \"type\": \"Micro[...]
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.NetApp/locations/westus2/operationResults/70eca68d-d3bd-479b-a601-d874f3d059bf?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps7778/providers/Microsoft.NetApp/netAppAccounts/ps6522\",\r\n  \"name\": \"ps6522\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts\",\r\n  \"etag\": \"W/\\\"datetime'2020-04-17T10%3A09%3A33.3147854Z'\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"name\": \"ps6522\",\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/westus2/operationResults/d3519ebe-317b-4508-b510-85ddb3f7348d?api-version=2019-10-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.NetApp.AzureNetAppFilesManagementClient/1.3.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.NetApp.AzureNetAppFilesManagementClient/1.4.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "b87db917-4cd8-4f8a-a70c-d71c00053880"
=======
          "ef42f7a1-6877-4994-8664-2e26e55d9c5a"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Request-Context": [
          "appId=cid-v1:2c4cb680-0a1f-424d-bb8d-8e650ba68d53"
        ],
        "Access-Control-Expose-Headers": [
          "Request-Context"
        ],
        "Server": [
          "Microsoft-IIS/10.0"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11995"
        ],
        "x-ms-correlation-request-id": [
          "d03ac920-bf89-4d1d-a03b-80802aecbd2a"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200121T122239Z:d03ac920-bf89-4d1d-a03b-80802aecbd2a"
=======
          "11984"
        ],
        "x-ms-correlation-request-id": [
          "3de86155-6fbf-4d00-913f-8a593001b85c"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200417T101004Z:3de86155-6fbf-4d00-913f-8a593001b85c"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 21 Jan 2020 12:22:38 GMT"
=======
          "Fri, 17 Apr 2020 10:10:04 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "489"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.NetApp/locations/westus2/operationResults/70eca68d-d3bd-479b-a601-d874f3d059bf\",\r\n  \"name\": \"70eca68d-d3bd-479b-a601-d874f3d059bf\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-01-21T12:22:08.1918842Z\",\r\n  \"endTime\": \"2020-01-21T12:22:08.4887579Z\",\r\n  \"percentComplete\": 100.0,\r\n  \"properties\": {\r\n    \"resourceName\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps9141/providers/Microsoft.NetApp/netAppAccounts/ps3247\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps9141/providers/Microsoft.NetApp/netAppAccounts/ps3247?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/westus2/operationResults/d3519ebe-317b-4508-b510-85ddb3f7348d\",\r\n  \"name\": \"d3519ebe-317b-4508-b510-85ddb3f7348d\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-04-17T10:09:33.2436156Z\",\r\n  \"endTime\": \"2020-04-17T10:09:33.3998855Z\",\r\n  \"percentComplete\": 100.0,\r\n  \"properties\": {\r\n    \"resourceName\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps7778/providers/Microsoft.NetApp/netAppAccounts/ps6522\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps9141/providers/Microsoft.NetApp/netAppAccounts/ps3247/capacityPools/ps52?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps7778/providers/Microsoft.NetApp/netAppAccounts/ps6522\",\r\n  \"name\": \"ps6522\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts\",\r\n  \"etag\": \"W/\\\"datetime'2020-04-17T10%3A09%3A33.4018468Z'\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"name\": \"ps6522\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps7778/providers/Microsoft.NetApp/netAppAccounts/ps6522/capacityPools/ps1162?api-version=2019-10-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"size\": 4398046511104,\r\n    \"serviceLevel\": \"Premium\"\r\n  }\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "d84b4cea-06dd-40ca-b4bc-12c664238e7b"
=======
          "a827e21d-3543-468a-96d0-1884c2265326"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.NetApp.AzureNetApp[...]
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps9141/providers/Microsoft.NetApp/netAppAccounts/ps3247/capacityPools/ps52/volumes/ps2616?api-version=2019-08-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"creationToken\": \"ps2616\",\r\n    \"serviceLevel\": \"Premium\",\r\n    \"usageThreshold\": 107374182400,\r\n    \"subnetId\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps9141/providers/Microsoft.Network/virtualNetworks/ps9141-vnet/subnets/default\"\r\n  }\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps7778/providers/Microsoft.NetApp/netAppAccounts/ps6522/capacityPools/ps1162\",\r\n  \"name\": \"ps6522/ps1162\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts/capacityPools\",\r\n  \"etag\": \"W/\\\"datetime'2020-04-17T10%3A10%3A07.7373175Z'\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"poolId\": \"f64ee8f6-dc21-4b92-42db-b816cc9e7c9a\",\r\n    \"name\": \"ps6522/ps1162\",\r\n    \"serviceLevel\": \"Premium\",\r\n    \"size\": 4398046511104,\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps9141/providers/Microsoft.NetApp/netAppAccounts/ps3247/capacityPools/ps52/volumes/ps2616?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps7778/providers/Microsoft.NetApp/netAppAccounts/ps6522/capacityPools/ps1162/volumes/ps5536\",\r\n  \"name\": \"ps6522/ps1162/ps5536\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts/capacityPools/volumes\",\r\n  \"etag\": \"W/\\\"datetime'2020-04-17T10%3A13%3A50.0182128Z'\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"mountTargets\": [\r\n      {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"mountTargetId\": \"fe72b587-ea66-7f2e-c4fc-eb5f8a107cbf\",\r\n        \"fileSystemId\": \"fe72b587-ea66-7f2e-c4fc-eb5f8a107cbf\",\r\n        \"startIp\": \"10.0.1.4\",\r\n        \"endIp\": \"10.0.1.4\",\r\n        \"gateway\": \"\",\r\n        \"netmask\": \"\",\r\n        \"subnet\": \"\",\r\n        \"ipAddress\": \"10.0.1.4\"\r\n      }\r\n    ],\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"fileSystemId\": \"fe72b587-ea66-7f2e-c4fc-eb5f8a107cbf\",\r\n    \"name\": \"ps5536\",\r\n    \"serviceLevel\": \"Premium\",\r\n    \"creationToken\": \"ps5536\",\r\n    \"usageThreshold\": 107374182400,\r\n    \"usedBytes\": 0,\r\n    \"exportPolicy\": {\r\n      \"rules\": [\r\n        {\r\n          \"ruleIndex\": 1,\r\n          \"unixReadOnly\": false,\r\n          \"unixReadWrite\": true,\r\n          \"cifs\": false,\r\n          \"nfsv3\": true,\r\n          \"nfsv4\": false,\r\n          \"nfsv41\": false,\r\n          \"allowedClients\": \"0.0.0.0/0\"\r\n        }\r\n      ]\r\n    },\r\n    \"protocolTypes\": [\r\n      \"NFSv3\"\r\n    ],\r\n    \"baremetalTenantId\": \"baremetalTenant_svm_955fe00183474412a263ec0f52d2aeeb_495aed9a\",\r\n    \"subnetId\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps7778/providers/Microsoft.Network/virtualNetworks/ps7778-vnet/subnets/default\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps9141/providers/Microsoft.NetApp/netAppAccounts/ps3247/capacityPools/ps52/volumes/ps2616/snapshots/ps2705?api-version=2019-08-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"fileSystemId\": \"5873e55a-cf31-8b8c-bd7d-2a7b9c6331f6\"\r\n  }\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscripti[...]
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps7778/providers/Microsoft.NetApp/netAppAccounts/ps6522/capacityPools/ps1162/volumes/ps5536/snapshots/ps8096?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"fileSystemId\": \"fe72b587-ea66-7f2e-c4fc-eb5f8a107cbf\"\r\n  }\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.NetApp.AzureNetAppFilesManagementClient/1.3.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.NetApp.AzureNetAppFilesManagementClient/1.4.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "114"
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.NetApp/locations/westus2/operationResults/3a675461-50cb-43be-9f49-392ce58e6e5e?api-version=2019-08-01&operationResultResponseType=Location"
        ],
        "x-ms-request-id": [
          "ce2c23c9-f30d-42da-887f-975e3ebebea4"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/provider[...]
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps9141/providers/Microsoft.NetApp/netAppAccounts/ps3247/capacityPools/ps52/volumes/ps2616/snapshots/ps2705?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps7778/providers/Microsoft.NetApp/netAppAccounts/ps6522/capacityPools/ps1162/volumes/ps5536/snapshots/ps8096\",\r\n  \"name\": \"ps6522/ps1162/ps5536/ps8096\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts/capacityPools/volumes/snapshots\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"snapshotId\": \"5a89ac9c-a178-2497-20b9-fc551f6298da\",\r\n    \"fileSystemId\": \"fe72b587-ea66-7f2e-c4fc-eb5f8a107cbf\",\r\n    \"name\": \"ps8096\",\r\n    \"created\": \"2020-04-17T10:14:01Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
[...]
