{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27?api-version=2019-08-01",
=======
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27?api-version=2020-03-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "6b749273-62f5-40f0-b372-ec25f711e6a4"
=======
          "f1d6be21-d27f-4dbd-8dd7-f062b28399d5"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.CosmosDB.CosmosDBManagementClient/1.0.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.CosmosDB.CosmosDBManagementClient/1.1.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-gatewayversion": [
<<<<<<< HEAD
          "version=2.9.2"
=======
          "version=2.10.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "c8e80f3a-b868-4c73-a1bc-73b1e7501e9a"
        ],
        "x-ms-correlation-request-id": [
          "c8e80f3a-b868-4c73-a1bc-73b1e7501e9a"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200116T215422Z:c8e80f3a-b868-4c73-a1bc-73b1e7501e9a"
=======
          "819607c8-c762-4300-a66f-585e67b3cd9c"
        ],
        "x-ms-correlation-request-id": [
          "819607c8-c762-4300-a66f-585e67b3cd9c"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200409T002924Z:819607c8-c762-4300-a66f-585e67b3cd9c"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Thu, 16 Jan 2020 21:54:22 GMT"
        ],
        "Content-Length": [
          "1722"
=======
          "Thu, 09 Apr 2020 00:29:24 GMT"
        ],
        "Content-Length": [
          "1883"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json"
        ],
        "Content-Location": [
<<<<<<< HEAD
          "https://management.documents.azure.com:450/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27?api-version=2019-08-01"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27\",\r\n  \"name\": \"dbaccount27\",\r\n  \"location\": \"East US\",\r\n  \"type\": \"Microsoft.DocumentDB/databaseAccounts\",\r\n  \"kind\": \"GlobalDocumentDB\",\r\n  \"tags\": {\r\n    \"Shape\": \"Square\",\r\n    \"name\": \"test\",\r\n    \"Color\": \"Blue\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"documentEndpoint\": \"https://dbaccount27.documents.azure.com:443/\",\r\n    \"ipRangeFilter\": \"192.168.0.1\",\r\n    \"enableAutomaticFailover\": true,\r\n    \"enableMultipleWriteLocations\": false,\r\n    \"enablePartitionKeyMonitor\": false,\r\n    \"isVirtualNetworkFilterEnabled\": true,\r\n    \"virtualNetworkRules\": [],\r\n    \"EnabledApiTypes\": \"Sql\",\r\n    \"disableKeyBasedMetadataWriteAccess\": false,\r\n    \"databaseAccountOfferType\": \"Standard\",\r\n    \"enableCassandraConnector\": false,\r\n    \"connectorOffer\": \"\",\r\n    \"consistencyPolicy\": {\r\n      \"defaultConsistencyLevel\": \"BoundedStaleness\",\r\n      \"maxIntervalInSeconds\": 10,\r\n      \"maxStalenessPrefix\": 20\r\n    },\r\n    \"configurationOverrides\": {},\r\n    \"writeLocations\": [\r\n      {\r\n        \"id\": \"dbaccount27-eastus\",\r\n        \"locationName\": \"East US\",\r\n        \"documentEndpoint\": \"https://dbaccount27-eastus.documents.azure.com:443/\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"failoverPriority\": 0,\r\n        \"isZoneRedundant\": false\r\n      }\r\n    ],\r\n    \"readLocations\": [\r\n      {\r\n        \"id\": \"dbaccount27-eastus\",\r\n        \"locationName\": \"East US\",\r\n        \"documentEndpoint\": \"https://dbaccount27-eastus.documents.azure.com:443/\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"failoverPriority\": 0,\r\n        \"isZoneRedundant\": false\r\n      }\r\n    ],\r\n    \"locations\": [\r\n      {\r\n        \"id\": \"dbaccount27-eastus\",\r\n        \"locationName\": \"East US\",\r\n        \"documentEndpoint\": \"https://dbaccount27-eastus.documents.azure.com:443/\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"failoverPriority\": 0,\r\n        \"isZoneRedundant\": false\r\n      }\r\n    ],\r\n    \"failoverPolicies\": [\r\n      {\r\n        \"id\": \"dbaccount27-eastus\",\r\n        \"locationName\": \"East US\",\r\n        \"failoverPriority\": 0\r\n      }\r\n    ],\r\n    \"cors\": [],\r\n    \"capabilities\": []\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27?api-version=2019-08-01",
=======
          "https://management.documents.azure.com:450/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27?api-version=2020-03-01"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27\",\r\n  \"name\": \"dbaccount27\",\r\n  \"location\": \"East US 2\",\r\n  \"type\": \"Microsoft.DocumentDB/databaseAccounts\",\r\n  \"kind\": \"GlobalDocumentDB\",\r\n  \"tags\": {\r\n    \"defaultExperience\": \"Core (SQL)\",\r\n    \"hidden-cosmos-mmspecial\": \"\",\r\n    \"CosmosAccountType\": \"Non-Production\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"documentEndpoint\": \"https://dbaccount27.documents.azure.com:443/\",\r\n    \"ipRangeFilter\": \"\",\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"enableAutomaticFailover\": false,\r\n    \"enableMultipleWriteLocations\": false,\r\n    \"enablePartitionKeyMonitor\": false,\r\n    \"isVirtualNetworkFilterEnabled\": false,\r\n    \"virtualNetworkRules\": [],\r\n    \"EnabledApiTypes\": \"Sql\",\r\n    \"disableKeyBasedMetadataWriteAccess\": false,\r\n    \"enableFreeTier\": false,\r\n    \"apiProperties\": null,\r\n    \"databaseAccountOfferType\": \"Standard\",\r\n    \"enableCassandraConnector\": false,\r\n    \"connectorOffer\": \"\",\r\n    \"consistencyPolicy\": {\r\n      \"defaultConsistencyLevel\": \"Session\",\r\n      \"maxIntervalInSeconds\": 5,\r\n      \"maxStalenessPrefix\": 100\r\n    },\r\n    \"configurationOverrides\": {},\r\n    \"writeLocations\": [\r\n      {\r\n        \"id\": \"dbaccount27-eastus2\",\r\n        \"locationName\": \"East US 2\",\r\n        \"documentEndpoint\[...]
[...]
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/providers/Microsoft.DocumentDB/locations/eastus2/operationsStatus/5840f359-b27e-4496-8a2b-032ef8deca6a?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-gatewayversion": [
          "version=2.10.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json"
        ],
        "Content-Location": [
          "https://management.documents.azure.com:450/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/providers/Microsoft.DocumentDB/locations/eastus2/operationsStatus/5840f359-b27e-4496-8a2b-032ef8deca6a?api-version=2020-03-01"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Dequeued\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27/listKeys?api-version=2019-08-01",
=======
          "https://management.documents.azure.com:450/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/providers/Microsoft.DocumentDB/locations/eastus2/operationsStatus/5840f359-b27e-4496-8a2b-032ef8deca6a?api-version=2020-03-01"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Dequeued\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27/listKeys?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"primaryMasterKey\": \"ycq8t9V3xypTevBarIQyctGrZdN6HaozmMHPhCMQT0HV8zBNEuMvWi8BnB1GhXQ8gnOLPPzjKFoxRsxRAo7FHw==\",\r\n  \"secondaryMasterKey\": \"EGdsAQOT3bBMpnrBBv8fZnuFxmuQMWjroEioT8V1RoXNnZVKY6AgKvbHVvqcaJ5HSNCyRbuQc7sZ43qSM9ppfQ==\",\r\n  \"primaryReadonlyMasterKey\": \"Mq8XV3dSU1I5IlVcByQAENA5H2EytfuEwDcPwgs6VtLkQE3O4XOJuVa7MEW1l2qlbBJ1yARnkYYcQ42PQjJrWA==\",\r\n  \"secondaryReadonlyMasterKey\": \"GVgcFgl0s0emp5ggUocypbiKHV253gzE88ylCb3P8Hb9hs3vZ97q65hva99PebdZsyXPk66uZLqRhxfY0Nj2gQ==\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27/listConnectionStrings?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"primaryMasterKey\": \"ycq8t9V3xypTevBarIQyctGrZdN6HaozmMHPhCMQT0HV8zBNEuMvWi8BnB1GhXQ8gnOLPPzjKFoxRsxRAo7FHw==\",\r\n  \"secondaryMasterKey\": \"EGdsAQOT3bBMpnrBBv8fZnuFxmuQMWjroEioT8V1RoXNnZVKY6AgKvbHVvqcaJ5HSNCyRbuQc7sZ43qSM9ppfQ==\",\r\n  \"primaryReadonlyMasterKey\": \"jlW8SEhWZ8WkBOIw0lILSWiUqfO6177N31F3fbbw4YaYww8cNc9WW9nn83OIpoc9bS6cxdBRV4mUlQ5VLW1xtA==\",\r\n  \"secondaryReadonlyMasterKey\": \"GVgcFgl0s0emp5ggUocypbiKHV253gzE88ylCb3P8Hb9hs3vZ97q65hva99PebdZsyXPk66uZLqRhxfY0Nj2gQ==\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27/readonlykeys?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"connectionStrings\": [\r\n    {\r\n      \"connectionString\": \"AccountEndpoint=https://dbaccount27.documents.azure.com:443/;AccountKey=ycq8t9V3xypTevBarIQyctGrZdN6HaozmMHPhCMQT0HV8zBNEuMvWi8BnB1GhXQ8gnOLPPzjKFoxRsxRAo7FHw==;\",\r\n      \"description\": \"Primary SQL Connection String\"\r\n    },\r\n    {\r\n      \"connectionString\": \"AccountEndpoint=https://dbaccount27.documents.azure.com:443/;AccountKey=EGdsAQOT3bBMpnrBBv8fZnuFxmuQMWjroEioT8V1RoXNnZVKY6AgKvbHVvqcaJ5HSNCyRbuQc7sZ43qSM9ppfQ==;\",\r\n      \"description\": \"Secondary SQL Connection String\"\r\n    },\r\n    {\r\n      \"connectionString\": \"AccountEndpoint=https://dbaccount27.documents.azure.com:443/;AccountKey=Mq8XV3dSU1I5IlVcByQAENA5H2EytfuEwDcPwgs6VtLkQE3O4XOJuVa7MEW1l2qlbBJ1yARnkYYcQ42PQjJrWA==;\",\r\n      \"description\": \"Primary Read-Only SQL Connection String\"\r\n    },\r\n    {\r\n      \"connectionString\": \"AccountEndpoint=https://dbaccount27.documents.azure.com:443/;AccountKey=GVgcFgl0s0emp5ggUocypbiKHV253gzE88ylCb3P8Hb9hs3vZ97q65hva99PebdZsyXPk66uZLqRhxfY0Nj2gQ==;\",\r\n      \"description\": \"Secondary Read-Only SQL Connection String\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27/regenerateKey?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"primaryReadonlyMasterKey\": \"Mq8XV3dSU1I5IlVcByQAENA5H2EytfuEwDcPwgs6VtLkQE3O4XOJuVa7MEW1l2qlbBJ1yARnkYYcQ42PQjJrWA==\",\r\n  \"secondaryReadonlyMasterKey\": \"GVgcFgl0s0emp5ggUocypbiKHV253gzE88ylCb3P8Hb9hs3vZ97q65hva99PebdZsyXPk66uZLqRhxfY0Nj2gQ==\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27/regenerateKey?api-version=2020-03-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"keyKind\": \"primaryReadonly\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "ae2e2934-16ea-477b-92b3-38f4b851fa50"
=======
          "8de91e2b-15f9-4830-8074-ce695c994752"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.CosmosDB.CosmosDBManagementClient/1.0.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.CosmosDB.CosmosDBManagementClient/1.1.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "36"
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27/regenerateKey/operationResults/200a0516-fb4a-4a73-91cb-ef934da5f3ef?api-version=2019-08-01"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/200a0516-fb4a-4a73-91cb-ef934da5f3ef?api-version=2019-08-01"
        ],
        "x-ms-request-id": [
          "200a0516-fb4a-4a73-91cb-ef934da5f3ef"
=======
          "https://management.azure.com/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27/regenerateKey/operationResults/83b1a8fb-28fd-488a-8882-a34af564931c?api-version=2020-03-01"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/providers/Microsoft.DocumentDB/locations/eastus2/operationsStatus/83b1a8fb-28fd-488a-8882-a34af564931c?api-version=2020-03-01"
        ],
        "x-ms-request-id": [
          "83b1a8fb-28fd-488a-8882-a34af564931c"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-gatewayversion": [
<<<<<<< HEAD
          "version=2.9.2"
=======
          "version=2.10.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "cfd36e46-6dbe-4a16-837e-5b83ac5c14e2"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200116T215427Z:cfd36e46-6dbe-4a16-837e-5b83ac5c14e2"
=======
          "e859933b-6e3f-4055-acea-7b4254ba058f"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200409T003132Z:e859933b-6e3f-4055-acea-7b4254ba058f"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Thu, 16 Jan 2020 21:54:27 GMT"
        ],
        "Content-Length": [
          "32"
=======
          "Thu, 09 Apr 2020 00:31:32 GMT"
        ],
        "Content-Length": [
          "21"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"status\": \"Enqueued\",\r\n  \"error\": {}\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/200a0516-fb4a-4a73-91cb-ef934da5f3ef?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"status\": \"Enqueued\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/CosmosDBResourceGroup27/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount27/regenerateKey/operationResults/200a0516-fb4a-4a73-91cb-ef934da5f3ef?api-version=2019-08-01",
=======
          "https://management.documents.azure.com:450/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/providers/Microsoft.DocumentDB/locations/eastus2/operationsStatus/83b1a8fb-28fd-488a-8882-a34af564931c?api-version=2020-03-01"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/providers/Microsoft.DocumentDB/operationResults/f510f09f-da41-4c94-af9b-95d1b576e3c9?api-version=2019-08-01",
=======
          "https://management.documents.azure.com:450/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/providers/Microsoft.DocumentDB/locations/eastus2/operationsStatus/23383661-2506-4ece-bf53-a150184fb304?api-version=2020-03-01"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
[...]
