{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/Microsoft.Authorization/policyAssignments/147b065f2a0f409ca31325c7/providers/Microsoft.PolicyInsights/policyStates/latest/summarize?api-version=2019-10-01&$top=10",
=======
      "RequestUri": "/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/resourcegroups/cheggpolicy/providers/Microsoft.Authorization/policyAssignments/8a4555d353ed46bb856e9890/providers/Microsoft.PolicyInsights/policyStates/latest/summarize?api-version=2019-10-01&$top=10",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "4bb6a4f8-e944-409a-891d-97e29abbd6ca"
=======
          "71045b37-c277-4350-ac7d-8b2122b75335"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.PolicyInsights.PolicyInsightsClient/3.0.0.0"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.PolicyInsights.PolicyInsightsClient/3.1.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
<<<<<<< HEAD
          "599"
        ],
        "x-ms-request-id": [
          ":a4468da9-d899-4528-a4be-a086df4086e4"
=======
          "597"
        ],
        "x-ms-request-id": [
          ":2943fd7d-2efd-4524-8822-f5e6e8aa27a2"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "b17e7da5-a3fa-4460-98b7-13b0dba190c4"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20191209T193353Z:b17e7da5-a3fa-4460-98b7-13b0dba190c4"
=======
          "84a44847-57e1-443a-906a-ce7d088a5ad9"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200331T020542Z:84a44847-57e1-443a-906a-ce7d088a5ad9"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 09 Dec 2019 19:33:53 GMT"
        ],
        "Content-Length": [
          "4238"
=======
          "Tue, 31 Mar 2020 02:05:41 GMT"
        ],
        "Content-Length": [
          "5699"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/Microsoft.Authorization/policyAssignments/147b065f2a0f409ca31325c7/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary\",\r\n  \"@odata.count\": 1,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/Microsoft.Authorization/policyAssignments/147b065f2a0f409ca31325c7/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary/$entity\",\r\n      \"results\": {\r\n        \"queryResultsUri\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/Microsoft.Authorization/policyAssignments/147b065f2a0f409ca31325c7/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-12-08 19:33:53Z&$to=2019-12-09 19:33:53Z\",\r\n        \"nonCompliantResources\": 1,\r\n        \"nonCompliantPolicies\": 1,\r\n        \"resourceDetails\": [\r\n          {\r\n            \"complianceState\": \"noncompliant\",\r\n            \"count\": 1\r\n          }\r\n        ],\r\n        \"policyDetails\": [\r\n          {\r\n            \"complianceState\": \"noncompliant\",\r\n            \"count\": 1\r\n          }\r\n        ],\r\n        \"policyGroupDetails\": [\r\n          {\r\n            \"complianceState\": \"noncompliant\",\r\n            \"count\": 1\r\n          }\r\n        ]\r\n      },\r\n      \"policyAssignments\": [\r\n        {\r\n          \"policyAssignmentId\": \"/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/microsoft.authorization/policyassignments/147b065f2a0f409ca31325c7\",\r\n          \"policySetDefinitionId\": \"\",\r\n          \"results\": {\r\n            \"queryResultsUri\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/Microsoft.Authorization/policyAssignments/147b065f2a0f409ca31325c7/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-12-08 19:33:53Z&$to=2019-12-09 19:33:53Z and PolicyAssignmentId eq '/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/microsoft.authorization/policyassignments/147b065f2a0f409ca31325c7'\",\r\n            \"nonCompliantResources\": 1,\r\n            \"nonCompliantPolicies\": 1,\r\n            \"resourceDetails\": [\r\n              {\r\n                \"complianceState\": \"noncompliant\",\r\n                \"count\": 1\r\n              }\r\n            ],\r\n            \"policyDetails\": [\r\n              {\r\n                \"complianceState\": \"noncompliant\",\r\n                \"count\": 1\r\n              }\r\n            ],\r\n            \"policyGroupDetails\": [\r\n              {\r\n                \"complianceState\": \"noncompliant\",\r\n                \"count\": 1\r\n              }\r\n            ]\r\n          },\r\n          \"policyDefinitions\": [\r\n            {\r\n              \"policyDefinitionGroupNames\": [\r\n                \"\"\r\n              ],\r\n              \"policyDefinitionReferenceId\": \"\",\r\n              \"policyDefinitionId\": \"/providers/microsoft.authorization/policydefinitions/b607c5de-e7d9-4eee-9e5c-83f1bcee4fa0\",\r\n              \"effect\": \"auditifnotexists\",\r\n              \"results\": {\r\n                \"queryResultsUri\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/Microsoft.Authorization/policyAssignments/147b065f2a0f409ca31325c7/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-12-08 19:33:53Z&$to=2019-12-09 19:33:53Z and PolicyAssignmentId eq '/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/microsoft.authorization/policyassignments/147b065f2a0f409ca31325c7' and PolicyDefinitionId eq '/providers/microsoft.authorization/policydefinitions/b607c5de-e7d9-4eee-9e5c-83f1bcee4fa0'\",\r\n                \"nonCompliantResources\": 1,\r\n                \"resourceDetails\": [\r\n                  {\r\n                    \"complianceState\": \"noncompliant\",\r\n                    \"count\": 1\r\n                  }\r\n                ],\r\n                \"policyDetails\": [\r\n                  {\r\n                    \"complianceState\": \"noncompliant\",\r\n                    \"count\": 1\r\n                  }\r\n                ],\r\n                \"policyGroupDetails\": [\r\n                  {\r\n                    \"complianceState\": \"noncompliant\",\r\n                    \"count\": 1\r\n                  }\r\n                ]\r\n              }\r\n            }\r\n          ],\r\n          \"policyGroups\": [\r\n            {\r\n              \"policyGroupName\": \"\",\r\n              \"results\": {\r\n                \"queryResultsUri\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/Microsoft.Authorization/policyAssignments/147b065f2a0f409ca31325c7/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-12-08 19:33:53Z&$to=2019-12-09 19:33:53Z and PolicyAssignmentId eq '/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegr[...]
