{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "//subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/Microsoft.KeyVault/vaults/kv12-cleanupservice/providers/Microsoft.PolicyInsights/policyStates/latest/summarize?api-version=2019-10-01&$top=10&$from=2019-12-01T00%3A00%3A00Z",
=======
      "RequestUri": "//subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/resourcegroups/cheggpolicy/providers/microsoft.keyvault/vaults/cheggkv/providers/Microsoft.PolicyInsights/policyStates/latest/summarize?api-version=2019-10-01&$top=10&$from=2020-03-24T00%3A00%3A00Z",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "bedbe374-019b-44e9-9ee3-8b71fb1124cf"
=======
          "b27ba8e6-a117-402e-a9e6-c179183d7013"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.PolicyInsights.PolicyInsightsClient/3.0.0.0"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.PolicyInsights.PolicyInsightsClient/3.1.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
<<<<<<< HEAD
          "599"
        ],
        "x-ms-request-id": [
          ":69ccfcef-b738-4a33-92cf-d96a1c67c997"
=======
          "597"
        ],
        "x-ms-request-id": [
          ":0116a81b-2f45-4c74-a91f-c2babbd23985"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11998"
        ],
        "x-ms-correlation-request-id": [
          "d3b39b91-b3e6-4851-848f-efd10bb3f271"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20191210T000851Z:d3b39b91-b3e6-4851-848f-efd10bb3f271"
=======
          "11999"
        ],
        "x-ms-correlation-request-id": [
          "e4f98b56-f8e2-4e24-bef1-24992c26eeb9"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200331T020553Z:e4f98b56-f8e2-4e24-bef1-24992c26eeb9"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 10 Dec 2019 00:08:50 GMT"
        ],
        "Content-Length": [
          "49553"
=======
          "Tue, 31 Mar 2020 02:05:53 GMT"
        ],
        "Content-Length": [
          "32008"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/Microsoft.KeyVault/vaults/kv12-cleanupservice/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary\",\r\n  \"@odata.count\": 1,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/Microsoft.KeyVault/vaults/kv12-cleanupservice/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary/$entity\",\r\n      \"results\": {\r\n        \"queryResultsUri\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/Microsoft.KeyVault/vaults/kv12-cleanupservice/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-12-01 00:00:00Z&$to=2019-12-10 00:08:50Z\",\r\n        \"nonCompliantResources\": 1,\r\n        \"nonCompliantPolicies\": 12,\r\n        \"resourceDetails\": [\r\n          {\r\n            \"complianceState\": \"noncompliant\",\r\n            \"count\": 1\r\n          }\r\n        ],\r\n        \"policyDetails\": [\r\n          {\r\n            \"complianceState\": \"compliant\",\r\n            \"count\": 4\r\n          },\r\n          {\r\n            \"complianceState\": \"noncompliant\",\r\n            \"count\": 12\r\n          }\r\n        ],\r\n        \"policyGroupDetails\": [\r\n          {\r\n            \"complianceState\": \"compliant\",\r\n            \"count\": 4\r\n          },\r\n          {\r\n            \"complianceState\": \"noncompliant\",\r\n            \"count\": 12\r\n          }\r\n        ]\r\n      },\r\n      \"policyAssignments\": [\r\n        {\r\n          \"policyAssignmentId\": \"/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/providers/microsoft.authorization/policyassignments/location-lock\",\r\n          \"policySetDefinitionId\": \"\",\r\n          \"results\": {\r\n            \"queryResultsUri\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/Microsoft.KeyVault/vaults/kv12-cleanupservice/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-12-01 00:00:00Z&$to=2019-12-10 00:08:50Z and PolicyAssignmentId eq '/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/providers/microsoft.authorization/policyassignments/location-lock'\",\r\n            \"nonCompliantResources\": 0,\r\n            \"nonCompliantPolicies\": 0,\r\n            \"resourceDetails\": [\r\n              {\r\n                \"complianceState\": \"compliant\",\r\n                \"count\": 1\r\n              }\r\n            ],\r\n            \"policyDetails\": [\r\n              {\r\n                \"complianceState\": \"compliant\",\r\n                \"count\": 1\r\n              }\r\n            ],\r\n            \"policyGroupDetails\": [\r\n              {\r\n                \"complianceState\": \"compliant\",\r\n                \"count\": 1\r\n              }\r\n            ]\r\n          },\r\n          \"policyDefinitions\": [\r\n            {\r\n              \"policyDefinitionGroupNames\": [\r\n                \"\"\r\n              ],\r\n              \"policyDefinitionReferenceId\": \"\",\r\n              \"policyDefinitionId\": \"/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/providers/microsoft.authorization/policydefinitions/policy2\",\r\n              \"effect\": \"deny\",\r\n              \"results\": {\r\n                \"queryResultsUri\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/Microsoft.KeyVault/vaults/kv12-cleanupservice/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-12-01 00:00:00Z&$to=2019-12-10 00:08:50Z and PolicyAssignmentId eq '/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/providers/microsoft.authorization/policyassignments/location-lock' and PolicyDefinitionId eq '/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/providers/microsoft.authorization/policydefinitions/policy2'\",\r\n                \"nonCompliantResources\": 0,\r\n                \"resourceDetails\": [\r\n                  {\r\n                    \"complianceState\": \"compliant\",\r\n                    \"count\": 1\r\n                  }\r\n                ],\r\n                \"policyDetails\": [\r\n                  {\r\n                    \"complianceState\": \"compliant\",\r\n                    \"count\": 1\r\n                  }\r\n                ],\r\n                \"policyGroupDetails\": [\r\n                  {\r\n                    \"complianceState\": \"compliant\",\r\n                    \"count\": 1\r\n                  }\r\n                ]\r\n              }\r\n            }\r\n          ],\r\n          \"policyGroups\": [\r\n            {\r\n              \"policyGroupName\": \"\",\r\n              \"results\": {\r\n                \"queryResultsUri\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/Microsoft.KeyVault/vaults/kv12-cleanupservice/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-12-01 00:00:00Z&$to=2019-12-10 00:08:50Z and PolicyAssignmentId eq '/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/providers/microsoft.authorizati[...]
