{
  "Entries": [
    {
      "RequestUri": "/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/providers/Microsoft.Batch?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "2bb06bfb-5918-4fec-aad5-cc435ebaac94"
=======
          "dc152340-2d12-49af-87d2-80b2b4c619ec"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.2"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.11"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
<<<<<<< HEAD
          "0f2a984e-792d-45ab-ae67-ca464102748a"
        ],
        "x-ms-correlation-request-id": [
          "0f2a984e-792d-45ab-ae67-ca464102748a"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190906T222127Z:0f2a984e-792d-45ab-ae67-ca464102748a"
=======
          "604868f7-8ba2-4682-80a4-2c9c1f986150"
        ],
        "x-ms-correlation-request-id": [
          "604868f7-8ba2-4682-80a4-2c9c1f986150"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200417T181939Z:604868f7-8ba2-4682-80a4-2c9c1f986150"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 06 Sep 2019 22:21:27 GMT"
=======
          "Fri, 17 Apr 2020 18:19:38 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "3862"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/providers/Microsoft.Batch\",\r\n  \"namespace\": \"Microsoft.Batch\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"ddbf3205-c6bd-46ae-8127-60eb93363864\",\r\n    \"roleDefinitionId\": \"b7f84953-1d03-4eab-9ea4-45f065258ff8\"\r\n  },\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"batchAccounts\",\r\n      \"locations\": [\r\n        \"West Europe\",\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"West US\",\r\n        \"North Central US\",\r\n        \"Brazil South\",\r\n        \"North Europe\",\r\n        \"Central US\",\r\n        \"East Asia\",\r\n        \"Japan East\",\r\n        \"Australia Southeast\",\r\n        \"Japan West\",\r\n        \"Korea South\",\r\n        \"Korea Central\",\r\n        \"Southeast Asia\",\r\n        \"South Central US\",\r\n        \"Australia East\",\r\n        \"South India\",\r\n        \"Central India\",\r\n        \"West India\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"UK South\",\r\n        \"UK West\",\r\n        \"West Central US\",\r\n        \"West US 2\",\r\n        \"France Central\",\r\n        \"South Africa North\",\r\n        \"UAE North\",\r\n        \"Australia Central\",\r\n        \"East US 2 EUAP\",\r\n        \"Central US EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2019-08-01\",\r\n        \"2019-04-01\",\r\n        \"2018-12-01\",\r\n        \"2017-09-01\",\r\n        \"2017-05-01\",\r\n        \"2017-01-01\",\r\n        \"2015-12-01\",\r\n        \"2015-09-01\",\r\n        \"2015-07-01\",\r\n        \"2014-05-01-privatepreview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"operations\",\r\n      \"locations\": [\r\n        \"West Europe\",\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"West US\",\r\n        \"North Central US\",\r\n        \"Brazil South\",\r\n        \"North Europe\",\r\n        \"Central US\",\r\n        \"East Asia\",\r\n        \"Japan East\",\r\n        \"Australia Southeast\",\r\n        \"Japan West\",\r\n      [...]
    {
      "RequestUri": "/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourcegroups/ps5347?api-version=2016-09-01",
=======
          "4351"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/providers/Microsoft.Batch\",\r\n  \"namespace\": \"Microsoft.Batch\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"ddbf3205-c6bd-46ae-8127-60eb93363864\",\r\n    \"roleDefinitionId\": \"b7f84953-1d03-4eab-9ea4-45f065258ff8\"\r\n [...]
    {
      "RequestUri": "/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourcegroups/ps1581?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "5b921eb5-6c96-4312-9ea9-20604198eb26"
=======
          "f017f5af-cc52-4858-9d15-e3661fdd04dd"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Internal.Resources.Resourc[...]
    {
      "RequestUri": "/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/ps5347/providers/Microsoft.Batch/batchAccounts/ps9448?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/ps1581\",\r\n  \"name\": \"ps1581\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/ps1581/providers/Microsoft.Batch/batchAccounts/ps8878?api-version=2020-03-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"tag1\": \"tagValue1\"\r\n  }\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "5ef31c2b-651c-44ef-9b1c-098e7704f280"
=======
          "7bd8a3f0-fb79-4d9c-be92-b0d04d464516"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Batch.BatchManagementClient/9.0.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Batch.BatchManagementClient/10.0.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "72"
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/ps5347/providers/Microsoft.Batch/batchAccounts/ps9448/operationResults/046a65a2-6667-4bcb-b9de-7e11ed1432b7?api-version=2019-08-01"
=======
          "https://management.azure.com/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/ps1581/providers/Microsoft.Batch/batchAccounts/ps8878/operationResults/108ab9f2-b2cd-4b2d-bbc1-0ef8d10c3733?api-version=2020-03-01"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "046a65a2-6667-4bcb-b9de-7e11ed1432b7"
=======
          "108ab9f2-b2cd-4b2d-bbc1-0ef8d10c3733"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "98fa3d00-3c70-403c-95c8-79f4ae7b6829"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190906T222131Z:98fa3d00-3c70-403c-95c8-79f4ae7b6829"
        ],
        "Date": [
          "Fri, 06 Sep 2019 22:21:30 GMT"
=======
          "c26fce99-4236-4943-aa57-621c4215961c"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200417T181941Z:c26fce99-4236-4943-aa57-621c4215961c"
        ],
        "Date": [
          "Fri, 17 Apr 2020 18:19:40 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/ps5347/providers/Microsoft.Batch/batchAccounts/ps9448?api-version=2019-08-01",
=======
      "RequestUri": "/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/ps1581/providers/Microsoft.Batch/batchAccounts/ps8878?api-version=2020-03-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"tag2\": \"tagValue2\"\r\n  }\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "d9e99d3b-0311-41db-bcf9-38410d2cd400"
=======
          "da171f92-5547-4705-994f-9a699aa4ef00"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Batch.BatchManagementClient/9.0.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Batch.BatchManagementClient/10.0.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "72"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
<<<<<<< HEAD
          "\"0x8D733189B2BC736\""
=======
          "\"0x8D7E2FBEF2F3E1C\""
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "cfda4730-441f-402b-95e7-634e097f0b1d"
=======
          "334926f0-a5ed-4618-b6a3-5871bcbba947"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-[...]
    {
      "RequestUri": "/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/ps5347/providers/Microsoft.Batch/batchAccounts/ps9448/operationResults/046a65a2-6667-4bcb-b9de-7e11ed1432b7?api-version=2019-08-01",
=======
          "Fri, 17 Apr 2020 18:19:57 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/ps1581/providers/Microsoft.Batch/batchAccounts/ps8878\",\r\n  \"name\": \"ps8878\",\r\n  \"type\": \"Microsoft.Batch/batchAccounts\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"accountEndpoint\": \"ps8878.westus.batch.azure.com\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"dedicatedCoreQuota\": 0,\r\n    \"dedicatedCoreQuotaPerVMFamily\": [\r\n      {\r\n        \"name\": \"standardAv2Family\",\r\n        \"coreQuota\": 0\r\n      },\r\n      {\r\n        \"name\": \"standardDv2Family\",\r\n        \"coreQuota\": 0\r\n      },\r\n      {\r\n        \"name\": \"standardDv3Family\",\r\n        \"coreQuota\": 0\r\n      },\r\n      {\r\n        \"name\": \"standardEv3Family\",\r\n        \"coreQuota\": 0\r\n      },\r\n      {\r\n        \"name\": \"standardDSv2Family\",\r\n        \"coreQuota\": 0\r\n      },\r\n      {\r\n        \"name\": \"standardDSv3Family\",\r\n        \"coreQuota\": 0\r\n      },\r\n     [...]
[...]
    {
      "RequestUri": "/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resources?$filter=resourceType%20eq%20'Microsoft.Batch%2FbatchAccounts'&api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "560fd4c7-de70-4dcb-ba9c-6149572d5617"
=======
          "d0550700-603c-492a-8cc4-8b42dcab2500"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
      [...]
    {
      "RequestUri": "/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/ps5347/providers/Microsoft.Batch/batchAccounts/ps9448/listKeys?api-version=2019-08-01",
=======
          "2001"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/Default-AzureBatch-EastUS2/providers/Microsoft.Batch/batchAccounts/matthchreastus2\",\r\n      \"name\": \"matthchreastus2\",\r\n      \"type\": \"Microsoft.Batch/batchAccounts\",\r\n      \"location\": \"eastus2\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/Default-AzureBatch-WestUS/providers/Microsoft.Batch/batchAccounts/matthchrwestus\"[...]
[...]
    {
      "RequestUri": "/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/ps5347/providers/Microsoft.Batch/batchAccounts/ps9448/listKeys?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"accountName\": \"ps8878\",\r\n  \"primary\": \"gK3TwtqNOaOEdPGq/Tv40EqJYUYiCVZKc0aYdUAggCmrRmKNHr7Iryxe481t1p46uNiNeQcFM0CWRFq6WWXeXQ==\",\r\n  \"secondary\": \"UXKXZtzr9c3bPBlsXhIItcmdZvL95eQNXYR9XzKRfEcAZF4F7zVY54/6q/ppHygEQ41JSLyxyZBIXJJXa+uUPg==\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/ps5347/providers/Microsoft.Batch/batchAccounts/ps9448/regenerateKeys?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"accountName\": \"ps8878\",\r\n  \"primary\": \"gK3TwtqNOaOEdPGq/Tv40EqJYUYiCVZKc0aYdUAggCmrRmKNHr7Iryxe481t1p46uNiNeQcFM0CWRFq6WWXeXQ==\",\r\n  \"secondary\": \"UXKXZtzr9c3bPBlsXhIItcmdZvL95eQNXYR9XzKRfEcAZF4F7zVY54/6q/ppHygEQ41JSLyxyZBIXJJXa+uUPg==\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/ps1581/providers/Microsoft.Batch/batchAccounts/ps8878/regenerateKeys?api-version=2020-03-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"keyName\": \"Primary\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "ed378944-d49e-40cb-960d-feb25ac78bb8"
=======
          "558e070e-8daa-4c73-8d85-b8e5eb6d5441"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Batch.BatchManagementClie[...]
[...]
