{
  "Entries": [
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/providers/Microsoft.Sql?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "dc8c01c9-ee2d-4c88-8ce2-630604f11a3f"
=======
          "c5e50efa-f178-4537-a913-5bea81c2f481"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.6.3.9600.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.2"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.5"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
<<<<<<< HEAD
          "1ebd799f-715e-4648-a3c6-22d5af9bc004"
        ],
        "x-ms-correlation-request-id": [
          "1ebd799f-715e-4648-a3c6-22d5af9bc004"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190730T182622Z:1ebd799f-715e-4648-a3c6-22d5af9bc004"
=======
          "a67551a0-ea08-4405-ae77-8dd7c9d91efb"
        ],
        "x-ms-correlation-request-id": [
          "a67551a0-ea08-4405-ae77-8dd7c9d91efb"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200123T230951Z:a67551a0-ea08-4405-ae77-8dd7c9d91efb"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 30 Jul 2019 18:26:21 GMT"
=======
          "Thu, 23 Jan 2020 23:09:50 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "109014"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/providers/Microsoft.Sql\",\r\n  \"namespace\": \"Microsoft.Sql\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"e4ab13ed-33cb-41b4-9140-6e264582cf85\",\r\n      \"roleDefinitionId\": \"ec3ddc95-44dc-47a2-9926-5e9f5ffd44ec\"\r\n    },\r\n    {\r\n      \"applicationId\": \"0130cc9f-7ac5-4026-bd5f-80a08a54e6d9\",\r\n      \"roleDefinitionId\": \"45e8abf8-0ec4-44f3-9c37-cff4f7779302\"\r\n    },\r\n    {\r\n      \"applicationId\": \"76cd24bf-a9fc-4344-b1dc-908275de6d6d\",\r\n      \"roleDefinitionId\": \"c13b7b9c-2ed1-4901-b8a8-16f35468da29\"\r\n    },\r\n    {\r\n      \"applicationId\": \"76c7f279-7959-468f-8943-3954880e0d8c\",\r\n      \"roleDefinitionId\": \"7f7513a8-73f9-4c5f-97a2-c41f0ea783ef\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"operations\",\r\n      \"locations\": [\r\n        \"Australia Central\",\r\n        \"Australia Central 2\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Brazil South\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"Central India\",\r\n        \"Central US\",\r\n        \"East Asia\",\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"France Central\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"North Central US\",\r\n        \"North Europe\",\r\n        \"South Africa North\",\r\n        \"South Central US\",\r\n        \"South India\",\r\n        \"Southeast Asia\",\r\n        \"UAE North\",\r\n        \"UK South\",\r\n        \"UK West\",\r\n        \"West Central US\",\r\n        \"West Europe\",\r\n        \"West India\",\r\n        \"West US\",\r\n        \"West US 2\",\r\n        \"Central US EUAP\",\r\n        \"East US 2 EUAP\",\r\n        \"Switzerland North\",\r\n        \"Switzerland West\",\r\n        \"UAE Central\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2017-03-01-preview\",\r\n        \"2015-05-01-preview\",\r\n        \"2015-05-01\",\r\n        \"2014-04-01-preview\",\r\n        \"2014-04-01\",\r\n        \"2014-01-01\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"locations\",\r\n      \"locations\": [\r\n        \"Australia Central\",\r\n        \"Australia Central 2\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Brazil South\",\r\n        \"Canada Central\",\r\n        \"Cana[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourcegroups/ps658?api-version=2016-09-01",
=======
          "111123"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/providers/Microsoft.Sql\",\r\n  \"namespace\": \"Microsoft.Sql\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"e4ab13ed-33cb-41b4-9140-6e264582cf85\",\r\n      \"roleDefinitionId\": \"ec3ddc95-44dc-47a2-9926-5e9f5ffd[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourcegroups/ps7893?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Southeast Asia\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "127ed5c7-8b3f-440d-b500-a544b07e9bde"
=======
          "f00be0da-dfad-4791-ab17-3fa72cc5f80b"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.6.3.9600.",
          "Microsoft.Azure.Management.Internal.Resources.R[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps658/providers/Microsoft.Sql/servers/ps7790?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps7893\",\r\n  \"name\": \"ps7893\",\r\n  \"location\": \"southeastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps7893/providers/Microsoft.Sql/servers/ps658?api-version=2015-05-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "42b9e2cc-1a83-4fb1-b016-a94891303083"
=======
          "a55c7db3-81f7-4214-b42a-7d25e48f828e"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.6.3.9600.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.33.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.37.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "ee2f5dbe-3095-48f6-98a8-5890b4315d66"
        ],
        "x-ms-correlation-request-id": [
          "ee2f5dbe-3095-48f6-98a8-5890b4315d66"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190730T182625Z:ee2f5dbe-3095-48f6-98a8-5890b4315d66"
=======
          "cf0a3bc7-0efb-4ea0-81ca-9842dd3fe499"
        ],
        "x-ms-correlation-request-id": [
          "cf0a3bc7-0efb-4ea0-81ca-9842dd3fe499"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200123T230956Z:cf0a3bc7-0efb-4ea0-81ca-9842dd3fe499"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 30 Jul 2019 18:26:25 GMT"
=======
          "Thu, 23 Jan 2020 23:09:55 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "137"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/ps7790' under resource group 'ps658' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps7893/providers/Microsoft.Sql/servers/ps658?api-version=2015-05-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.6.3.9600.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.33.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.37.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "cc9a5efa-534f-4068-90e7-2b6da336ff5c"
=======
          "f0edd26e-9ebe-4e71-817a-9ce654493bf1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11989"
        ],
        "x-ms-correlation-request-id": [
          "49bdbc64-f55e-455a-b9ef-9b4e13e7ef03"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190730T182807Z:49bdbc64-f55e-455a-b9ef-9b4e13e7ef03"
=======
          "11992"
        ],
        "x-ms-correlation-request-id": [
          "eed94e8d-75d3-4235-bad3-766cdd640d06"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200123T231047Z:eed94e8d-75d3-4235-bad3-766cdd640d06"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 30 Jul 2019 18:28:07 GMT"
        ],
        "Content-Length": [
          "350"
=======
          "Thu, 23 Jan 2020 23:10:47 GMT"
        ],
        "Content-Length": [
          "348"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"ps7790.database.windows.net\"\r\n  },\r\n  \"location\": \"southeastasia\",\r\n  \"id\": \"/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps658/providers/Microsoft.Sql/servers/ps7790\",\r\n  \"name\": \"ps7790\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps7893/providers/Microsoft.Sql/servers/ps658?api-version=2015-05-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"t357ingP@s5w0rd!\"\r\n  },\r\n  \"location\": \"Southeast Asia\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "d080f74d-302e-4f62-883d-315d6a108f1d"
=======
          "56a81728-8fa0-4a91-98a3-3451fc0a58d2"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.6.3.9600.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.33.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.37.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "158"
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps658/providers/Microsoft.Sql/locations/southeastasia/serverOperationResults/e6f5c102-7940-48e7-9777-793f1e5bdada?api-version=2015-05-01-preview"
=======
          "https://management.azure.com/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps7893/providers/Microsoft.Sql/locations/southeastasia/serverOperationResults/ebafbe6b-e751-4256-a897-331726991aa5?api-version=2015-05-01-preview"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps658/providers/Microsoft.Sql/locations/southeastasia/serverAzureAsyncOperation/e6f5c102-7940-48e7-9777-793f1e5bdada?api-version=2015-05-01-preview"
        ],
        "x-ms-request-id": [
          "e6f5c102-7940-48e7-9777-793f1e5bdada"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
=======
          "https://management.azure.com/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps7893/providers/Microsoft.Sql/locations/southeastasia/serverAzureAsyncOperation/ebafbe6b-e751-4256-a897-331726991aa5?api-version=2015-05-01-preview"
        ],
        "x-ms-request-id": [
          "ebafbe6b-e751-4256-a897-331726991aa5"
>>>>>>> e[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps658/providers/Microsoft.Sql/locations/southeastasia/serverAzureAsyncOperation/e6f5c102-7940-48e7-9777-793f1e5bdada?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2020-01-23T23:10:01.567Z\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps658/providers/Microsoft.Sql/locations/southeastasia/serverAzureAsyncOperation/e6f5c102-7940-48e7-9777-793f1e5bdada?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"ebafbe6b-e751-4256-a897-331726991aa5\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-01-23T23:10:01.567Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps7893/providers/Microsoft.Sql/servers/ps658/databases/ps9352?api-version=2017-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "Retry-After": [
          "15"
        ],
        "x-ms-request-id": [
          "4e739877-e82c-427e-9a5e-b2276aa[...]
[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps658/providers/Microsoft.Sql/servers/ps7790/databases/ps8131?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"GP_Gen5\",\r\n    \"tier\": \"GeneralPurpose\",\r\n    \"family\": \"Gen5\",\r\n    \"capacity\": 2\r\n  },\r\n  \"kind\": \"v12.0,user,vcore\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 34359738368,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"9ada05ee-0de6-4979-8b2d-f146c4dd1765\",\r\n    \"creationDate\": \"2020-01-23T23:11:28.647Z\",\r\n    \"currentServiceObjectiveName\": \"GP_Gen5_2\",\r\n    \"requestedServiceObjectiveName\": \"GP_Gen5_2\",\r\n    \"defaultSecondaryLocation\": \"eastasia\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false,\r\n    \"licenseType\": \"LicenseIncluded\",\r\n    \"maxLogSizeBytes\": 10307502080,\r\n    \"earliestRestoreDate\": \"2020-01-23T23:41:28.647Z\",\r\n    \"readScale\": \"Disabled\",\r\n    \"readReplicaCount\": 0,\r\n    \"currentSku\": {\r\n      \"name\": \"GP_Gen5\",\r\n      \"tier\": \"GeneralPurpose\",\r\n      \"family\": \"Gen5\",\r\n      \"capacity\": 2\r\n    }\r\n  },\r\n  \"location\": \"southeastasia\",\r\n  \"id\": \"/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps7893/providers/Microsoft.Sql/servers/ps658/databases/ps9352\",\r\n  \"name\": \"ps9352\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps7893/providers/Microsoft.Sql/locations/southeastasia/databaseAzureAsyncOperation/d211f016-c6bd-4323-98fc-49c4bcbffd95?api-version=2017-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "Location": [
          "https://management.azure.com/su[...]
[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps658/providers/Microsoft.Sql/servers/ps7790/databases/ps8131/failover?api-version=2018-06-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"d211f016-c6bd-4323-98fc-49c4bcbffd95\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-01-23T23:10:53.067Z\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps7893/providers/Microsoft.Sql/servers/ps658/databases/ps9352/failover?replicaType=Primary&api-version=2018-06-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "43af9b2e-50ae-41e3-b156-f2002d56acba"
=======
          "2a042305-1190-46da-a95c-c93245f2d81e"
>>>>>>> e5fcd5c7b105c638909ca50e[...]
[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps658/providers/Microsoft.Sql/locations/southeastasia/databaseOperationResults/525db25c-5cd0-4792-adad-d5a85428d7e4?api-version=2018-06-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"f8ee840a-bfb5-4ab4-a6d4-ec4d2f0636ea\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-01-23T23:11:41.133Z\"\r\n}",
      "StatusCode": 200
    },
[...]
