{
  "Entries": [
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/providers/Microsoft.Sql?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "bae3669b-e0c8-4976-99ea-40c13f54a188"
=======
          "59f8e136-a2ca-4328-b929-6fec0958358b"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.6.3.9600.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.2"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.5"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
<<<<<<< HEAD
          "45dde533-9e65-48bd-9cb4-96263db01a84"
        ],
        "x-ms-correlation-request-id": [
          "45dde533-9e65-48bd-9cb4-96263db01a84"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190730T184855Z:45dde533-9e65-48bd-9cb4-96263db01a84"
=======
          "41b2011b-d93d-4e63-9056-b2f2fb3a144d"
        ],
        "x-ms-correlation-request-id": [
          "41b2011b-d93d-4e63-9056-b2f2fb3a144d"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200123T224740Z:41b2011b-d93d-4e63-9056-b2f2fb3a144d"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 30 Jul 2019 18:48:55 GMT"
=======
          "Thu, 23 Jan 2020 22:47:40 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "109014"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/providers/Microsoft.Sql\",\r\n  \"namespace\": \"Microsoft.Sql\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"e4ab13ed-33cb-41b4-9140-6e264582cf85\",\r\n      \"roleDefinitionId\": \"ec3ddc95-44dc-47a2-9926-5e9f5ffd44ec\"\r\n    },\r\n    {\r\n      \"applicationId\": \"0130cc9f-7ac5-4026-bd5f-80a08a54e6d9\",\r\n      \"roleDefinitionId\": \"45e8abf8-0ec4-44f3-9c37-cff4f7779302\"\r\n    },\r\n    {\r\n      \"applicationId\": \"76cd24bf-a9fc-4344-b1dc-908275de6d6d\",\r\n      \"roleDefinitionId\": \"c13b7b9c-2ed1-4901-b8a8-16f35468da29\"\r\n    },\r\n    {\r\n      \"applicationId\": \"76c7f279-7959-468f-8943-3954880e0d8c\",\r\n      \"roleDefinitionId\": \"7f7513a8-73f9-4c5f-97a2-c41f0ea783ef\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"operations\",\r\n      \"locations\": [\r\n        \"Australia Central\",\r\n        \"Australia Central 2\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Brazil South\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"Central India\",\r\n        \"Central US\",\r\n        \"East Asia\",\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"France Central\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"North Central US\",\r\n        \"North Europe\",\r\n        \"South Africa North\",\r\n        \"South Central US\",\r\n        \"South India\",\r\n        \"Southeast Asia\",\r\n        \"UAE North\",\r\n        \"UK South\",\r\n        \"UK West\",\r\n        \"West Central US\",\r\n        \"West Europe\",\r\n        \"West India\",\r\n        \"West US\",\r\n        \"West US 2\",\r\n        \"Central US EUAP\",\r\n        \"East US 2 EUAP\",\r\n        \"Switzerland North\",\r\n        \"Switzerland West\",\r\n        \"UAE Central\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2017-03-01-preview\",\r\n        \"2015-05-01-preview\",\r\n        \"2015-05-01\",\r\n        \"2014-04-01-preview\",\r\n        \"2014-04-01\",\r\n        \"2014-01-01\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"locations\",\r\n      \"locations\": [\r\n        \"Australia Central\",\r\n        \"Australia Central 2\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Brazil South\",\r\n        \"Canada Central\",\r\n        \"Cana[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourcegroups/ps36?api-version=2016-09-01",
=======
          "111123"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/providers/Microsoft.Sql\",\r\n  \"namespace\": \"Microsoft.Sql\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"e4ab13ed-33cb-41b4-9140-6e264582cf85\",\r\n      \"roleDefinitionId\": \"ec3ddc95-44dc-47a2-9926-5e9f5ffd4[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourcegroups/ps2651?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Southeast Asia\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "2dd75686-cbbf-44a1-96f8-d5214426dcb0"
=======
          "c2f94492-7041-4619-a846-1836e8355f81"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.6.3.9600.",
          "Microsoft.Azure.Management.Internal.Resources.R[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps36/providers/Microsoft.Sql/servers/ps7017?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps2651\",\r\n  \"name\": \"ps2651\",\r\n  \"location\": \"southeastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps2651/providers/Microsoft.Sql/servers/ps6757?api-version=2015-05-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "e961e3ab-a906-4cfe-bb61-8281bd555442"
=======
          "d97f781b-6969-4626-a5b6-9c81e0633698"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.6.3.9600.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.33.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.37.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "d6e52a67-3403-4ae7-982f-f46f24917530"
        ],
        "x-ms-correlation-request-id": [
          "d6e52a67-3403-4ae7-982f-f46f24917530"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190730T184900Z:d6e52a67-3403-4ae7-982f-f46f24917530"
=======
          "1365db6b-f99f-4fc2-a178-016273fd7262"
        ],
        "x-ms-correlation-request-id": [
          "1365db6b-f99f-4fc2-a178-016273fd7262"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200123T224744Z:1365db6b-f99f-4fc2-a178-016273fd7262"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 30 Jul 2019 18:49:00 GMT"
=======
          "Thu, 23 Jan 2020 22:47:44 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "136"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/ps7017' under resource group 'ps36' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps2651/providers/Microsoft.Sql/servers/ps6757?api-version=2015-05-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.6.3.9600.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.33.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.37.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "8af594d8-63cf-4aa4-b653-ac0245391131"
=======
          "9591e43b-f611-4582-997b-004470721e27"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11990"
        ],
        "x-ms-correlation-request-id": [
          "939f79c1-a6e5-4d9a-89a3-8ac32e82a4de"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190730T185025Z:939f79c1-a6e5-4d9a-89a3-8ac32e82a4de"
=======
          "11981"
        ],
        "x-ms-correlation-request-id": [
          "ddf4f432-544d-46db-b851-9bf8e4fa7ae6"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200123T224836Z:ddf4f432-544d-46db-b851-9bf8e4fa7ae6"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 30 Jul 2019 18:50:25 GMT"
        ],
        "Content-Length": [
          "349"
=======
          "Thu, 23 Jan 2020 22:48:36 GMT"
        ],
        "Content-Length": [
          "351"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"ps7017.database.windows.net\"\r\n  },\r\n  \"location\": \"southeastasia\",\r\n  \"id\": \"/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps36/providers/Microsoft.Sql/servers/ps7017\",\r\n  \"name\": \"ps7017\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps2651/providers/Microsoft.Sql/servers/ps6757?api-version=2015-05-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"t357ingP@s5w0rd!\"\r\n  },\r\n  \"location\": \"Southeast Asia\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "a3140ee7-edc5-4989-8e56-ac706197355c"
=======
          "85b804be-87aa-4d74-8da5-fa7b86554752"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.6.3.9600.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.33.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.37.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "158"
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps36/providers/Microsoft.Sql/locations/southeastasia/serverOperationResults/d7785ac8-b0f7-4bd3-bba7-7d933dc43ea3?api-version=2015-05-01-preview"
=======
          "https://management.azure.com/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps2651/providers/Microsoft.Sql/locations/southeastasia/serverOperationResults/500096d9-2eff-447b-8252-8617129c11ae?api-version=2015-05-01-preview"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps36/providers/Microsoft.Sql/locations/southeastasia/serverAzureAsyncOperation/d7785ac8-b0f7-4bd3-bba7-7d933dc43ea3?api-version=2015-05-01-preview"
        ],
        "x-ms-request-id": [
          "d7785ac8-b0f7-4bd3-bba7-7d933dc43ea3"
=======
          "https://management.azure.com/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps2651/providers/Microsoft.Sql/locations/southeastasia/serverAzureAsyncOperation/500096d9-2eff-447b-8252-8617129c11ae?api-version=2015-05-01-preview"
        ],
        "x-ms-request-id": [
          "500096d9-2eff-447b-8252-8617129c11ae"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [
          "Micr[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps36/providers/Microsoft.Sql/locations/southeastasia/serverAzureAsyncOperation/d7785ac8-b0f7-4bd3-bba7-7d933dc43ea3?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2020-01-23T22:47:50.123Z\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps36/providers/Microsoft.Sql/locations/southeastasia/serverAzureAsyncOperation/d7785ac8-b0f7-4bd3-bba7-7d933dc43ea3?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"500096d9-2eff-447b-8252-8617129c11ae\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-01-23T22:47:50.123Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps36/providers/Microsoft.Sql/servers/ps7017/elasticPools/ps2578?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"500096d9-2eff-447b-8252-8617129c11ae\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-01-23T22:47:50.123Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps36/providers/Microsoft.Sql/servers/ps7017/elasticPools/ps2578?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"GP_Gen5\",\r\n    \"tier\": \"GeneralPurpose\",\r\n    \"family\": \"Gen5\",\r\n    \"capacity\": 2\r\n  },\r\n  \"kind\": \"vcore,pool\",\r\n  \"properties\": {\r\n    \"state\": \"Ready\",\r\n    \"creationDate\": \"2020-01-23T22:48:39.657Z\",\r\n    \"maxSizeBytes\": 34359738368,\r\n    \"perDatabaseSettings\": {\r\n      \"minCapacity\": 0.0,\r\n      \"maxCapacity\": 2.0\r\n    },\r\n    \"zoneRedundant\": false,\r\n    \"licenseType\": \"LicenseIncluded\"\r\n  },\r\n  \"location\": \"southeastasia\",\r\n  \"id\": \"/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps2651/providers/Microsoft.Sql/servers/ps6757/elasticPools/ps6201\",\r\n  \"name\": \"ps6201\",\r\n  \"type\": \"Microsoft.Sql/servers/elasticPools\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps36/providers/Microsoft.Sql/locations/southeastasia/elasticPoolAzureAsyncOperation/29ea8445-dd0e-4a9c-b588-4d3a20495262?api-version=2017-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11987"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"29ea8445-dd0e-4a9c-b588-4d3a20495262\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2019-07-30T18:50:29.297Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps36/providers/Microsoft.Sql/servers/ps7017/databases/ps2522?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"bb354b08-28aa-403e-b32a-c3593f93e746\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-01-23T22:48:39.517Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps36/providers/Microsoft.Sql/servers/ps7017/databases/ps2522?api-version=2017-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"maxSizeBytes\": 0,\r\n    \"elasticPoolId\": \"/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps36/providers/Microsoft.Sql/servers/ps7017/elasticPools/ps2578\",\r\n    \"readScale\": \"Disabled\"\r\n  },\r\n  \"location\": \"southeastasia\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"ElasticPool\",\r\n    \"tier\": \"GeneralPurpose\",\r\n    \"capacity\": 0\r\n  },\r\n  \"kind\": \"v12.0,user,vcore,pool\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 34359738368,\r\n    \"elasticPoolId\": \"/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps2651/providers/Microsoft.Sql/servers/ps6757/elasticPools/ps6201\",\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"35cbf24b-500d-47ed-923c-c80c0ea048a5\",\r\n    \"creationDate\": \"2020-01-23T22:49:09.837Z\",\r\n    \"currentServiceObjectiveName\": \"ElasticPool\",\r\n    \"requestedServiceObjectiveName\": \"ElasticPool\",\r\n    \"defaultSecondaryLocation\": \"eastasia\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false,\r\n    \"maxLogSizeBytes\": 0,\r\n    \"earliestRestoreDate\": \"2020-01-23T23:19:09.837Z\",\r\n    \"readScale\": \"Disabled\",\r\n    \"readReplicaCount\": 0,\r\n    \"currentSku\": {\r\n      \"name\": \"ElasticPool\",\r\n      \"tier\": \"GeneralPurpose\",\r\n      \"capacity\": 0\r\n    }\r\n  },\r\n  \"location\": \"southeastasia\",\r\n  \"id\": \"/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps2651/providers/Microsoft.Sql/servers/ps6757/databases/ps9075\",\r\n  \"name\": \"ps9075\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps36/providers/Microsoft.Sql/locations/southeastasia/databaseAzureAsyncOperation/59876670-3c88-4d52-9617-09fac7a8eadc?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"CreateLogicalDatabase\",\r\n  \"startTime\": \"2020-01-23T22:49:03.287Z\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps36/providers/Microsoft.Sql/servers/ps7017/elasticPools/ps2578/failover?api-version=2018-06-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"28d31629-ccba-4999-9191-2e3d2ea8b822\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-01-23T22:49:03.287Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps36/providers/Microsoft.Sql/locations/southeastasia/elasticPoolOperationResults/6f11f1b6-41f3-4f17-ad9f-d669d648ab10?api-version=2018-06-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"15dd71bb-3187-400d-8db4-3a880aadb63c\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-01-23T22:49:20.46Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzM2LVNPVVRIRUFTVEFTSUEiLCJqb2JMb2NhdGlvbiI6InNvdXRoZWFzdGFzaWEifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/operationresults/eyJqb2JJZCI6IlJFU[...]
[...]
