{
  "Entries": [
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/providers/Microsoft.Sql?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "981e0501-2749-40f7-9859-1b9b3b5a3ace"
=======
          "2d1b9da4-46ca-4316-992c-1c425943d2cf"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.6.3.9600.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.2"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.5"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
<<<<<<< HEAD
          "9cf22054-f9b8-46d1-b1ba-767bf61fa34c"
        ],
        "x-ms-correlation-request-id": [
          "9cf22054-f9b8-46d1-b1ba-767bf61fa34c"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190730T181453Z:9cf22054-f9b8-46d1-b1ba-767bf61fa34c"
=======
          "d2c0ed7f-62ab-43d5-b0a2-c8f97e2156e4"
        ],
        "x-ms-correlation-request-id": [
          "d2c0ed7f-62ab-43d5-b0a2-c8f97e2156e4"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200123T231354Z:d2c0ed7f-62ab-43d5-b0a2-c8f97e2156e4"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 30 Jul 2019 18:14:53 GMT"
=======
          "Thu, 23 Jan 2020 23:13:53 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "109014"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/providers/Microsoft.Sql\",\r\n  \"namespace\": \"Microsoft.Sql\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"e4ab13ed-33cb-41b4-9140-6e264582cf85\",\r\n      \"roleDefinitionId\": \"ec3ddc95-44dc-47a2-9926-5e9f5ffd44ec\"\r\n    },\r\n    {\r\n      \"applicationId\": \"0130cc9f-7ac5-4026-bd5f-80a08a54e6d9\",\r\n      \"roleDefinitionId\": \"45e8abf8-0ec4-44f3-9c37-cff4f7779302\"\r\n    },\r\n    {\r\n      \"applicationId\": \"76cd24bf-a9fc-4344-b1dc-908275de6d6d\",\r\n      \"roleDefinitionId\": \"c13b7b9c-2ed1-4901-b8a8-16f35468da29\"\r\n    },\r\n    {\r\n      \"applicationId\": \"76c7f279-7959-468f-8943-3954880e0d8c\",\r\n      \"roleDefinitionId\": \"7f7513a8-73f9-4c5f-97a2-c41f0ea783ef\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"operations\",\r\n      \"locations\": [\r\n        \"Australia Central\",\r\n        \"Australia Central 2\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Brazil South\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"Central India\",\r\n        \"Central US\",\r\n        \"East Asia\",\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"France Central\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"North Central US\",\r\n        \"North Europe\",\r\n        \"South Africa North\",\r\n        \"South Central US\",\r\n        \"South India\",\r\n        \"Southeast Asia\",\r\n        \"UAE North\",\r\n        \"UK South\",\r\n        \"UK West\",\r\n        \"West Central US\",\r\n        \"West Europe\",\r\n        \"West India\",\r\n        \"West US\",\r\n        \"West US 2\",\r\n        \"Central US EUAP\",\r\n        \"East US 2 EUAP\",\r\n        \"Switzerland North\",\r\n        \"Switzerland West\",\r\n        \"UAE Central\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2017-03-01-preview\",\r\n        \"2015-05-01-preview\",\r\n        \"2015-05-01\",\r\n        \"2014-04-01-preview\",\r\n        \"2014-04-01\",\r\n        \"2014-01-01\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"locations\",\r\n      \"locations\": [\r\n        \"Australia Central\",\r\n        \"Australia Central 2\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Brazil South\",\r\n        \"Canada Central\",\r\n        \"Cana[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourcegroups/ps6776?api-version=2016-09-01",
=======
          "111123"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/providers/Microsoft.Sql\",\r\n  \"namespace\": \"Microsoft.Sql\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"e4ab13ed-33cb-41b4-9140-6e264582cf85\",\r\n      \"roleDefinitionId\": \"ec3ddc95-44dc-47a2-9926-5e9f5ff[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourcegroups/ps1852?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Southeast Asia\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "e0736930-0f72-4260-9a6c-c3b6a84d1a70"
=======
          "e9fd9e80-51c3-4740-8d8c-eebf9f25c225"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.6.3.9600.",
          "Microsoft.Azure.Management.Internal.Resources.R[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps6776/providers/Microsoft.Sql/servers/ps7301?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps1852\",\r\n  \"name\": \"ps1852\",\r\n  \"location\": \"southeastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps1852/providers/Microsoft.Sql/servers/ps9994?api-version=2015-05-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "f7a86817-d4cd-4724-b9da-0e7f87e5575d"
=======
          "4bad626c-8cbc-4817-a066-3b07ab2f927a"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.6.3.9600.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.33.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.37.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "2fcdd6bf-d0ba-4195-b014-174e7dfee7e2"
        ],
        "x-ms-correlation-request-id": [
          "2fcdd6bf-d0ba-4195-b014-174e7dfee7e2"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190730T181458Z:2fcdd6bf-d0ba-4195-b014-174e7dfee7e2"
=======
          "57ce4183-38cc-4da3-8907-302ed03c2aec"
        ],
        "x-ms-correlation-request-id": [
          "57ce4183-38cc-4da3-8907-302ed03c2aec"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200123T231359Z:57ce4183-38cc-4da3-8907-302ed03c2aec"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 30 Jul 2019 18:14:57 GMT"
=======
          "Thu, 23 Jan 2020 23:13:59 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "138"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/ps7301' under resource group 'ps6776' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps1852/providers/Microsoft.Sql/servers/ps9994?api-version=2015-05-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.6.3.9600.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.33.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.37.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "f3760778-7022-46d8-99d3-e7f6a1387fe2"
=======
          "4c7fc9a9-121e-4124-9759-a6363e2ef5ca"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "beab5787-d734-4e54-b0ec-21fecbd83c77"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190730T181547Z:beab5787-d734-4e54-b0ec-21fecbd83c77"
=======
          "9b4eb792-7b57-4395-a254-5c0587fde1fb"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200123T231453Z:9b4eb792-7b57-4395-a254-5c0587fde1fb"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 30 Jul 2019 18:15:47 GMT"
=======
          "Thu, 23 Jan 2020 23:14:52 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "351"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"ps7301.database.windows.net\"\r\n  },\r\n  \"location\": \"southeastasia\",\r\n  \"id\": \"/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps6776/providers/Microsoft.Sql/servers/ps7301\",\r\n  \"name\": \"ps7301\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps1852/providers/Microsoft.Sql/servers/ps9994?api-version=2015-05-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"t357ingP@s5w0rd!\"\r\n  },\r\n  \"location\": \"Southeast Asia\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "0d2e48a1-1df1-41f6-82c7-909891ace475"
=======
          "990d11dd-0197-4105-a49f-eca737d76b98"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.6.3.9600.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.33.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.37.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "158"
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps6776/providers/Microsoft.Sql/locations/southeastasia/serverOperationResults/825db2ca-a9d5-4443-9277-3524024f8723?api-version=2015-05-01-preview"
=======
          "https://management.azure.com/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps1852/providers/Microsoft.Sql/locations/southeastasia/serverOperationResults/d66a69fb-6576-4e60-82a3-b841e34290cc?api-version=2015-05-01-preview"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps6776/providers/Microsoft.Sql/locations/southeastasia/serverAzureAsyncOperation/825db2ca-a9d5-4443-9277-3524024f8723?api-version=2015-05-01-preview"
        ],
        "x-ms-request-id": [
          "825db2ca-a9d5-4443-9277-3524024f8723"
=======
          "https://management.azure.com/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps1852/providers/Microsoft.Sql/locations/southeastasia/serverAzureAsyncOperation/d66a69fb-6576-4e60-82a3-b841e34290cc?api-version=2015-05-01-preview"
        ],
        "x-ms-request-id": [
          "d66a69fb-6576-4e60-82a3-b841e34290cc"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [
          "Micr[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps6776/providers/Microsoft.Sql/locations/southeastasia/serverAzureAsyncOperation/825db2ca-a9d5-4443-9277-3524024f8723?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2020-01-23T23:14:06.27Z\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps6776/providers/Microsoft.Sql/locations/southeastasia/serverAzureAsyncOperation/825db2ca-a9d5-4443-9277-3524024f8723?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"d66a69fb-6576-4e60-82a3-b841e34290cc\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-01-23T23:14:06.27Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps6776/providers/Microsoft.Sql/servers/ps7301/databases/ps9228?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"d66a69fb-6576-4e60-82a3-b841e34290cc\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-01-23T23:14:06.27Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps6776/providers/Microsoft.Sql/servers/ps7301/databases/ps9228?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"GP_Gen5\",\r\n    \"tier\": \"GeneralPurpose\",\r\n    \"family\": \"Gen5\",\r\n    \"capacity\": 2\r\n  },\r\n  \"kind\": \"v12.0,user,vcore\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 34359738368,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"73969b17-04f6-4367-a125-88dacd43036c\",\r\n    \"creationDate\": \"2020-01-23T23:15:27.893Z\",\r\n    \"currentServiceObjectiveName\": \"GP_Gen5_2\",\r\n    \"requestedServiceObjectiveName\": \"GP_Gen5_2\",\r\n    \"defaultSecondaryLocation\": \"eastasia\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false,\r\n    \"licenseType\": \"LicenseIncluded\",\r\n    \"maxLogSizeBytes\": 10307502080,\r\n    \"earliestRestoreDate\": \"2020-01-23T23:45:27.893Z\",\r\n    \"readScale\": \"Disabled\",\r\n    \"readReplicaCount\": 0,\r\n    \"currentSku\": {\r\n      \"name\": \"GP_Gen5\",\r\n      \"tier\": \"GeneralPurpose\",\r\n      \"family\": \"Gen5\",\r\n      \"capacity\": 2\r\n    }\r\n  },\r\n  \"location\": \"southeastasia\",\r\n  \"id\": \"/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps1852/providers/Microsoft.Sql/servers/ps9994/databases/ps645\",\r\n  \"name\": \"ps645\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps6776/providers/Microsoft.Sql/locations/southeastasia/databaseAzureAsyncOperation/08290aad-d2a7-4791-93dd-c087e519ed93?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"CreateLogicalDatabase\",\r\n  \"startTime\": \"2020-01-23T23:14:57.93Z\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps6776/providers/Microsoft.Sql/servers/ps7301/databases/ps9228/failover?api-version=2018-06-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"1540e4f8-5f94-4ff2-9cdd-7135e83d633b\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-01-23T23:14:57.93Z\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps1852/providers/Microsoft.Sql/servers/ps9994/databases/ps645/failover?replicaType=Primary&api-version=2018-06-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "f233c580-6f9b-4b96-90dd-f04d8396c7fa"
=======
          "82cc8e4e-4e0f-44eb-8649-1d03c9e50707"
>>>>>>> e5fcd5c7b105c638909ca50e[...]
[...]
    {
      "RequestUri": "/subscriptions/148bffe3-0304-454b-8a25-ee196b761f18/resourceGroups/ps6776/providers/Microsoft.Sql/locations/southeastasia/databaseOperationResults/5797baa7-2541-4fc1-b868-717edae644f3?api-version=2018-06-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"cdae9b98-21a5-4fd1-b4d7-b7c58d54d908\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-01-23T23:15:30.09Z\"\r\n}",
      "StatusCode": 200
    },
[...]
