{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers?api-version=2017-05-10",
=======
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.ContainerService?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "de6a5010-8ccd-49ad-beb4-89569eeecda9"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.2633.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.Azure.Management.ResourceManager.ResourceManagementClient/1.6.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.Automation\",\r\n      \"namespace\": \"Microsoft.Automation\",\r\n      \"authorizations\": [\r\n        {\r\n          \"applicationId\": \"fc75330b-179d-49af-87dd-3b1acf6827fa\",\r\n          \"roleDefinitionId\": \"95fd5de3-d071-4362-92bf-cf341c1de832\"\r\n        }\r\n      ],\r\n      \"resourceTypes\": [\r\n        {\r\n          \"resourceType\": \"automationAccounts\",\r\n          \"locations\": [\r\n            \"Japan East\",\r\n            \"East US 2\",\r\n            \"West Europe\",\r\n            \"Southeast Asia\",\r\n            \"South Central US\",\r\n            \"Brazil South\",\r\n            \"UK South\",\r\n            \"West Central US\",\r\n            \"North Europe\",\r\n            \"Canada Central\",\r\n            \"Australia Southeast\",\r\n            \"Central India\"\r\n          ],\r\n          \"apiVersions\": [\r\n            \"2018-01-15\",\r\n            \"2017-05-15-preview\",\r\n            \"2015-10-31\",\r\n            \"2015-01-01-preview\"\r\n          ],\r\n          \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n        },\r\n        {\r\n          \"resourceType\": \"automationAccounts/runbooks\",\r\n          \"locations\": [\r\n            \"Japan East\",\r\n            \"East US 2\",\r\n            \"West Europe\",\r\n            \"Southeast Asia\",\r\n            \"South Central US\",\r\n            \"Brazil South\",\r\n            \"UK South\",\r\n            \"West Central US\",\r\n            \"North Europe\",\r\n            \[...]
    {
      "RequestUri": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.ContainerService?api-version=2017-05-10",
=======
        "Date": [
          "Mon, 23 Mar 2020 10:48:31 GMT"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "4955"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.ContainerService\",\r\n  \"namespace\": \"Microsoft.ContainerService\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"7319c514-987d-4e9b-ac3d-d38c4f427f4c\",\r\n    \"roleDefinitionId\": \"1b4a0c7f-2217-416f-acfa-cf73452fdc1c\",\r\n    \"managedByRoleDefinitionId\": \"9e3af657-a8ff-583c-a75c-2fe7c4bcb635\",\r\n    \"managedByAuthorization\": {\r\n      \"allowManagedByInheritance\": true\r\n    }\r\n  },\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"containerServices\",\r\n      \"locations\": [\r\n        \"Japan East\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Japan West\",\r\n        \"East Asia\",\r\n        \"South Central US\",\r\n        \"North Central US\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Brazil South\",\r\n        \"Southeast Asia\",\r\n        \"West US\",\r\n        \"Wes[...]
[...]
    {
      "RequestUri": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourcegroups/rgps4504?api-version=2017-05-10",
      "RequestMethod": "HEAD",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
=======
        "Date": [
          "Mon, 23 Mar 2020 10:48:35 GMT"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "4955"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.ContainerService\",\r\n  \"namespace\": \"Microsoft.ContainerService\",\r\n  \"authorization\": {\r\n    \"applica[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/rgps6490?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
<<<<<<< HEAD
        "Expires": [
          "-1"
=======
        "Content-Length": [
          "29"
        ]
      },
      "ResponseHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Pragma": [
          "no-cache"
        ],
<<<<<<< HEAD
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ],
        "x-ms-request-id": [
          "17bdd19f-8a92-4a03-9d32-f58ef828002c"
        ],
        "x-ms-correlation-request-id": [
          "17bdd19f-8a92-4a03-9d32-f58ef828002c"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20180510T223233Z:17bdd19f-8a92-4a03-9d32-f58ef828002c"
=======
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-request-id": [
          "0e70ec28-b1e9-4115-abdb-ebf75a4bef05"
        ],
        "x-ms-correlation-request-id": [
          "0e70ec28-b1e9-4115-abdb-ebf75a4bef05"
        ],
        "x-ms-routing-request-id": [
          "SOUTHEASTASIA:20200323T104835Z:0e70ec28-b1e9-4115-abdb-ebf75a4bef05"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
<<<<<<< HEAD
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Thu, 10 May 2018 22:32:32 GMT"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourcegroups/rgps4504?api-version=2017-05-10",
      "RequestMethod": "HEAD",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
=======
        "Date": [
          "Mon, 23 Mar 2020 10:48:34 GMT"
        ],
        "Content-Length": [
          "169"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/rgps6490\",\r\n  \"name\": \"rgps6490\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/rgps6490/providers/Microsoft.ContainerService/managedClusters/kubeps8445?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Pragma": [
          "no-cache"
        ],
<<<<<<< HEAD
        "x-ms-ratelimit-remaining-subscription-reads": [
         [...]
    {
      "RequestUri": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourcegroups/rgps4504?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/rgps4504\",\r\n  \"name\": \"rgps4504\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
        "Date": [
          "Mon, 23 Mar 2020 10:48:35 GMT"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "165"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.ContainerService/managedClusters/kubeps8445' under resource group 'rgps6490' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/rgps4504/providers/Microsoft.ContainerService/managedClusters/kubeps5496?api-version=2017-08-31",
=======
        "Server": [
          "nginx"
        ],
        "Date": [
          "Mon, 23 Mar 2020 10:57:01 GMT"
        ],
        "Content-Length": [
          "2498"
        ],
        "Content-Type": [
          "application/json"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/rgps6490/providers/Microsoft.ContainerService/managedClusters/kubeps8445\",\r\n  \"location\": \"westus\",\r\n  \"name\": \"kubeps8445\",\r\n  \"type\": \"Microsoft.ContainerService/ManagedClusters\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"kubernetesVersion\": \"1.15.7\",\r\n    \"dnsPrefix\": \"mypre\",\r\n    \"fqdn\": \"mypre-6b6f2a95.hcp.westus.azmk8s.io\",\r\n    \"agentPoolProfiles\": [\r\n      {\r\n        \"name\": \"defnode\",\r\n        \"count\": 2,\r\n        \"vmSize\": \"Standard_A2\",\r\n        \"osDiskSizeGB\": 100,\r\n        \"maxPods\": 25,\r\n        \"type\": \"VirtualMachineScaleSets\",\r\n        \"maxCount\": 30,\r\n        \"minCount\": 1,\r\n        \"enableAutoScaling\": true,\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"orchestratorVersion\": \"1.15.7\",\r\n        \"osType\": \"Linux\"\r\n      }\r\n    ],\r\n    \"linuxProfile\": {\r\n      \"adminUsername\": \"linuxuser\",\r\n      \"ssh\": {\r\n        \"publicKeys\": [\r\n          {\r\n            \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQChy6cYuI2+AoUycYdObeb45hTY5N46KTuCyy7Ln6Sg+xOoC0RyEAOmLzAWUjYCgbgCuJyOWR7HUz8vGz9guxpeb6kKroXVU20/ZA7fdE8OLU/86aCWZJkBuDJpbmPZsuVwjBJ2sQClmyR+UESLmi+pHLF/QGC55sNh00kdLOpzJLFnkb7nkTWQZ25sWqzr/gmrAx5Pvn6fb6PzTgFKNjKyU2XvJQUpy0iXY1jCJd+0fMzbFDR44izuR+Y9FZ8H2abyARd/ujVYTY8S90ICW7J2eZFQPe8uCfhAjaMlHcQpAjQn/1+h21hJM51UckW1z1XptJZAYWr1IJHTp5B9KfKI/C+4EkcILlPGeqvoZlOCWPYiu6LetiWAf7I9TMfVbBmdl6tPt37Dene7rmHAOIcviskzSmFs7ajjLnOMLDp1GDDfBUntu+VOMHZo09AqOdXva5Qij+YMU1T/xd8cMPvEK7NPmp9E4T5kl+jy+zQxcP3w+niPEtI6w8uYM+vznq5g5nu1WGFT8hG+CprOnB/OzrZsJPMkWzg6cCiQ2nkBM1tjNxA0XHm665fg3OjqRhnXRMorEHri6T+0huUis6CY7Kbu5r1S4yll/eXhBLB6MNvqmeEHpwuGbEksSwjCCNBi812vOaYJ3ZIcSmgiafTDok9bsIEGj9xhNhiCV0Gklw== devigned@msft.com\\r\\n\"\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    \"servicePrincipalProfile\": {\r\n      \"clientId\": \"1092eb5c-c31b-4c31-9b10-affc9a8f35c9\"\r\n    },\r\n    \"nodeResourceGroup\": \"MC_rgps6490_kubeps8445_westus\",\r\n    \"enableRBAC\": true,\r\n    \"networkProfile\": {\r\n      \"networkPlugin\": \"kubenet\",\r\n      \"loadBalancerSku\": \"Standard\",\r\n      \"loadBalancerProfile\": {\r\n        \"managedOutboundIPs\": {\r\n          \"count\": 1\r\n        },\r\n        \"effectiveOutboundIPs\": [\r\n          {\r\n            \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/MC_rgps6490_kubeps8445_westus/providers/Microsoft.Network/publicIPAddresses/54a54564-1dd0-45b5-92e2-c80654dfabca\"\r\n          }\r\n        ]\r\n      },\r\n      \"podCidr\": \"10.244.0.0/16\",\r\n      \"serviceCidr\": \"10.0.0.0/16\",\r\n      \"dnsServiceIP\": \"10.0.0.10\",\r\n      \"dockerBridgeCidr\": \"172.17.0.1/16\",\r\n      \"outboundType\": \"loadBalancer\"\r\n    },\r\n    \"maxAgentPools\": 10\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/rgps6490/providers/Microsoft.ContainerService/managedClusters/kubeps8445?api-version=2019-10-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "dd1ad46d-5fc1-40de-96d3-bc8747170400"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.2633.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.Azure.Commands.Aks.Generated.ContainerServiceClient/0.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.ContainerService/managedClusters/kubeps5496' under resource group 'rgps4504' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "2e80ebbe-ea39-44fb-b689-d595108a69c9"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.ContainerService.ContainerServiceClient/1.0.0"
        ]
      },
      "ResponseHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Pragma": [
          "no-cache"
        ],
<<<<<<< HEAD
        "x-ms-failure-cause": [
          "gateway"
        ],
        [...]
    {
      "RequestUri": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/rgps4504/providers/Microsoft.ContainerService/managedClusters/kubeps5496?api-version=2017-08-31",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourcegroups/rgps4504/providers/Microsoft.ContainerService/managedClusters/kubeps5496\",\r\n  \"location\": \"eastus\",\r\n  \"name\": \"kubeps5496\",\r\n  \"type\": \"Microsoft.ContainerService/ManagedClusters\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"kubernetesVersion\": \"1.8.1\",\r\n    \"dnsPrefix\": \"kubeps5496-rgps4504-9e223d\",\r\n    \"fqdn\": \"kubeps5496-rgps4504-9e223d-2b910574.hcp.eastus.azmk8s.io\",\r\n    \"agentPoolProfiles\": [\r\n      {\r\n        \"name\": \"default\",\r\n        \"count\": 3,\r\n        \"vmSize\": \"Standard_D2_v2\",\r\n        \"storageProfile\": \"ManagedDisks\",\r\n        \"osType\": \"Linux\"\r\n      }\r\n    ],\r\n    \"linuxProfile\": {\r\n      \"adminUsername\": \"azureuser\",\r\n      \"ssh\": {\r\n        \"publicKeys\": [\r\n          {\r\n            \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQChy6cYuI2+AoUycYdObeb45hTY5N46KTuCyy7Ln6Sg+xOoC0RyEAOmLzAWUjYCgbgCuJyOWR7HUz8vGz9guxpeb6kKroXVU20/ZA7fdE8OLU/86aCWZJkBuDJpbmPZsuVwjBJ2sQClmyR+UESLmi+pHLF/QGC55sNh00kdLOpzJLFnkb7nkTWQZ25sWqzr/gmrAx5Pvn6fb6PzTgFKNjKyU2XvJQUpy0i[...]
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/rgps6490/providers/Microsoft.ContainerService/managedClusters/kubeps8445?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"kubernetesVersion\": \"1.15.7\",\r\n    \"dnsPrefix\": \"mypre\",\r\n    \"agentPoolProfiles\": [\r\n      {\r\n        \"name\": \"defnode\",\r\n        \"count\": 2,\r\n        \"vmSize\": \"Standard_A2\",\r\n        \"osDiskSizeGB\": 100,\r\n        \"maxPods\": 25,\r\n        \"osType\": \"Linux\",\r\n        \"maxCount\": 30,\r\n        \"minCount\": 1,\r\n        \"enableAutoScaling\": true,\r\n        \"type\": \"VirtualMachineScaleSets\",\r\n        \"scaleSetPriority\": \"Regular\",\r\n        \"scaleSetEvictionPolicy\": \"Deallocate\"\r\n      }\r\n    ],\r\n    \"linuxProfile\": {\r\n      \"adminUsername\": \"linuxuser\",\r\n      \"ssh\": {\r\n        \"publicKeys\": [\r\n          {\r\n            \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQChy6cYuI2+AoUycYdObeb45hTY5N46KTuCyy7Ln6Sg+xOoC0RyEAOmLzAWUjYCgbgCuJyOWR7HUz8vGz9guxpeb6kKroXVU20/ZA7fdE8OLU/86aCWZJkBuDJpbmPZsuVwjBJ2sQClmyR+UESLmi+pHLF/QGC55sNh00kdLOpzJLFnkb7nkTWQZ25sWqzr/gmrAx5Pvn6fb6PzTgFKNjKyU2XvJQUpy0iXY1jCJd+0fMzbFDR44izuR+Y9FZ8H2abyARd/ujVYTY8S90ICW7J2eZFQPe8uCfhAjaMlHcQpAjQn/1+h21hJM51UckW1z1XptJZAYWr1IJHTp5B9KfKI/C+4EkcILlPGeqvoZlOCWPYiu6LetiWAf7I9TMfVbBmdl6tPt37Dene7rmHAOIcviskzSmFs7ajjLnOMLDp1GDDfBUntu+VOMHZo09AqOdXva5Qij+YMU1T/xd8cMPvEK7NPmp9E4T5kl+jy+zQxcP3w+niPEtI6w8uYM+vznq5g5nu1WGFT8hG+CprOnB/OzrZsJPMkWzg6cCiQ2nkBM1tjNxA0XHm665fg3OjqRhnXRMorEHri6T+0huUis6CY7Kbu5r1S4yll/eXhBLB6MNvqmeEHpwuGbEksSwjCCNBi812vOaYJ3ZIcSmgiafTDok9bsIEGj9xhNhiCV0Gklw== devigned@msft.com\\r\\n\"\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    \"servicePrincipalProfile\": {\r\n      \"clientId\": \"1092eb5c-c31b-4c31-9b10-affc9a8f35c9\",\r\n      \"secret\": \"0eecd6b0-ca3e-489f-821c-7bf7fb658d27\"\r\n    },\r\n    \"enableRBAC\": true,\r\n    \"networkProfile\": {\r\n      \"networkPlugin\": \"kubenet\",\r\n      \"loadBalancerSku\": \"Standard\"\r\n    }\r\n  },\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.ContainerService/locations/westus/operations/196fa17d-92f7-493b-b0c0-34d1d9b558f7?api-version=2017-08-31"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/rgps6490/providers/Microsoft.ContainerService/managedClusters/kubeps8445\",\r\n  \"locat[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/rgps6490/providers/Microsoft.ContainerService/managedClusters/kubeps8445?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"kubernetesVersion\": \"1.15.10\",\r\n    \"dnsPrefix\": \"mypre\",\r\n    \"agentPoolProfiles\": [\r\n      {\r\n        \"name\": \"defnode\",\r\n        \"count\": 2,\r\n        \"vmSize\": \"Standard_A2\",\r\n        \"osDiskSizeGB\": 100,\r\n        \"maxPods\": 25,\r\n        \"osType\": \"Linux\",\r\n        \"maxCount\": 28,\r\n        \"minCount\": 2,\r\n        \"enableAutoScaling\": true,\r\n        \"type\": \"VirtualMachineScaleSets\",\r\n        \"orchestratorVersion\": \"1.15.7\",\r\n        \"nodeTaints\": []\r\n      }\r\n    ],\r\n    \"linuxProfile\": {\r\n      \"adminUsername\": \"linuxuser\",\r\n      \"ssh\": {\r\n        \"publicKeys\": [\r\n          {\r\n            \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQChy6cYuI2+AoUycYdObeb45hTY5N46KTuCyy7Ln6Sg+xOoC0RyEAOmLzAWUjYCgbgCuJyOWR7HUz8vGz9guxpeb6kKroXVU20/ZA7fdE8OLU/86aCWZJkBuDJpbmPZsuVwjBJ2sQClmyR+UESLmi+pHLF/QGC55sNh00kdLOpzJLFnkb7nkTWQZ25sWqzr/gmrAx5Pvn6fb6PzTgFKNjKyU2XvJQUpy0iXY1jCJd+0fMzbFDR44izuR+Y9FZ8H2abyARd/ujVYTY8S90ICW7J2eZFQPe8uCfhAjaMlHcQpAjQn/1+h21hJM51UckW1z1XptJZAYWr1IJHTp5B9KfKI/C+4EkcILlPGeqvoZlOCWPYiu6LetiWAf7I9TMfVbBmdl6tPt37Dene7rmHAOIcviskzSmFs7ajjLnOMLDp1GDDfBUntu+VOMHZo09AqOdXva5Qij+YMU1T/xd8cMPvEK7NPmp9E4T5kl+jy+zQxcP3w+niPEtI6w8uYM+vznq5g5nu1WGFT8hG+CprOnB/OzrZsJPMkWzg6cCiQ2nkBM1tjNxA0XHm665fg3OjqRhnXRMorEHri6T+0huUis6CY7Kbu5r1S4yll/eXhBLB6MNvqmeEHpwuGbEksSwjCCNBi812vOaYJ3ZIcSmgiafTDok9bsIEGj9xhNhiCV0Gklw== devigned@msft.com\\r\\n\"\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    \"servicePrincipalProfile\": {\r\n      \"clientId\": \"1092eb5c-c31b-4c31-9b10-affc9a8f35c9\"\r\n    },\r\n    \"addonProfiles\": {},\r\n    \"nodeResourceGroup\": \"MC_rgps6490_kubeps8445_westus\",\r\n    \"enableRBAC\": true,\r\n    \"networkProfile\": {\r\n      \"networkPlugin\": \"kubenet\",\r\n      \"podCidr\": \"10.244.0.0/16\",\r\n      \"serviceCidr\": \"10.0.0.0/16\",\r\n      \"dnsServiceIP\": \"10.0.0.10\",\r\n      \"dockerBridgeCidr\": \"172.17.0.1/16\",\r\n      \"loadBalancerSku\": \"Standard\",\r\n      \"loadBalancerProfile\": {\r\n        \"managedOutboundIPs\": {\r\n          \"count\": 1\r\n        },\r\n        \"effectiveOutboundIPs\": [\r\n          {\r\n            \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/MC_rgps6490_kubeps8445_westus/providers/Microsoft.Network/publicIPAddresses/54a54564-1dd0-45b5-92e2-c80654dfabca\"\r\n          }\r\n        ]\r\n      }\r\n    }\r\n  },\r\n  \"location\": \"westus\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.ContainerService/locations/westus/operations/a4585bd3-cd69-443d-8ba2-b1aa027140c3?api-version=2017-08-31"
        ],[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.ContainerService/locations/westus/operations/196fa17d-92f7-493b-b0c0-34d1d9b558f7?api-version=2017-08-31",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"7da16f19-f792-3b49-b0c0-34d1d9b558f7\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-03-23T10:48:47.8661621Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.ContainerService/locations/westus/operations/196fa17d-92f7-493b-b0c0-34d1d9b558f7?api-version=2017-08-31",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11983"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"7da16f19-f792-3b49-b0c0-34d1d9b558f7\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-03-23T10:48:47.8661621Z\",\r\n  \"endTime\": \"2020-03-23T10:56:58.4159657Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/rgps6490/providers/Microsoft.ContainerService/managedClusters/kubeps8445/accessProfiles/clusterUser/listCredential?api-version=2019-10-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/rgps6490/providers/Microsoft.ContainerService/managedClusters/kubeps8445/accessProfiles/clusterUser\",\r\n  \"location\": \"westus\",\r\n  \"name\": \"clusterUser\",\r\n  \"type\": \"Microsoft.ContainerService/ManagedClusters/AccessProfiles\",\r\n  \"properties\": {\r\n    \"kubeConfig\": \"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VWNVZFTkRRWEpIWjBGM1NVSkJaMGxSUjBKR1lVZFBkMVJvZW14dWFIbEtUSGREV0RSM2VrRk9RbWRyY1docmFVYzVkekJDUVZGelJrRkVRVTRLVFZGemQwTlJXVVJXVVZGRVJYZEthbGxVUVdkR2R6QjVUVVJCZWsxcVRYaE5SRTAwVGxSb1lVZEJPSGxOUkZWM1RVUk5lVTE2UlhkT1JHY3hUMFp2ZHdwRVZFVk1UVUZyUjBFeFZVVkJlRTFEV1RKRmQyZG5TV2xOUVRCSFExTnhSMU5KWWpORVVVVkNRVkZWUVVFMFNVTkVkMEYzWjJkSlMwRnZTVU5CVVVOMUNsWktTa05xY[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/rgps6490/providers/Microsoft.ContainerService/managedClusters/kubeps8445?api-version=2019-10-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.ContainerService/locations/westus/operationresults/6a46b3db-325c-4a8f-ae0a-c8a66f7c5f8b?api-version=2017-08-31"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.ContainerService/locations/westus/operations/6a46b3db-325c-4a8f-ae0a-c8a66f7c5f8b?api-version=2017-08-31"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
