{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/8f38cfec-0ecd-413a-892e-2494f77a3b56/resourcegroups/ps1561?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourcegroups/ps6680?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "6a5749a0-fea3-40d4-80f0-3f03a8b54c83"
=======
          "3a576c45-8122-487f-bfa3-f7c8d8221788"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27019.06",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.2"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.11"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "29"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1199"
        ],
        "x-ms-request-id": [
          "c4fb0474-af83-4776-a24b-cca32f331a78"
        ],
        "x-ms-correlation-request-id": [
          "c4fb0474-af83-4776-a24b-cca32f331a78"
        ],
        "x-ms-routing-request-id": [
          "SOUTHEASTASIA:20191123T104221Z:c4fb0474-af83-4776-a24b-cca32f331a78"
=======
          "1192"
        ],
        "x-ms-request-id": [
          "5f4eb451-fc35-458f-8cc5-7ba424e5b9ad"
        ],
        "x-ms-correlation-request-id": [
          "5f4eb451-fc35-458f-8cc5-7ba424e5b9ad"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200417T091103Z:5f4eb451-fc35-458f-8cc5-7ba424e5b9ad"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Sat, 23 Nov 2019 10:42:21 GMT"
=======
          "Fri, 17 Apr 2020 09:11:03 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "166"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/8f38cfec-0ecd-413a-892e-2494f77a3b56/resourceGroups/ps1561\",\r\n  \"name\": \"ps1561\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/8f38cfec-0ecd-413a-892e-2494f77a3b56/resourceGroups/ps1561/providers/Microsoft.NetApp/netAppAccounts/ps9305?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps6680\",\r\n  \"name\": \"ps6680\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps6680/providers/Microsoft.NetApp/netAppAccounts/ps7337?api-version=2019-10-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "48116ef5-8608-4ad0-94d4-1fd884822238"
=======
          "7ed32c92-28a2-47b0-86c4-36395ef7ee14"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27019.06",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.NetApp.AzureNetAppFilesManagementClient/1.3.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.NetApp.AzureNetAppFilesManagementClient/1.4.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "29"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
<<<<<<< HEAD
          "W/\"datetime'2019-11-23T10%3A42%3A29.0189184Z'\""
        ],
        "x-ms-request-id": [
          "510c7673-6ba5-4b12-b32e-6c9117015665"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/8f38cfec-0ecd-413a-892e-2494f77a3b56/providers/Microsoft.NetApp/locations/westus2/operationResults/14e5b52c-e3cd-4459-bfd7-c29ed770e96f?api-version=2019-08-01"
=======
          "W/\"datetime'2020-04-17T09%3A11%3A09.230997Z'\""
        ],
        "x-ms-request-id": [
          "a5807c1b-1d10-4de4-84f5-cb591ad6d850"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/westus2/operationResults/aaadebc8-5564-4a96-bf32-95ec53f5dc4a?api-version=2019-10-01"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Request-Context": [
          "appId=cid-v1:2c4cb680-0a1f-424d-bb8d-8e650ba68d53"
        ],
        "Access-Control-Expose-Headers": [
          "Request-Context"
        ],
        "Server": [
          "Microsoft-IIS/10.0"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1199"
        ],
        "x-ms-correlation-request-id": [
          "5b98f0bb-2ff1-47da-8705-c81d5aa90d1e"
        ],
        "x-ms-routing-request-id": [
          "SOUTHEASTASIA:20191123T104230Z:5b98f0bb-2ff1-47da-8705-c81d5aa90d1e"
=======
          "1197"
        ],
        "x-ms-correlation-request-id": [
          "c6df6715-33d8-4203-8e7b-b65eedb24a21"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200417T091110Z:c6df6715-33d8-4203-8e7b-b65eedb24a21"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Sat, 23 Nov 2019 10:42:30 GMT"
        ],
        "Content-Length": [
          "329"
=======
          "Fri, 17 Apr 2020 09:11:10 GMT"
        ],
        "Content-Length": [
          "328"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/8f38cfec-0ecd-413a-892e-2494f77a3b56/resourceGroups/ps1561/providers/Microsoft.NetApp/netAppAccounts/ps9305\",\r\n  \"name\": \"ps9305\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts\",\r\n  \"etag\": \"W/\\\"datetime'2019-11-23T10%3A42%3A29.0189184Z'\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"name\": \"ps9305\",\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/8f38cfec-0ecd-413a-892e-2494f77a3b56/providers/Microsoft.NetApp/locations/westus2/operationResults/14e5b52c-e3cd-4459-bfd7-c29ed770e96f?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps6680/providers/Microsoft.NetApp/netAppAccounts/ps7337\",\r\n  \"name\": \"ps7337\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts\",\r\n  \"etag\": \"W/\\\"datetime'2020-04-17T09%3A11%3A09.230997Z'\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"name\": \"ps7337\",\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/8f38cfec-0ecd-413a-892e-2494f77a3b56/resourceGroups/ps1561/providers/Microsoft.NetApp/netAppAccounts/ps9305?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/westus2/operationResults/aaadebc8-5564-4a96-bf32-95ec53f5dc4a\",\r\n  \"name\": \"aaadebc8-5564-4a96-bf32-95ec53f5dc4a\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-04-17T09:11:09.1222108Z\",\r\n  \"endTime\": \"2020-04-17T09:11:09.2941742Z\",\r\n  \"percentComplete\": 100.0,\r\n  \"properties\": {\r\n    \"resourceName\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps6680/providers/Microsoft.NetApp/netAppAccounts/ps7337\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/8f38cfec-0ecd-413a-892e-2494f77a3b56/resourceGroups/ps1561/providers/Microsoft.NetApp/netAppAccounts/ps9305/capacityPools/ps1617?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps6680/providers/Microsoft.NetApp/netAppAccounts/ps7337\",\r\n  \"name\": \"ps7337\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts\",\r\n  \"etag\": \"W/\\\"datetime'2020-04-17T09%3A11%3A09.2920404Z'\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"name\": \"ps7337\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps6680/providers/Microsoft.NetApp/netAppAccounts/ps7337/capacityPools/ps5714?api-version=2019-10-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\",\r\n  \"tags\": {\r\n    \"tag1\": \"tagValue1\"\r\n  },\r\n  \"properties\": {\r\n    \"size\": 4398046511104,\r\n    \"serviceLevel\": \"Premium\"\r\n  }\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "e5c63d2a-df1b-4a54-9714-d56df32465d9"
=======
          "7e19186a-005f-4c50-88e8-5381a1721bad"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27019.06",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.NetApp.AzureNetApp[...]
[...]
    {
      "RequestUri": "/subscriptions/8f38cfec-0ecd-413a-892e-2494f77a3b56/resourceGroups/ps1561/providers/Microsoft.NetApp/netAppAccounts/ps9305/capacityPools/ps1617?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps6680/providers/Microsoft.NetApp/netAppAccounts/ps7337/capacityPools/ps5714\",\r\n  \"name\": \"ps7337/ps5714\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts/capacityPools\",\r\n  \"etag\": \"W/\\\"datetime'2020-04-17T09%3A11%3A43.5803999Z'\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"tags\": {\r\n    \"tag1\": \"tagValue1\"\r\n  },\r\n  \"properties\": {\r\n    \"poolId\": \"fca13635-39d2-d686-ba7e-4f07e2bca6af\",\r\n    \"name\": \"ps7337/ps5714\",\r\n    \"serviceLevel\": \"Premium\",\r\n    \"size\": 4398046511104,\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/8f38cfec-0ecd-413a-892e-2494f77a3b56/resourceGroups/ps1561/providers/Microsoft.NetApp/netAppAccounts/ps9305/capacityPools?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps6680/providers/Microsoft.NetApp/netAppAccounts/ps7337/capacityPools/ps7587\",\r\n  \"name\": \"ps7337/ps7587\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts/capacityPools\",\r\n  \"etag\": \"W/\\\"datetime'2020-04-17T09%3A12%3A18.6743256Z'\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"poolId\": \"84eb4bd8-94bc-ca19-3723-0f5b2053faa2\",\r\n    \"name\": \"ps7337/ps7587\",\r\n    \"serviceLevel\": \"Premium\",\r\n    \"size\": 4398046511104,\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/8f38cfec-0ecd-413a-892e-2494f77a3b56/resourceGroups/ps1561/providers/Microsoft.NetApp/netAppAccounts/ps9305/capacityPools?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps6680/providers/Microsoft.NetApp/netAppAccounts/ps7337/capacityPools/ps5714\",\r\n      \"name\": \"ps7337/ps5714\",\r\n      \"type\": \"Microsoft.NetApp/netAppAccounts/capacityPools\",\r\n      \"etag\": \"W/\\\"datetime'2020-04-17T09%3A11%3A43.5803999Z'\\\"\",\r\n      \"location\": \"westus2\",\r\n      \"tags\": {\r\n        \"tag1\": \"tagValue1\"\r\n      },\r\n      \"properties\": {\r\n        \"poolId\": \"fca13635-39d2-d686-ba7e-4f07e2bca6af\",\r\n        \"name\": \"ps7337/ps5714\",\r\n        \"serviceLevel\": \"Premium\",\r\n        \"size\": 4398046511104,\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps6680/providers/Microsoft.NetApp/netAppAccounts/ps7337/capacityPools/ps7587\",\r\n      \"name\": \"ps7337/ps7587\",\r\n      \"type\": \"Microsoft.NetApp/netAppAccounts/capacityPools\",\r\n      \"etag\": \"W/\\\"datetime'2020-04-17T09%3A12%3A18.6743256Z'\\\"\",\r\n      \"location\": \"westus2\",\r\n      \"properties\": {\r\n        \"poolId\": \"84eb4bd8-94bc-ca19-3723-0f5b2053faa2\",\r\n        \"name\": \"ps7337/ps7587\",\r\n        \"serviceLevel\": \"Premium\",\r\n        \"size\": 4398046511104,\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps6680/providers/Microsoft.NetApp/netAppAccounts/ps7337/capacityPools/ps5714?api-version=2019-10-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "fa37619c-56ec-4659-8258-d50a42e3f3fe"
=======
          "6be4cc1d-e1e4-4040-ac7f-97ad6fa19f6b"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27019.06",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.NetApp.AzureNetAppFilesManagementClient/1.3.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.NetApp.AzureNetAppFilesManagementClient/1.4.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/8f38cfec-0ecd-413a-892e-2494f77a3b56/providers/Microsoft.NetApp/locations/westus2/operationResults/0fb00c7e-8299-4e05-9952-8d110a025afe?api-version=2019-08-01&operationResultResponseType=Location"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/8f38cfec-0ecd-413a-892e-2494f77a3b56/providers/Microsoft.NetApp/locations/westus2/operationResults/0fb00c7e-8299-4e05-9952-8d110a025af[...]
    {
      "RequestUri": "/subscriptions/8f38cfec-0ecd-413a-892e-2494f77a3b56/providers/Microsoft.NetApp/locations/westus2/operationResults/0fb00c7e-8299-4e05-9952-8d110a025afe?api-version=2019-08-01&operationResultResponseType=Location",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/westus2/operationResults/2c3d4789-b172-49fd-95fc-4a2fa326ff64\",\r\n  \"name\": \"2c3d4789-b172-49fd-95fc-4a2fa326ff64\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-04-17T09:12:55.1839977Z\",\r\n  \"endTime\": \"2020-04-17T09:12:55.5590264Z\",\r\n  \"percentComplete\": 100.0,\r\n  \"properties\": {\r\n    \"resourceName\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps6680/providers/Microsoft.NetApp/netAppAccounts/ps7337/capacityPools/ps5714\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
