{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourcegroups/ps9843?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourcegroups/ps5831?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "c76d24b6-832a-41fd-b287-3d865a0b99f2"
=======
          "d7a798dc-fece-45a6-ad99-979920f4b394"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.2"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.11"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "35"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
<<<<<<< HEAD
          "211de1e0-a932-465c-a5dd-5b37b50cb6a4"
        ],
        "x-ms-correlation-request-id": [
          "211de1e0-a932-465c-a5dd-5b37b50cb6a4"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200115T102220Z:211de1e0-a932-465c-a5dd-5b37b50cb6a4"
=======
          "d6480894-9fce-4fc2-b7cb-b78e223cbf2f"
        ],
        "x-ms-correlation-request-id": [
          "d6480894-9fce-4fc2-b7cb-b78e223cbf2f"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200424T163127Z:d6480894-9fce-4fc2-b7cb-b78e223cbf2f"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 15 Jan 2020 10:22:20 GMT"
=======
          "Fri, 24 Apr 2020 16:31:26 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "172"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps9843\",\r\n  \"name\": \"ps9843\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps9843/providers/Microsoft.Network/virtualWans/ps706?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps5831\",\r\n  \"name\": \"ps5831\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps5831/providers/Microsoft.Network/virtualWans/ps3789?api-version=2020-04-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "2cd9a566-7411-43e9-b3e9-4e4e1421c5a5"
=======
          "3206a826-8d01-489a-b5fc-1045d284db0e"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/423.1707.49677.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "fb2e2858-7265-4be3-aaba-7627384150df"
        ],
        "x-ms-correlation-request-id": [
          "fb2e2858-7265-4be3-aaba-7627384150df"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200115T102220Z:fb2e2858-7265-4be3-aaba-7627384150df"
=======
          "d81e3c85-e77f-43a4-804c-cc1e10b8a0ee"
        ],
        "x-ms-correlation-request-id": [
          "d81e3c85-e77f-43a4-804c-cc1e10b8a0ee"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200424T163127Z:d81e3c85-e77f-43a4-804c-cc1e10b8a0ee"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 15 Jan 2020 10:22:20 GMT"
=======
          "Fri, 24 Apr 2020 16:31:27 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "145"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualWans/ps706' under resource group 'ps9843' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps5831/providers/Microsoft.Network/virtualWans/ps3789?api-version=2020-04-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/423.1707.49677.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "ETag": [
<<<<<<< HEAD
          "W/\"bf2692df-a32d-4941-8bd2-6a3824737ee0\""
        ],
        "x-ms-request-id": [
          "b5fbdbcb-1f21-4e9e-96b8-86a01347118b"
        ],
        "x-ms-correlation-request-id": [
          "fe5789bf-dd5c-44c3-a913-3e0f150c5922"
        ],
        "x-ms-arm-service-request-id": [
          "75059a2e-1b24-45a7-aec4-0d7e6398f5c0"
=======
          "W/\"e6cbf577-8165-47f6-ad2c-03117d6a33cf\""
        ],
        "x-ms-request-id": [
          "5d376204-73fd-41f5-8ad5-8dbef9772f49"
        ],
        "x-ms-correlation-request-id": [
          "9e88a634-3dcc-4cb4-b49a-0518496c5bfe"
        ],
        "x-ms-arm-service-request-id": [
          "df375ba8-21b7-419c-bd01-41fbfd472085"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
<<<<<<< HEAD
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ],
=======
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-routing-request-id": [
          "WESTUS2:20200115T102232Z:fe5789bf-dd5c-44c3-a913-3e0f150c5922"
=======
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200424T163159Z:9e88a634-3dcc-4cb4-b49a-0518496c5bfe"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 15 Jan 2020 10:22:32 GMT"
        ],
        "Content-Length": [
          "537"
=======
          "Fri, 24 Apr 2020 16:31:58 GMT"
        ],
        "Content-Length": [
          "539"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"name\": \"ps706\",\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps9843/providers/Microsoft.Network/virtualWans/ps706\",\r\n  \"etag\": \"W/\\\"bf2692df-a32d-4941-8bd2-6a3824737ee0\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"allowVnetToVnetTraffic\": true,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps5831/providers/Microsoft.Network/virtualWans/ps3789?api-version=2020-04-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"allowVnetToVnetTraffic\": true,\r\n    \"type\": \"Standard\"\r\n  },\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "ca37ada4-26fe-408d-8d8e-3ed506b4c361"
=======
          "e1f3b5f3-a019-4d76-b248-4b6fc20e715b"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/423.1707.49677.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "162"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ]
<<<<<<< HEAD
          "de7187de-55d5-4c7c-860c-7a9199b0ef3e"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/locations/westcentralus/operations/de7187de-55d5-4c7c-860c-7a9199b0ef3e?api-version=2019-11-01"
        ],
        "x-ms-correlation-request-id": [
          "173a8ba1-bfef-44ed-a4af-d311ce449d8f"
=======
          "4ba8bd5a-98ca-4b03-a087-12bae123c1bb"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/locations/westcentralus/operations/4ba8bd5a-98ca-4b03-a087-12bae123c1bb?api-version=2020-04-01"
        ],
        "x-ms-correlation-request-id": [
          "4f969f5f-0b5c-4de2-9f78-0969d28d5648"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-arm-service-request-id": [
<<<<<<< HEAD
          "fc79aee1-0980-4b8f-933d-d81027de1101"
=======
          "fff4f387-d624-4549-877a-8f48bb7b3796"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
<<<<<<< HEAD
=======
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71f[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/locations/westcentralus/operations/de7187de-55d5-4c7c-860c-7a9199b0ef3e?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps3789\",\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps5831/providers/Microsoft.Network/virtualWans/ps3789\",\r\n  \"etag\": \"W/\\\"20e095bc-c409-4f6e-92c0-c116f92d590b\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"allowVnetToVnetTraffic\": true,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/locations/westcentralus/operations/4ba8bd5a-98ca-4b03-a087-12bae123c1bb?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps9843/providers/Microsoft.Network/virtualHubs/ps2716?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualHubs/ps3112' under resource group 'ps5831' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps9843/providers/Microsoft.Network/virtualHubs/ps2716?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps3112\",\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps5831/providers/Microsoft.Network/virtualHubs/ps3112\",\r\n  \"etag\": \"W/\\\"5fe9a044-c8fc-4c63-9f1a-415b1619be30\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"virtualNetworkConnections\": [],\r\n    \"virtualHubRouteTableV2s\": [],\r\n    \"addressPrefix\": \"10.8.0.0/24\",\r\n    \"routeTable\": {\r\n      \"routes\": []\r\n    },\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps5831/providers/Microsoft.Network/virtualWans/ps3789\"\r\n    },\r\n    \"sku\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps9843/providers/Microsoft.Network/virtualHubs/ps2716?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps3112\",\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps5831/providers/Microsoft.Network/virtualHubs/ps3112\",\r\n  \"etag\": \"W/\\\"af38ff83-d4de-495e-a0ac-bf47965ade23\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"virtualNetworkConnections\": [],\r\n    \"virtualHubRouteTableV2s\": [],\r\n    \"addressPrefix\": \"10.8.0.0/24\",\r\n    \"routeServiceAsn\": \"65515\",\r\n    \"routeServicePeeringIPs\": \"[{\\\"InstanceName\\\":\\\"RouteServiceRole_IN_0\\\",\\\"IPAddress\\\":\\\"10.8.0.100\\\"},{\\\"InstanceName\\\":\\\"RouteServiceRole_IN_1\\\",\\\"IPAddress\\\":\\\"10.8.0.101\\\"}]\",\r\n    \"routeTable\": {\r\n      \"routes\": []\r\n    },\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps5831/providers/Microsoft.Network/virtualWans/ps3789\"\r\n    },\r\n    \"expressRouteGateway\": {\r\n      \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps5831/providers/Microsoft.Network/expressRouteGateways/ps2365\"\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps9843/providers/Microsoft.Network/virtualHubs/ps2716?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps3112\",\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps5831/providers/Microsoft.Network/virtualHubs/ps3112\",\r\n  \"etag\": \"W/\\\"a0457e2a-1f19-463e-ae74-4a39cc68fc6c\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"virtualNetworkConnections\": [],\r\n    \"virtualHubRouteTableV2s\": [\r\n      {\r\n        \"name\": \"ps1136\",\r\n        \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps5831/providers/Microsoft.Network/virtualHubs/ps3112/routeTables/ps1136\",\r\n        \"etag\": \"W/\\\"a0457e2a-1f19-463e-ae74-4a39cc68fc6c\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"routes\": [\r\n            {\r\n              \"destinationType\": \"CIDR\",\r\n              \"destinations\": [\r\n                \"10.4.0.0/16\",\r\n                \"10.5.0.0/16\"\r\n              ],\r\n              \"nextHopType\": \"IPAddress\",\r\n              \"nextHops\": [\r\n                \"10.0.0.68\"\r\n              ]\r\n            },\r\n            {\r\n              \"destinationType\": \"CIDR\",\r\n              \"destinations\": [\r\n                \"0.0.0.0/0\"\r\n              ],\r\n              \"nextHopType\": \"IPAddress\",\r\n              \"nextHops\": [\r\n                \"10.0.0.68\"\r\n              ]\r\n            }\r\n          ],\r\n          \"attachedConnections\": [\r\n            \"All_Vnets\"\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualHubs/routeTables\"\r\n      }\r\n    ],\r\n    \"addressPrefix\": \"10.8.0.0/24\",\r\n    \"routeServiceAsn\": \"65515\",\r\n    \"routeServicePeeringIPs\": \"[{\\\"InstanceName\\\":\\\"RouteServiceRole_IN_0\\\",\\\"IPAddress\\\":\\\"10.8.0.100\\\"},{\\\"InstanceName\\\":\\\"RouteServiceRole_IN_1\\\",\\\"IPAddress\\\":\\\"10.8.0.101\\\"}]\",\r\n    \"routeTable\": {\r\n      \"routes\": []\r\n    },\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps5831/providers/Microsoft.Network/virtualWans/ps3789\"\r\n    },\r\n    \"expressRouteGateway\": {\r\n      \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps5831/providers/Microsoft.Network/expressRouteGateways/ps2365\"\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps9843/providers/Microsoft.Network/expressRouteGateways/ps6333?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/expressRouteGateways/ps2365' under resource group 'ps5831' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps9843/providers/Microsoft.Network/expressRouteGateways/ps6333?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps2365\",\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps5831/providers/Microsoft.Network/expressRouteGateways/ps2365\",\r\n  \"etag\": \"W/\\\"b8db8387-863a-4c85-8e04-06696da47c1c\\\"\",\r\n  \"type\": \"Microsoft.Network/expressRouteGateways\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"71bcaaf5-f5d9-4615-bad7-6466724ec29c\",\r\n    \"virtualHub\": {\r\n      \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps5831/providers/Microsoft.Network/virtualHubs/ps3112\"\r\n    },\r\n    \"expressRouteConnections\": [],\r\n    \"autoScaleConfiguration\": {\r\n      \"bounds\": {\r\n        \"min\": 2\r\n      }\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps9843/providers/Microsoft.Network/expressRouteGateways/ps6333?api-version=2019-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"autoScaleConfiguration\": {\r\n      \"bounds\": {\r\n        \"min\": 2,\r\n        \"max\": 2\r\n      }\r\n    },\r\n    \"virtualHub\": {\r\n      \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps9843/providers/Microsoft.Network/virtualHubs/ps2716\"\r\n    }\r\n  },\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
=======
        ],
        "Content-Length": [
          "155"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/expressRouteGateways/ps2365' under resource group 'ps5831' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps5831/providers/Microsoft.Network/virtualHubs/ps3112/routeTables/ps1136?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "Retry-After": [
          "10"
        ],
        "x-ms-request-id": [
          "fc0e20d2-f6cc-45bb-a5c5-1ee9[...]
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps5831/providers/Microsoft.Network/expressRouteGateways/ps2365?api-version=2020-04-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
=======
        "Location": [
          "https://management.azure.com/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/locations/westcentralus/operationResults/6c2f493d-4f72-4eaa-a2e5-220f7e283eec?api-version=2020-04-01"
        ],
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        "Retry-After": [
          "10"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "a47d4038-974c-4119-8cb2-3e081d1a29a7"
        ],
        "x-ms-correlation-request-id": [
          "7e413593-4e[...]
[...]
