{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourcegroups/ps1067?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourcegroups/ps6157?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"WestUS\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "ba54ba48-618e-4646-9d5a-1ccb0c4ce3ab"
=======
          "36afa1e6-23f3-46f4-a22d-9ef5eb94c906"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28008.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.2"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.7"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "28"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1199"
        ],
        "x-ms-request-id": [
          "cc861ed2-8bf7-4e28-8c7a-25d98b3b63ad"
        ],
        "x-ms-correlation-request-id": [
          "cc861ed2-8bf7-4e28-8c7a-25d98b3b63ad"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20191126T185455Z:cc861ed2-8bf7-4e28-8c7a-25d98b3b63ad"
=======
          "1195"
        ],
        "x-ms-request-id": [
          "c862e520-8302-4769-b560-ef603527509e"
        ],
        "x-ms-correlation-request-id": [
          "c862e520-8302-4769-b560-ef603527509e"
        ],
        "x-ms-routing-request-id": [
          "BRAZILUS:20200226T003419Z:c862e520-8302-4769-b560-ef603527509e"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 26 Nov 2019 18:54:54 GMT"
=======
          "Wed, 26 Feb 2020 00:34:19 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "165"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourceGroups/ps1067\",\r\n  \"name\": \"ps1067\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourceGroups/ps1067/providers/Microsoft.Attestation/attestationProviders/ps5870?api-version=2018-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"policySigningCertificates\": {\r\n    \"keys\": [\r\n      {\r\n        \"kty\": \"RSA\",\r\n        \"x5c\": [\r\n          \"MIIEgDCCBCegAwIBAgIVAJSNWH+S7TzUL/e7UNpLHH2IVoICMAoGCCqGSM49BAMCMHExIzAhBgNVBAMMGkludGVsIFNHWCBQQ0sgUHJvY2Vzc29yIENBMRowGAYDVQQKDBFJbnRlbCBDb3Jwb3JhdGlvbjEUMBIGA1UEBwwLU2FudGEgQ2xhcmExCzAJBgNVBAgMAkNBMQswCQYDVQQGEwJVUzAeFw0xOTAxMDgyMjUwMDlaFw0yNjAxMDgyMjUwMDlaMHAxIjAgBgNVBAMMGUludGVsIFNHWCBQQ0sgQ2VydGlmaWNhdGUxGjAYBgNVBAoMEUludGVsIENvcnBvcmF0aW9uMRQwEgYDVQQHDAtTYW50YSBDbGFyYTELMAkGA1UECAwCQ0ExCzAJBgNVBAYTAlVTMFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEJyTADcSZqI5q/J2L4w7KLAKmKygcN3EUQN[...]
[...]
    {
      "RequestUri": "/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourceGroups/ps1067/providers/Microsoft.Attestation/attestationProviders/ps5870?api-version=2018-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"id\": \"subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourceGroups/ps6157/providers/Microsoft.Attestation/attestationProviders/ps7282\",\r\n  \"name\": \"ps7282\",\r\n  \"type\": \"Microsoft.Attestation/attestationProviders\",\r\n  \"location\": \"East US\",\r\n  \"tags\": null,\r\n  \"properties\": {\r\n    \"trustModel\": \"Isolated\",\r\n    \"status\": \"Ready\",\r\n    \"attestUri\": \"https://ps7282.us.test.attest.azure.net\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourcegroups/ps6157?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28008.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Attestation.AttestationManagementClient/0.9.6.0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "2"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.7"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Server": [
          "Kestrel"
        ],
        "WWW-Authenticate": [
          "Bearer authorization_uri=\"https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://attest.azure.net\""
        ],
        "x-ms-request-id": [
          "c4e6ac05-88cf-48b0-9645-d19a5efe13fa"
        ],
        "x-ms-correlation-request-id": [
          "c4e6ac05-88cf-48b0-9645-d19a5efe13fa"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20191126T185457Z:c4e6ac05-88cf-48b0-9645-d19a5efe13fa"
=======
        "Location": [
          "https://management.azure.com/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzYxNTctV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14995"
        ],
        "x-ms-request-id": [
          "37678571-9649-4758-9ce6-81d2a1b7df51"
        ],
        "x-ms-correlation-request-id": [
          "37678571-9649-4758-9ce6-81d2a1b7df51"
        ],
        "x-ms-routing-request-id": [
          "BRAZILUS:20200226T003422Z:37678571-9649-4758-9ce6-81d2a1b7df51"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 26 Nov 2019 18:54:56 GMT"
        ],
        "Content-Length": [
          "138"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"DuplicateTenant\",\r\n    \"message\": \"The given service URI 'ps5870' is already in use. Please try again with a different name.\"\r\n  }\r\n}",
      "StatusCode": 409
    },
[...]
    {
      "RequestUri": "/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzYxNTctV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-request-id": [
          "59ed4ad8-856b-4693-8580-85b13e7a7a97"
        ],
        "x-ms-correlation-request-id": [
          "59ed4ad8-856b-4693-8580-85b13e7a7a97"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20191126T185457Z:59ed4ad8-856b-4693-8580-85b13e7a7a97"
=======
        "Location": [
          "https://management.azure.com/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JP[...]
[...]
