{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourcegroups/ps7764?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourcegroups/ps5034?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"WestUS\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "39edee2b-111d-4af6-bc53-7e44daa88a85"
=======
          "8b16c0e0-8238-48c0-b811-4d3fc6404374"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27617.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.2.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.7"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "28"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1199"
        ],
        "x-ms-request-id": [
          "ae339769-9fc3-4090-9ddb-23d97b258148"
        ],
        "x-ms-correlation-request-id": [
          "ae339769-9fc3-4090-9ddb-23d97b258148"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190628T212315Z:ae339769-9fc3-4090-9ddb-23d97b258148"
=======
          "1198"
        ],
        "x-ms-request-id": [
          "02bfd4df-5353-4953-8d86-f074815983b6"
        ],
        "x-ms-correlation-request-id": [
          "02bfd4df-5353-4953-8d86-f074815983b6"
        ],
        "x-ms-routing-request-id": [
          "BRAZILUS:20200226T002129Z:02bfd4df-5353-4953-8d86-f074815983b6"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 28 Jun 2019 21:23:14 GMT"
=======
          "Wed, 26 Feb 2020 00:21:29 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "165"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourceGroups/ps7764\",\r\n  \"name\": \"ps7764\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourceGroups/ps7764/providers/Microsoft.Attestation/attestationProviders/ps550?api-version=2018-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"attestationPolicy\": \"SgxDisableDebugMode\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourceGroups/ps5034\",\r\n  \"name\": \"ps5034\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourceGroups/ps5034/providers/Microsoft.Attestation/attestationProviders/ps9357?api-version=2018-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\",\r\n  \"properties\": {}\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27617.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Attestation.AttestationManagementClient/0.9.5.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Attestation.AttestationManagementClient/0.9.6.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "50"
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "fabric:/AttestationService/Tenant/ps550"
=======
          "https://ps9357.us.test.attest.azure.net/"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Server": [
          "Kestrel"
        ],
<<<<<<< HEAD
        "x-ms-request-id": [
          "21084aae-54c3-4e18-a45d-716f85af5dbf"
        ],
        "x-ms-correlation-request-id": [
          "21084aae-54c3-4e18-a45d-716f85af5dbf"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190628T212318Z:21084aae-54c3-4e18-a45d-716f85af5dbf"
=======
        "WWW-Authenticate": [
          "Bearer authorization_uri=\"https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://attest.azure.net\""
        ],
        "x-ms-request-id": [
          "967e1755-f5ff-4f92-a9de-df1756587ed9"
        ],
        "x-ms-correlation-request-id": [
          "967e1755-f5ff-4f92-a9de-df1756587ed9"
        ],
        "x-ms-routing-request-id": [
          "BRAZILUS:20200226T002131Z:967e1755-f5ff-4f92-a9de-df1756587ed9"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 28 Jun 2019 21:23:17 GMT"
        ],
        "Content-Length": [
          "290"
=======
          "Wed, 26 Feb 2020 00:21:31 GMT"
        ],
        "Content-Length": [
          "347"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourceGroups/ps7764/providers/Microsoft.Attestation/attestationProviders/ps550\",\r\n  \"name\": \"ps550\",\r\n  \"type\": \"Microsoft.Attestation/attestationProviders\",\r\n  \"properties\": {\r\n    \"status\": \"NotReady\",\r\n    \"attestUri\": \"https://ps550.us.attest.azure.net\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourceGroups/ps7764/providers/Microsoft.Attestation/attestationProviders/ps550?api-version=2018-09-01-preview",
=======
      "ResponseBody": "{\r\n  \"id\": \"subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourceGroups/ps5034/providers/Microsoft.Attestation/attestationProviders/ps9357\",\r\n  \"name\": \"ps9357\",\r\n  \"type\": \"Microsoft.Attestation/attestationProviders\",\r\n  \"location\": \"East US\",\r\n  \"tags\": null,\r\n  \"properties\": {\r\n    \"trustModel\": \"AAD\",\r\n    \"status\": \"Ready\",\r\n    \"attestUri\": \"https://ps9357.us.test.attest.azure.net\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzUwMzQtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ]
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Tr[...]
