{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourcegroups/ps6632?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourcegroups/ps4968?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"WestUS\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "fdd2b237-36f4-43db-8ee4-5b1892cd6c93"
=======
          "021e3adb-555f-4c4d-ab4b-5114bb21fe3b"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27617.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.2.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.7"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "28"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1199"
        ],
        "x-ms-request-id": [
          "8649a33e-e83e-4059-a75a-db6bd2a26f32"
        ],
        "x-ms-correlation-request-id": [
          "8649a33e-e83e-4059-a75a-db6bd2a26f32"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190628T211721Z:8649a33e-e83e-4059-a75a-db6bd2a26f32"
=======
          "1196"
        ],
        "x-ms-request-id": [
          "9dd707d0-729c-4b19-a326-6c207ceb407d"
        ],
        "x-ms-correlation-request-id": [
          "9dd707d0-729c-4b19-a326-6c207ceb407d"
        ],
        "x-ms-routing-request-id": [
          "BRAZILUS:20200226T003054Z:9dd707d0-729c-4b19-a326-6c207ceb407d"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 28 Jun 2019 21:17:20 GMT"
=======
          "Wed, 26 Feb 2020 00:30:53 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "165"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourceGroups/ps6632\",\r\n  \"name\": \"ps6632\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourceGroups/ps6632/providers/Microsoft.Attestation/attestationProviders/ps4258?api-version=2018-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"attestationPolicy\": \"SgxDisableDebugMode\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourceGroups/ps4968\",\r\n  \"name\": \"ps4968\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourceGroups/ps4968/providers/Microsoft.Attestation/attestationProviders/ps8020?api-version=2018-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\",\r\n  \"properties\": {}\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27617.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Attestation.AttestationManagementClient/0.9.5.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Attestation.AttestationManagementClient/0.9.6.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "50"
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "fabric:/AttestationService/Tenant/ps4258"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
=======
          "https://ps8020.us.test.attest.azure.net/"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [
          "Kestrel"
        ],
<<<<<<< HEAD
        "x-ms-request-id": [
          "b3125621-b24f-4934-9033-21176c202bc8"
        ],
        "x-ms-correlation-request-id": [
          "b3125621-b24f-4934-9033-21176c202bc8"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190628T211724Z:b3125621-b24f-4934-9033-21176c202bc8"
=======
        "WWW-Authenticate": [
          "Bearer authorization_uri=\"https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://attest.azure.net\""
        ],
        "x-ms-request-id": [
          "73c2834d-f2a8-4da5-bd7b-dec8582bb2e2"
        ],
        "x-ms-correlation-request-id": [
          "73c2834d-f2a8-4da5-bd7b-dec8582bb2e2"
        ],
        "x-ms-routing-request-id": [
          "BRAZILUS:20200226T003058Z:73c2834d-f2a8-4da5-bd7b-dec8582bb2e2"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 28 Jun 2019 21:17:23 GMT"
        ],
        "Content-Length": [
          "293"
=======
          "Wed, 26 Feb 2020 00:30:58 GMT"
        ],
        "Content-Length": [
          "347"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourceGroups/ps6632/providers/Microsoft.Attestation/attestationProviders/ps4258\",\r\n  \"name\": \"ps4258\",\r\n  \"type\": \"Microsoft.Attestation/attestationProviders\",\r\n  \"properties\": {\r\n    \"status\": \"NotReady\",\r\n    \"attestUri\": \"https://ps4258.us.attest.azure.net\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourceGroups/ps6632/providers/Microsoft.Attestation/attestationProviders/ps4258?api-version=2018-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"attestationPolicy\": \"SgxDisableDebugMode\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"id\": \"subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourceGroups/ps4968/providers/Microsoft.Attestation/attestationProviders/ps8020\",\r\n  \"name\": \"ps8020\",\r\n  \"type\": \"Microsoft.Attestation/attestationProviders\",\r\n  \"location\": \"East US\",\r\n  \"tags\": null,\r\n  \"properties\": {\r\n    \"trustModel\": \"AAD\",\r\n    \"status\": \"Ready\",\r\n    \"attestUri\": \"https://ps8020.us.test.attest.azure.net\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourceGroups/ps5629/providers/Microsoft.Attestation/attestationProviders/ps4258?api-version=2018-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"attestationPolicy\": \"SgxDisableDebugMode\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"DuplicateTenant\",\r\n    \"message\": \"The given service URI 'ps8020' is already in use. Please try again with a different name.\"\r\n  }\r\n}",
      "StatusCode": 409
    },
    {
      "RequestUri": "/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourceGroups/ps3159/providers/Microsoft.Attestation/attestationProviders/ps529?api-version=2018-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\",\r\n  \"properties\": {}\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27617.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Attestation.AttestationManagementClient/0.9.5.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Attestation.AttestationManagementClient/0.9.6.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "50"
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "a5e6936b-a730-4efe-9561-7bdc26fddc49"
        ],
        "x-ms-correlation-request-id": [
          "a5e6936b-a730-4efe-9561-7bdc26fddc49"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190628T211724Z:a5e6936b-a730-4efe-9561-7bdc26fddc49"
=======
          "bda72de9-5d3b-4ea7-992e-f20a9a513b9b"
        ],
        "x-ms-correlation-request-id": [
          "bda72de9-5d3b-4ea7-992e-f20a9a513b9b"
        ],
        "x-ms-routing-request-id": [
          "BRAZILUS:20200226T003059Z:bda72de9-5d3b-4ea7-992e-f20a9a513b9b"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 28 Jun 2019 21:17:23 GMT"
=======
          "Wed, 26 Feb 2020 00:30:59 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "98"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'ps5629' could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzQ5NjgtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ]
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Tr[...]
