{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourcegroups/ps1757?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourcegroups/ps228?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"WestUS\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "eac8baca-9d08-4fd4-b57f-4e13d5cf2600"
=======
          "64848852-564e-47f4-9373-87e3efaa590a"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27617.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.2.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.7"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "28"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1199"
        ],
        "x-ms-request-id": [
          "3bce293a-6f91-4693-822d-9e3147c1a2ac"
        ],
        "x-ms-correlation-request-id": [
          "3bce293a-6f91-4693-822d-9e3147c1a2ac"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190628T211833Z:3bce293a-6f91-4693-822d-9e3147c1a2ac"
=======
          "1193"
        ],
        "x-ms-request-id": [
          "078be29a-835e-43a6-a1ea-aed2203113d0"
        ],
        "x-ms-correlation-request-id": [
          "078be29a-835e-43a6-a1ea-aed2203113d0"
        ],
        "x-ms-routing-request-id": [
          "BRAZILUS:20200226T003207Z:078be29a-835e-43a6-a1ea-aed2203113d0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 28 Jun 2019 21:18:33 GMT"
        ],
        "Content-Length": [
          "165"
=======
          "Wed, 26 Feb 2020 00:32:06 GMT"
        ],
        "Content-Length": [
          "163"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourceGroups/ps1757\",\r\n  \"name\": \"ps1757\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourceGroups/ps1757/providers/Microsoft.Attestation/attestationProviders/ps4923?api-version=2018-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"attestationPolicy\": \"SgxDisableDebugMode\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourceGroups/ps228\",\r\n  \"name\": \"ps228\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourceGroups/ps228/providers/Microsoft.Attestation/attestationProviders/ps8956?api-version=2018-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\",\r\n  \"properties\": {}\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27617.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Attestation.AttestationManagementClient/0.9.5.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Attestation.AttestationManagementClient/0.9.6.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "50"
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "fabric:/AttestationService/Tenant/ps4923"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
=======
          "https://ps8956.us.test.attest.azure.net/"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [
          "Kestrel"
        ],
<<<<<<< HEAD
        "x-ms-request-id": [
          "4e3531b6-f1f3-4002-9ac0-79c4d4c8af02"
        ],
        "x-ms-correlation-request-id": [
          "4e3531b6-f1f3-4002-9ac0-79c4d4c8af02"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190628T211836Z:4e3531b6-f1f3-4002-9ac0-79c4d4c8af02"
=======
        "WWW-Authenticate": [
          "Bearer authorization_uri=\"https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://attest.azure.net\""
        ],
        "x-ms-request-id": [
          "78e232eb-dfb5-4e3d-97d0-49366e40f359"
        ],
        "x-ms-correlation-request-id": [
          "78e232eb-dfb5-4e3d-97d0-49366e40f359"
        ],
        "x-ms-routing-request-id": [
          "BRAZILUS:20200226T003211Z:78e232eb-dfb5-4e3d-97d0-49366e40f359"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 28 Jun 2019 21:18:35 GMT"
        ],
        "Content-Length": [
          "293"
=======
          "Wed, 26 Feb 2020 00:32:11 GMT"
        ],
        "Content-Length": [
          "346"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourceGroups/ps1757/providers/Microsoft.Attestation/attestationProviders/ps4923\",\r\n  \"name\": \"ps4923\",\r\n  \"type\": \"Microsoft.Attestation/attestationProviders\",\r\n  \"properties\": {\r\n    \"status\": \"NotReady\",\r\n    \"attestUri\": \"https://ps4923.us.attest.azure.net\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourceGroups/ps1757/providers/Microsoft.Attestation/attestationProviders/ps4923?api-version=2018-09-01-preview",
=======
      "ResponseBody": "{\r\n  \"id\": \"subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/resourceGroups/ps228/providers/Microsoft.Attestation/attestationProviders/ps8956\",\r\n  \"name\": \"ps8956\",\r\n  \"type\": \"Microsoft.Attestation/attestationProviders\",\r\n  \"location\": \"East US\",\r\n  \"tags\": null,\r\n  \"properties\": {\r\n    \"trustModel\": \"AAD\",\r\n    \"status\": \"Ready\",\r\n    \"attestUri\": \"https://ps8956.us.test.attest.azure.net\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzIyOC1XRVNUVVMiLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/a724c543-53ce-44a6-b633-e11ef27839b7/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzIyOC1XRVNUVVMiLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11986"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
