{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourcegroups/ps2795?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourcegroups/ps1849?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "302e4c21-8b72-4729-9e23-072f758a1d04"
=======
          "f10c094a-3fdd-40ec-bbb4-03a02a32544b"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.5"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.11"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "29"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1198"
        ],
        "x-ms-request-id": [
          "25669beb-7db8-4a59-bf1b-c6f80297a4a3"
        ],
        "x-ms-correlation-request-id": [
          "25669beb-7db8-4a59-bf1b-c6f80297a4a3"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200121T115742Z:25669beb-7db8-4a59-bf1b-c6f80297a4a3"
=======
          "1199"
        ],
        "x-ms-request-id": [
          "22130ea5-16ff-49ff-bd0e-8a6d688117fa"
        ],
        "x-ms-correlation-request-id": [
          "22130ea5-16ff-49ff-bd0e-8a6d688117fa"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200417T093501Z:22130ea5-16ff-49ff-bd0e-8a6d688117fa"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 21 Jan 2020 11:57:42 GMT"
=======
          "Fri, 17 Apr 2020 09:35:00 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "166"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps2795\",\r\n  \"name\": \"ps2795\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps2795/providers/Microsoft.Network/virtualNetworks/ps2795-vnet?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps1849\",\r\n  \"name\": \"ps1849\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps1849/providers/Microsoft.Network/virtualNetworks/ps1849-vnet?api-version=2020-03-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "1c0898de-5f9b-4911-bb2f-7e57c6da1d0d"
=======
          "202d7dd9-991c-40a3-9022-5bec4e387bea"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.18.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.20.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "c3e493b9-5606-4f76-bac1-f582e7782266"
        ],
        "x-ms-correlation-request-id": [
          "c3e493b9-5606-4f76-bac1-f582e7782266"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200121T115743Z:c3e493b9-5606-4f76-bac1-f582e7782266"
=======
          "6282837a-9570-40c9-9658-f1105168a9e5"
        ],
        "x-ms-correlation-request-id": [
          "6282837a-9570-40c9-9658-f1105168a9e5"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200417T093502Z:6282837a-9570-40c9-9658-f1105168a9e5"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 21 Jan 2020 11:57:42 GMT"
=======
          "Fri, 17 Apr 2020 09:35:02 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "155"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps2795-vnet' under resource group 'ps2795' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps1849/providers/Microsoft.Network/virtualNetworks/ps1849-vnet?api-version=2020-03-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.18.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.20.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "ETag": [
<<<<<<< HEAD
          "W/\"c38d575a-c67b-4090-992b-e3d9b26ad98b\""
        ],
        "x-ms-request-id": [
          "c76abdd2-eff0-4ecb-b083-1709a16ac7d7"
        ],
        "x-ms-correlation-request-id": [
          "d023d1ac-4b22-4cfa-abd2-800c0cf31cb8"
        ],
        "x-ms-arm-service-request-id": [
          "dd513365-9596-4da4-8134-ef0ea436868a"
=======
          "W/\"50e661de-7077-4561-8634-92cfef249167\""
        ],
        "x-ms-request-id": [
          "3a5aa7f7-f125-409d-b9bf-f9b0417c65e9"
        ],
        "x-ms-correlation-request-id": [
          "b192e476-30bf-4d78-b6cc-3cd6fec9d055"
        ],
        "x-ms-arm-service-request-id": [
          "d62e1eaf-7569-40f4-9642-3cb94e99c29a"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11997"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200121T115755Z:d023d1ac-4b22-4cfa-abd2-800c0cf31cb8"
=======
          "11986"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200417T093511Z:b192e476-30bf-4d78-b6cc-3cd6fec9d055"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 21 Jan 2020 11:57:55 GMT"
=======
          "Fri, 17 Apr 2020 09:35:11 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "642"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"name\": \"ps2795-vnet\",\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps2795/providers/Microsoft.Network/virtualNetworks/ps2795-vnet\",\r\n  \"etag\": \"W/\\\"c38d575a-c67b-4090-992b-e3d9b26ad98b\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"1dfa7b59-8c6d-4273-99bb-4bb226085ca9\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps2795/providers/Microsoft.Network/virtualNetworks/ps2795-vnet?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps1849-vnet\",\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps1849/providers/Microsoft.Network/virtualNetworks/ps1849-vnet\",\r\n  \"etag\": \"W/\\\"36a978c4-6a6e-43ae-8a37-875db47c1027\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"87ede33f-d011-41db-8fec-6dffd50553db\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"default\",\r\n        \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps1849/providers/Microsoft.Network/virtualNetworks/ps1849-vnet/subnets/default\",\r\n        \"etag\": \"W/\\\"36a978c4-6a6e-43ae-8a37-875db47c1027\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [\r\n            {\r\n              \"name\": \"netAppVolumes\",\r\n              \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps1849/providers/Microsoft.Network/virtualNetworks/ps1849-vnet/subnets/default/delegations/netAppVolumes\",\r\n              \"etag\": \"W/\\\"36a978c4-6a6e-43ae-8a37-875db47c1027\\\"\",\r\n              \"properties\": {\r\n                \"provisioningState\": \"Succeeded\",\r\n                \"serviceName\": \"Microsoft.Netapp/volumes\",\r\n                \"actions\": [\r\n                  \"Microsoft.Network/networkinterfaces/*\",\r\n                  \"Microsoft.Network/virtualNetworks/subnets/join/action\"\r\n                ]\r\n              },\r\n              \"type\": \"Microsoft.Network/virtualNetworks/subnets/delegations\"\r\n            }\r\n          ],\r\n          \"purpose\": \"HostedWorkloads\",\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps1849/providers/Microsoft.Network/virtualNetworks/ps1849-vnet?api-version=2020-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.18.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.20.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "235"
=======
          "261"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ]
<<<<<<< HEAD
          "fd7360f7-cdc5-4dc2-bc1d-8863a3f4def4"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network/locations/westus2/operations/fd7360f7-cdc5-4dc2-bc1d-8863a3f4def4?api-version=2019-11-01"
        ],
        "x-ms-correlation-request-id": [
          "d736bd0f-7756-4b50-9cc2-ff0d096b1200"
        ],
        "x-ms-arm-service-request-id": [
          "b4837034-bd60-4f70-bec8-a425912e8654"
=======
          "93f84ac6-d32e-4e2e-a6d0-686edacaa524"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.Network/locations/westus2/operations/93f84ac6-d32e-4e2e-a6d0-686edacaa524?api-version=2020-03-01"
        ],
        "x-ms-correlation-request-id": [
          "df6c84b0-ea77-4a96-9f54-dca2e3475366"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-arm-service-request-id": [
          "cdd36317-4c15-49af-a46f-96a48c657bc5"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1199"
        ],
        "x-ms-routi[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps2795/providers/Microsoft.Network/virtualNetworks/ps2795-vnet?api-version=2019-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"delegations\": [\r\n            {\r\n              \"properties\": {\r\n                \"serviceName\": \"Microsoft.Netapp/volumes\"\r\n              },\r\n              \"name\": \"netAppVolumes\"\r\n            }\r\n          ],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"name\": \"default\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enable[...]
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network/locations/westus2/operations/fd7360f7-cdc5-4dc2-bc1d-8863a3f4def4?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps1849-vnet\",\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps1849/providers/Microsoft.Network/virtualNetworks/ps1849-vnet\",\r\n  \"etag\": \"W/\\\"90a3273d-8d46-486b-bae1-f732f124dc0f\\\"\",\r\n  \"type\": \"Micro[...]
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.NetApp/locations/westus2/operationResults/2546672c-5f6f-4518-a426-ee7d95d998ab?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps1849/providers/Microsoft.NetApp/netAppAccounts/ps6513\",\r\n  \"name\": \"ps6513\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts\",\r\n  \"etag\": \"W/\\\"datetime'2020-04-17T09%3A35%3A22.1093699Z'\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"name\": \"ps6513\",\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/westus2/operationResults/67dec214-bfb9-45e3-831f-110ef0e499a2?api-version=2019-10-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.NetApp.AzureNetAppFilesManagementClient/1.3.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.NetApp.AzureNetAppFilesManagementClient/1.4.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "d2397c5b-ed5c-4eed-9dfd-9e51aef2b349"
=======
          "9ed3fe95-09b5-4278-b13f-4d20ef430efc"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Request-Context": [
          "appId=cid-v1:2c4cb680-0a1f-424d-bb8d-8e650ba68d53"
        ],
        "Access-Control-Expose-Headers": [
          "Request-Context"
        ],
        "Server": [
          "Microsoft-IIS/10.0"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11999"
        ],
        "x-ms-correlation-request-id": [
          "b8111710-fb72-483c-a2bf-d4aa54a7e88f"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200121T115839Z:b8111710-fb72-483c-a2bf-d4aa54a7e88f"
=======
          "11980"
        ],
        "x-ms-correlation-request-id": [
          "66657197-c937-455d-b9b6-b469d5c3c3be"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200417T093553Z:66657197-c937-455d-b9b6-b469d5c3c3be"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 21 Jan 2020 11:58:39 GMT"
=======
          "Fri, 17 Apr 2020 09:35:52 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "489"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.NetApp/locations/westus2/operationResults/2546672c-5f6f-4518-a426-ee7d95d998ab\",\r\n  \"name\": \"2546672c-5f6f-4518-a426-ee7d95d998ab\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-01-21T11:58:07.7069306Z\",\r\n  \"endTime\": \"2020-01-21T11:58:07.8163139Z\",\r\n  \"percentComplete\": 100.0,\r\n  \"properties\": {\r\n    \"resourceName\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps2795/providers/Microsoft.NetApp/netAppAccounts/ps4849\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps2795/providers/Microsoft.NetApp/netAppAccounts/ps4849?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/westus2/operationResults/67dec214-bfb9-45e3-831f-110ef0e499a2\",\r\n  \"name\": \"67dec214-bfb9-45e3-831f-110ef0e499a2\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-04-17T09:35:22.0425234Z\",\r\n  \"endTime\": \"2020-04-17T09:35:22.1831567Z\",\r\n  \"percentComplete\": 100.0,\r\n  \"properties\": {\r\n    \"resourceName\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps1849/providers/Microsoft.NetApp/netAppAccounts/ps6513\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps2795/providers/Microsoft.NetApp/netAppAccounts/ps4849/capacityPools/ps8918?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps1849/providers/Microsoft.NetApp/netAppAccounts/ps6513\",\r\n  \"name\": \"ps6513\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts\",\r\n  \"etag\": \"W/\\\"datetime'2020-04-17T09%3A35%3A22.1874253Z'\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"name\": \"ps6513\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps1849/providers/Microsoft.NetApp/netAppAccounts/ps6513/capacityPools/ps9906?api-version=2019-10-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"size\": 4398046511104,\r\n    \"serviceLevel\": \"Premium\"\r\n  }\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "80e6c27f-ea69-4c64-9486-95cb68d70469"
=======
          "7b6250f2-89e5-417e-8037-9c30c5313754"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.NetApp.AzureNetApp[...]
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps2795/providers/Microsoft.NetApp/netAppAccounts/ps4849/capacityPools/ps8918?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps1849/providers/Microsoft.NetApp/netAppAccounts/ps6513/capacityPools/ps9906\",\r\n  \"name\": \"ps6513/ps9906\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts/capacityPools\",\r\n  \"etag\": \"W/\\\"datetime'2020-04-17T09%3A35%3A56.6159421Z'\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"poolId\": \"06755bb4-e56f-2422-e54b-58e542f7b5ab\",\r\n    \"name\": \"ps6513/ps9906\",\r\n    \"serviceLevel\": \"Premium\",\r\n    \"size\": 4398046511104,\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps2795/providers/Microsoft.NetApp/netAppAccounts/ps4849/capacityPools/ps8918/volumes/ps5685?api-version=2019-08-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"creationToken\": \"ps5685\",\r\n    \"serviceLevel\": \"Premium\",\r\n    \"usageThreshold\": 107374182400,\r\n    \"subnetId\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps2795/providers/Microsoft.Network/virtualNetworks/ps2795-vnet/subnets/default\"\r\n  }\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps1849/providers/Microsoft.NetApp/netAppAccounts/ps6513/capacityPools/ps9906\",\r\n  \"name\": \"ps6513/ps9906\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts/capacityPools\",\r\n  \"etag\": \"W/\\\"datetime'2020-04-17T09%3A35%3A56.6159421Z'\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"poolId\": \"06755bb4-e56f-2422-e54b-58e542f7b5ab\",\r\n    \"name\": \"ps6513/ps9906\",\r\n    \"serviceLevel\": \"Premium\",\r\n    \"size\": 4398046511104,\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps2795/providers/Microsoft.NetApp/netAppAccounts/ps4849/capacityPools/ps8918/volumes/ps5685?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps1849/providers/Microsoft.NetApp/netAppAccounts/ps6513/capacityPools/ps9906/volumes/ps6347\",\r\n  \"name\": \"ps6513/ps9906/ps6347\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts/capacityPools/volumes\",\r\n  \"etag\": \"W/\\\"datetime'2020-04-17T09%3A39%3A31.4055235Z'\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"mountTargets\": [\r\n      {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"mountTargetId\": \"602bf194-5659-fbd9-6f81-bd0290fbfcfc\",\r\n        \"fileSystemId\": \"602bf194-5659-fbd9-6f81-bd0290fbfcfc\",\r\n        \"startIp\": \"10.0.1.4\",\r\n        \"endIp\": \"10.0.1.4\",\r\n        \"gateway\": \"\",\r\n        \"netmask\": \"\",\r\n        \"subnet\": \"\",\r\n        \"ipAddress\": \"10.0.1.4\"\r\n      }\r\n    ],\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"fileSystemId\": \"602bf194-5659-fbd9-6f81-bd0290fbfcfc\",\r\n    \"name\": \"ps6347\",\r\n    \"serviceLevel\": \"Premium\",\r\n    \"creationToken\": \"ps6347\",\r\n    \"usageThreshold\": 107374182400,\r\n    \"usedBytes\": 0,\r\n    \"exportPolicy\": {\r\n      \"rules\": [\r\n        {\r\n          \"ruleIndex\": 1,\r\n          \"unixReadOnly\": false,\r\n          \"unixReadWrite\": true,\r\n          \"cifs\": false,\r\n          \"nfsv3\": true,\r\n          \"nfsv4\": false,\r\n          \"nfsv41\": false,\r\n          \"allowedClients\": \"0.0.0.0/0\"\r\n        }\r\n      ]\r\n    },\r\n    \"protocolTypes\": [\r\n      \"NFSv3\"\r\n    ],\r\n    \"baremetalTenantId\": \"baremetalTenant_svm_955fe00183474412a263ec0f52d2aeeb_4ba8d4b0\",\r\n    \"subnetId\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps1849/providers/Microsoft.Network/virtualNetworks/ps1849-vnet/subnets/default\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps2795/providers/Microsoft.NetApp/netAppAccounts/ps4849/capacityPools/ps8918/volumes?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps1849/providers/Microsoft.NetApp/netAppAccounts/ps6513/capacityPools/ps9906/volumes/ps6347\",\r\n  \"name\": \"ps6513/ps9906/ps6347\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccou[...]
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps2795/providers/Microsoft.NetApp/netAppAccounts/ps4849/capacityPools/ps8918/volumes?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps1849/providers/Microsoft.NetApp/netAppAccounts/ps6513/capacityPools/ps9906/volumes/ps6347\",\r\n      \"name\": \"ps6513/ps9906/ps6347\",\r\n      \"type\": \"Microsoft.NetApp/netAppAccounts/capacityPools/volumes\",\r\n      \"etag\": \"W/\\\"datetime'2020-04-17T09%3A39%3A44.244643Z'\\\"\",\r\n      \"location\": \"westus2\",\r\n      \"properties\": {\r\n        \"mountTargets\": [\r\n          {[...]
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.NetApp/locations/westus2/operationResults/ed85ddb0-3dd3-4d11-9df3-a00381f9e4c6?api-version=2019-08-01&operationResultResponseType=Location",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/westus2/operationResults/4a248f6d-7642-4a2c-8ec7-8347d8f8ecd5\",\r\n  \"name\": \"4a248f6d-7642-4a2c-8ec7-8347d8f8ecd5\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-04-17T09:39:46.5362026Z\",\r\n  \"endTime\": \"2020-04-17T09:40:43.4809574Z\",\r\n  \"percentComplete\": 100.0,\r\n  \"properties\": {\r\n    \"resourceName\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps1849/providers/Microsoft.NetApp/netAppAccounts/ps6513/capacityPools/ps9906/volumes/ps6347\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourcegroups/ps1849?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
[...]
