{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourcegroups/ps7819?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourcegroups/ps5917?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "36f324ff-cc73-482c-aa49-9ad4a0871faf"
=======
          "e8bf7bed-03f4-46af-b64c-12fbd1fc942c"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.5"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.11"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "29"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
<<<<<<< HEAD
          "a70075a0-20e0-41d1-9028-fe1730c80612"
        ],
        "x-ms-correlation-request-id": [
          "a70075a0-20e0-41d1-9028-fe1730c80612"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200121T113913Z:a70075a0-20e0-41d1-9028-fe1730c80612"
=======
          "88cd54ba-104c-4132-b773-2aa6c45da4c2"
        ],
        "x-ms-correlation-request-id": [
          "88cd54ba-104c-4132-b773-2aa6c45da4c2"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200417T091648Z:88cd54ba-104c-4132-b773-2aa6c45da4c2"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 21 Jan 2020 11:39:13 GMT"
=======
          "Fri, 17 Apr 2020 09:16:48 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "166"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7819\",\r\n  \"name\": \"ps7819\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7819/providers/Microsoft.Network/virtualNetworks/ps7819-vnet?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps5917\",\r\n  \"name\": \"ps5917\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps5917/providers/Microsoft.Network/virtualNetworks/ps5917-vnet?api-version=2020-03-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "8f068641-3564-4d2f-9b3c-1aab8e55a25a"
=======
          "02f3c857-2b40-4dfc-8af2-3894852cce2f"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.18.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.20.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "e9b6378a-7c33-4169-bf93-6b23e9d8f003"
        ],
        "x-ms-correlation-request-id": [
          "e9b6378a-7c33-4169-bf93-6b23e9d8f003"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200121T113915Z:e9b6378a-7c33-4169-bf93-6b23e9d8f003"
=======
          "218a7fde-b2ad-40d5-afeb-c9ea00962f17"
        ],
        "x-ms-correlation-request-id": [
          "218a7fde-b2ad-40d5-afeb-c9ea00962f17"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200417T091649Z:218a7fde-b2ad-40d5-afeb-c9ea00962f17"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 21 Jan 2020 11:39:14 GMT"
=======
          "Fri, 17 Apr 2020 09:16:48 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "155"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps7819-vnet' under resource group 'ps7819' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps5917/providers/Microsoft.Network/virtualNetworks/ps5917-vnet?api-version=2020-03-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.18.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.20.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "ETag": [
<<<<<<< HEAD
          "W/\"6eedee16-8412-4d81-82d9-6b8667857a3c\""
        ],
        "x-ms-request-id": [
          "0a1f4568-96fb-49fc-a7bc-31bb3efc61eb"
        ],
        "x-ms-correlation-request-id": [
          "09211b5f-1084-412d-9c4f-1795db2d5e35"
        ],
        "x-ms-arm-service-request-id": [
          "fa1bfed1-6443-4feb-bba4-cfa6f9775219"
=======
          "W/\"4aa505a4-b2ba-4212-ac54-39594710a08a\""
        ],
        "x-ms-request-id": [
          "0fcecda5-ecd5-41ab-b5c6-73f1e304ae24"
        ],
        "x-ms-correlation-request-id": [
          "12b301e9-9558-4a1b-9562-210baccaba30"
        ],
        "x-ms-arm-service-request-id": [
          "0d753e3f-ee7e-4ca5-abd7-38a9dbdd72c6"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11997"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200121T113928Z:09211b5f-1084-412d-9c4f-1795db2d5e35"
=======
          "11994"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200417T091659Z:12b301e9-9558-4a1b-9562-210baccaba30"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 21 Jan 2020 11:39:27 GMT"
=======
          "Fri, 17 Apr 2020 09:16:59 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "642"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"name\": \"ps7819-vnet\",\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7819/providers/Microsoft.Network/virtualNetworks/ps7819-vnet\",\r\n  \"etag\": \"W/\\\"6eedee16-8412-4d81-82d9-6b8667857a3c\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"bde02f7f-5134-4e93-b5b5-4a38f7457cb3\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7819/providers/Microsoft.Network/virtualNetworks/ps7819-vnet?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps5917-vnet\",\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps5917/providers/Microsoft.Network/virtualNetworks/ps5917-vnet\",\r\n  \"etag\": \"W/\\\"35c09fc7-adae-4e4e-9a25-6934d0aae4c7\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"0bae0765-a82f-4503-bbb4-a55fd4b38058\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"default\",\r\n        \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps5917/providers/Microsoft.Network/virtualNetworks/ps5917-vnet/subnets/default\",\r\n        \"etag\": \"W/\\\"35c09fc7-adae-4e4e-9a25-6934d0aae4c7\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [\r\n            {\r\n              \"name\": \"netAppVolumes\",\r\n              \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps5917/providers/Microsoft.Network/virtualNetworks/ps5917-vnet/subnets/default/delegations/netAppVolumes\",\r\n              \"etag\": \"W/\\\"35c09fc7-adae-4e4e-9a25-6934d0aae4c7\\\"\",\r\n              \"properties\": {\r\n                \"provisioningState\": \"Succeeded\",\r\n                \"serviceName\": \"Microsoft.Netapp/volumes\",\r\n                \"actions\": [\r\n                  \"Microsoft.Network/networkinterfaces/*\",\r\n                  \"Microsoft.Network/virtualNetworks/subnets/join/action\"\r\n                ]\r\n              },\r\n              \"type\": \"Microsoft.Network/virtualNetworks/subnets/delegations\"\r\n            }\r\n          ],\r\n          \"purpose\": \"HostedWorkloads\",\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps5917/providers/Microsoft.Network/virtualNetworks/ps5917-vnet?api-version=2020-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.18.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.20.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "235"
=======
          "261"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ]
<<<<<<< HEAD
          "04b6c353-bd7d-4c5b-8a0b-2eec01822220"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network/locations/westus2/operations/04b6c353-bd7d-4c5b-8a0b-2eec01822220?api-version=2019-11-01"
        ],
        "x-ms-correlation-request-id": [
          "e2189230-5204-4003-93d9-a449076b0eb3"
        ],
        "x-ms-arm-service-request-id": [
          "210a2855-4374-4e38-8ab0-9ba873c1a6df"
=======
          "f3c94c2b-9b07-4347-b26f-9e3d1e02d8f2"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.Network/locations/westus2/operations/f3c94c2b-9b07-4347-b26f-9e3d1e02d8f2?api-version=2020-03-01"
        ],
        "x-ms-correlation-request-id": [
          "35f49348-216b-49e0-9816-532d899fc408"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-arm-service-request-id": [
          "4bee88b4-cc18-4500-b86f-95be20d8f83e"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-routing-request-id[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7819/providers/Microsoft.Network/virtualNetworks/ps7819-vnet?api-version=2019-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"delegations\": [\r\n            {\r\n              \"properties\": {\r\n                \"serviceName\": \"Microsoft.Netapp/volumes\"\r\n              },\r\n              \"name\": \"netAppVolumes\"\r\n            }\r\n          ],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"name\": \"default\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enable[...]
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network/locations/westus2/operations/04b6c353-bd7d-4c5b-8a0b-2eec01822220?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps5917-vnet\",\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps5917/providers/Microsoft.Network/virtualNetworks/ps5917-vnet\",\r\n  \"etag\": \"W/\\\"6af95d51-a5bc-450a-9dfc-3cc4bcd0488d\\\"\",\r\n  \"type\": \"Micro[...]
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.NetApp/locations/westus2/operationResults/6f1631bf-936c-47ad-abc7-5e193504028f?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps5917/providers/Microsoft.NetApp/netAppAccounts/ps6757\",\r\n  \"name\": \"ps6757\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts\",\r\n  \"etag\": \"W/\\\"datetime'2020-04-17T09%3A17%3A10.7979429Z'\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"name\": \"ps6757\",\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/westus2/operationResults/703fbfd0-647b-4dab-9eda-9c0ee7b7983e?api-version=2019-10-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.NetApp.AzureNetAppFilesManagementClient/1.3.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.NetApp.AzureNetAppFilesManagementClient/1.4.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "633bec0e-d30f-4eae-8919-20445c43c0b0"
=======
          "e060dbfe-bb9c-435b-9f38-c4b13d15f878"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Request-Context": [
          "appId=cid-v1:2c4cb680-0a1f-424d-bb8d-8e650ba68d53"
        ],
        "Access-Control-Expose-Headers": [
          "Request-Context"
        ],
        "Server": [
          "Microsoft-IIS/10.0"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11999"
        ],
        "x-ms-correlation-request-id": [
          "2c75f8e7-9e92-43be-b768-dde90f669d91"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200121T114010Z:2c75f8e7-9e92-43be-b768-dde90f669d91"
=======
          "11973"
        ],
        "x-ms-correlation-request-id": [
          "7ffc490d-6a6d-4b13-a6c4-45a193bef0c2"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200417T091741Z:7ffc490d-6a6d-4b13-a6c4-45a193bef0c2"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 21 Jan 2020 11:40:10 GMT"
=======
          "Fri, 17 Apr 2020 09:17:41 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "489"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.NetApp/locations/westus2/operationResults/6f1631bf-936c-47ad-abc7-5e193504028f\",\r\n  \"name\": \"6f1631bf-936c-47ad-abc7-5e193504028f\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-01-21T11:39:39.4359463Z\",\r\n  \"endTime\": \"2020-01-21T11:39:39.5609415Z\",\r\n  \"percentComplete\": 100.0,\r\n  \"properties\": {\r\n    \"resourceName\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7819/providers/Microsoft.NetApp/netAppAccounts/ps2400\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7819/providers/Microsoft.NetApp/netAppAccounts/ps2400?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/westus2/operationResults/703fbfd0-647b-4dab-9eda-9c0ee7b7983e\",\r\n  \"name\": \"703fbfd0-647b-4dab-9eda-9c0ee7b7983e\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-04-17T09:17:10.6295464Z\",\r\n  \"endTime\": \"2020-04-17T09:17:10.8951369Z\",\r\n  \"percentComplete\": 100.0,\r\n  \"properties\": {\r\n    \"resourceName\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps5917/providers/Microsoft.NetApp/netAppAccounts/ps6757\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7819/providers/Microsoft.NetApp/netAppAccounts/ps2400/capacityPools/ps6844?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps5917/providers/Microsoft.NetApp/netAppAccounts/ps6757\",\r\n  \"name\": \"ps6757\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts\",\r\n  \"etag\": \"W/\\\"datetime'2020-04-17T09%3A17%3A10.8920106Z'\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"name\": \"ps6757\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps5917/providers/Microsoft.NetApp/netAppAccounts/ps6757/capacityPools/ps6557?api-version=2019-10-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"size\": 4398046511104,\r\n    \"serviceLevel\": \"Premium\"\r\n  }\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "63b1b6fe-d0cd-4f2e-9457-0d9444e66910"
=======
          "ca4fc544-0bbe-4cdf-be0e-71262f56dbcf"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.NetApp.AzureNetApp[...]
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7819/providers/Microsoft.NetApp/netAppAccounts/ps2400/capacityPools/ps6844/volumes/ps9596?api-version=2019-08-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\",\r\n  \"tags\": {\r\n    \"tag1\": \"tagValue1\"\r\n  },\r\n  \"properties\": {\r\n    \"creationToken\": \"ps9596\",\r\n    \"serviceLevel\": \"Premium\",\r\n    \"usageThreshold\": 107374182400,\r\n    \"exportPolicy\": {\r\n      \"rules\": [\r\n        {\r\n          \"ruleIndex\": 1,\r\n          \"unixReadOnly\": false,\r\n          \"unixReadWrite\": true,\r\n          \"cifs\": false,\r\n          \"nfsv3\": true,\r\n          \"nfsv41\": false,\r\n          \"allowedClients\": \"0.0.0.0/0\"\r\n        },\r\n        {\r\n          \"ruleIndex\": 2,\r\n          \"unixReadOnly\": false,\r\n          \"unixReadWrite\": true,\r\n          \"cifs\": false,\r\n          \"nfsv3\": false,\r\n          \"nfsv41\": true,\r\n          \"allowedClients\": \"1.2.3.0/24\"\r\n        }\r\n      ]\r\n    },\r\n    \"protocolTypes\": [\r\n      \"NFSv3\"\r\n    ],\r\n    \"subnetId\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7819/providers/Microsoft.Network/virtualNetworks/ps7819-vnet/subnets/default\"\r\n  }\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps5917/providers/Microsoft.NetApp/netAppAccounts/ps6757/capacityPools/ps6557\",\r\n  \"name\": \"ps6757/ps6557\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts/capacityPools\",\r\n  \"etag\": \"W/\\\"datetime'2020-04-17T09%3A17%3A44.6309731Z'\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"poolId\": \"3ecbd125-9c6c-f556-ce8b-1d593f47935d\",\r\n    \"name\": \"ps6757/ps6557\",\r\n    \"serviceLevel\": \"Premium\",\r\n    \"size\": 4398046511104,\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7819/providers/Microsoft.NetApp/netAppAccounts/ps2400/capacityPools/ps6844/volumes/ps9596?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps5917/providers/Microsoft.NetApp/netAppAccounts/ps6757/capacityPools/ps6557/volumes/ps2544\",\r\n  \"name\": \"ps6757/ps6557/ps2544\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts/capacityPools/volumes\",\r\n  \"etag\": \"W/\\\"datetime'2020-04-17T09%3A21%3A17.939606Z'\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"tags\": {\r\n    \"tag1\": \"tagValue1\"\r\n  },\r\n  \"properties\": {\r\n    \"mountTargets\": [\r\n      {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"mountTargetId\": \"f3c2cb48-3062-3bc7-7982-717aaf7406a7\",\r\n        \"fileSystemId\": \"f3c2cb48-3062-3bc7-7982-717aaf7406a7\",\r\n        \"startIp\": \"10.0.1.4\",\r\n        \"endIp\": \"10.0.1.4\",\r\n        \"gateway\": \"\",\r\n        \"netmask\": \"\",\r\n        \"subnet\": \"\",\r\n        \"ipAddress\": \"10.0.1.4\"\r\n      }\r\n    ],\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"fileSystemId\": \"f3c2cb48-3062-3bc7-7982-717aaf7406a7\",\r\n    \"name\": \"ps2544\",\r\n    \"serviceLevel\": \"Premium\",\r\n    \"creationToken\": \"ps2544\",\r\n    \"usageThreshold\": 107374182400,\r\n    \"usedBytes\": 0,\r\n    \"exportPolicy\": {\r\n      \"rules\": [\r\n        {\r\n          \"ruleIndex\": 1,\r\n          \"unixReadOnly\": false,\r\n          \"unixReadWrite\": true,\r\n          \"cifs\": false,\r\n          \"nfsv3\": true,\r\n          \"nfsv4\": false,\r\n          \"nfsv41\": false,\r\n          \"allowedClients\": \"0.0.0.0/0\"\r\n        }\r\n      ]\r\n    },\r\n    \"protocolTypes\": [\r\n      \"NFSv3\"\r\n    ],\r\n    \"baremetalTenantId\": \"baremetalTenant_svm_955fe00183474412a263ec0f52d2aeeb_f709526f\",\r\n    \"subnetId\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps5917/providers/Microsoft.Network/virtualNetworks/ps5917-vnet/subnets/default\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7819/providers/Microsoft.NetApp/netAppAccounts/ps2400/capacityPools/ps6844/volumes?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps5917/providers/Microsoft.NetApp/netAppAccounts/ps6757/capacityPools/ps6557/volumes/ps1235\",\r\n  \"name\": \"ps6757/ps6557/ps1235\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccou[...]
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7819/providers/Microsoft.NetApp/netAppAccounts/ps2400/capacityPools/ps6844/volumes?api-version=2019-08-01",
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps5917/providers/Microsoft.NetApp/netAppAccounts/ps6757/capacityPools/ps6557/volumes/ps1235\",\r\n      \"name\": \"ps6757/ps6557/ps1235\",\r\n      \"type\": \"Microsoft.NetApp/netAppAccounts/capacityPools/volumes\",\r\n      \"etag\": \"W/\\\"datetime'2020-04-17T09%3A21%3A45.692318Z'\\\"\",\r\n      \"location\": \"westus2\",\r\n      \"properties\": {\r\n        \"mountTargets\": [\r\n          {[...]
[...]
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/ps5917/providers/Microsoft.NetApp/netAppAccounts/ps6757/capacityPools/ps6557/volumes/ps2544?api-version=2019-10-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "07163a02-5895-41cc-a608-edf800dd25ae"
=======
          "c2a29fbf-7a5a-4209-bf95-0ba4a1efbdb6"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.NetApp.AzureNetAppFilesManagementClient/1.3.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.NetApp.AzureNetAppFilesManagementClient/1.4.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
[...]
