{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/pools/mpiPool?api-version=2019-08-01.10.0",
=======
      "RequestUri": "/pools/mpiPool?api-version=2020-03-01.11.0",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "b49b3405-992e-45fc-958d-3d0e523024e5"
=======
          "2d618a4f-cfd3-4e80-8112-2ff408b1617e"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "ocp-date": [
<<<<<<< HEAD
          "Fri, 06 Sep 2019 21:28:55 GMT"
        ],
        "User-Agent": [
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Batch.Protocol.BatchServiceClient/12.0.19.40611",
=======
          "Fri, 10 Apr 2020 21:51:48 GMT"
        ],
        "User-Agent": [
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Batch.Protocol.BatchServiceClient/13.0.20.15503",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "AzurePowershell/Az1.0.0"
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "99c07aea-6142-4451-98a3-3eea07d4dfc8"
=======
          "96ebb8c5-55a3-46f3-90b1-9b8cc57fd1fc"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 06 Sep 2019 21:28:54 GMT"
=======
          "Fri, 10 Apr 2020 21:51:48 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "349"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\r\n  \"code\": \"PoolNotFound\",\r\n  \"message\": {\r\n    \"lang\": \"en-US\",\r\n    \"value\": \"The specified pool does not exist.\\nRequestId:99c07aea-6142-4451-98a3-3eea07d4dfc8\\nTime:2019-09-06T21:28:55.6383047Z\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/pools?api-version=2019-08-01.10.0",
=======
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\r\n  \"code\": \"PoolNotFound\",\r\n  \"message\": {\r\n    \"lang\": \"en-US\",\r\n    \"value\": \"The specified pool does not exist.\\nRequestId:96ebb8c5-55a3-46f3-90b1-9b8cc57fd1fc\\nTime:2020-04-10T21:51:48.0957265Z\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/pools?api-version=2020-03-01.11.0",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"mpiPool\",\r\n  \"vmSize\": \"small\",\r\n  \"cloudServiceConfiguration\": {\r\n    \"osFamily\": \"4\",\r\n    \"osVersion\": \"*\"\r\n  },\r\n  \"targetDedicatedNodes\": 3,\r\n  \"targetLowPriorityNodes\": 0,\r\n  \"enableInterNodeCommunication\": true\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "4f1f7558-8fe7-4829-b819-87f078dbcc09"
=======
          "8535f604-39bf-4d7b-8fdc-a042aed9d085"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "ocp-date": [
<<<<<<< HEAD
          "Fri, 06 Sep 2019 21:28:55 GMT"
        ],
        "User-Agent": [
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Batch.Protocol.BatchServiceClient/12.0.19.40611",
=======
          "Fri, 10 Apr 2020 21:51:48 GMT"
        ],
        "User-Agent": [
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Batch.Protocol.BatchServiceClient/13.0.20.15503",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "AzurePowershell/Az1.0.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "Content-Length": [
          "232"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
<<<<<<< HEAD
          "0x8D7331138DB1AAD"
=======
          "0x8D7DD995E94E5C7"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Location": [
          "https://matthchrwestcentralus.westcentralus.batch.azure.com/pools/mpiPool"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "request-id": [
<<<<<<< HEAD
          "edc7a796-4936-4741-9091-1ab7214d2abc"
=======
          "8a020b52-fd47-4ee4-934f-03832f8a68ed"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://matthchrwestcentralus.westcentralus.batch.azure.com/pools/mpiPool"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 06 Sep 2019 21:28:54 GMT"
        ],
        "Last-Modified": [
          "Fri, 06 Sep 2019 21:28:55 GMT"
=======
          "Fri, 10 Apr 2020 21:51:48 GMT"
        ],
        "Last-Modified": [
          "Fri, 10 Apr 2020 21:51:48 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
<<<<<<< HEAD
      "RequestUri": "/jobs?api-version=2019-08-01.10.0",
=======
      "RequestUri": "/jobs?api-version=2020-03-01.11.0",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"listSubtaskJob\",\r\n  \"priority\": 0,\r\n  \"poolInfo\": {\r\n    \"poolId\": \"mpiPool\"\r\n  }\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "fd7481a5-9012-40eb-9d43-112354857112"
=======
          "d612e51d-2780-4831-a00f-5f96455d6057"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "ocp-date": [
<<<<<<< HEAD
          "Fri, 06 Sep 2019 21:28:55 GMT"
        ],
        "User-Agent": [
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Win[...]
    {
      "RequestUri": "/jobs/listSubtaskJob/tasks/testTask?api-version=2019-08-01.10.0",
=======
          "Fri, 10 Apr 2020 21:51:48 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#tasks/@Element\",\r\n  \"id\": \"testTask\",\r\n  \"url\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/jobs/listSubtaskJob/tasks/testTask\",\r\n  \"eTag\": \"0x8D7DD995EC14DF4\",\r\n  \"creationTime\": \"2020-04-10T21:51:48.567602Z\",\r\n  \"lastModified\": \"2020-04-10T21:51:48.567602Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2020-04-10T21:51:48.567602Z\",\r\n  \"commandLine\": \"cmd /c hostname\",\r\n  \"userIdentity\": {\r\n    \"autoUser\": {\r\n      \"scope\": \"task\",\r\n      \"elevationLevel\": \"nonadmin\"\r\n    }\r\n  },\r\n  \"multiInstanceSettings\": {\r\n    \"numberOfInstances\": 3,\r\n    \"coordinationCommandLine\": \"cmd /c echo coordinating\"\r\n  },\r\n  \"constraints\": {\r\n    \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"retentionTime\": \"P7D\",\r\n    \"maxTaskRetryCount\": 0\r\n  },\r\n  \"executionInfo\": {\r\n    \"retryCount\": 0,\r\n    \"requeueCount\": 0\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/jobs/listSubtaskJob/tasks?api-version=2019-08-01.10.0&$filter=id%20eq%20%27testTask%27&$select=id%2Cstate",
=======
          "Fri, 10 Apr 2020 21:51:48 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#tasks/@Element\",\r\n  \"id\": \"testTask\",\r\n  \"url\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/jobs/listSubtaskJob/tasks/testTask\",\r\n  \"eTag\": \"0x8D7DD995EC14DF4\",\r\n  \"creationTime\": \"2020-04-10T21:51:48.567602Z\",\r\n  \"lastModified\": \"2020-04-10T21:51:48.567602Z\",\r\n  \"state\": \"completed\",\r\n  \"stateTransitionTime\": \"2020-04-10T21:58:40.734737Z\",\r\n  \"previousState\": \"running\",\r\n  \"previousStateTransitionTime\": \"2020-04-10T21:58:36.870295Z\",\r\n  \"commandLine\": \"cmd /c hostname\",\r\n  \"userIdentity\": {\r\n    \"autoUser\": {\r\n      \"scope\": \"task\",\r\n      \"elevationLevel\": \"nonadmin\"\r\n    }\r\n  },\r\n  \"multiInstanceSettings\": {\r\n    \"numberOfInstances\": 3,\r\n    \"coordinationCommandLine\": \"cmd /c echo coordinating\"\r\n  },\r\n  \"constraints\": {\r\n    \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"retentionTime\": \"P7D\",\r\n    \"maxTaskRetryCount\": 0\r\n  },\r\n  \"executionInfo\": {\r\n    \"startTime\": \"2020-04-10T21:58:36.979717Z\",\r\n    \"endTime\": \"2020-04-10T21:58:40.734737Z\",\r\n    \"exitCode\": 0,\r\n    \"result\": \"success\",\r\n    \"retryCount\": 0,\r\n    \"requeueCount\": 0\r\n  },\r\n  \"nodeInfo\": {\r\n    \"affinityId\": \"TVM:tvmps_4a63b84ef327de40b52e2eda20422d7fde3b6d41234ce020a6359b7a9a0690f2_d\",\r\n    \"nodeUrl\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/pools/mpiPool/nodes/tvmps_4a63b84ef327de40b52e2eda20422d7fde3b6d41234ce020a6359b7a9a0690f2_d\",\r\n    \"poolId\": \"mpiPool\",\r\n    \"nodeId\": \"tvmps_4a63b84ef327de40b52e2eda20422d7fde3b6d41234ce020a6359b7a9a0690f2_d\",\r\n    \"taskRootDirectory\": \"workitems\\\\listSubtaskJob\\\\job-1\\\\testTask\",\r\n    \"taskRootDirectoryUrl\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/pools/mpiPool/nodes/tvmps_4a63b84ef327de40b52e2eda20422d7fde3b6d41234ce020a6359b7a9a0690f2_d/files/workitems/listSubtaskJob/job-1/testTask\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/jobs/listSubtaskJob/tasks/testTask/subtasksinfo?api-version=2019-08-01.10.0",
=======
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#subtaskinfo\",\r\n  \"value\": [\r\n    {\r\n      \"id\": 1,\r\n      \"startTime\": \"2020-04-10T21:58:36.90624Z\",\r\n      \"endTime\": \"2020-04-10T21:58:40.931163Z\",\r\n      \"state\": \"completed\",\r\n      \"stateTransitionTime\": \"2020-04-10T21:58:40.[...]
[...]
    {
      "RequestUri": "/jobs/listSubtaskJob?api-version=2019-08-01.10.0",
=======
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#subtaskinfo\",\r\n  \"value\": [\r\n    {\r\n      \"id\": 1,\r\n      \"startTime\": \"2020-04-10T21:58:36.90624Z\",\r\n      \"endTime\": \"2020-04-10T21:58:40.931163Z\",\r\n      \"state\": \"completed\",\r\n      \"stateTransitionTime\": \"2020-04-10T21:58:40.931163Z\",\r\n      \"previo[...]
[...]
