{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/jobs?api-version=2019-08-01.10.0",
=======
      "RequestUri": "/jobs?api-version=2020-03-01.11.0",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"taskCrudJob\",\r\n  \"priority\": 0,\r\n  \"poolInfo\": {\r\n    \"poolId\": \"testPool\"\r\n  }\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "16f9db27-cc54-42eb-b98d-669d21cf13d1"
=======
          "ac8c3b39-2fb0-4ac0-b802-1cca81ddaa02"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "ocp-date": [
<<<<<<< HEAD
          "Fri, 06 Sep 2019 21:37:48 GMT"
        ],
        "User-Agent": [
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Batch.Protocol.BatchServiceClient/12.0.19.40611",
=======
          "Fri, 10 Apr 2020 21:58:45 GMT"
        ],
        "User-Agent": [
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Batch.Protocol.BatchServiceClient/13.0.20.15503",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "AzurePowershell/Az1.0.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "Content-Length": [
          "94"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
<<<<<<< HEAD
          "0x8D7331276671222"
=======
          "0x8D7DD9A5783572A"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Location": [
          "https://matthchrwestcentralus.westcentralus.batch.azure.com/jobs/job-1"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "request-id": [
<<<<<<< HEAD
          "d084cb78-26e4-4e90-9a72-a0dc93da8243"
=======
          "599eb3dc-7701-4892-8438-a1e69567cf10"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://matthchrwestcentralus.westcentralus.batch.azure.com/jobs/job-1"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 06 Sep 2019 21:37:48 GMT"
        ],
        "Last-Modified": [
          "Fri, 06 Sep 2019 21:37:48 GMT"
=======
          "Fri, 10 Apr 2020 21:58:45 GMT"
        ],
        "Last-Modified": [
          "Fri, 10 Apr 2020 21:58:45 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
<<<<<<< HEAD
      "RequestUri": "/jobs/taskCrudJob/tasks?api-version=2019-08-01.10.0",
=======
      "RequestUri": "/jobs/taskCrudJob/tasks?api-version=2020-03-01.11.0",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"task1\",\r\n  \"commandLine\": \"cmd /c echo task1\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "d96480ea-e137-4c21-b5f8-bfd60047340c"
=======
          "3ddd47af-d30b-4561-b2c3-48fb9a827d96"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "ocp-date": [
<<<<<<< HEAD
          "Fri, 06 Sep 2019 21:37:48 GMT"
        ],
        "User-Agent": [
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.[...]
    {
      "RequestUri": "/jobs/taskCrudJob/tasks/task2?api-version=2019-08-01.10.0",
=======
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#tasks\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"task1\",\r\n      \"url\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/jobs/taskCrudJob/tasks/task1\",\r\n      \"eTag\": \"0x8D7DD9A57CF2F76\",\r\n      \"creationTime\": \"2020-04-10T21:58:46.4112502Z\",\r\n      \"lastModified\": \"2020-04-10T21:58:46.4112502Z\",\r\n      \"state\": \"active\",\r\n      \"stateTransitionTime\": \"2020-04-10T21:58:46.4112502Z\",\r\n      \"commandLine\": \"cmd /c echo task1\",\r\n      \"userIdentity\": {\r\n        \"autoUser\": {\r\n          \"scope\": \"pool\",\r\n          \"elevationLevel\": \"nonadmin\"\r\n        }\r\n      },\r\n      \"constraints\": {\r\n        \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n        \"retentionTime\": \"P7D\",\r\n        \"maxTaskRetryCount\": 0\r\n      },\r\n      \"executionInfo\": {\r\n        \"retryCount\": 0,\r\n        \"requeueCount\": 0\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"task2\",\r\n      \"url\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/jobs/taskCrudJob/tasks/task2\",\r\n      \"eTag\": \"0x8D7DD9A57D7CBB0\",\r\n      \"creationTime\": \"2020-04-10T21:58:46.4676784Z\",\r\n      \"lastModified\": \"2020-04-10T21:58:46.4676784Z\",\r\n      \"state\": \"active\",\r\n      \"stateTransitionTime\": \"2020-04-10T21:58:46.4676784Z\",\r\n      \"commandLine\": \"cmd /c echo task2\",\r\n      \"userIdentity\": {\r\n        \"autoUser\": {\r\n          \"scope\": \"pool\",\r\n          \"elevationLevel\": \"nonadmin\"\r\n        }\r\n      },\r\n      \"constraints\": {\r\n        \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n        \"retentionTime\": \"P7D\",\r\n        \"maxTaskRetryCount\": 0\r\n      },\r\n      \"executionInfo\": {\r\n        \"retryCount\": 0,\r\n        \"requeueCount\": 0\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/jobs/taskCrudJob/tasks?api-version=2019-08-01.10.0",
=======
          "Fri, 10 Apr 2020 21:58:46 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#tasks/@Element\",\r\n  \"id\": \"task2\",\r\n  \"url\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/jobs/taskCrudJob/tasks/task2\",\r\n  \"eTag\": \"0x8D7DD9A57FD706F\",\r\n  \"creationTime\": \"2020-04-10T21:58:46.4676784Z\",\r\n  \"lastModified\": \"2020-04-10T21:58:46.7143791Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2020-04-10T21:58:46.4676784Z\",\r\n  \"commandLine\": \"cmd /c echo task2\",\r\n  \"userIdentity\": {\r\n    \"autoUser\": {\r\n      \"scope\": \"pool\",\r\n      \"elevationLevel\": \"nonadmin\"\r\n    }\r\n  },\r\n  \"constraints\": {\r\n    \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"retentionTime\": \"P7D\",\r\n    \"maxTaskRetryCount\": 3\r\n  },\r\n  \"executionInfo\": {\r\n    \"retryCount\": 0,\r\n    \"requeueCount\": 0\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
