{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/ce4a7590-4722-4bcf-a2c6-e473e9f11778/providers/Microsoft.Storage?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "029a06ff-e9a4-4fa2-a6d2-c79be5d7e001"
=======
          "566599bd-6ed1-41c5-a47a-701ca3995b4c"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.27817.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
<<<<<<< HEAD
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.2"
=======
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.7"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11982"
        ],
        "x-ms-request-id": [
          "cb16fe49-d614-4884-b78b-6878fa83f40d"
        ],
        "x-ms-correlation-request-id": [
          "cb16fe49-d614-4884-b78b-6878fa83f40d"
        ],
        "x-ms-routing-request-id": [
          "SOUTHEASTASIA:20191126T054923Z:cb16fe49-d614-4884-b78b-6878fa83f40d"
=======
          "11999"
        ],
        "x-ms-request-id": [
          "7e8b46a1-c730-4caa-b41b-64e736641e03"
        ],
        "x-ms-correlation-request-id": [
          "7e8b46a1-c730-4caa-b41b-64e736641e03"
        ],
        "x-ms-routing-request-id": [
          "SOUTHEASTASIA:20200226T064246Z:7e8b46a1-c730-4caa-b41b-64e736641e03"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 26 Nov 2019 05:49:22 GMT"
=======
          "Wed, 26 Feb 2020 06:42:45 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "11808"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ce4a7590-4722-4bcf-a2c6-e473e9f11778/providers/Microsoft.Storage\",\r\n  \"namespace\": \"Microsoft.Storage\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"a6aa9161-5291-40bb-8c5c-923b567bee3b\",\r\n      \"roleDefinitionId\": \"070ab87f-0efc-4423-b18b-756f3bdb0236\"\r\n    },\r\n    {\r\n      \"applicationId\": \"e406a681-f3d4-42a8-90b6-c2b029497af1\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"storageAccounts\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"West US\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"North Europe\",\r\n        \"Brazil South\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"South India\",\r\n        \"Central India\",\r\n        \"West India\",\r\n        \"Canada East\",\r\n        \"Canada Central\",\r\n        \"West US 2\",\r\n        \"West Central US\",\r\n        \"UK South\",\r\n        \"UK West\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"France Central\",\r\n        \"Australia Central\",\r\n        \"South Africa North\",\r\n        \"UAE North\",\r\n        \"Germany West Central\",\r\n        \"East US 2 (Stage)\",\r\n        \"East US 2 EUAP\",\r\n        \"Central US EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2019-06-01\",\r\n        \"2019-04-01\",\r\n        \"2018-11-01\",\r\n        \"2018-07-01\",\r\n        \"2018-03-01-preview\",\r\n        \"2018-02-01\",\r\n        \"2017-10-01\",\r\n        \"2017-06-01\",\r\n        \"2016-12-01\",\r\n        \"2016-05-01\",\r\n        \"2016-01-01\",\r\n        \"2015-06-15\",\r\n        \"2015-05-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SystemAssignedResourceIdentity\"\r\n    },\r\n    {\r\n      \"resourceType\": \"operations\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"West US\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n    [...]
    {
      "RequestUri": "/subscriptions/ce4a7590-4722-4bcf-a2c6-e473e9f11778/resourcegroups/pstestrg4054?api-version=2016-09-01",
=======
          "12336"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage\",\r\n  \"namespace\": \"Microsoft.Storage\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"a6aa9161-5291-40bb-8c5c-923b567bee3b\",\r\n      \"roleDefinitionId\": \"070ab87f-0efc-4423[...]
    {
      "RequestUri": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourcegroups/pstestrg6479?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "4a6598bd-d6d2-4883-a1e2-8b1762850fab"
=======
          "2c2e07be-67d9-4cb4-8997-c8d629d87c46"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.27817.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
<<<<<<< HEAD
          "Microsoft.Azure.Management.Internal.Resources.Resour[...]
    {
      "RequestUri": "/subscriptions/ce4a7590-4722-4bcf-a2c6-e473e9f11778/providers/Microsoft.Storage/checkNameAvailability?api-version=2019-06-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"stopstestrg4054\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/pstestrg6479\",\r\n  \"name\": \"pstestrg6479\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/checkNameAvailability?api-version=2019-06-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"stopstestrg6479\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\"\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.27817.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
<<<<<<< HEAD
          "Microsoft.Azure.Management.Storage.StorageManagementClient/14.1.0.0"
=======
          "Microsoft.Azure.Management.Storage.StorageManagementClient/14.5.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "81"
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "1b4f7068-6355-4a93-b585-d014ccbd5349"
=======
          "e0521f64-9b9d-469e-8e50-f5599b35cec1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-Azure-Storage-Resource-Provider/1.0,Microsoft-HTTPAPI/2.0 Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11993"
        ],
        "x-ms-correlation-request-id": [
          "25165c1c-1c43-40f7-84e6-33ae527da7ff"
        ],
        "x-ms-routing-request-id": [
          "SOUTHEASTASIA:20191126T054927Z:25165c1c-1c43-40f7-84e6-33ae527da7ff"
=======
          "11999"
        ],
        "x-ms-correlation-request-id": [
          "e480a577-360b-4865-8c80-8d11113c5b4c"
        ],
        "x-ms-routing-request-id": [
          "SOUTHEASTASIA:20200226T064251Z:e480a577-360b-4865-8c80-8d11113c5b4c"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 26 Nov 2019 05:49:26 GMT"
=======
          "Wed, 26 Feb 2020 06:42:51 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "22"
        ],
        "Content-Type": [
          "application/json"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": true\r\n}",
      "StatusCode": 200
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/ce4a7590-4722-4bcf-a2c6-e473e9f11778/resourceGroups/pstestrg4054/providers/Microsoft.Storage/storageAccounts/stopstestrg4054?api-version=2019-06-01",
=======
      "RequestUri": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/pstestrg6479/providers/Microsoft.Storage/storageAccounts/stopstestrg6479?api-version=2019-06-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "7e84fc41-4c67-4ee5-b1b5-4b4286ddc379"
=======
          "1bbe443b-913e-4f32-ad8d-b879fa2cb085"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.27817.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
<<<<<<< HEAD
          "Microsoft.Azure.Management.Storage.StorageManagementClient/14.1.0.0"
=======
          "Microsoft.Azure.Management.Storage.StorageManagementClient/14.5.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "99"
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/ce4a7590-4722-4bcf-a2c6-e473e9f11778/providers/Microsoft.Storage/locations/westus/asyncoperations/6ea152ff-b3c4-4140-b583-1abbe231b54e?monitor=true&api-version=2019-06-01"
=======
          "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/locations/westus/asyncoperations/a7e1bdf2-2feb-490c-b882-0108fffb6c7e?monitor=true&api-version=2019-06-01"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "6ea152ff-b3c4-4140-b583-1abbe231b54e"
=======
          "a7e1bdf2-2feb-490c-b882-0108fffb6c7e"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
<<<<<<< HEAD
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Server": [
          "Microsoft-Azure-Storage-Resource-Pr[...]
    {
      "RequestUri": "/subscriptions/ce4a7590-4722-4bcf-a2c6-e473e9f11778/resourceGroups/pstestrg4054/providers/Microsoft.Storage/storageAccounts/stopstestrg4054?api-version=2019-06-01",
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"id\": \"/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/pstestrg6479/providers/Microsoft.Storage/storageAccounts/stopstestrg6479\",\r\n  \"name\": \"stopstestrg6479\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"privateEndpointConnections\": [],\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"virtualNetworkRules\": [],\r\n      \"ipRules\": [],\r\n      \"defaultAction\": \"Allow\"\r\n    },\r\n    \"supportsHttpsTrafficOnly\": true,\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"file\": {\r\n          \"keyType\": \"Account\",\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2020-02-26T06:42:57.5945608Z\"\r\n        },\r\n        \"blob\": {\r\n          \"keyType\": \"Account\",\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2020-02-26T06:42:57.5945608Z\"\r\n        }\r\n      },\r\n      \"keySource\": \"Microsoft.Storage\"\r\n    },\r\n    \"accessTier\": \"Hot\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"creationTime\": \"2020-02-26T06:42:57.5320628Z\",\r\n    \"primaryEndpoints\": {\r\n      \"dfs\": \"https://stopstestrg6479.dfs.core.windows.net/\",\r\n      \"web\": \"https://stopstestrg6479.z22.web.core.windows.net/\",\r\n      \"blob\": \"https://stopstestrg6479.blob.core.windows.net/\",\r\n      \"queue\": \"https://stopstestrg6479.queue.core.windows.net/\",\r\n      \"table\": \"https://stopstestrg6479.table.core.windows.net/\",\r\n      \"file\": \"https://stopstestrg6479.file.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"westus\",\r\n    \"statusOfPrimary\": \"available\",\r\n    \"secondaryLocation\": \"eastus\",\r\n    \"statusOfSecondary\": \"available\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ce4a7590-4722-4bcf-a2c6-e473e9f11778/resourceGroups/pstestrg4054/providers/Microsoft.Storage/storageAccounts?api-version=2019-06-01",
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"id\": \"/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/pstestrg6479/providers/Microsoft.Storage/storageAccounts/stopstestrg6479\",\r\n  \"name\":[...]
[...]
    {
      "RequestUri": "/subscriptions/ce4a7590-4722-4bcf-a2c6-e473e9f11778/resourceGroups/pstestrg4054/providers/Microsoft.Storage/storageAccounts/stopstestrg4054/blobServices/default/containers/containerpstestrg4054?api-version=2019-06-01",
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"sku\": {\r\n        \"name\": \"Standard_GRS\",\r\n        \"tier\": \"Standard\"\r\n      },\r\n      \"kind\": \"StorageV2\",\r\n      \"id\": \"/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/pstestrg6479/providers/Microsoft.Storage/storageAccounts/stopstestrg6479\",\r\n      \"name\": \"stopstestrg6479\",\r\n      \"type\": \"Microsoft.Storage/storageAccounts\",\r\n      \"location\": \"westus\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n [...]
    {
      "RequestUri": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/pstestrg6479/providers/Microsoft.Storage/storageAccounts/stopstestrg6479/blobServices/default/containers/containerpstestrg6479?api-version=2019-06-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{}",
      "RequestHeaders": {
<<<<<<< HEAD
          "8f8c31b0-11ec-4756-bf74-6469bcf368a0"
=======
          "622951ce-1247-4811-8a81-21257e7ad961"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.27817.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
<<<<<<< HEAD
          "Microsoft.Azure.Management.Storage.StorageManagementClient/14.1.0.0"
=======
          "Microsoft.Azure.Management.Storage.StorageManagementClient/14.5.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "2"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
<<<<<<< HEAD
          "\"0x8D7723473CB1913\""
        ],
        "x-ms-request-id": [
          "d019a938-6c06-4536-af7e-89410b238113"
=======
          "\"0x8D7BA8728F9A0E0\""
        ],
        "x-ms-request-id": [
          "f56b6b9e-e057-45a2-9fef-b298f9649423"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-Azure-Storage-Resource-Provider[...]
[...]
    {
      "RequestUri": "/subscriptions/ce4a7590-4722-4bcf-a2c6-e473e9f11778/resourceGroups/pstestrg4054/providers/Microsoft.Storage/storageAccounts/stopstestrg4054/blobServices/default/containers/containerpstestrg4054?api-version=2019-06-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/pstestrg6479/providers/Microsoft.Storage/storageAccounts/stopstestrg6479/blobServices/default/containers/containerpstestrg6479\",\r\n  \"name\": \"containerpstestrg6479\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts/blobServices/containers\",\r\n  \"etag\": \"\\\"0x8D7BA8728F9A0E0\\\"\",\r\n  \"properties\": {\r\n    \"publicAccess\": \"None\",\r\n    \"leaseStatus\": \"Unlocked\",\r\n    \"leaseState\": \"Available\",\r\n    \"lastModifiedTime\": \"2020-02-26T06:43:16Z\",\r\n    \"legalHold\": {\r\n      \"hasLegalHold\": false,\r\n      \"tags\": []\r\n    },\r\n    \"hasImmutabilityPolicy\": false,\r\n    \"hasLegalHold\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ce4a7590-4722-4bcf-a2c6-e473e9f11778/resourceGroups/pstestrg4054/providers/Microsoft.Storage/storageAccounts/stopstestrg4054/blobServices/default/containers/containerpstestrg4054?api-version=2019-06-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/pstestrg6479/providers/Microsoft.Storage/storageAccounts/stopstestrg6479/blobServices/default/containers/containerpstestrg6479\",\r\n  \"name\": \"containerpstestrg6479\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts/blobServices/containers\",\r\n  \"etag\": \"\\\"0x8D7BA8729C552F8\\\"\",\r\n  \"properties\": {\r\n    \"publicAccess\": \"None\",\r\n    \"leaseStatus\": \"Unlocked\",\r\n    \"leaseState\": \"Available\",\r\n    \"lastModifiedTime\": \"2020-02-26T06:43:18Z\",\r\n    \"immutabilityPolicy\": {\r\n      \"etag\": \"\\\"8d7ba8729c0095c\\\"\",\r\n      \"properties\": {\r\n        \"allowProtectedAppendWrites\": true,\r\n        \"immutabilityPeriodSinceCreationInDays\": 3,\r\n        \"state\": \"Unlocked\"\r\n      },\r\n      \"updateHistory\": [\r\n        {\r\n          \"allowProtectedAppendWrites\": true,\r\n          \"update\": \"put\",\r\n          \"immutabilityPeriodSinceCreationInDays\": 3,\r\n          \"timestamp\": \"2020-02-26T06:43:18.0329693Z\",\r\n          \"objectIdentifier\": \"d6f7e858-345d-45f6-849c-8175519656b7\",\r\n          \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n        }\r\n      ]\r\n    },\r\n    \"legalHold\": {\r\n      \"hasLegalHold\": false,\r\n      \"tags\": []\r\n    },\r\n    \"hasImmutabilityPolicy\": true,\r\n    \"hasLegalHold\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ce4a7590-4722-4bcf-a2c6-e473e9f11778/resourceGroups/pstestrg4054/providers/Microsoft.Storage/storageAccounts/stopstestrg4054/blobServices/default/containers/containerpstestrg4054/immutabilityPolicies/default?api-version=2019-06-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/pstestrg6479/providers/Microsoft.Storage/storageAccounts/stopstestrg6479/blobServices/default/containers/conta[...]
[...]
    {
      "RequestUri": "/subscriptions/ce4a7590-4722-4bcf-a2c6-e473e9f11778/resourceGroups/pstestrg4054/providers/Microsoft.Storage/storageAccounts/stopstestrg4054/blobServices/default/containers/containerpstestrg4054/immutabilityPolicies/default?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"immutabilityPeriodSinceCreationInDays\": 2\r\n  }\r\n}",
      "RequestHeaders": {
        "If-Match": [
          "\"8d772347475cee7\""
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/pstestrg6479/providers/Microsoft.Storage/storageAccounts/stopstestrg6479/blobServices/default/containers/containerpstestrg6479/immutabilityPolicies/default\",\r\n  \"name\": \"default\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies\",\r\n  \"etag\": \"\\\"8d7ba8729c0095c\\\"\",\r\n  \"properties\": {\r\n    \"allowProtectedAppendWrites\": true,\r\n    \"immutabilityPeriodSinceCreationInDays\": 3,\r\n    \"state\": \"Unlocked\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ce4a7590-4722-4bcf-a2c6-e473e9f11778/resourceGroups/pstestrg4054/providers/Microsoft.Storage/storageAccounts/stopstestrg4054/blobServices/default/containers/containerpstestrg4054/immutabilityPolicies/default/lock?api-version=2019-06-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/pstestrg6479/providers/Microsoft.Storage/storageAccounts/stopstestrg6479/blobServices/default/containers/containerpstestrg6479/immutabilityPolicies/default\",\r\n  \"name\": \"default\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies\",\r\n  \"etag\": \"\\\"8d7ba872b2a83db\\\"\",\r\n  \"properties\": {\r\n    \"immutabilityPeriodSinceCreationInDays\": 0,\r\n    \"state\": \"Deleted\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ce4a7590-4722-4bcf-a2c6-e473e9f11778/resourceGroups/pstestrg4054/providers/Microsoft.Storage/storageAccounts/stopstestrg4054/blobServices/default/containers/containerpstestrg4054/immutabilityPolicies/default/extend?api-version=2019-06-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/pstestrg6479/providers/Microsoft.Storage/storageAccounts/stopstestrg6479/blobServices/default/containers/containerpstestrg6479/immutabilityPolicies/default\",\r\n  \"name\": \"default\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies\",\r\n  \"etag\": \"\\\"8d7ba872c6ec562\\\"\",\r\n  \"properties\": {\r\n    \"immutabilityPeriodSinceCreationInDays\": 7,\r\n    \"state\": \"Locked\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU1RFU1RSRzY0NzktV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11977"
        [...]
