{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourcegroups/ps5116?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourcegroups/ps1083?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "0e912d1d-245b-4636-ba6d-ca056cfc546d"
=======
          "416e52c1-961d-44c1-b79f-2617cfb04588"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.2"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.5"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "29"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1198"
        ],
        "x-ms-request-id": [
          "6a8b4396-3f75-4803-a951-90ee814a03da"
        ],
        "x-ms-correlation-request-id": [
          "6a8b4396-3f75-4803-a951-90ee814a03da"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200115T084056Z:6a8b4396-3f75-4803-a951-90ee814a03da"
=======
          "1199"
        ],
        "x-ms-request-id": [
          "01b8a31c-7855-430b-b175-7c5ae7aca9f1"
        ],
        "x-ms-correlation-request-id": [
          "01b8a31c-7855-430b-b175-7c5ae7aca9f1"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200310T135721Z:01b8a31c-7855-430b-b175-7c5ae7aca9f1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 15 Jan 2020 08:40:56 GMT"
=======
          "Tue, 10 Mar 2020 13:57:20 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "165"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5116\",\r\n  \"name\": \"ps5116\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5116/providers/Microsoft.Network/virtualWans/ps9963?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps1083\",\r\n  \"name\": \"ps1083\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps1083/providers/Microsoft.Network/virtualWans/ps9907?api-version=2019-12-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "a977b3b5-6631-4f40-ba70-49a28e50abf7"
=======
          "75115469-9dde-4841-87f2-328688221a2e"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
=======
          "FxVersion/4.6.28516.03",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "34fc9b13-e707-46cb-9294-de3830259301"
        ],
        "x-ms-correlation-request-id": [
          "34fc9b13-e707-46cb-9294-de3830259301"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200115T084056Z:34fc9b13-e707-46cb-9294-de3830259301"
=======
          "7b3ebfee-2184-4f57-a323-70be0a8846b3"
        ],
        "x-ms-correlation-request-id": [
          "7b3ebfee-2184-4f57-a323-70be0a8846b3"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200310T135721Z:7b3ebfee-2184-4f57-a323-70be0a8846b3"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 15 Jan 2020 08:40:56 GMT"
=======
          "Tue, 10 Mar 2020 13:57:21 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "146"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualWans/ps9963' under resource group 'ps5116' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps1083/providers/Microsoft.Network/virtualWans/ps9907?api-version=2019-12-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
=======
          "FxVersion/4.6.28516.03",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
<<<<<<< HEAD
          "W/\"8d2d8835-805a-4aaa-bb8b-f1c0367c0b8d\""
        ],
        "x-ms-request-id": [
          "aa1a6ab6-76c3-4ddb-ade8-aa6cdc4eec33"
        ],
        "x-ms-correlation-request-id": [
          "9186d8d3-8b6d-4f64-a3db-9e7385b343f3"
        ],
        "x-ms-arm-service-request-id": [
          "1b74f21a-e0a1-4932-84d2-4d4ec7e5736a"
=======
          "W/\"de2ebd0b-8be5-44e4-94e7-49a281bc28bb\""
        ],
        "x-ms-request-id": [
          "c4699d1a-7f7d-4479-b8d6-e4267d663360"
        ],
        "x-ms-correlation-request-id": [
          "a902ca72-044b-436b-b801-fc9b4e108225"
        ],
        "x-ms-arm-service-request-id": [
          "7da58c5a-b408-4a4e-9aa1-653bf29db0e1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11992"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200115T084110Z:9186d8d3-8b6d-4f64-a3db-9e7385b343f3"
=======
          "11997"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200310T135734Z:a902ca72-044b-436b-b801-fc9b4e108225"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 15 Jan 2020 08:41:09 GMT"
=======
          "Tue, 10 Mar 2020 13:57:34 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "532"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"name\": \"ps9963\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5116/providers/Microsoft.Network/virtualWans/ps9963\",\r\n  \"etag\": \"W/\\\"8d2d8835-805a-4aaa-bb8b-f1c0367c0b8d\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"allowVnetToVnetTraffic\": true,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5116/providers/Microsoft.Network/virtualWans/ps9963?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps9907\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps1083/providers/Microsoft.Network/virtualWans/ps9907\",\r\n  \"etag\": \"W/\\\"5c11cedc-911d-4cc6-ab6f-8e1d4cc36972\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\": false,\r\n    \"allowVnetToVnetTraffic\": false,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\": \"Standard\",\r\n    \"virtualHubs\": [\r\n      {\r\n        \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps1083/providers/Microsoft.Network/virtualHubs/ps716\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5116/providers/Microsoft.Network/virtualWans/ps9963?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps9907\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps1083/providers/Microsoft.Network/virtualWans/ps9907\",\r\n  \"etag\": \"W/\\\"6c37daba-3b95-4dc2-b4b7-460457293723\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\": false,\r\n    \"allowVnetToVnetTraffic\": false,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\": \"Standard\",\r\n    \"virtualHubs\": [\r\n      {\r\n        \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps1083/providers/Microsoft.Network/virtualHubs/ps716\"\r\n      }\r\n    ],\r\n    \"vpnSites\": [\r\n      {\r\n        \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps1083/providers/Microsoft.Network/vpnSites/ps2674\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps1083/providers/Microsoft.Network/virtualWans/ps9907?api-version=2019-12-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"allowVnetToVnetTraffic\": true,\r\n    \"type\": \"Standard\"\r\n  },\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "e2774f2a-ef6c-420a-87fb-d56efc556109"
=======
          "a1c0eeeb-3801-45e0-b675-709c5d08c903"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
=======
          "FxVersion/4.6.28516.03",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "156"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ]
<<<<<<< HEAD
          "399e9d88-724c-4dfa-9e86-e47993b7cabf"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/providers/Microsoft.Network/locations/eastus/operations/399e9d88-724c-4dfa-9e86-e47993b7cabf?api-version=2019-11-01"
        ],
        "x-ms-correlation-request-id": [
          "e532f6e0-4856-4755-8690-ed518929fc55"
        ],
        "x-ms-arm-service-request-id": [
          "d84061b1-2e9a-40a9-9ca4-8fcb1064c9b2"
=======
          "349630b8-a1d5-4771-8a5d-87c6623cd4e1"
        ],
        "Azure-Asyn[...]
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/providers/Microsoft.Network/locations/eastus/operations/399e9d88-724c-4dfa-9e86-e47993b7cabf?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps9907\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps1083/providers/Microsoft.Network/virtualWans/ps9907\",\r\n  \"etag\": \"W/\\\"d29ad83a-8a6d-4b7f-a281-94579e55c653\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\": false,\r\n    \"allowVnetToVnetTraffic\": false,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/providers/Microsoft.Network/virtualWans?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ps9907\",\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps1083/providers/Microsoft.Network/virtualWans/ps9907\",\r\n      \"etag\": \"W/\\\"7b389ad1-9cac-48cb-bd1b-d5a890281a0a\\\"\",\r\n      \"type\": \"Microsoft.Network/virtualWans\",\r\n      \"location\": \"eastus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"disableVpnEncryption\": false,\r\n        \"allowBranchToBranchTraffic\": false,\r\n        \"allowVnetToVnetTraffic\": false,\r\n        \"office365LocalBreakoutCategory\": \"None\",\r\n        \"type\": \"Standard\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/providers/Microsoft.Network/virtualWans?api-version=2019-12-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "12e2f82d-c21d-4d04-a19c-fc600c0140b3"
=======
          "c01b2b9a-5105-4365-86c8-8e6a0c00754e"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
=======
          "FxVersion/4.6.28516.03",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
        ]
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
<<<<<<< HEAD
          "63055db9-b5c7-4e38-b70e-d34e5223f9e4",
          "7c715e5d-2827-4158-94b7-0a71c7cf2a6e",
          "01527c96-fdce-4073-b4c5-34c5802f7e27",
          "3c710735-ac9c-4a1b-95a2-36534f9105eb",
          "3c68265d-801e-4748-ad3c-d14a1be32819",
          "03ab660f-f10b-48a0-8b5d-4565b7edbcd6",
          "3139a53d-817a-46ba-9126-a872c56c48f9",
          "9d9982f4-3a81-40b6-91df-9971fe074fce",
          "6be0e8b8-ef86-4f8d-8f30-fa8c64dccb79"
        ],
        "x-ms-ratelimit-[...]
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5116/providers/Microsoft.Network/virtualHubs/ps9409?api-version=2019-11-01",
=======
          "28456"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"BasicWan\",\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/IgniteP2STest/providers/Microsoft.Network/virtualWans/BasicWan\",\r\n      \"etag\": \"W/\\\"bacc1f08-90d4-4f6f[...]
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5116/providers/Microsoft.Network/virtualHubs/ps9409?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps716\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps1083/providers/Microsoft.Network/virtualHubs/ps716\",\r\n  \"etag\": \"W/\\\"617df4bd-4780-4a07-8116-8ec31aa649db\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"virtualNetworkConnections\": [],\r\n    \"virtualHubRouteTableV2s\": [],\r\n    \"addressPrefix\": \"192.168.1.0/24\",\r\n    \"routeTable\": {\r\n      \"routes\": []\r\n    },\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps1083/providers/Microsoft.Network/virtualWans/ps9907\"\r\n    },\r\n    \"sku\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5116/providers/Microsoft.Network/virtualHubs/ps9409?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps716\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps1083/providers/Microsoft.Network/virtualHubs/ps716\",\r\n  \"etag\": \"W/\\\"207130d6-0a86-4d7c-adb9-aa21543e12f6\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"virtualNetworkConnections\": [],\r\n    \"virtualHubRouteTableV2s\": [],\r\n    \"addressPrefix\": \"192.168.1.0/24\",\r\n    \"routeTable\": {\r\n      \"routes\": [\r\n        {\r\n          \"addressPrefixes\": [\r\n            \"10.0.0.0/16\",\r\n            \"11.0.0.0/16\"\r\n          ],\r\n          \"nextHopIpAddress\": \"12.0.0.5\"\r\n        },\r\n        {\r\n          \"addressPrefixes\": [\r\n            \"13.0.0.0/16\"\r\n          ],\r\n          \"nextHopIpAddress\": \"14.0.0.5\"\r\n        }\r\n      ]\r\n    },\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps1083/providers/Microsoft.Network/virtualWans/ps9907\"\r\n    },\r\n    \"sku\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5116/providers/Microsoft.Network/virtualHubs/ps9409?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps716\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps1083/providers/Microsoft.Network/virtualHubs/ps716\",\r\n  \"etag\": \"W/\\\"769fe52b-1c19-4ed2-a43e-245e1e373806\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"virtualNetworkConnections\": [],\r\n    \"virtualHubRouteTableV2s\": [],\r\n    \"addressPrefix\": \"192.168.1.0/24\",\r\n    \"routeTable\": {\r\n      \"routes\": [\r\n        {\r\n          \"addressPrefixes\": [\r\n            \"10.0.0.0/16\",\r\n            \"11.0.0.0/16\"\r\n          ],\r\n          \"nextHopIpAddress\": \"12.0.0.5\"\r\n        },\r\n        {\r\n          \"addressPrefixes\": [\r\n            \"13.0.0.0/16\"\r\n          ],\r\n          \"nextHopIpAddress\": \"14.0.0.5\"\r\n        }\r\n      ]\r\n    },\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps1083/providers/Microsoft.Network/virtualWans/ps9907\"\r\n    },\r\n    \"vpnGateway\": {\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps1083/providers/Microsoft.Network/vpnGateways/ps6952\"\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5116/providers/Microsoft.Network/virtualHubs/ps9409?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps716\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps1083/providers/Microsoft.Network/virtualHubs/ps716\",\r\n  \"etag\": \"W/\\\"0b37e879-8e45-4120-b0c0-dfd97b51a78d\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"virtualNetworkConnections\": [\r\n      {\r\n        \"name\": \"ps8012\",\r\n        \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps1083/providers/Microsoft.Network/virtualHubs/ps716/hubVirtualNetworkConnections/ps8012\",\r\n        \"etag\": \"W/\\\"0b37e879-8e45-4120-b0c0-dfd97b51a78d\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"resourceGuid\": \"e21db786-ee97-47cc-9151-836efe6b4cc5\",\r\n          \"remoteVirtualNetwork\": {\r\n            \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps1083/providers/Microsoft.Network/virtualNetworks/ps3301\"\r\n          },\r\n          \"allowHubToRemoteVnetTransit\": true,\r\n          \"allowRemoteVnetToUseHubVnetGateways\": true,\r\n          \"enableInternetSecurity\": false\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualHubs/hubVirtualNetworkConnections\"\r\n      }\r\n    ],\r\n    \"virtualHubRouteTableV2s\": [],\r\n    \"addressPrefix\": \"192.168.1.0/24\",\r\n    \"routeTable\": {\r\n      \"routes\": [\r\n        {\r\n          \"addressPrefixes\": [\r\n            \"10.0.0.0/16\",\r\n            \"11.0.0.0/16\"\r\n          ],\r\n          \"nextHopIpAddress\": \"12.0.0.5\"\r\n        },\r\n        {\r\n          \"addressPrefixes\": [\r\n            \"13.0.0.0/16\"\r\n          ],\r\n          \"nextHopIpAddress\": \"14.0.0.5\"\r\n        }\r\n      ]\r\n    },\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps1083/providers/Microsoft.Network/virtualWans/ps9907\"\r\n    },\r\n    \"vpnGateway\": {\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps1083/providers/Microsoft.Network/vpnGateways/ps6952\"\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/providers/Microsoft.Network/virtualHubs?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ps716\",\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps1083/providers/Microsoft.Network/virtualHubs/ps716\",\r\n      \"etag\": \"W/\\\"617df4bd-4780-4a07-8116-8ec31aa649db\\\"\",\r\n      \"type\": \"Microsoft.Network/virtualHubs\",\r\n      \"location\": \"eastus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"virtualNetworkConnections\": [],\r\n        \"virtualHubRouteTableV2s\": [],\r\n        \"addressPrefix\": \"192.168.1.0/24\",\r\n        \"routeTable\": {\r\n          \"routes\": []\r\n        },\r\n        \"virtualWan\": {\r\n          \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps1083/providers/Microsoft.Network/virtualWans/ps9907\"\r\n        },\r\n        \"sku\": \"Standard\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/providers/Microsoft.Network/virtualHubs?api-version=2019-11-01",
=======
          "35065"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"IgniteP2STestWestUsHub\",\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/IgniteP2STest/providers/Microsoft.Network/virtualHubs/IgniteP2STestWestUsHub\",\r\n      \"etag\": \"W/\\\"faaedbc0-4eae-4ab0-87dd-d56c71a1ea31\\\"\",\r\n      \"type\": \"Microsoft.Network/virtualHubs\",\r\n      \"location\": \"westus\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"virtualNetworkConnections\": [],\r\n        \"virtualHubRouteTableV2s\": [],\r\n        \"addressPrefix\": \"14.0.0.0/24\",\r\n        \"routeTable\": {\r\n          \"routes\": []\r\n        },\r\n        \"virtualWan\": {\r\n          \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/IgniteP2STest/providers/Microsoft.Network/virtualWans/IgniteP2STestWan\"\r\n        },\r\n        \"p2SVpnGateway\": {\r\n          \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/IgniteP2STest/providers/Microsoft.Network/p2sVpnGateways/1fd4165f01fc4f0090129513eb55009c-westus-gw\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"westushub\",\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/IgniteP2STest/providers/Microsoft.Network/virtualHubs/westushub\",\r\n      \"etag\": \"W/\\\"35a45a80-850d-4fb4-a4af-af6c3d4ef34d\\\"\",\r\n [...]
[...]
