{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourcegroups/ps7624?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourcegroups/ps2352?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "cd426ec5-12db-49ea-8f2e-17a7fd04092a"
=======
          "dc1a8906-a4f1-4d05-ad18-c3b59b994583"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.2"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.11"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "35"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
<<<<<<< HEAD
          "743716d3-f344-44a8-811a-cc2668fad238"
        ],
        "x-ms-correlation-request-id": [
          "743716d3-f344-44a8-811a-cc2668fad238"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200115T083908Z:743716d3-f344-44a8-811a-cc2668fad238"
=======
          "6733be42-4875-4ae6-a2ce-d9bfeaeb8682"
        ],
        "x-ms-correlation-request-id": [
          "6733be42-4875-4ae6-a2ce-d9bfeaeb8682"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200424T150009Z:6733be42-4875-4ae6-a2ce-d9bfeaeb8682"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 15 Jan 2020 08:39:07 GMT"
=======
          "Fri, 24 Apr 2020 15:00:08 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "172"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7624\",\r\n  \"name\": \"ps7624\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7624/providers/Microsoft.Network/virtualWans/ps3631?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7382\",\r\n  \"name\": \"ps7382\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps2352/providers/Microsoft.Network/virtualWans/ps1494?api-version=2020-04-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "9115957b-e1be-4fee-9384-3b13f29d6faa"
=======
          "eec1236e-ba09-452a-bc4a-2d899f1fdc5a"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/423.1707.49677.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "0cb734b5-9d48-4756-8c13-f9c0ee70a3cd"
        ],
        "x-ms-correlation-request-id": [
          "0cb734b5-9d48-4756-8c13-f9c0ee70a3cd"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200115T083921Z:0cb734b5-9d48-4756-8c13-f9c0ee70a3cd"
=======
          "721f2afd-656a-4985-b9fd-3f6ebf1a8cfe"
        ],
        "x-ms-correlation-request-id": [
          "721f2afd-656a-4985-b9fd-3f6ebf1a8cfe"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200424T150009Z:721f2afd-656a-4985-b9fd-3f6ebf1a8cfe"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 15 Jan 2020 08:39:21 GMT"
=======
          "Fri, 24 Apr 2020 15:00:08 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "146"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualWans/ps3631' under resource group 'ps7624' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps2352/providers/Microsoft.Network/virtualWans/ps1494?api-version=2020-04-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/423.1707.49677.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "ETag": [
<<<<<<< HEAD
          "W/\"3b1bbdf2-de19-499c-abb2-63b44b230733\""
        ],
        "x-ms-request-id": [
          "99612853-d368-454d-8ca7-d267447af265"
        ],
        "x-ms-correlation-request-id": [
          "93750385-207c-40b5-9e43-08c803bd6e86"
        ],
        "x-ms-arm-service-request-id": [
          "82efb9ef-5af5-4cc2-a5db-b1a530d7388c"
=======
          "W/\"066fee65-47fa-4f06-ab5b-725f2ba67e8a\""
        ],
        "x-ms-request-id": [
          "5c5d6381-e063-4e80-a9ab-aa5758b16247"
        ],
        "x-ms-correlation-request-id": [
          "01780443-0bde-421b-8690-6ff05a745bac"
        ],
        "x-ms-arm-service-request-id": [
          "724642df-54dd-4ac7-9915-c3c6c8d00b0b"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "x-ms-routing-request-id": [
<<<<<<< HEAD
          "WESTUS2:20200115T083935Z:93750385-207c-40b5-9e43-08c803bd6e86"
=======
          "WESTUS2:20200424T150021Z:01780443-0bde-421b-8690-6ff05a745bac"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 15 Jan 2020 08:39:35 GMT"
=======
          "Fri, 24 Apr 2020 15:00:20 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "539"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"name\": \"ps3631\",\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7624/providers/Microsoft.Network/virtualWans/ps3631\",\r\n  \"etag\": \"W/\\\"3b1bbdf2-de19-499c-abb2-63b44b230733\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"allowVnetToVnetTraffic\": true,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7624/providers/Microsoft.Network/virtualWans/ps3631?api-version=2019-11-01",
=======
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\": \"Resource /subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps2352/providers/Microsoft.Network/virtualWans/ps1494 not found.\",\r\n    \"details\": []\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps2352/providers/Microsoft.Network/virtualWans/ps1494?api-version=2020-04-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"allowVnetToVnetTraffic\": true,\r\n    \"type\": \"Standard\"\r\n  },\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "8efdb48f-5533-432f-9f26-c975f01c5ced"
=======
          "0787c8af-dd4b-42dc-b7b5-9bb235650945"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/423.1707.49677.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "162"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ]
<<<<<<< HEAD
          "abbad306-cede-48ca-bc57-252f19b423ba"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/locations/westcentralus/operations/abbad306-cede-48ca-bc57-252f19b423ba?api-version=2019-11-01"
        ],
        "x-ms-correlation-request-id": [
          "14f7e8e8-95c6-48b8-a45b-59df5e6617dd"
=======
          "9cc50dc2-a30b-4816-8ab1-9dcb21cb48a3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/locations/westcentralus/operations/9cc50dc2-a30b-4816-8ab1-9dcb21cb48a3?api-version=2020-04-01"
        ],
        "x-ms-correlation-request-id": [
          "e9ec297d-c16f-46e8-99cd-1bda23d64c4d"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-arm-service-request-id": [
<<<<<<< HEAD
          "2695247c-8ccf-46cf-93ab-618673a2bd59"
=======
          "89dca687-333e-4fa5-9ff8-adb850f179f5"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-w[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/locations/westcentralus/operations/abbad306-cede-48ca-bc57-252f19b423ba?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps1494\",\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps2352/providers/Microsoft.Network/virtualWans/ps1494\",\r\n  \"etag\": \"W/\\\"45a7486c-3f1f-4753-ab07-abb3e0b37d61\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"allowVnetToVnetTraffic\": true,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4538/providers/Microsoft.Network/virtualHubs/ps5561?api-version=2019-11-01",
=======
          "145"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualHubs/ps237' under resource group 'ps7382' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4538/providers/Microsoft.Network/virtualHubs/ps5561?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps237\",\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7382/providers/Microsoft.Network/virtualHubs/ps237\",\r\n  \"etag\": \"W/\\\"384cf9f6-ae0f-44e2-8c16-a9901010aa47\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"virtualNetworkConnections\": [],\r\n    \"virtualHubRouteTableV2s\": [],\r\n    \"addressPrefix\": \"10.8.0.0/24\",\r\n    \"routeTable\": {\r\n      \"routes\": []\r\n    },\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps2352/providers/Microsoft.Network/virtualWans/ps1494\"\r\n    },\r\n    \"sku\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7624/providers/Microsoft.Network/expressRouteGateways/ps5871?api-version=2019-11-01",
=======
          "154"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/expressRouteGateways/ps420' under resource group 'ps2352' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7624/providers/Microsoft.Network/expressRouteGateways/ps5871?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps420\",\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps2352/providers/Microsoft.Network/expressRouteGateways/ps420\",\r\n  \"etag\": \"W/\\\"8e105d26-9335-4080-b59c-bc2f6402df4b\\\"\",\r\n  \"type\": \"Microsoft.Network/expressRouteGateways\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"6b483596-5272-4251-a3ad-b963ad9ffc5e\",\r\n    \"virtualHub\": {\r\n      \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7382/providers/Microsoft.Network/virtualHubs/ps237\"\r\n    },\r\n    \"expressRouteConnections\": [],\r\n    \"autoScaleConfiguration\": {\r\n      \"bounds\": {\r\n        \"min\": 2\r\n      }\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7624/providers/Microsoft.Network/expressRouteGateways/ps5871?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps420\",\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps2352/providers/Microsoft.Network/expressRouteGateways/ps420\",\r\n  \"etag\": \"W/\\\"6b4cda01-5f70-49d1-9638-6e8af6358c29\\\"\",\r\n  \"type\": \"Microsoft.Network/expressRouteGateways\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"6b483596-5272-4251-a3ad-b963ad9ffc5e\",\r\n    \"virtualHub\": {\r\n      \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7382/providers/Microsoft.Network/virtualHubs/ps237\"\r\n    },\r\n    \"expressRouteConnections\": [\r\n      {\r\n        \"name\": \"ps156\",\r\n        \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps2352/providers/Microsoft.Network/expressRouteGateways/ps420/expressRouteConnections/ps156\",\r\n        \"etag\": \"W/\\\"6b4cda01-5f70-49d1-9638-6e8af6358c29\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"resourceGuid\": \"a365fd29-e066-4072-8f9c-f004747fcb20\",\r\n          \"expressRouteCircuitPeering\": {\r\n            \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps2352/providers/Microsoft.Network/expressRouteCircuits/ps2826/peerings/AzurePrivatePeering\"\r\n          },\r\n          \"routingWeight\": 10,\r\n          \"enableInternetSecurity\": false\r\n        },\r\n        \"type\": \"Microsoft.Network/expressRouteGateways/expressRouteConnections\"\r\n      }\r\n    ],\r\n    \"autoScaleConfiguration\": {\r\n      \"bounds\": {\r\n        \"min\": 2\r\n      }\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7624/providers/Microsoft.Network/expressRouteGateways/ps5871?api-version=2019-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"autoScaleConfiguration\": {\r\n      \"bounds\": {\r\n        \"min\": 2,\r\n        \"max\": 2\r\n      }\r\n    },\r\n    \"virtualHub\": {\r\n      \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4538/providers/Microsoft.Network/virtualHubs/ps5561\"\r\n    }\r\n  },\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
=======
        ],
        "Content-Length": [
          "154"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/expressRouteGateways/ps420' under resource group 'ps2352' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/locations/westcentralus/operations/bf7bc99b-631c-4e13-81a2-00c2aab701c9?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11922"
        ]
=======
          "11847"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200424T151539Z:590adf39-0209-433f-bd75-89cb7600c4a6"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 15 Jan 2020 08:55:16 GMT"
=======
          "Fri, 24 Apr 2020 15:15:38 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "30"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/locations/westcentralus/operations/bf7bc99b-631c-4e13-81a2-00c2aab701c9?api-version=2019-11-01",
=======
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/locations/westcentralus/operations/964efc45-6c43-46be-8dba-7cd0e43d217d?api-version=2020-04-01",
>>>>>>> e5fcd5c7b105c63[...]
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/expressRouteGateways?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "Retry-After": [
          "10"
        ],
        "x-ms-request-id": [
          "140fc93f-498c-4179-a345-bc932a492e5b"
        ],
        "x-ms-correlation-request-id": [
          "5ea25be3-b730-4776-8aad-f6ebb25380c6"
        ],
        "x-ms-arm-service-request-id": [
          "5fa652cc-028b-4949-9a57-b079ac7e074f"
=======
        "x-ms-original-request-ids": [
          "b6ff4c8a-a1f7-4ba8-ac03-fcbfade5cc3a",
          "49194fb7-2a83-4bfe-a750-c20dde610a5a",
          "e6b34996-e77f-4798-8ffa-d121ad2fbc04",
          "05e5d6be-67b8-44c9-912a-28159629b151"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11942"
        ],
        "x-ms-request-id": [
          "434e2c65-9278-4e01-b940-08ed71f466c0"
        ],
        "x-ms-correlation-request-id": [
          "434e2c65-9278-4e01-b940-08ed71f466c0"
        ],
        "x-[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/locations/westcentralus/operations/bf7bc99b-631c-4e13-81a2-00c2aab701c9?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
=======
        ],
        "Content-Length": [
          "9688"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"8ad2bbd950114e889161382119a2576c-eastus-er-gw\",\r\n      \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/rsdev-cy-bl-vwan-canary/providers/Microsoft.Network/expressRouteGateways/8ad2bbd950114e889161382119a2576c-eastus-er-gw\",\r\n      \"etag\": \"W/\\\"97e4d0fe-c46e-460f-94eb-060ff5cf3550\\\"\",\r\n      \"type\": \"Microsoft.Network/expressRouteGateways\",\r\n      \"location\": \"eastus\",\r\n      \"properties\": {\r\n        \"p[...]
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps2352/providers/Microsoft.Network/expressRouteGateways?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "Retry-After": [
          "10"
        ],
        "x-ms-request-id": [
          "a65eb520-0924-4d67-b60f-76b08dee2028"
       [...]
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps2352/providers/Microsoft.Network/expressRouteCircuits/ps2826?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "Retry-After": [
          "10"
        ],
        "x-ms-request-id": [
          "b361610c-a41b-4d42-9103-e83d0d3cf2c4"
[...]
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/locations/westcentralus/operations/bf7bc99b-631c-4e13-81a2-00c2aab701c9?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"name\": \"ps2826\",\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps2352/providers/Microsoft.Network/expressRouteCircuits/ps2826\",\r\n  \"etag\": \"W/\\\"24828802-3778-49d3-a0f3-5cdde28dbf4d\\\"\",\r\n  \"type\": \"Microsoft.Network/expressRouteCircuits\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"b4678e12-d2e0-40b9-8ca8-cff37798e255\",\r\n    \"peerings\": [\r\n      {\r\n        \"name\": \"AzurePrivatePeering\",\r\n        \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps2352/providers/Microsoft.Network/expressRouteCircuits/ps2826/peerings/AzurePrivatePeering\",\r\n        \"etag\": \"W/\\\"24828802-3778-49d3-a0f3-5cdde28dbf4d\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"peeringType\": \"AzurePrivatePeering\",\r\n          \"azureASN\": 12076,\r\n          \"peerASN\": 100,\r\n          \"primaryPeerAddressPrefix\": \"10.2.3.4/30\",\r\n          \"secondaryPeerAddressPrefix\": \"11.2.3.4/30\",\r\n          \"primaryAzurePort\": \"\",\r\n          \"secondaryAzurePort\": \"\",\r\n          \"state\": \"Enabled\",\r\n          \"vlanId\": 22,\r\n          \"gatewayManagerEtag\": \"\",\r\n          \"lastModifiedBy\": \"Customer\",\r\n          \"connections\": [],\r\n          \"peeredConnections\": []\r\n        },\r\n        \"type\": \"Microsoft.Network/expressRouteCircuits/peerings\"\r\n      }\r\n    ],\r\n    \"authorizations\": [],\r\n    \"serviceProviderProperties\": {\r\n      \"serviceProviderName\": \"Zayo\",\r\n      \"peeringLocation\": \"Denver\",\r\n      \"bandwidthInMbps\": 200\r\n    },\r\n    \"circuitProvisioningState\": \"Enabled\",\r\n    \"allowClassicOperations\": false,\r\n    \"gatewayManagerEtag\": \"\",\r\n    \"serviceKey\": \"2f5c79e4-3ede-4e57-ac4f-7048d274244d\",\r\n    \"serviceProviderProvisioningState\": \"NotProvisioned\",\r\n    \"allowGlobalReach\": false,\r\n    \"globalReachEnabled\": false,\r\n    \"stag\": 12\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Premium_MeteredData\",\r\n    \"tier\": \"Premium\",\r\n    \"family\": \"MeteredData\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps2352/providers/Microsoft.Network/expressRouteGateways/ps420/expressRouteConnections/ps156?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "Retry-After": [
          "10"
        ],
        "x-ms-request-id": [
          "640db864-[...]
[...]
