{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/matthchrwestcentralus/providers/Microsoft.Batch/batchAccounts/matthchrwestcentralus/applications/test?api-version=2019-08-01",
=======
      "RequestUri": "/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/matthchrwestcentralus/providers/Microsoft.Batch/batchAccounts/matthchrwestcentralus/applications/test?api-version=2020-03-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{}",
      "RequestHeaders": {
<<<<<<< HEAD
          "3fb5e09f-26a9-4131-b974-ca34d6364698"
=======
          "b75f2b69-4124-4494-8c67-d339e70006cd"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Batch.BatchManagementClient/9.0.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Batch.BatchManagementClient/10.0.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "2"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
<<<<<<< HEAD
          "W/\"0x8D733188D5D38B7\""
=======
          "W/\"0x8D7E2F7297711E0\""
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "3c70721e-ed8f-4be0-99cc-17d4d11540ea"
=======
          "3ce5012e-30d1-4668-82e2-8f56a301bbaf"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "0b1fe292-add2-45b2-aacc-20e0ba091f07"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190906T222124Z:0b1fe292-add2-45b2-aacc-20e0ba091f07"
        ],
        "Date": [
          "Fri, 06 Sep 2019 22:21:24 GMT"
=======
          "9e3e97bb-b895-4d5e-b5d6-fb8bc2e921d9"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200417T174547Z:9e3e97bb-b895-4d5e-b5d6-fb8bc2e921d9"
        ],
        "Date": [
          "Fri, 17 Apr 2020 17:45:47 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "311"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Last-Modified": [
<<<<<<< HEAD
          "Fri, 06 Sep 2019 22:21:24 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"type\": \"Microsoft.Batch/batchAccounts/applications\",\r\n  \"id\": \"/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/matthchrwestcentralus/providers/Microsoft.Batch/batchAccounts/matthchrwestcentralus/applications/test\",\r\n  \"name\": \"test\",\r\n  \"etag\": \"W/\\\"0x8D733188D5D38B7\\\"\",\r\n  \"properties\": {\r\n    \"allowUpdates\": true\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
