{
  "Entries": [
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "ca045c89-82a7-4d20-bf3f-0481ae243020"
=======
          "dd9e56bc-edb4-43ad-aad0-e0a66790c55c"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.2"
=======
          "FxVersion/4.6.27817.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.4"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11999"
        ],
        "x-ms-request-id": [
          "b197918f-11f3-45a8-bdb6-4cdac17225fb"
        ],
        "x-ms-correlation-request-id": [
          "b197918f-11f3-45a8-bdb6-4cdac17225fb"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20191021T195001Z:b197918f-11f3-45a8-bdb6-4cdac17225fb"
=======
          "11997"
        ],
        "x-ms-request-id": [
          "db46e88e-507e-4881-af3c-69392e5eab7d"
        ],
        "x-ms-correlation-request-id": [
          "db46e88e-507e-4881-af3c-69392e5eab7d"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200122T225733Z:db46e88e-507e-4881-af3c-69392e5eab7d"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 21 Oct 2019 19:50:00 GMT"
=======
          "Wed, 22 Jan 2020 22:57:32 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "4349"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices\",\r\n  \"namespace\": \"Microsoft.Devices\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"0cd79364-7a90-4354-9984-6e36c841418d\",\r\n      \"roleDefinitionId\": \"C121DF10-FE58-4BC4-97F9-8296879F7BBB\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"checkNameAvailability\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2019-07-01-preview\",\r\n        \"2019-03-22-preview\",\r\n        \"2019-03-22\",\r\n        \"2018-12-01-preview\",\r\n        \"2018-04-01\",\r\n        \"2018-01-22\",\r\n        \"2017-07-01\",\r\n        \"2017-01-19\",\r\n        \"2016-02-03\",\r\n        \"2015-08-15-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"checkProvisioningServiceNameAvailability\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2018-01-22\",\r\n       [...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourcegroups/ps636?api-version=2016-09-01",
=======
          "5555"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices\",\r\n  \"namespace\": \"Microsoft.Devices\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"0cd79364-7a90-4354-9984-6e36c841418d\",\r\n      \"roleDefinitionId\": \"C121DF10-FE58-4BC4-97F9-82[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourcegroups/ps7381?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US 2\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "11a82564-45b9-4b68-b724-5585d85023c3"
=======
          "6abd3649-65e1-4ae7-811e-e34b1b2f4cbe"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Internal.Resources.Reso[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps636/providers/Microsoft.Devices/IotHubs/ps2715?api-version=2019-07-01-preview",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps7381\",\r\n  \"name\": \"ps7381\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps7381/providers/Microsoft.Devices/IotHubs/ps1818?api-version=2019-07-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"S1\",\r\n    \"capacity\": 1\r\n  },\r\n  \"location\": \"West US 2\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "801341df-a1f3-466a-8f91-97006f85c968"
=======
          "ae0d0abd-9c89-46d8-88db-4968f65d8381"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
=======
          "FxVersion/4.6.27817.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "Microsoft.Azure.Management.IotHub.IotHubClient/2.10.0.0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "87"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices/operationResults/b3NfaWhfMjZjNzk0NGMtZDU3Zi00YjQ1LTliNGYtNTRiNTA2ZGMzMTAy?api-version=2019-07-01-preview&operationSource=os_ih&asyncinfo"
=======
          "https://management.azure.com/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices/operationResults/b3NfaWhfMTdkZWNjMzQtZmZjNy00MDM0LTg0MzMtNjdmMTg0YzI3ZWEx?api-version=2019-07-01-preview&operationSource=os_ih&asyncinfo"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "4999"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "4693f48f-4528-436d-80e3-8fd0eb5dfa64"
        ],
        "x-ms-correlation-request-id": [
          "4693f48f-4528-436d-80e3-8fd0eb5dfa64"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20191021T195018Z:4693f48f-4528-436d-80e3-8fd0eb5dfa64"
=======
          "0193578f-a1ba-4a31-bb19[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps636/providers/Microsoft.Devices/IotHubs/ps2715?api-version=2019-07-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"etag\": \"AAAAAAju+Rw=\",\r\n  \"properties\": {\r\n    \"ipFilterRules\": [],\r\n    \"eventHubEndpoints\": {\r\n      \"events\": {\r\n        \"retentionTimeInDays\": 1,\r\n        \"partitionCount\": 4\r\n      }\r\n    },\r\n    \"routing\": {\r\n      \"endpoints\": {\r\n        \"serviceBusQueues\": [],\r\n        \"serviceBusTopics\": [],\r\n        \"eventHubs\": [\r\n          {\r\n            \"connectionString\": \"Endpoint=sb://eventhub2527.servicebus.windows.net/;SharedAccessKeyName=ps7323;SharedAccessKey=evhdMVMPg5rWDknDy9AVh17X5C4lp5asfvXAKhsFjzw=;EntityPath=ps520\",\r\n            \"name\": \"ps5445\",\r\n            \"subscriptionId\": \"91d12660-3dec-467a-be2a-213b5544ddc0\",\r\n            \"resourceGroup\": \"ps636\"\r\n          }\r\n        ],\r\n        \"storageContainers\": []\r\n      },\r\n      \"routes\": [],\r\n      \"fallbackRoute\": {\r\n        \"name\": \"$fallback\",\r\n        \"condition\": \"true\",\r\n        \"endpointNames\": [\r\n          \"events\"\r\n        ],\r\n        \"isEnabled\": true,\r\n        \"source\": \"DeviceMessages\"\r\n      }\r\n    },\r\n    \"storageEndpoints\": {\r\n      \"$default\": {\r\n        \"sasTtlAsIso8601\": \"PT1H\",\r\n        \"connectionString\": \"\",\r\n        \"containerName\": \"\"\r\n      }\r\n    },\r\n    \"messagingEndpoints\": {\r\n      \"fileNotifications\": {\r\n        \"lockDurationAsIso8601\": \"PT1M\",\r\n        \"ttlAsIso8601\": \"PT1H\",\r\n        \"maxDeliveryCount\": 10\r\n      }\r\n    },\r\n    \"enableFileUploadNotifications\": false,\r\n    \"cloudToDevice\": {\r\n      \"maxDeliveryCount\": 10,\r\n      \"defaultTtlAsIso8601\": \"PT1H\",\r\n      \"feedback\": {\r\n        \"lockDurationAsIso8601\": \"PT1M\",\r\n        \"ttlAsIso8601\": \"PT1H\",\r\n        \"maxDeliveryCount\": 10\r\n      }\r\n    },\r\n    \"features\": \"None\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"S1\",\r\n    \"capacity\": 1\r\n  },\r\n  \"location\": \"West US 2\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps7381/providers/Microsoft.Devices/IotHubs/ps1818\",\r\n  \"name\": \"ps1818\",\r\n  \"type\": \"Microsoft.Devices/IotHubs\",\r\n  \"location\": \"West US 2\",\r\n  \"tags\": {},\r\n  \"subscriptionid\": \"91d12660-3dec-467a-be2a-213b5544ddc0\",\r\n  \"resourcegroup\": \"ps7381\",\r\n  \"properties\": {\r\n    \"state\": \"Activating\",\r\n    \"provisioningState\": \"Accepted\",\r\n    \"enableFileUploadNotifications\": false,\r\n    \"cloudToDevice\": {\r\n      \"maxDeliveryCount\": 10,\r\n      \"defaultTtlAsIso8601\": \"PT1H\",\r\n      \"feedback\": {\r\n        \"lockDurationAsIso8601\": \"PT1M\",\r\n        \"ttlAsIso8601\": \"PT1H\",\r\n        \"maxDeliveryCount\": 10\r\n      }\r\n    },\r\n    \"features\": \"None\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"S1\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 1\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps636/providers/Microsoft.Devices/IotHubs/ps2715?api-version=2019-07-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"etag\": \"AAAAAAju+/o=\",\r\n  \"properties\": {\r\n    \"ipFilterRules\": [],\r\n    \"eventHubEndpoints\": {\r\n      \"events\": {\r\n        \"retentionTimeInDays\": 1,\r\n        \"partitionCount\": 4\r\n      }\r\n    },\r\n    \"routing\": {\r\n      \"endpoints\": {\r\n        \"serviceBusQueues\": [],\r\n        \"serviceBusTopics\": [],\r\n        \"eventHubs\": [\r\n          {\r\n            \"connectionString\": \"Endpoint=sb://eventhub2527.servicebus.windows.net:5671/;SharedAccessKeyName=ps7323;SharedAccessKey=****;EntityPath=ps520\",\r\n            \"name\": \"ps5445\",\r\n            \"subscriptionId\": \"91d12660-3dec-467a-be2a-213b5544ddc0\",\r\n            \"resourceGroup\": \"ps636\"\r\n          }\r\n        ],\r\n        \"storageContainers\": [\r\n          {\r\n            \"connectionString\": \"DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=pshardcodedstorage1234;AccountKey=****\",\r\n            \"name\": \"ps8031\",\r\n            \"subscriptionId\": \"91d12660-3dec-467a-be2a-213b5544ddc0\",\r\n            \"resourceGroup\": \"pshardcodedrg1234\",\r\n            \"containerName\": \"container1\",\r\n            \"fileNameFormat\": \"{iothub}/{partition}/{YYYY}/{MM}/{DD}/{HH}/{mm}\",\r\n            \"batchFrequencyInSeconds\": 300,\r\n            \"maxChunkSizeInBytes\": 314572800,\r\n            \"encoding\": \"json\"\r\n          },\r\n          {\r\n            \"connectionString\": \"DefaultEndpointsProtocol=https;AccountName=pshardcodedstorage1234;AccountKey=W1ujKNLtPmMtaNqZfOCUU5cnYMI8bQeF9ODce4riISyT2RSXiIxcwuwQhzCmIuwPWi82ParLfbq1bOF5ypUnPw==;EndpointSuffix=core.windows.net\",\r\n            \"name\": \"ps9952\",\r\n            \"subscriptionId\": \"91d12660-3dec-467a-be2a-213b5544ddc0\",\r\n            \"resourceGroup\": \"pshardcodedrg1234\",\r\n            \"containerName\": \"container2\"[...]
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps636/providers/Microsoft.Devices/IotHubs/ps2715?api-version=2019-07-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"etag\": \"AAAAAAju/+w=\",\r\n  \"properties\": {\r\n    \"ipFilterRules\": [],\r\n    \"eventHubEndpoints\": {\r\n      \"events\": {\r\n        \"retentionTimeInDays\": 1,\r\n        \"partitionCount\": 4\r\n      }\r\n    },\r\n    \"routing\": {\r\n      \"endpoints\": {\r\n        \"serviceBusQueues\": [],\r\n        \"serviceBusTopics\": [],\r\n        \"eventHubs\": [\r\n          {\r\n            \"connectionString\": \"Endpoint=sb://eventhub2527.servicebus.windows.net:5671/;SharedAccessKeyName=ps7323;SharedAccessKey=****;EntityPath=ps520\",\r\n            \"name\": \"ps5445\",\r\n            \"subscriptionId\": \"91d12660-3dec-467a-be2a-213b5544ddc0\",\r\n            \"resourceGroup\": \"ps636\"\r\n          }\r\n        ],\r\n        \"storageContainers\": []\r\n      },\r\n      \"routes\": [],\r\n      \"fallbackRoute\": {\r\n        \"name\": \"$fallback\",\r\n        \"condition\": \"true\",\r\n        \"endpointNames\": [\r\n          \"events\"\r\n        ],\r\n        \"isEnabled\": true,\r\n        \"source\": \"DeviceMessages\"\r\n      },\r\n      \"enrichments\": []\r\n    },\r\n    \"storageEndpoints\": {\r\n      \"$default\": {\r\n        \"sasTtlAsIso8601\": \"PT1H\",\r\n        \"connectionString\": \"\",\r\n        \"containerName\": \"\"\r\n      }\r\n    },\r\n    \"messagingEndpoints\": {\r\n      \"fileNotifications\": {\r\n        \"lockDurationAsIso8601\": \"PT1M\",\r\n        \"ttlAsIso8601\": \"PT1H\",\r\n        \"maxDeliveryCount\": 10\r\n      }\r\n    },\r\n    \"enableFileUploadNotifications\": false,\r\n    \"cloudToDevice\": {\r\n      \"maxDeliveryCount\": 10,\r\n      \"defaultTtlAsIso8601\": \"PT1H\",\r\n      \"feedback\": {\r\n        \"lockDurationAsIso8601\": \"PT1M\",\r\n        \"ttlAsIso8601\": \"PT1H\",\r\n        \"maxDeliveryCount\": 10\r\n      }\r\n    },\r\n    \"features\": \"None\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"S1\",\r\n    \"capacity\": 1\r\n  },\r\n  \"location\": \"West US 2\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps7381/providers/Microsoft.Devices/IotHubs/ps1818\",\r\n  \"name\": \"ps1818\",\r\n  \"type\": \"Microsoft.Devices/IotHubs\",\r\n  \"location\": \"West US 2\",\r\n  \"tags\": {},\r\n  \"subscriptionid\": \"91d12660-3dec-467a-be2a-213b5544ddc0\",\r\n  \"resourcegroup\": \"ps7381\",\r\n  \"etag\": \"AAAAAArmtD8=\",\r\n  \"properties\": {\r\n    \"operationsMonitoringProperties\": {\r\n      \"events\": {\r\n        \"None\": \"None\",\r\n        \"Connections\": \"None\",\r\n        \"DeviceTelemetry\": \"None\",\r\n        \"C2DCommands\": \"None\",\r\n        \"DeviceIdentityOperations\": \"None\",\r\n        \"FileUploadOperations\": \"None\",\r\n        \"Routes\": \"None\"\r\n      }\r\n    },\r\n    \"provisioningState\": \"Accepted\",\r\n    \"authorizationPolicies\": [\r\n      {\r\n        \"keyName\": \"iothubowner\",\r\n        \"primaryKey\": \"S2TKwab0hS/Aes9B2Zti74wp4FwmwbW3xwIG7iLgNeE=\",\r\n        \"secondaryKey\": \"WFuiCho75vVTfOVPHDfh45K28YEyiN3/IDHcs21b0Wo=\",\r\n        \"rights\": \"RegistryWrite, ServiceConnect, DeviceConnect\"\r\n      },\r\n      {\r\n        \"keyName\": \"service\",\r\n        \"primaryKey\": \"lFa8F2ulEv/YGKiPPb/vvFgz1PTq7Fx8lR8J7JvqtSM=\",\r\n        \"secondaryKey\": \"2W9B9y1fIcpl9ctUGcVjnYTPLqMZ4GkF65H5nrzOd+g=\",\r\n        \"rights\": \"ServiceConnect\"\r\n      },\r\n      {\r\n        \"keyName\": \"device\",\r\n        \"primaryKey\": \"hMhzMrn6FBC7Alw6PrgNvntCJO3Ure1zfQGGsn0sIPM=\",\r\n        \"secondaryKey\": \"gCAwvQ5h3XVqZ9CRzYGXV4w2OmUyyYMGG78zGizN8Go=\",\r\n        \"rights\": \"DeviceConnect\"\r\n      },\r\n      {\r\n        \"keyName\": \"registryRead\",\r\n        \"primaryKey\": \"trB9+QErhCLkurBYqJ+HSw7zNRYLRvUdPxazB2Afcm8=\",\r\n        \"secondaryKey\": \"cncPhwRA5cLWs3dPN/5Te7us9fLGGnlg0v7d9jc274s=\",\r\n        \"rights\": \"RegistryRead\"\r\n      },\r\n      {\r\n        \"keyName\": \"registryReadWrite\",\r\n        \"primaryKey\": \"mWQP6Mxx3ruPwJsCS3BM44BW7qSjVU8/9/R3zg9q6FA=\",\r\n        \"secondaryKey\": \"t/GExao3zwn3MRMR7PKafRAgAgg2waHOQ3456gZWQe8=\",\r\n        \"rights\": \"RegistryWrite\"\r\n      }\r\n    ],\r\n    \"ipFilterRules\": [],\r\n    \"eventHubEndpoints\": {\r\n      \"events\": {\r\n        \"retentionTimeInDays\": 1,\r\n        \"partitionCount\": 4\r\n      },\r\n      \"operationsMonitoringEvents\": {\r\n        \"retentionTimeInDays\": 1,\r\n        \"partitionCount\": 4,\r\n        \"partitionIds\": [\r\n          \"0\",\r\n          \"1\",\r\n          \"2\",\r\n          \"3\"\r\n        ],\r\n        \"path\": \"ps1818-operationmonitoring\",\r\n        \"endpoint\": \"sb://iothub-ns-ps1818-2813745-c742a7d8c2.servicebus.windows.net/\",\r\n        \"internalAuthorizationPolicies\": [\r\n          {\r\n            \"KeyName\": \"scaleunitsend-e29a4b55-bdf8-4a1e-b096-e9ed0d4b3a77-iothub\",\r\n            \"PrimaryKey\": \"cuwZVdtH4nPSY2UAi96AYrgdQnrC8hvhgqoxS13TudM=\",\r\n            \"SecondaryKey\": \"ToYfOGGmip7+mNBZYSmhJQgVxN2OPiaCI/U3/Nqq8AQ=\",\r\n            \"ClaimType\": \"SharedAccessKey\",\r\n            \"ClaimValue\": \"None\",\r\n            \"Rights\": [\r\n              \"Send\"\r\n            ],\r\n            \"CreatedTime\": \"Wed, 22 Jan 2020 23:05:25 GMT\",\r\n            \"ModifiedTime\": \"Wed, 22 Jan 2020 23:05:25 GMT\"\r\n          },\r\n          {\r\n            \"KeyName\": \"owner-32d154b0-0092-40f9-bcd1-4962a3b8dfbc-iothub\",\r\n            \"PrimaryKey\": \"cBDhg1XIm1aZ6bGUlpLzDFTaQJCIL1pot8AU/rJafe4=\",\r\n            \"SecondaryKey\": \"+S04fTe4bJoXrtP2h6lPTEz73HThNksY80Jp7okLJj4=\",\r\n            \"ClaimType\": \"SharedAccessKey\",\r\n            \"ClaimValue\": \"None\",\r\n            \"Rights\": [\r\n              \"Listen\",\r\n              \"Manage\",\r\n     [...]
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices/operationResults/b3NfaWhfMjZjNzk0NGMtZDU3Zi00YjQ1LTliNGYtNTRiNTA2ZGMzMTAy?api-version=2019-07-01-preview&operationSource=os_ih&asyncinfo",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps7381/providers/Microsoft.Devices/IotHubs/ps1818\",\r\n  \"name\": \"ps1818\",\r\n  \"type\": \"Microsoft.Devices/IotHubs\",\r\n  \"locati[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices/operationResults/b3NfaWhfMTdkZWNjMzQtZmZjNy00MDM0LTg0MzMtNjdmMTg0YzI3ZWEx?api-version=2019-07-01-preview&operationSource=os_ih&asyncinfo",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.183[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices/operationResults/b3NfaWhfMTdkZWNjMzQtZmZjNy00MDM0LTg0MzMtNjdmMTg0YzI3ZWEx?api-version=2019-07-01-preview&operationSource=os_ih&asyncinfo",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ]
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 21 Oct 2019 19:51:48 GMT"
=======
          "Wed, 22 Jan 2020 22:59:51 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "22"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps636/providers/Microsoft.Devices/IotHubs/ps2715?api-version=2019-07-01-preview",
=======
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps7381/providers/Microsoft.Devices/IotHubs/ps1818?api-version=2019-07-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps636/providers/Microsoft.Devices/IotHubs/ps2715?api-version=2019-07-01-preview",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps7381/providers/Microsoft.Devices/IotHubs/ps1818\",\r\n  \"name\": \"ps1818\",\r\n  \"type\": \"Microsoft.Devices/IotHubs\",\r\n  \"location\": \"West US 2\",\r\n  \"tags\": {},\r\n  \"subscriptionid\": \"91d12660-3dec-467a-be2a-213b5544ddc0\",\r\n  \"resourcegroup\": \"ps7381\",\r\n  \"etag\": \"AAAAAArmrdg=\",\r\n  \"properties\": {\r\n    \"locations\": [\r\n      {\r\n        \"location\": \"West US 2\",\r\n        \"role\": \"primary\"\r\n      },\r\n      {\r\n        \"location\": \"West Central US\",\r\n        \"role\": \"secondary\"\r\n      }\r\n    ],\r\n    \"state\": \"Active\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"ipFilterRules\": [],\r\n    \"hostName\": \"ps1818.azure-devices.net\",\r\n    \"eventHubEndpoints\": {\r\n      \"events\": {\r\n        \"retentionTimeInDays\": 1,\r\n        \"partitionCount\": 4,\r\n        \"partitionIds\": [\r\n          \"0\",\r\n          \"1\",\r\n          \"2\",\r\n          \"3\"\r\n        ],\r\n        \"path\": \"ps1818\",\r\n        \"endpoint\": \"sb://iothub-ns-ps1818-2813745-c742a7d8c2.servicebus.windows.net/\"\r\n      }\r\n    },\r\n    \"routing\": {\r\n      \"endpoints\": {\r\n        \"serviceB[...]
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps636/providers/Microsoft.EventHub/namespaces/eventHub2527?api-version=2017-04-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps7381/providers/Microsoft.Devices/IotHubs/ps1818\",\r\n  \"name\": \"ps1818\",\r\n  \"type\": \"Microsoft.Devices/IotHubs\",\r\n  \"location\": \"West US 2\",\r\n  \"tags\": {},\r\n  \"subscriptionid\": \"9[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps7381/providers/Microsoft.EventHub/namespaces/eventHub8902?api-version=2017-04-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"isAutoInflateEnabled\": false,\r\n    \"kafkaEnabled\": false\r\n  },\r\n  \"location\": \"West US 2\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "0a92eec3-24f3-4c1b-afc7-f91b0e2d38f9"
=======
          "aaf3ceca-ecb3-4919-84a1-f8f4a049543b"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
=======
          "FxVersion/4.6.27817.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "Microsoft.Azure.Management.EventHub.EventHubManagementClient/2.5.0.0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "119"
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "fcef303c-5ae8-45f9-aece-57228e5d3065_M1SN1_M1SN1"
=======
          "adbbac2e-cb03-4d54-be7b-86f8f737acb4_M1SN1_M1SN1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "Server": [
          "Service-Bus-Resource-Provider/SN1",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-correlation-request-id": [
          "80055809-20ac-4138-a1ca-2808a6969967"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20191021T195155Z:80055809-20ac-4138-a1ca-2808a6969967"
=======
        "x[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps636/providers/Microsoft.EventHub/namespaces/eventHub2527?api-version=2017-04-01",
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 1\r\n  },\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps7381/providers/Microsoft.EventHub/namespaces/eventHub8902\",\r\n  \"name\": \"eventHub8902\",\r\n  \"type\": \"Microsoft.EventHub/Namespaces\",\r\n  \"location\": \"West US 2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"isAutoInflateEnabled\": false,\r\n    \"maximumThroughputUnits\": 0,\r\n    \"kafkaEnabled\": true,\r\n    \"provisioningState\": \"Created\",\r\n    \"metricId\": \"91d12660-3dec-467a-be2a-213b5544ddc0:eventhub8902\",\r\n    \"createdAt\": \"2020-01-22T22:59:55.3Z\",\r\n    \"updatedAt\": \"2020-01-22T22:59:55.3Z\",\r\n    \"serviceBusEndpoint\": \"https://eventHub8902.servicebus.windows.net:443/\",\r\n    \"status\": \"Activating\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps636/providers/Microsoft.EventHub/namespaces/eventHub2527/eventhubs/ps520?api-version=2017-04-01",
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 1\r\n  },\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps7381/providers/Microsoft.EventHub/namespaces/eventHub8902\",\r\n  \"name\": \"eventHub8902\",\r\n  \"type\": \"Microsoft.EventHub/Namespaces\",\r\n  \"location\": \"West US 2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"isAutoInflateEnabled\": false,\r\n    \"maximumThroughputUnits\": 0,\r\n    \"kafkaEnabled\": true,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"metricId\": \"91d12660-3dec-467a-be2a-213b5544ddc0:eventhub8902\",\r\n    \"createdAt\": \"2020-01-22T22:59:55.3Z\",\r\n    \"updatedAt\": \"2020-01-22T23:00:45.477Z\",\r\n    \"serviceBusEndpoint\": \"https://eventHub8902.servicebus.windows.net:443/\",\r\n    \"status\": \"Active\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps7381/providers/Microsoft.EventHub/namespaces/eventHub8902/eventhubs/ps2744?api-version=2017-04-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"messageRetentionInDays\": 3,\r\n    \"partitionCount\": 2\r\n  }\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "7c70dcc0-53a4-41a8-aa4b-0b62062f604b"
=======
          "630e4380-69e9-47ba-8c62-acc5038fef9c"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
=======
          "FxVersion/4.6.278[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps636/providers/Microsoft.EventHub/namespaces/eventHub2527/eventhubs/ps520/authorizationRules/ps7323?api-version=2017-04-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps7381/providers/Microsoft.EventHub/namespaces/eventHub8902/eventhubs/ps2744\",\r\n  \"name\": \"ps2744\",\r\n  \"type\": \"Microsoft.EventHub/Namespaces/EventHubs\",\r\n  \"location\": \"West US 2\",\r\n  \"properties\": {\r\n    \"messageRetentionInDays\": 3,\r\n    \"partitionCount\": 2,\r\n    \"status\": \"Active\",\r\n    \"createdAt\": \"2020-01-22T23:01:14.667Z\",\r\n    \"updatedAt\": \"2020-01-22T23:01:15.23Z\",\r\n    \"partitionIds\": [\r\n      \"0\",\r\n      \"1\"\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps636/providers/Microsoft.EventHub/namespaces/eventHub2527/eventhubs/ps520/authorizationRules/ps7323/ListKeys?api-version=2017-04-01",
=======
[...]
