{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourcegroups/group-ps-test210?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourcegroups/group-ps-test1758?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "52f29541-ef78-41c1-a2c3-ebd28fd189e7"
=======
          "414acb9d-7e9d-4ed5-85cd-16f01eeff227"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.2"
=======
          "FxVersion/4.6.27817.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.9"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "29"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1199"
        ],
        "x-ms-request-id": [
          "692198bb-7dc6-4986-913b-52d0ef190f92"
        ],
        "x-ms-correlation-request-id": [
          "692198bb-7dc6-4986-913b-52d0ef190f92"
        ],
        "x-ms-routing-request-id": [
          "JAPANEAST:20190902T114905Z:692198bb-7dc6-4986-913b-52d0ef190f92"
=======
          "1198"
        ],
        "x-ms-request-id": [
          "5f1a8354-61be-4cb3-8698-ccc744a40718"
        ],
        "x-ms-correlation-request-id": [
          "5f1a8354-61be-4cb3-8698-ccc744a40718"
        ],
        "x-ms-routing-request-id": [
          "KOREASOUTH:20200317T054318Z:5f1a8354-61be-4cb3-8698-ccc744a40718"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 02 Sep 2019 11:49:05 GMT"
        ],
        "Content-Length": [
          "185"
=======
          "Tue, 17 Mar 2020 05:43:18 GMT"
        ],
        "Content-Length": [
          "187"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/group-ps-test210\",\r\n  \"name\": \"group-ps-test210\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/group-ps-test210/providers/Microsoft.Storage/storageAccounts/storagepstest5394?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_RAGRS\"\r\n  },\r\n  \"kind\": \"Storage\",\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/group-ps-test1758\",\r\n  \"name\": \"group-ps-test1758\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/group-ps-test1758/providers/Microsoft.Storage/storageAccounts/storagepstest2675?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_RAGRS\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Storage.Version2017.10.01.StorageManagementClient/1.3.2"
=======
          "FxVersion/4.6.27817.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Storage.Version2017.10.01.StorageManagementClient/1.3.9"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "99"
=======
          "101"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/providers/Microsoft.Storage/locations/westus/asyncoperations/9acba0ae-5f19-479e-ae5e-ae6f62e9a46d?monitor=true&api-version=2017-10-01"
=======
          "https://management.azure.com/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/providers/Microsoft.Storage/locations/westus/asyncoperations/6f78ba07-9174-4847-94ca-2c73eee4461d?monitor=true&api-version=2017-10-01"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "9acba0ae-5f19-479e-ae5e-ae6f62e9a46d"
=======
          "6f78ba07-9174-4847-94ca-2c73eee4461d"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-Azure-Storage-Resource-Provider/1.0,Microsoft-HTTPAPI/2.0 Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1199"
        ],
        "x-ms-correlation-request-id": [
          "89fd95c7-e711-414e-95dc-778e9f26cdf2"
        ],
        "x-ms-routing-request-id": [
          "JAPANEAST:20190902T114909Z:89fd95c7-e711-414e-95dc-778e9f26cdf2"
=======
          "1197"
        ],
        "x-ms-correlation-request-i[...]
    {
      "RequestUri": "/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/group-ps-test210/providers/Microsoft.Storage/storageAccounts/storagepstest5394/listKeys?api-version=2017-10-01",
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_RAGRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"id\": \"/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/group-ps-test1758/providers/Microsoft.Storage/storageAccounts/storagepstest2675\",\r\n  \"name\": \"storagepstest2675\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"virtualNetworkRules\": [],\r\n      \"ipRules\": [],\r\n      \"defaultAction\": \"Allow\"\r\n    },\r\n    \"supportsHttpsTrafficOnly\": false,\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"file\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2020-03-17T05:43:23.2196216Z\"\r\n        },\r\n        \"blob\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2020-03-17T05:43:23.2196216Z\"\r\n        }\r\n      },\r\n      \"keySource\": \"Microsoft.Storage\"\r\n    },\r\n    \"accessTier\": \"Hot\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"creationTime\": \"2020-03-17T05:43:23.1258408Z\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://storagepstest2675.blob.core.windows.net/\",\r\n      \"queue\": \"https://storagepstest2675.queue.core.windows.net/\",\r\n      \"table\": \"https://storagepstest2675.table.core.windows.net/\",\r\n      \"file\": \"https://storagepstest2675.file.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"westus\",\r\n    \"statusOfPrimary\": \"available\",\r\n    \"secondaryLocation\": \"westus\",\r\n    \"statusOfSecondary\": \"available\",\r\n    \"secondaryEndpoints\": {\r\n      \"blob\": \"https://storagepstest2675-secondary.blob.core.windows.net/\",\r\n      \"queue\": \"https://storagepstest2675-secondary.queue.core.windows.net/\",\r\n      \"table\": \"https://storagepstest2675-secondary.table.core.windows.net/\"\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/group-ps-test210/providers/Microsoft.HDInsight/clusters/hdi-ps-test7274?api-version=2018-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"clusterVersion\": \"default\",\r\n    \"osType\": \"Linux\",\r\n    \"tier\": \"Standard\",\r\n    \"clusterDefinition\": {\r\n      \"kind\": \"Spark\",\r\n      \"componentVersion\": {},\r\n      \"configurations\": {\r\n        \"core-site\": {\r\n          \"fs.defaultFS\": \"wasb://hdi-ps-test7274@storagepstest5394.blob.core.windows.net\",\r\n          \"fs.azure.account.key.storagepstest5394.blob.core.windows.net\": \"5ztO+9kAaLCX8PhEN0EVoUMGls4G/jbQEdeOOh+JwYiYFNv8EB/qyYnbt9DgOTIEkPE/tDtb4spM4Zq73m2qSw==\"\r\n        },\r\n        \"gateway\": {\r\n          \"restAuthCredential.isEnabled\": \"true\",\r\n          \"restAuthCredential.username\": \"admin\",\r\n          \"restAuthCredential.password\": \"YourPw!00953\"\r\n        }\r\n      }\r\n    },\r\n    \"computeProfile\": {\r\n      \"roles\": [\r\n        {\r\n          \"name\": \"headnode\",\r\n          \"targetInstanceCount\": 2,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Standard_D12\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser\",\r\n              \"password\": \"YourPw!00953\"\r\n            }\r\n          }\r\n        },\r\n        {\r\n          \"name\": \"workernode\",\r\n          \"targetInstanceCount\": 2,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Standard_D12\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser\",\r\n              \"password\": \"YourPw!00953\"\r\n            }\r\n          }\r\n        },\r\n        {\r\n          \"name\": \"zookeepernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Small\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser\",\r\n              \"password\": \"YourPw!00953\"\r\n            }\r\n          }\r\n        }\r\n      ]\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"keys\": [\r\n    {\r\n      \"keyName\": \"key1\",\r\n      \"value\": \"+YhawDDVqSSby4rDux4Ds9FkxRKXUtGk1TegwL6lxbVr3OSdcIY8fqlXHpW47z32gPVQHwmnIK/hAi4SPJICBw==\",\r\n      \"permissions\": \"FULL\"\r\n    },\r\n    {\r\n      \"keyName\": \"key2\",\r\n      \"value\": \"68K6KPSgyY25U8fALC2WW4qzpeDzYgxNxzoPbI6t+q2pqm0FVZP/BW9I2cRAqWcUlyzPjflRScb0GEH8F2NMNw==\",\r\n      \"permissions\": \"FULL\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/group-ps-test210/providers/Microsoft.HDInsight/clusters/hdi-ps-test7274/azureasyncoperations/create?api-version=2018-06-01-preview",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/group-ps-test1758/providers/Microsoft.HDInsight/clusters/hdi-ps-test5761\",\r\n  \"name\": \"hdi-ps-test5761\",\r\n  \"type\": \"Microsoft.HDInsight/clusters\",\r\n  \"location\": \"West US\",\r\n  \"etag\": \"9edd2415-ad0f-4d4c-9c81-5eb7668c2f9c\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"clusterVersion\": \"3.6.1000.67\",\r\n    \"clusterHdpVersion\": \"\",\r\n    \"osType\": \"Linux\",\r\n    \"clusterDefinition\": {\r\n      \"blueprint\": \"https://blueprints.azurehdinsight.net/spark-3.6.1000.67.2002200623.json\",\r\n      \"kind\": \"Spark\",\r\n      \"componentVersion\": {\r\n        \"Spark\": \"2.3\"\r\n      }\r\n    },\r\n    \"computeProfile\": {\r\n      \"roles\": [\r\n        {\r\n          \"name\": \"headnode\",\r\n          \"targetInstanceCount\": 2,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"standard_d12_v2\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser\"\r\n            }\r\n          },\r\n          \"encryptDataDisks\": false\r\n        },\r\n        {\r\n          \"name\": \"workernode\",\r\n          \"targetInstanceCount\": 2,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"standard_d12_v2\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser\"\r\n            }\r\n          },\r\n          \"encryptDataDisks\": false\r\n        },\r\n        {\r\n          \"name\": \"zookeepernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"standard_a2_v2\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser\"\r\n            }\r\n          },\r\n          \"encryptDataDisks\": false\r\n        }\r\n      ]\r\n    },\r\n    \"provisioningState\": \"InProgress\",\r\n    \"clusterState\": \"Accepted\",\r\n    \"createdDate\": \"2020-03-17T05:43:50.917\",\r\n    \"quotaInfo\": {\r\n      \"coresUsed\": 16\r\n    },\r\n    \"tier\": \"standard\",\r\n    \"minSupportedTlsVersion\": \"1.2\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/group-ps-test1758/providers/Microsoft.HDInsight/clusters/hdi-ps-test5761/azureasyncoperations/create?api-version=2018-06-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.HDInsight.HDInsightManagementClient/5.1.0.0"
=======
          "FxVersion/4.6.27817.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.HDInsight.HDInsightManagementClient/5.3.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-hdi-matched-rule": [
          "ClusterResourcesAndSubResources"
        ],
        "x-ms-hdi-routed-to": [
          "RegionalRp"
        ]
<<<<<<< HEAD
          "47be8343-78b4-4555-b63c-2991a693a0f0"
=======
          "5d1217be-b4a6-4e6f-83bb-672cf1d3f45b"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "x-ms-hdi-served-by": [
          "westus"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "76a8f125-9c9e-4391-af33-7c842dc86db9"
=======
          "077cbb5a-72ad-4c71-b6e7-84bdd437101a"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11999"
        ],
        "x-ms-routing-request-id": [
          "JAPANEAST:20190902T115015Z:76a8f125-9c9e-4391-af33-7c842dc86db9"
=======
          "11984"
        ],
        "x-ms-routing-request-id": [
          "KOREASOUTH:20200317T054423Z:077cbb5a-72ad-4c71-b6e7-84bdd437101a"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 02 Sep 2019 11:50:14 GMT"
=======
          "Tue, 17 Mar 2020 05:44:23 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "23"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/group-ps-test210/providers/Microsoft.HDInsight/clusters/hdi-ps-test7274/azureasyncoperations/create?api-version=2018-06-01-preview",
=======
      "RequestUri": "/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/group-ps-test1758/providers/Microsoft.HDInsight/clusters/hdi-ps-test5761/azureasyncoperations/create?api-versi[...]
[...]
    {
      "RequestUri": "/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/providers/Microsoft.HDInsight/clusters?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "x-ms-hdi-matched-rule": [
          "ClusterResourcesAndSubResources"
        ],
        "x-ms-hdi-routed-to": [
          "RegionalRp"
        ],
        "x-ms-request-id": [
          "f160ce70-76ea-4e4b-a3c3-4169ad365983"
        ],
        "x-ms-hdi-served-by": [
          "westus"
        ],
        "x-ms-correlation-request-id": [
          "60e42c1b-7c35-4620-8c0f-ba2fab47f27c"
=======
        "x-ms-original-request-ids": [
          "0a6e427d-d7d2-4cf8-9ee0-3b4e1620a223",
          "6c9cdfb8-cd10-469a-bc3e-fe4aa36e6c0a",
          "ee7af759-8a6b-4291-b3b0-56e2ebaac989",
          "d056344c-5cff-41f5-92f2-270aca84adab",
          "d4fcb391-8dd4-4b68-89fb-6a84bd240cc6",
          "3d5c2ec9-bcec-4c40-8738-3433327d7829",
          "8d03f41d-b7de-436a-a790-8734024ef0bc",
          "f3c952d6-5eda-455c-9c54-f8452103618d",
          "26c77db7-0470-44b6-ac4a-837e22f11d8c",
          "4e651dc3-93ab-4ca3-bb23-bcaf754b1bee[...]
    {
      "RequestUri": "/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/group-ps-test210/providers/Microsoft.HDInsight/clusters/hdi-ps-test7274/azureasyncoperations/create?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
=======
        ],
        "Content-Length": [
          "137704"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/bhselvagRGwestus2/providers/Microsoft.HDInsight/clusters/bhselvtest-donotdel\",\r\n      \"name\": \"bhselvtest-donotdel\",\r\n      \"type\": \"Microsoft.HDInsight/clusters\",\r\n      \"location\": \"West US 2\",\r\n      \"etag\": \"a8725f13-af0b-4401-b570-6214a8816284\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"clusterVersion\": \"3.6.1000.67\",\r\n        \"clusterHdpVersion\": \"2.6.5.3016-3\",\r\n        \"osType\": \"Linux\",\r\n        \"clusterDefinition\": {\r\n          \"blueprint\": \"https://blueprints.azurehdinsight.net/hadoop-3.6.1000.67.2001080246.json\",\r\n          \"kind\": \"HADOOP\",\r\n          \"componentVersion\": {\r\n            \"Hadoop\": \"2.7\"\r\n          }\r\n        },\r\n        \"computeProfile\": {\r\n          \"roles\": [\r\n            {\r\n              \"name\": \"headnode\",\r\n              \"targetInstanceCount\": 2,\r\n              \"hardwareProfile\": {\r\n                \"vmSize\": \"standard_d12_v2\"\r\n              },\r\n              \"osProfile\": {\r\n                \"linuxOperatingSystemProfile\": {\r\n                  \"username\": \"sshuser\"\r\n                }\r\n              },\r\n          [...]
[...]
    {
      "RequestUri": "/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/group-ps-test1758/providers/Microsoft.HDInsight/clusters/hdi-ps-test5761/configurations/core-site?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-hdi-matched-rule": [
          "ClusterResourcesAndSubResources"
        ],
        "[...]
[...]
    {
      "RequestUri": "/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/group-ps-test1758/providers/Microsoft.HDInsight/clusters/hdi-ps-test5761/configurations/clusterIdentity?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-hdi-matched-rule": [
          "ClusterResourcesAndSubResources"
        ],
   [...]
[...]
    {
      "RequestUri": "/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/group-ps-test1758/providers/Microsoft.HDInsight/clusters/hdi-ps-test5761/roles/workernode/resize?api-version=2018-06-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"targetInstanceCount\": 3\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
=======
        "Location": [
          "https://management.azure.com/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/group-ps-test1758/providers/Microsoft.HDInsight/clusters/hdi-ps-test5761/operationresults/d529c95b-f26c-484c-b0e0-0b3c7bcce507-0-r?api-version=2018-06-01-preview"
        ],
        "Retry-After": [
          "60"
        ],
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        "x-ms-hdi-matched-rule": [
          "ClusterResourcesAndSubResources"
        ],
        "x-ms-hdi-routed-to": [
          "RegionalRp"
        ],
<<<<<<< HEAD
        "x-ms-request-id": [
          "8170c406-cd5e-4a57-abdd-d9e466ee26a2"
=======
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/group-ps-test1758/providers/Microsoft.HDInsight/clusters/hdi-ps-test5761/azureasyncoperations/d529c95b-f26c-484c-b0e0-0b3c7bcce507-0-r?api-version=2018-06-01-preview"
        ],
        "x-ms-request-id": [
          "7ea01e96-5d5a-48a3-a3ce-523045ee6991"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "x-ms-hdi-served-by": [
          "westus"
        ],
        "x-ms[...]
[...]
    {
      "RequestUri": "/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/group-ps-test1758/providers/Microsoft.HDInsight/clusters/hdi-ps-test5761/azureasyncoperations/d529c95b-f26c-484c-b0e0-0b3c7bcce507-0-r?api-version=2018-06-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.[...]
[...]
