{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/pools?api-version=2019-08-01.10.0",
=======
      "RequestUri": "/pools?api-version=2020-03-01.11.0",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"resizePool\",\r\n  \"vmSize\": \"small\",\r\n  \"cloudServiceConfiguration\": {\r\n    \"osFamily\": \"4\",\r\n    \"osVersion\": \"*\"\r\n  },\r\n  \"targetDedicatedNodes\": 0,\r\n  \"targetLowPriorityNodes\": 0,\r\n  \"enableInterNodeCommunication\": true\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "3135b6dc-4327-4f91-889b-c2776408a452"
=======
          "37e6752b-85a5-4daa-9437-00032787375d"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "ocp-date": [
<<<<<<< HEAD
          "Fri, 06 Sep 2019 21:25:39 GMT"
        ],
        "User-Agent": [
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Batch.Protocol.BatchServiceClient/12.0.19.40611",
=======
          "Fri, 10 Apr 2020 22:00:54 GMT"
        ],
        "User-Agent": [
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Batch.Protocol.BatchServiceClient/13.0.20.15503",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "AzurePowershell/Az1.0.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "Content-Length": [
          "235"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
<<<<<<< HEAD
          "0x8D73310C438A2FF"
=======
          "0x8D7DD9AA4141D64"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Location": [
          "https://matthchrwestcentralus.westcentralus.batch.azure.com/pools/resizePool"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "request-id": [
<<<<<<< HEAD
          "5cb5a7cc-f780-461a-82ab-369aa8996319"
=======
          "22f3d9e6-60a1-448b-b5ee-02fcafc0256b"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://matthchrwestcentralus.westcentralus.batch.azure.com/pools/resizePool"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 06 Sep 2019 21:25:39 GMT"
        ],
        "Last-Modified": [
          "Fri, 06 Sep 2019 21:25:40 GMT"
=======
          "Fri, 10 Apr 2020 22:00:54 GMT"
        ],
        "Last-Modified": [
          "Fri, 10 Apr 2020 22:00:54 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
<<<<<<< HEAD
      "RequestUri": "/pools/resizePool?api-version=2019-08-01.10.0",
=======
      "RequestUri": "/pools/resizePool?api-version=2020-03-01.11.0",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "502122ad-acf1-4ccb-b2fc-44d715c67788"
=======
          "3e64ee40-f79e-4bf7-8f54-7a8847e52542"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accep[...]
    {
      "RequestUri": "/pools/resizePool?api-version=2019-08-01.10.0",
=======
          "Fri, 10 Apr 2020 22:00:54 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#pools/@Element\",\r\n  \"id\": \"resizePool\",\r\n  \"url\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/pools/resizePool\",\r\n  \"eTag\": \"0x8D7DD9AA4141D64\",\r\n  \"lastModified\": \"2020-04-10T22:00:54.3698276Z\",\r\n  \"creationTime\": \"2020-04-10T22:00:54.3698276Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2020-04-10T22:00:54.3698276Z\",\r\n  \"allocationState\": \"resizing\",\r\n  \"allocationStateTransitionTime\": \"2020-04-10T22:00:54.3698276Z\",\r\n  \"vmSize\": \"small\",\r\n  \"resizeTimeout\": \"PT15M\",\r\n  \"currentDedicatedNodes\": 0,\r\n  \"targetDedicatedNodes\": 0,\r\n  \"currentLowPriorityNodes\": 0,\r\n  \"targetLowPriorityNodes\": 0,\r\n  \"enableAutoScale\": false,\r\n  \"enableInterNodeCommunication\": true,\r\n  \"maxTasksPerNode\": 1,\r\n  \"taskSchedulingPolicy\": {\r\n    \"nodeFillType\": \"Spread\"\r\n  },\r\n  \"cloudServiceConfiguration\": {\r\n    \"osFamily\": \"4\",\r\n    \"osVersion\": \"*\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/pools/resizePool/resize?api-version=2019-08-01.10.0",
=======
          "Fri, 10 Apr 2020 22:00:54 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#pools/@Element\",\r\n  \"id\": \"resizePool\",\r\n  \"url\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/pools/resizePool\",\r\n  \"eTag\": \"0x8D7DD9AA46BF154\",\r\n  \"lastModified\": \"2020-04-10T22:00:54.9454164Z\",\r\n  \"creationTime\": \"2020-04-10T22:00:54.3698276Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2020-04-10T22:00:54.3698276Z\",\r\n  \"allocationState\": \"stopping\",\r\n  \"allocationStateTransitionTime\": \"2020-04-10T22:00:55.109395Z\",\r\n  \"vmSize\": \"small\",\r\n  \"resizeTimeout\": \"PT15M\",\r\n  \"currentDedicatedNodes\": 0,\r\n  \"targetDedicatedNodes\": 1,\r\n  \"currentLowPriorityNodes\": 0,\r\n  \"targetLowPriorityNodes\": 0,\r\n  \"enableAutoScale\": false,\r\n  \"enableInterNodeCommunication\": true,\r\n  \"maxTasksPerNode\": 1,\r\n  \"taskSchedulingPolicy\": {\r\n    \"nodeFillType\": \"Spread\"\r\n  },\r\n  \"cloudServiceConfiguration\": {\r\n    \"osFamily\": \"4\",\r\n    \"osVersion\": \"*\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
