{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "//subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/Microsoft.KeyVault/vaults/kv12-cleanupservice/providers/Microsoft.PolicyInsights/policyEvents/default/queryResults?api-version=2018-04-04&$top=10&$from=2019-12-01T00%3A00%3A00Z",
=======
      "RequestUri": "//subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/resourcegroups/cheggpolicy/providers/microsoft.keyvault/vaults/cheggkv/providers/Microsoft.PolicyInsights/policyEvents/default/queryResults?api-version=2018-04-04&$top=10&$from=2020-03-24T00%3A00%3A00Z",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "3b8a9e49-aacc-4eb9-afd3-68cec6fa279e"
=======
          "e3833350-522d-4015-b767-710f7b2521ff"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.PolicyInsights.PolicyInsightsClient/3.0.0.0"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.PolicyInsights.PolicyInsightsClient/3.1.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "599"
        ]
<<<<<<< HEAD
          ":c63b6e7c-c32f-4859-b3a8-1c93b8a6e729"
=======
          ":76de343e-9742-460a-a8b5-31c6105431e1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "8356e9ef-ec1b-4eb6-ad00-5c273d81dfe2"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20191209T234846Z:8356e9ef-ec1b-4eb6-ad00-5c273d81dfe2"
=======
          "77011e70-80b3-46d2-8f94-20ea5a7b14ce"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200331T024945Z:77011e70-80b3-46d2-8f94-20ea5a7b14ce"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 09 Dec 2019 23:48:45 GMT"
        ],
        "Content-Length": [
          "28007"
=======
          "Tue, 31 Mar 2020 02:49:44 GMT"
        ],
        "Content-Length": [
          "18049"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/Microsoft.KeyVault/vaults/kv12-cleanupservice/providers/Microsoft.PolicyInsights/policyEvents/$metadata#default\",\r\n  \"@odata.count\": 10,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/Microsoft.KeyVault/vaults/kv12-cleanupservice/providers/Microsoft.PolicyInsights/policyEvents/$metadata#default/$entity\",\r\n      \"timestamp\": \"2019-12-09T22:32:56.1546924Z\",\r\n      \"resourceId\": \"/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourceGroups/cleanupservice/providers/Microsoft.KeyVault/vaults/kv12-cleanupservice\",\r\n      \"policyAssignmentId\": \"/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourceGroups/cleanupservice/providers/Microsoft.Authorization/policyAssignments/f6269e45cf94490e9c17839a\",\r\n      \"policyDefinitionId\": \"/providers/Microsoft.Authorization/policyDefinitions/cf820ca0-f99e-4f3e-84fb-66e913812d21\",\r\n      \"effectiveParameters\": \"\",\r\n      \"isCompliant\": false,\r\n      \"subscriptionId\": \"0b40be06-04e8-4f70-abde-a502b2646fe8\",\r\n      \"resourceType\": \"/Microsoft.KeyVault/vaults\",\r\n      \"resourceLocation\": \"northcentralus\",\r\n      \"resourceGroup\": \"cleanupservice\",\r\n      \"resourceTags\": \"tbd\",\r\n      \"policyAssignmentName\": \"f6269e45cf94490e9c17839a\",\r\n      \"policyAssignmentOwner\": \"tbd\",\r\n      \"policyAssignmentParameters\": \"{}\",\r\n      \"policyAssignmentScope\": \"/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourceGroups/cleanupservice\",\r\n      \"policyDefinitionName\": \"cf820ca0-f99e-4f3e-84fb-66e913812d21\",\r\n      \"policyDefinitionAction\": \"auditifnotexists\",\r\n      \"policyDefinitionCategory\": \"tbd\",\r\n      \"policySetDefinitionId\": \"/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/providers/Microsoft.Authorization/policySetDefinitions/716ef2c9-4404-4673-8609-f984d58c417d\",\r\n      \"policySetDefinitionName\": \"716ef2c9-4404-4673-8609-f984d58c417d\",\r\n      \"policySetDefinitionOwner\": \"\",\r\n      \"policySetDefinitionCategory\": \"\",\r\n      \"policySetDefinitionParameters\": \"\",\r\n      \"managementGroupIds\": \"2PolicyTestMG,72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"policyDefinitionReferenceId\": \"5296539991412600750\",\r\n      \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"principalOid\": \"327c26bf-bf3e-4128-9b75-fbbd99e98739\"\r\n    },\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/Microsoft.KeyVault/vaults/kv12-cleanupservice/providers/Microsoft.PolicyInsights/policyEvents/$metadata#default/$entity\",\r\n      \"timestamp\": \"2019-12-09T22:32:40.8273719Z\",\r\n      \"resourceId\": \"/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourceGroups/cleanupservice/providers/Microsoft.KeyVault/vaults/kv12-cleanupservice\",\r\n      \"policyAssignmentId\": \"/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourceGroups/cleanupservice/providers/Microsoft.Authorization/policyAssignments/568e500984414fbe8a4f10d0\",\r\n      \"policyDefinitionId\": \"/providers/Microsoft.Authorization/policyDefinitions/cf820ca0-f99e-4f3e-84fb-66e913812d21\",\r\n      \"effectiveParameters\": \"\",\r\n      \"isCompliant\": false,\r\n      \"subscriptionId\": \"0b40be06-04e8-4f70-abde-a502b2646fe8\",\r\n      \"resourceType\": \"/Microsoft.KeyVault/vaults\",\r\n      \"resourceLocation\": \"northcentralus\",\r\n      \"resourceGroup\": \"cleanupservice\",\r\n      \"resourceTags\": \"tbd\",\r\n      \"policyAssignmentName\": \"568e500984414fbe8a4f10d0\",\r\n      \"policyAssignmentOwner\": \"tbd\",\r\n      \"policyAssignmentParameters\": \"{\\\"systemUpdatesMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"systemConfigurationsMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"endpointProtectionMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"diskEncryptionMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"networkSecurityGroupsMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"webApplicationFirewallMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"nextGenerationFirewallMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"vulnerabilityAssesmentMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"storageEncryptionMonitoringEffect\\\":{\\\"value\\\":\\\"Audit\\\"},\\\"jitNetworkAccessMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"adaptiveApplicationControlsMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"sqlAuditingMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"sqlEncryptionMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"diagnosticsLogsInBatchAccountMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"metricAlertsInBatchAccountMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"classicComputeVMsMonitoringEffect\\\":{\\\"value\\\":\\\"Audit\\\"},\\\"classicStorageAccountsMonitoringEffect\\\":{\\\"value\\\":\\\"Audit\\\"},\\\"diagnosticsLogsInDataLakeAnalyticsMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"diagnosticsLogsInDataLakeStoreMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"diagnosticsLogsInEventHubMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"diagnosticsLogsInRedisCacheMonitoringEffect\\\":{\\\"value\\\":\\\"Audit\\\"},\\\"aadAuthenticationInServiceFabricMonitoringEffect\\\":{\\\"value\\\":\\\"Audit\\\"},\\\"clusterProtectionLevelInServiceFabricMonitoringEffect\\\":{\\\"value\\\":\\\"Audit\\\"},\\\"diagnosticsLogsInServiceBusMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"namespaceAuthorizationRulesInServiceBusMonitoringEffect\\\":{\\\"value\\\":\\\"Audit\\\"},\\\"aadAuth[...]
