{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/Microsoft.Authorization/policyAssignments/568e500984414fbe8a4f10d0/providers/Microsoft.PolicyInsights/policyEvents/default/queryResults?api-version=2018-04-04&$top=10",
=======
      "RequestUri": "/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/resourcegroups/cheggpolicy/providers/Microsoft.Authorization/policyAssignments/8a4555d353ed46bb856e9890/providers/Microsoft.PolicyInsights/policyEvents/default/queryResults?api-version=2018-04-04&$top=10",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "81c97153-a1e5-4a52-8bac-e5a915a40067"
=======
          "40599442-a52b-43c6-b2bd-c44e073c1afb"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.PolicyInsights.PolicyInsightsClient/3.0.0.0"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.PolicyInsights.PolicyInsightsClient/3.1.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
<<<<<<< HEAD
          "599"
        ],
        "x-ms-request-id": [
          ":21fc3226-4937-4863-b384-6dc74b683417"
=======
          "598"
        ],
        "x-ms-request-id": [
          ":9d3fa170-42a2-4713-961a-c7d515a3fd98"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "6a343fc9-435a-4e13-9a6f-fd3cb9ab300f"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20191210T005458Z:6a343fc9-435a-4e13-9a6f-fd3cb9ab300f"
=======
          "52fa2c6c-98e2-41eb-b6a4-d2eecd45d072"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200331T024942Z:52fa2c6c-98e2-41eb-b6a4-d2eecd45d072"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 10 Dec 2019 00:54:57 GMT"
        ],
        "Content-Length": [
          "30950"
=======
          "Tue, 31 Mar 2020 02:49:42 GMT"
        ],
        "Content-Length": [
          "2177"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/Microsoft.Authorization/policyAssignments/568e500984414fbe8a4f10d0/providers/Microsoft.PolicyInsights/policyEvents/$metadata#default\",\r\n  \"@odata.count\": 6,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/Microsoft.Authorization/policyAssignments/568e500984414fbe8a4f10d0/providers/Microsoft.PolicyInsights/policyEvents/$metadata#default/$entity\",\r\n      \"timestamp\": \"2019-12-09T23:08:19.8019483Z\",\r\n      \"resourceId\": \"/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/Microsoft.KeyVault/vaults/cleanupservice5\",\r\n      \"policyAssignmentId\": \"/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourceGroups/cleanupservice/providers/Microsoft.Authorization/policyAssignments/568e500984414fbe8a4f10d0\",\r\n      \"policyDefinitionId\": \"/providers/Microsoft.Authorization/policyDefinitions/cf820ca0-f99e-4f3e-84fb-66e913812d21\",\r\n      \"effectiveParameters\": \"\",\r\n      \"isCompliant\": false,\r\n      \"subscriptionId\": \"0b40be06-04e8-4f70-abde-a502b2646fe8\",\r\n      \"resourceType\": \"/Microsoft.KeyVault/vaults\",\r\n      \"resourceLocation\": \"northcentralus\",\r\n      \"resourceGroup\": \"cleanupservice\",\r\n      \"resourceTags\": \"tbd\",\r\n      \"policyAssignmentName\": \"568e500984414fbe8a4f10d0\",\r\n      \"policyAssignmentOwner\": \"tbd\",\r\n      \"policyAssignmentParameters\": \"{\\\"systemUpdatesMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"systemConfigurationsMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"endpointProtectionMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"diskEncryptionMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"networkSecurityGroupsMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"webApplicationFirewallMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"nextGenerationFirewallMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"vulnerabilityAssesmentMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"storageEncryptionMonitoringEffect\\\":{\\\"value\\\":\\\"Audit\\\"},\\\"jitNetworkAccessMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"adaptiveApplicationControlsMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"sqlAuditingMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"sqlEncryptionMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"diagnosticsLogsInBatchAccountMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"metricAlertsInBatchAccountMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"classicComputeVMsMonitoringEffect\\\":{\\\"value\\\":\\\"Audit\\\"},\\\"classicStorageAccountsMonitoringEffect\\\":{\\\"value\\\":\\\"Audit\\\"},\\\"diagnosticsLogsInDataLakeAnalyticsMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"diagnosticsLogsInDataLakeStoreMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"diagnosticsLogsInEventHubMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"diagnosticsLogsInRedisCacheMonitoringEffect\\\":{\\\"value\\\":\\\"Audit\\\"},\\\"aadAuthenticationInServiceFabricMonitoringEffect\\\":{\\\"value\\\":\\\"Audit\\\"},\\\"clusterProtectionLevelInServiceFabricMonitoringEffect\\\":{\\\"value\\\":\\\"Audit\\\"},\\\"diagnosticsLogsInServiceBusMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"namespaceAuthorizationRulesInServiceBusMonitoringEffect\\\":{\\\"value\\\":\\\"Audit\\\"},\\\"aadAuth[...]
