{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/pools/testIaasPool/nodes?api-version=2019-08-01.10.0",
=======
      "RequestUri": "/pools/testIaasPool/nodes?api-version=2020-03-01.11.0",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "b333976c-3c19-49e5-aa9b-1006f62aeb52"
=======
          "b4978ce8-9bef-44e9-8298-bace0e4b84fe"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "ocp-date": [
<<<<<<< HEAD
          "Fri, 06 Sep 2019 21:22:08 GMT"
        ],
        "User-Agent": [
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Batch.Protocol.BatchServiceClient/12.0.19.40611",
=======
          "Fri, 10 Apr 2020 21:59:28 GMT"
        ],
        "User-Agent": [
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Batch.Protocol.BatchServiceClient/13.0.20.15503",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "AzurePowershell/Az1.0.0"
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "434b8085-5690-4847-abbc-283da29ce12d"
=======
          "217be222-f4de-4a59-8f90-b26945714f32"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 06 Sep 2019 21:22:08 GMT"
=======
          "Fri, 10 Apr 2020 21:59:28 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#nodes\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"tvmps_de5f0ebebde515144c62a4f3cd82ef5b5d6bdb14aa7c6ef1514f4b0d3c8a59b8_d\",\r\n      \"url\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/pools/testIaasPool/nodes/tvmps_de5f0ebebde515144c62a4f3cd82ef5b5d6bdb14aa7c6ef1514f4b0d3c8a59b8_d\",\r\n      \"state\": \"idle\",\r\n      \"schedulingState\": \"enabled\",\r\n      \"stateTransitionTime\": \"2019-09-06T21:20:13.526692Z\",\r\n      \"lastBootTime\": \"2019-09-06T21:20:13.383964Z\",\r\n      \"allocationTime\": \"2019-09-06T21:19:26.6284458Z\",\r\n      \"ipAddress\": \"10.0.0.4\",\r\n      \"affinityId\": \"TVM:tvmps_de5f0ebebde515144c62a4f3cd82ef5b5d6bdb14aa7c6ef1514f4b0d3c8a59b8_d\",\r\n      \"vmSize\": \"standard_a1\",\r\n      \"totalTasksRun\": 0,\r\n      \"totalTasksSucceeded\": 0,\r\n      \"runningTasksCount\": 0,\r\n      \"certificateReferences\": [],\r\n      \"isDedicated\": true,\r\n      \"endpointConfiguration\": {\r\n        \"inboundEndpoints\": [\r\n          {\r\n            \"name\": \"SSHRule.0\",\r\n            \"protocol\": \"tcp\",\r\n            \"publicIPAddress\": \"52.159.20.187\",\r\n            \"publicFQDN\": \"dns5f7e0f9e-a6da-466b-8d95-88115284cfd3-azurebatch-cloudservice.westcentralus.cloudapp.azure.com\",\r\n            \"frontendPort\": 50000,\r\n            \"backendPort\": 22\r\n          }\r\n        ]\r\n      },\r\n      \"nodeAgentInfo\": {\r\n        \"lastUpdateTime\": \"2019-09-06T21:20:13.383964Z\",\r\n        \"version\": \"1.6.6\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/pools/testIaasPool/nodes/tvmps_de5f0ebebde515144c62a4f3cd82ef5b5d6bdb14aa7c6ef1514f4b0d3c8a59b8_d?api-version=2019-08-01.10.0",
=======
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#nodes\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"tvmps_db4cde2ba1e6d1b0c3fc60d0005bfe9037a22db8ca9140d01b2bc8da577d2671_d\",\r\n      \"url\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/poo[...]
[...]
    {
      "RequestUri": "/pools/testIaasPool/nodes/tvmps_de5f0ebebde515144c62a4f3cd82ef5b5d6bdb14aa7c6ef1514f4b0d3c8a59b8_d/remoteloginsettings?api-version=2019-08-01.10.0",
=======
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#nodes/@Element\",\r\n  \"id\": \"tvmps_db4cde2ba1e6d1b0c3fc60d0005bfe9037a22db8ca9140d01b2bc8da577d2671_d\",\r\n  \"url\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/pools/tes[...]
[...]
