{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/pools?api-version=2019-08-01.10.0",
=======
      "RequestUri": "/pools?api-version=2020-03-01.11.0",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"removenodepool\",\r\n  \"vmSize\": \"small\",\r\n  \"cloudServiceConfiguration\": {\r\n    \"osFamily\": \"4\",\r\n    \"osVersion\": \"*\"\r\n  },\r\n  \"targetDedicatedNodes\": 2,\r\n  \"targetLowPriorityNodes\": 0,\r\n  \"enableInterNodeCommunication\": true\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "a2f5aca9-4b92-46bc-96fb-f4ebebeb8d2d"
=======
          "f9fc4bf8-f657-4e05-bfa0-a6e2c80ade08"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "ocp-date": [
<<<<<<< HEAD
          "Fri, 06 Sep 2019 21:27:30 GMT"
        ],
        "User-Agent": [
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Batch.Protocol.BatchServiceClient/12.0.19.40611",
=======
          "Fri, 10 Apr 2020 21:59:36 GMT"
        ],
        "User-Agent": [
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Batch.Protocol.BatchServiceClient/13.0.20.15503",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "AzurePowershell/Az1.0.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "Content-Length": [
          "239"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
<<<<<<< HEAD
          "0x8D7331105DA31A8"
=======
          "0x8D7DD9A758C6D94"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Location": [
          "https://matthchrwestcentralus.westcentralus.batch.azure.com/pools/removenodepool"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "request-id": [
<<<<<<< HEAD
          "8e331f09-7252-4c6a-9940-e345f65f6409"
=======
          "a3683bd6-3fd1-4ecb-9dba-7446fe73a171"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://matthchrwestcentralus.westcentralus.batch.azure.com/pools/removenodepool"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 06 Sep 2019 21:27:29 GMT"
        ],
        "Last-Modified": [
          "Fri, 06 Sep 2019 21:27:30 GMT"
=======
          "Fri, 10 Apr 2020 21:59:36 GMT"
        ],
        "Last-Modified": [
          "Fri, 10 Apr 2020 21:59:36 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
<<<<<<< HEAD
      "RequestUri": "/pools/removenodepool?api-version=2019-08-01.10.0",
=======
      "RequestUri": "/pools/removenodepool?api-version=2020-03-01.11.0",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "7a8ba032-d8e6-4160-9d6d-9c37bfa6dc62"
=======
          "7c277a26-e192-48bb-81f3-a535d4189a8c"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
      [...]
    {
      "RequestUri": "/pools/removenodepool?api-version=2019-08-01.10.0",
=======
          "Fri, 10 Apr 2020 21:59:36 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#pools/@Element\",\r\n  \"id\": \"removenodepool\",\r\n  \"url\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/pools/removenodepool\",\r\n  \"eTag\": \"0x8D7DD9A758C6D94\",\r\n  \"lastModified\": \"2020-04-10T21:59:36.3053972Z\",\r\n  \"creationTime\": \"2020-04-10T21:59:36.3053972Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2020-04-10T21:59:36.3053972Z\",\r\n  \"allocationState\": \"resizing\",\r\n  \"allocationStateTransitionTime\": \"2020-04-10T21:59:36.3053972Z\",\r\n  \"vmSize\": \"small\",\r\n  \"resizeTimeout\": \"PT15M\",\r\n  \"currentDedicatedNodes\": 0,\r\n  \"targetDedicatedNodes\": 2,\r\n  \"currentLowPriorityNodes\": 0,\r\n  \"targetLowPriorityNodes\": 0,\r\n  \"enableAutoScale\": false,\r\n  \"enableInterNodeCommunication\": true,\r\n  \"maxTasksPerNode\": 1,\r\n  \"taskSchedulingPolicy\": {\r\n    \"nodeFillType\": \"Spread\"\r\n  },\r\n  \"cloudServiceConfiguration\": {\r\n    \"osFamily\": \"4\",\r\n    \"osVersion\": \"*\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/pools/removenodepool/nodes?api-version=2020-03-01.11.0",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "76b6265a-e8e3-4a9f-a83c-c51f01298823"
=======
          "cb9242e4-03bd-4f76-8a26-18169b8ab802"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "ocp-date": [
<<<<<<< HEAD
          "Fr[...]
    {
      "RequestUri": "/pools/removenodepool/nodes?api-version=2019-08-01.10.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 06 Sep 2019 21:28:41 GMT"
        ]
=======
          "Fri, 10 Apr 2020 22:00:42 GMT"
        ],
        "User-Agent": [
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Batch.Protocol.BatchServiceClient/13.0.20.15503",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "AzurePowershell/Az1.0.0"
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "0d7929c8-a453-4ec3-818b-f7b3c1609342"
=======
          "862ebcec-777a-49fb-affc-bad1c2cc8137"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 06 Sep 2019 21:28:41 GMT"
=======
          "Fri, 10 Apr 2020 22:00:42 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#nodes\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"tvmps_1e49c5bd27c8b82df30c56df900ec01b9c7a37913fd1968934a155a4ed20e93f_d\",\r\n      \"url\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/pools/removenodepool/nodes/tvmps_1e49c5bd27c8b82df30c56df900ec01b9c7a37913fd1968934a155a4ed20e93f_d\",\r\n      \"state\": \"starting\",\r\n      \"schedulingState\": \"enabled\",\r\n      \"stateTransitionTime\": \"2019-09-06T21:28:36.234298Z\",\r\n      \"allocationTime\": \"2019-09-06T21:28:35.7760396Z\",\r\n      \"ipAddress\": \"10.218.0.5\",\r\n      \"affinityId\": \"TVM:tvmps_1e49c5bd27c8b82df30c56df900ec01b9c7a37913fd1968934a155a4ed20e93f_d\",\r\n      \"vmSize\": \"small\",\r\n      \"totalTasksRun\": 0,\r\n      \"totalTasksSucceeded\": 0,\r\n      \"runningTasksCount\": 0,\r\n      \"isDedicated\": true,\r\n      \"endpointConfiguration\": {\r\n        \"inboundEndpoints\": [\r\n          {\r\n            \"name\": \"Microsoft.WindowsAzure.Plugins.RemoteForwarder.RdpInput\",\r\n            \"protocol\": \"tcp\",\r\n            \"publicIPAddress\": \"52.161.11.214\",\r\n            \"frontendPort\": 3389,\r\n            \"backendPort\": 20000\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"tvmps_d1875c01436b897f188f7cac8f2a50ed7a72d9c2b04375ebf0838f09ad291e64_d\",\r\n      \"url\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/pools/removenodepool/nodes/tvmps_d1875c01436b897f188f7cac8f2a50ed7a72d9c2b04375ebf0838f09ad291e64_d\",\r\n      \"state\": \"starting\",\r\n      \"schedulingState\": \"enabled\",\r\n      \"stateTransitionTime\": \"2019-09-06T21:28:36.2762911Z\",\r\n      \"allocationTime\": \"2019-09-06T21:28:35.7760396Z\",\r\n      \"ipAddress\": \"10.218.0.4\",\r\n      \"affinityId\": \"TVM:tvmps_d1875c01436b897f188f7cac8f2a50ed7a72d9c2b04375ebf0838f09ad291e64_d\",\r\n      \"vmSize\": \"small\",\r\n      \"totalTasksRun\": 0,\r\n      \"totalTasksSucceeded\": 0,\r\n      \"runningTasksCount\": 0,\r\n      \"isDedicated\": true,\r\n      \"endpointConfiguration\": {\r\n        \"inboundEndpoints\": [\r\n          {\r\n            \"name\": \"Microsoft.WindowsAzure.Plugins.RemoteForwarder.RdpInput\",\r\n            \"protocol\": \"tcp\",\r\n            \"publicIPAddress\": \"52.161.11.214\",\r\n            \"frontendPort\": 3389,\r\n            \"backendPort\": 20000\r\n          }\r\n        ]\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/pools/removenodepool/removenodes?api-version=2019-08-01.10.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"nodeList\": [\r\n    \"tvmps_1e49c5bd27c8b82df30c56df900ec01b9c7a37913fd1968934a155a4ed20e93f_d\",\r\n    \"tvmps_d1875c01436b897f188f7cac8f2a50ed7a72d9c2b04375ebf0838f09ad291e64_d\"\r\n  ]\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#nodes\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"tvmps_174b3edc6060e9fe62453b44861141ed89f53b1296bc7074b8049083f4c8c39c_d\",\r\n      \"url\": \"https:/[...]
[...]
    {
      "RequestUri": "/pools/removenodepool/nodes?api-version=2019-08-01.10.0&$select=id%2Cstate",
=======
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#nodes\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"tvmps_174b3edc6060e9fe62453b44861141ed89f53b1296bc7074b8049083f4c8c39c_d\",\r\n      \"state\": \"starting\"\r\n    },\r\n    {\r\n      \"id\": \"tvmps_3e1ce375b18b65a09386eebc9cd29b9aff75e11469bbd498c9a1f84d34024ed7_d\",\r\n      \"state\": \"starting\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
