{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/40d77f8e-5982-4e7e-bafa-b7cd23b123e6/providers/Microsoft.Authorization/policydefinitions/ps9079?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"ps9079\",\r\n  \"properties\": {\r\n    \"description\": \"Unit test junk: sorry for littering. Please delete me!\",\r\n    \"policyRule\": {\r\n      \"if\": {\r\n        \"source\": \"action\",\r\n        \"equals\": \"Microsoft.Resources/Subscriptions/ResourceGroups/write\"\r\n      },\r\n      \"then\": {\r\n        \"effect\": \"deny\"\r\n      }\r\n    },\r\n    \"mode\": \"All\"\r\n  }\r\n}",
      "RequestHeaders": {
=======
      "RequestUri": "/subscriptions/89ec4d1d-dcc7-4a3f-a701-0a5d074c8505/providers/Microsoft.Authorization/policydefinitions/ps7598?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"ps7598\",\r\n  \"properties\": {\r\n    \"description\": \"Unit test junk: sorry for littering. Please delete me!\",\r\n    \"policyRule\": {\r\n      \"if\": {\r\n        \"source\": \"action\",\r\n        \"equals\": \"Microsoft.Resources/Subscriptions/ResourceGroups/write\"\r\n      },\r\n      \"then\": {\r\n        \"effect\": \"deny\"\r\n      }\r\n    },\r\n    \"mode\": \"All\"\r\n  }\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "ParameterSetName": [
          "NameParameterSet"
        ],
        "CommandName": [
          "New-AzPolicyDefinition"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "357"
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "westus:a656801c-4346-4c86-b215-24d00537c862"
=======
          "westus:fbd2c54e-1b94-4441-b156-7c4b9be09523"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "1d3a1718-b0fa-4acb-bd9b-8123ed73e4f5"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20191212T212542Z:1d3a1718-b0fa-4acb-bd9b-8123ed73e4f5"
=======
          "e0ef5081-eaa8-477c-bd8d-67669ebe1ec8"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200109T021034Z:e0ef5081-eaa8-477c-bd8d-67669ebe1ec8"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Thu, 12 Dec 2019 21:25:42 GMT"
        ],
        "Content-Length": [
          "578"
=======
          "Thu, 09 Jan 2020 02:10:34 GMT"
        ],
        "Content-Length": [
          "579"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Retry-After": [
          "0"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"policyType\": \"Custom\",\r\n    \"mode\": \"All\",\r\n    \"description\": \"Unit test junk: sorry for littering. Please delete me!\",\r\n    \"metadata\": {\r\n      \"createdBy\": \"094435f3-a5d5-4c38-abfb-238662bec758\",\r\n      \"createdOn\": \"2019-12-12T21:25:42.783218Z\",\r\n      \"updatedBy\": null,\r\n      \"updatedOn\": null\r\n    },\r\n    \"policyRule\": {\r\n      \"if\": {\r\n        \"source\": \"action\",\r\n        \"equals\": \"Microsoft.Resources/Subscriptions/ResourceGroups/write\"\r\n      },\r\n      \"then\": {\r\n        \"effect\": \"deny\"\r\n      }\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/40d77f8e-5982-4e7e-bafa-b7cd23b123e6/providers/Microsoft.Authorization/policyDefinitions/ps9079\",\r\n  \"type\": \"Microsoft.Authorization/policyDefinitions\",\r\n  \"name\": \"ps9079\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/40d77f8e-5982-4e7e-bafa-b7cd23b123e6/providers/Microsoft.Authorization/policydefinitions/ps9079?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"ps9079\",\r\n  \"properties\": {\r\n    \"description\": \"Updated Unit test junk: sorry for littering. Please delete me!\",\r\n    \"displayName\": \"testDisplay\",\r\n    \"policyRule\": {\r\n      \"if\": {\r\n        \"source\": \"action\",\r\n        \"equals\": \"Microsoft.Resources/Subscriptions/ResourceGroups/write\"\r\n      },\r\n      \"then\": {\r\n        \"effect\": \"deny\"\r\n      }\r\n    },\r\n    \"metadata\": {\r\n      \"testName\": \"testValue\"\r\n    },\r\n    \"mode\": \"All\"\r\n  }\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"policyType\": \"Custom\",\r\n    \"mode\": \"All\",\r\n    \"description\": \"Unit test junk: sorry for littering. Please delete me!\",\r\n    \"metadata\": {\r\n      \"createdBy\": \"01b8db7b-fc40-494b-8b19-20127488a03d\",\r\n      \"createdOn\": \"2020-01-09T02:10:34.6121944Z\",\r\n      \"updatedBy\": null,\r\n      \"updatedOn\": null\r\n    },\r\n    \"policyRule\": {\r\n      \"if\": {\r\n        \"source\": \"action\",\r\n        \"equals\": \"Microsoft.Resources/Subscriptions/ResourceGroups/write\"\r\n      },\r\n      \"then\": {\r\n        \"effect\": \"deny\"\r\n      }\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/89ec4d1d-dcc7-4a3f-a701-0a5d074c8505/providers/Microsoft.Authorization/policyDefinitions/ps7598\",\r\n  \"type\": \"Microsoft.Authorization/policyDefinitions\",\r\n  \"name\": \"ps7598\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/40d77f8e-5982-4e7e-bafa-b7cd23b123e6/providers/Microsoft.Authorization/policydefinitions/ps9079?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"ps9079\",\r\n  \"properties\": {\r\n    \"description\": \"Unit test junk: sorry for littering. Please delete me!\",\r\n    \"policyRule\": {\r\n      \"if\": {\r\n        \"field\": \"Microsoft.DataCatalog.Data/catalog/entity/type\",\r\n        \"equals\": \"foo\"\r\n      },\r\n      \"then\": {\r\n        \"effect\": \"ModifyClassifications\",\r\n        \"details\": {\r\n          \"classificationsToAdd\": [\r\n            \"invalid\"\r\n          ],\r\n          \"classificationsToRemove\": [\r\n            \"valid\"\r\n          ]\r\n        }\r\n      }\r\n    },\r\n    \"mode\": \"Microsoft.DataCatalog.Data\"\r\n  }\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"displayName\": \"testDisplay\",\r\n    \"policyType\": \"Custom\",\r\n    \"mode\": \"Indexed\",\r\n    \"description\": \"Updated Unit test junk: sorry for littering. Please delete me!\",\r\n    \"metadata\": {\r\n      \"testName\": \"testValue\",\r\n      \"createdBy\": \"01b8db7b-fc40-494b-8b19-20127488a03d\",\r\n      \"createdOn\": \"2020-01-09T02:10:38.5833719Z\",\r\n      \"updatedBy\": \"01b8db7b-fc40-494b-8b19-20127488a03d\",\r\n      \"updatedOn\": \"2020-01-09T02:10:39.4782925Z\"\r\n    },\r\n    \"policyRule\": {\r\n      \"if\": {\r\n        \"source\": \"action\",\r\n        \"equals\": \"Microsoft.Resources/Subscriptions/ResourceGroups/write\"\r\n      },\r\n      \"then\": {\r\n        \"effect\": \"deny\"\r\n      }\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/89ec4d1d-dcc7-4a3f-a701-0a5d074c8505/providers/Microsoft.Authorization/policyDefinitions/ps7598\",\r\n  \"type\": \"Microsoft.Authorization/policyDefinitions\",\r\n  \"name\": \"ps7598\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/providers/Microsoft.Management/managementgroups/AzGovPerfTest/providers/Microsoft.Authorization/policydefinitions/ps9079?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"ps9079\",\r\n  \"properties\": {\r\n    \"description\": \"Unit test junk: sorry for littering. Please delete me!\",\r\n    \"policyRule\": {\r\n      \"if\": {\r\n        \"source\": \"action\",\r\n        \"equals\": \"Microsoft.Resources/Subscriptions/[...]
    {
      "RequestUri": "/providers/Microsoft.Management/managementGroups/AzGovPerfTest/providers/Microsoft.Authorization/policydefinitions/ps7598?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"ps7598\",\r\n  \"properties\": {\r\n    \"description\": \"Unit test junk: sorry for littering. Please delete me!\",\r\n    \"policyRule\": {\r\n      \"if\": {\r\n        \"source\": \"action\",\r\n        \"equals\": \"Microsoft.Resources/Subscriptions/ResourceGroups/write\"\r\n      },\r\n      \"then\": {\r\n        \"effect\": \"deny\"\r\n      }\r\n    },\r\n    \"mode\": \"All\"\r\n  }\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "ParameterSetName": [
          "ManagementGroupNameParameterSet"
        ],
        "CommandName": [
          "New-AzPolicyDefinition"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "357"
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "westus:97fe0e0f-85c1-4415-8f26-511287af9bbd"
=======
          "westus:2d6a3d8c-2fc1-4551-8b93-88bec2ce5fa1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1199"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "844e9fd7-c1dd-4081-9429-7f215fef4a7c"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20191212T212545Z:844e9fd7-c1dd-4081-9429-7f215fef4a7c"
=======
          "10762297-8437-454d-93df-8e06d1de5dc8"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200109T021037Z:10762297-8437-454d-93df-8e06d1de5dc8"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
       [...]
[...]
    {
      "RequestUri": "/providers/Microsoft.Management/managementGroups/AzGovPerfTest/providers/Microsoft.Authorization/policydefinitions/ps7598?api-version=2019-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "PSVersion/v6.1.0"
=======
          "PSVersion/v6.2.3"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "ParameterSetName": [
          "ManagementGroupNameParameterSet"
        ],
        "CommandName": [
          "Get-AzPolicyDefinition"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ]
<<<<<<< HEAD
          "westus:2dff5cc5-fa24-45e0-80fe-9b3c0b8d1ab8"
        ],
        "x-ms-correlation-request-id": [
          "b6826d0c-ea17-41d6-9ee3-0eb41fce0ead"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20191212T212546Z:b6826d0c-ea17-41d6-9ee3-0eb41fce0ead"
=======
          "westus:2aabdc42-83d3-46dd-9c5c-40d63a8ba1a5"
        ],
        "x-ms-correlation-request-id": [
          "aace6add-1bc5-41d1-9efd-8ba28231310e"
        ],
  [...]
[...]
    {
      "RequestUri": "/providers/Microsoft.Management/managementGroups/AzGovPerfTest/providers/Microsoft.Authorization/policydefinitions/ps7598?api-version=2019-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "PSVersion/v6.1.0"
=======
          "PSVersion/v6.2.3"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "ParameterSetName": [
          "ManagementGroupNameParameterSet"
        ],
        "CommandName": [
          "Set-AzPolicyDefinition"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
<<<<<<< HEAD
          "11997"
        ],
        "x-ms-request-id": [
          "westus:aa12c326-fbe0-474d-9ba3-0bb97a977cc2"
        ],
        "x-ms-correlation-request-id": [
          "23c19e86-6640-4f08-a398-6c1a44f0e247"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20191212T212546Z:23c19e86-6640-4f08-a398-6c1a44f0e247"
=======
          "11999"
        ],
        "x-ms-request-id": [
          "westus:bc209ebe-76e2-4e1c-bab6-9e7ad5e41fa0"
        ],
        "x-ms-correlation-request-id": [
          "0d78219a-e873-42db-b264-0720b1a0b8[...]
[...]
    {
      "RequestUri": "/providers/Microsoft.Management/managementGroups/AzGovPerfTest/providers/Microsoft.Authorization/policydefinitions/ps7598?api-version=2019-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "PSVersion/v6.1.0"
=======
          "PSVersion/v6.2.3"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "ParameterSetName": [
          "ManagementGroupNameParameterSet"
        ],
        "CommandName": [
          "Remove-AzPolicyDefinition"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-deletes": [
          "14999"
        ]
<<<<<<< HEAD
          "westus:463692c0-ed08-4733-8f13-c10af37dddba"
        ],
        "x-ms-correlation-request-id": [
          "f9a6812e-9b22-4a1b-a09a-3f3d7fc3535b"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20191212T212549Z:f9a6812e-9b22-4a1b-a09a-3f3d7fc3535b"
=======
          "westus:2dd649b7-dd80-460f-90d4-18c6d55c89c2"
        ],
        "x-ms-correlation-request-id": [
          "9ef55233-0c49-4593-a6d6-522667a5c176"
        ],
  [...]
