{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/f67cc918-f64f-4c3f-aa24-a855465f9d41/providers/Microsoft.Authorization/policysetdefinitions/someName?api-version=2019-09-01",
=======
      "RequestUri": "/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/providers/Microsoft.Authorization/policysetdefinitions/someName?api-version=2019-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"someName\",\r\n  \"properties\": {\r\n    \"policyDefinitions\": [\r\n      {\r\n        \"someThing\": \"someOtherThing\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "westus:97add2cf-b14f-4f3b-9053-24e3a5590558"
=======
          "westus:80b92270-e2ae-448f-a76b-c513ec9336ff"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "0c088f66-8f82-4384-8231-bfb27375f5ff"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20191202T224403Z:0c088f66-8f82-4384-8231-bfb27375f5ff"
=======
          "7626286c-ebf4-4813-b2d3-e1951b8c6811"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200109T002939Z:7626286c-ebf4-4813-b2d3-e1951b8c6811"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 02 Dec 2019 22:44:03 GMT"
=======
          "Thu, 09 Jan 2020 00:29:39 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "272"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"InvalidRequestContent\",\r\n    \"message\": \"The request content was invalid and could not be deserialized: 'Could not find member 'someThing' on object of type 'PolicyDefinitionReference'. Path 'properties.policyDefinitions[0].someThing', line 6, position 20.'.\"\r\n  }\r\n}",
      "StatusCode": 400
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/f67cc918-f64f-4c3f-aa24-a855465f9d41/providers/Microsoft.Authorization/policysetdefinitions/someName?api-version=2019-09-01",
=======
      "RequestUri": "/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/providers/Microsoft.Authorization/policysetdefinitions/someName?api-version=2019-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"someName\",\r\n  [...]
