{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/resourceGroups/testCarrier/providers/Microsoft.Peering/peerings?api-version=2019-09-01-preview",
=======
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/47131-Global8068?api-version=2020-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 47131,\r\n    \"peerContactDetail\": [\r\n      {\r\n        \"role\": \"Noc\",\r\n        \"email\": \"Noc@AS47131-Global4082.com\",\r\n        \"phone\": \"+1(888)-889-8088\"\r\n      },\r\n      {\r\n        \"role\": \"Policy\",\r\n        \"email\": \"Policy@AS47131-Global4082.com\",\r\n        \"phone\": \"+1(888)-889-8088\"\r\n      }\r\n    ],\r\n    \"peerName\": \"AS47131-Global4082\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "59"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 47131,\r\n    \"peerContactDetail\": [\r\n      {\r\n        \"role\": \"Noc\",\r\n        \"email\": \"Noc@AS47131-Global4082.com\",\r\n        \"phone\": \"+1(888)-889-8088\"\r\n      },\r\n      {\r\n        \"role\": \"Policy\",\r\n        \"email\": \"Policy@AS47131-Global4082.com\",\r\n        \"phone\": \"+1(888)-889-8088\"\r\n      }\r\n    ],\r\n    \"peerName\": \"AS47131-Global4082\",\r\n    \"validationState\": \"Pending\"\r\n  },\r\n  \"name\": \"47131-Global8068\",\r\n  \"id\": \"/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/47131-Global8068\",\r\n  \"type\": \"Microsoft.Peering/peerAsns\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/47131-Global8068?api-version=2020-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 47131,\r\n    \"peerContactDetail\": [\r\n      {\r\n        \"role\": \"Noc\",\r\n        \"email\": \"Noc@AS47131-Global4082.com\",\r\n        \"phone\": \"+1(888)-889-8088\"\r\n      },\r\n      {\r\n        \"role\": \"Policy\",\r\n [...]
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/resourcegroups/MockRg519?api-version=2019-10-01",
      "RequestMethod": "HEAD",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/resourcegroups/MockRg519?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/resourceGroups/MockRg519\",\r\n  \"name\": \"MockRg519\",\r\n  \"type\": \"Microsoft.Resources/resourceGroups\",\r\n  \"location\": \"centralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/47131-Global8068?api-version=2020-01-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "406c1b57-0b7f-4e88-9e9a-bfc46edb83da"
=======
          "9b76d9d0-ec11-4e23-92d4-7263290ba7ec"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Peering.PeeringManagementClient/0.12.0.0"
=======
          "FxVersion/4.6.28619.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Peering.PeeringManagementClient/2.0.0.1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "6aaa4205-dc61-44e3-b2e9-0326aee2d056"
=======
          "87b3becc-6045-473c-b659-affa67a49cde"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "59"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "822228da-bbf7-4230-8077-d7836fe67248"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20191007T213853Z:822228da-bbf7-4230-8077-d7836fe67248"
=======
          "3f2a8b61-d44c-4362-a586-755a07c1f37a"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20200421T002848Z:3f2a8b61-d44c-4362-a586-755a07c1f37a"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 07 Oct 2019 21:38:53 GMT"
        ],
        "Content-Length": [
          "41952"
=======
          "Tue, 21 Apr 2020 00:28:47 GMT"
        ],
        "Content-Length": [
          "612"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"sku\": {\r\n        \"name\": \"Basic_Direct_Free\",\r\n        \"tier\": \"Basic\",\r\n        \"family\": \"Direct\",\r\n        \"size\": \"Free\"\r\n      },\r\n      \"kind\": \"Direct\",\r\n      \"properties\": {\r\n        \"direct\": {\r\n          \"connections\": [\r\n            {\r\n              \"bandwidthInMbps\": 90000,\r\n              \"provisionedBandwidthInMbps\": 0,\r\n              \"sessionAddressProvider\": \"Peer\",\r\n              \"useForPeeringService\": false,\r\n              \"peeringDBFacilityId\": 63,\r\n              \"connectionState\": \"ProvisioningFailed\",\r\n              \"bgpSession\": {\r\n                \"sessionPrefixV4\": \"244.221.133.0/31\",\r\n                \"sessionPrefixV6\": \"f4dd:85cf:ce1e:e2d1:3171:6509:38ab:d200/127\",\r\n                \"microsoftSessionIPv4Address\": \"244.221.133.1\",\r\n                \"microsoftSessionIPv6Address\": \"f4dd:85cf:ce1e:e2d1:3171:6509:38ab:d201\",\r\n                \"peerSessionIPv4Address\": \"244.221.133.0\",\r\n                \"peerSessionIPv6Address\": \"f4dd:85cf:ce1e:e2d1:3171:6509:38ab:d200\",\r\n                \"sessionStateV4\": \"None\",\r\n                \"sessionStateV6\": \"None\",\r\n                \"maxPrefixesAdvertisedV4\": 3254,\r\n                \"maxPrefixesAdvertisedV6\": 1605,\r\n                \"md5AuthenticationKey\": \"17da510d9aafbac35ac5396df11a8c8f\"\r\n              },\r\n              \"connectionIdentifier\": \"9bc7d300-6a13-48e9-b2c9-f29a82d2c379\"\r\n            }\r\n          ],\r\n          \"useForPeeringService\": false,\r\n          \"peerAsn\": {\r\n            \"id\": \"/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/37808-Global3490\"\r\n          },\r\n          \"directPeeringType\": \"Edge\"\r\n        },\r\n        \"peeringLocation\": \"Amsterdam\",\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"location\": \"West Europe\",\r\n      \"tags\": {\r\n        \"tfs_37808\": \"value1\",\r\n        \"tag2\": \"value2\"\r\n      },\r\n      \"eTag\": \"58967f43-c01e-4e5f-ba75-19da9db267ca\",\r\n      \"name\": \"DirectOneConnection7562\",\r\n      \"id\": \"/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/resourceGroups/testCarrier/providers/Microsoft.Peering/peerings/DirectOneConnection7562\",\r\n      \"type\": \"Microsoft.Peering/peerings\"\r\n    },\r\n    {\r\n      \"sku\": {\r\n        \"name\": \"Basic_Exchange_Free\",\r\n        \"tier\": \"Basic\",\r\n        \"family\": \"Exchange\",\r\n        \"size\": \"Free\"\r\n      },\r\n      \"kind\": \"Exchange\",\r\n      \"properties\": {\r\n        \"exchange\": {\r\n          \"connections\": [\r\n            {\r\n              \"peeringDBFacilityId\": 64,\r\n              \"connectionState\": \"PendingApproval\",\r\n              \"bgpSession\": {\r\n                \"sessionPrefixV4\": \"193.239.116.0/22\",\r\n                \"sessionPrefixV6\": \"2001:7f8:13::/64\",\r\n                \"microsoftSessionIPv4Address\": \"193.239.117.16\",\r\n                \"microsoftSessionIPv6Address\": \"2001:7f8:13::a500:8075:1\",\r\n                \"peerSessionIPv4Address\": \"193.239.117.22\",\r\n                \"peerSessionIPv6Address\": \"2001:7f8:13::a500:8075:7\",\r\n                \"sessionStateV4\": \"None\",\r\n                \"sessionStateV6\": \"None\",\r\n                \"maxPrefixesAdvertisedV4\": 5678,\r\n                \"maxPrefixesAdvertisedV6\": 1805,\r\n                \"md5AuthenticationKey\": \"214fe5591102116b6c4afcb6fcaf6e28\"\r\n              },\r\n              \"connectionIdentifier\": \"cb528d29-b85e-46e6-95d8-ddf0b89f3f4f\"\r\n            }\r\n          ],\r\n          \"peerAsn\": {\r\n            \"id\": \"/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/29507-Global1928\"\r\n          }\r\n        },\r\n        \"peeringLocation\": \"Amsterdam\",\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"location\": \"West Europe\",\r\n      \"tags\": {\r\n        \"tag2\": \"value2\",\r\n        \"tfs_29507\": \"Active\"\r\n      },\r\n      \"eTag\": \"3c1bd620-86d4-41c0-83c4-20e9dc0cfe5e\",\r\n      \"name\": \"NewExchangePeeringCVS2053\",\r\n      \"id\": \"/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/resourceGroups/testCarrier/providers/Microsoft.Peering/peerings/NewExchangePeeringCVS2053\",\r\n      \"type\": \"Microsoft.Peering/peerings\"\r\n    },\r\n    {\r\n      \"sku\": {\r\n        \"name\": \"Basic_Direct_Free\",\r\n        \"tier\": \"Basic\",\r\n        \"family\": \"Direct\",\r[...]
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/resourceGroups/testCarrier/providers/Microsoft.Peering/peerings/LegacyConvertExchange4117?api-version=2019-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic_Exchange_Free\",\r\n    \"tier\": \"Basic\",\r\n    \"family\": \"Exchange\",\r\n    \"size\": \"Free\"\r\n  },\r\n  \"kind\": \"Exchange\",\r\n  \"properties\": {\r\n    \"exchange\": {\r\n      \"conne[...]
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peeringLocations?kind=Exchange&api-version=2020-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "59"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"kind\": \"Exchange\",\r\n      \"properties\": {\r\n        \"exchange\": {\r\n          \"peeringFacilities\": [\r\n            {\r\n              \"exchangeName\": \"NL-ix\",\r\n              \"bandwidthInMbps\": 100000,\r\n              \"microsoftIPv4Address\": \"193.239.117.16,193.239.118.173\",\r\n              \"microsoftIPv6Address\": \"2001:7f8:13::a500:8075:1,2001:7f8:13::a500:8075:5\",\r\n              \"facilityIPv4Prefix\": \"193.239.116.0/22\",\r\n              \"facilityIPv6Prefix\": \"2001:7f8:13::/64\",\r\n              \"peeringDBFacilityId\": 64,\r\n              \"peeringDBFacilityLink\": \"https://www.peeringdb.com/ix/64\"\r\n            },\r\n            {\r\n              \"exchangeName\": \"AMS-IX\",\r\n              \"bandwidthInMbps\": 300000,\r\n              \"microsoftIPv4Address\": \"80.249.209.21,80.249.209.20\",\r\n              \"microsoftIPv6Address\": \"2001:7f8:1::a500:8075:2,2001:7f8:1::a500:8075:1\",\r\n              \"facilityIPv4Prefix\": \"80.249.208.0/21\",\r\n              \"facilityIPv6Prefix\": \"2001:7f8:1::/64\",\r\n              \"peeringDBFacilityId\[...]
[...]
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/resourceGroups/MockRg519/providers/Microsoft.Peering/peerings/ps7096?api-version=2020-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic_Exchange_Free\"\r\n  },\r\n  \"kind\": \"Exchange\",\r\n  \"properties\": {\r\n    \"exchange\": {\r\n      \"connections\": [\r\n        {\r\n          \"peeringDBFacilityId\": 99999,\r\n          \"bgpSession\": {\r\n     [...]
[...]
