{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/65000-Global7720?api-version=2019-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 65000,\r\n    \"peerContactInfo\": {\r\n      \"emails\": [\r\n        \"noc@AS65000-Global9178.com\",\r\n        \"noc@65000-Global7720.com\"\r\n      ],\r\n      \"phone\": [\r\n        \"23424324333603\"\r\n      ]\r\n    },\r\n    \"peerName\": \"AS65000-Global9178\"\r\n  }\r\n}",
      "RequestHeaders": {
=======
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/52899-Global2553?api-version=2020-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 52899,\r\n    \"peerContactDetail\": [\r\n      {\r\n        \"role\": \"Noc\",\r\n        \"email\": \"Noc@AS52899-Global9585.com\",\r\n        \"phone\": \"+1(888)-889-8088\"\r\n      },\r\n      {\r\n        \"role\": \"Policy\",\r\n        \"email\": \"Policy@AS52899-Global9585.com\",\r\n        \"phone\": \"+1(888)-889-8088\"\r\n      }\r\n    ],\r\n    \"peerName\": \"AS52899-Global9585\"\r\n  }\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Peering.PeeringManagementClient/0.12.0.0"
=======
          "FxVersion/4.6.28619.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Peering.PeeringManagementClient/2.0.0.1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "280"
=======
          "386"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "98ccccc4-12d1-4239-8c46-c3a892204cd1"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "55"
        ],
        "x-ms-correlation-request-id": [
          "0767233e-b003-4d44-8ea6-7bf02aa11df7"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20191011T213317Z:0767233e-b003-4d44-8ea6-7bf02aa11df7"
=======
          "a37de13b-faf4-45c2-9674-a3eeb81bc611"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "59"
        ],
        "x-ms-correlation-request-id": [
          "3c850c87-b463-498c-93ae-709365baa332"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20200421T015334Z:3c850c87-b463-498c-93ae-709365baa332"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 11 Oct 2019 21:33:17 GMT"
        ],
        "Content-Length": [
          "502"
=======
          "Tue, 21 Apr 2020 01:53:34 GMT"
        ],
        "Content-Length": [
          "611"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 65000,\r\n    \"peerContactInfo\": {\r\n      \"emails\": [\r\n        \"noc@AS65000-Global9178.com\",\r\n        \"noc@65000-Global7720.com\"\r\n      ],\r\n      \"phone\": [\r\n        \"23424324333603\"\r\n      ]\r\n    },\r\n    \"peerName\": \"AS65000-Global9178\",\r\n    \"validationState\": \"None\"\r\n  },\r\n  \"name\": \"65000-Global7720\",\r\n  \"id\": \"/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/65000-Global7720\",\r\n  \"type\": \"Microsoft.Peering/peerAsns\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peeringLocations?kind=Direct&directPeeringType=Cdn&api-version=2020-01-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "2452b954-8275-4638-80c4-cd1f46ee0052"
=======
          "2977c9ab-e5a2-495b-af1f-6487e2fb4567"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
[...]
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peeringLocations?kind=Direct&directPeeringType=Cdn&api-version=2019-09-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "56"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"kind\": \"Direct\",\r\n      \"properties\": {\r\n        \"direct\": {\r\n          \"peeringFacilities\": [\r\n            {\r\n              \"address\": \"350 E Cermak Rd\",\r\n              \"directPeeringType\": \"Cdn\",\r\n              \"peeringDBFacilityId\": 7,\r\n              \"peeringDBFacilityLink\": \"https://www.peeringdb.com/fac/7\"\r\n            }\r\n          ],\r\n          \"bandwidthOffers\": [\r\n            {\r\n              \"offerName\": \"10Gbps\",\r\n              \"valueInMbps\": 10000\r\n            },\r\n            {\r\n              \"offerName\": \"100Gbps\",\r\n              \"valueInMbps\": 100000\r\n            }\r\n          ]\r\n        },\r\n        \"peeringLocation\": \"Chicago\",\r\n        \"country\": \"US\",\r\n        \"azureRegion\": \"North Central US\"\r\n      },\r\n      \"name\": \"Chicago\",\r\n      \"type\": \"Microsoft.Peering/peeringLocations\"\r\n    },\r\n    {\r\n      \"kind\": \"Direct\",\r\n      \"properties\": {\r\n        \"direct\": {\r\n          \"peeringFacilities\": [\r\n            {\r\n              \"address\": \"8 Buckingham Avenue\",\r\n              \"directPeeringType\": \"Cdn\",\r\n              \"peeringDBFacilityId\": 832,\r\n              \"peeringDBFacilityLink\": \"https://www.peeringdb.[...]
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/Microsoft.Azure.PowerShell.Cmdlets.Peering.Models.PSPeerAsn?api-version=2019-09-01-preview",
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"kind\": \"Direct\",\r\n      \"properties\": {\r\n        \"direct\": {\r\n          \"peeringFacilities\": [\r\n            {\r\n              \"address\": \"350 E Cermak Rd\",\r\n              \"directPeeringType\": \"[...]
[...]
