{
  "Entries": [
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "d93f6166-bf9e-4701-a2ed-52ebe2dbea2c"
=======
          "9df43b5f-4ef8-436c-bc63-27a10094aec8"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.2"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.11"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11979"
        ],
        "x-ms-request-id": [
          "820a4bbf-7d20-4d4f-b422-b6d5c1df79e7"
        ],
        "x-ms-correlation-request-id": [
          "820a4bbf-7d20-4d4f-b422-b6d5c1df79e7"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200115T125706Z:820a4bbf-7d20-4d4f-b422-b6d5c1df79e7"
=======
          "11978"
        ],
        "x-ms-request-id": [
          "d9da4fbd-0835-4f33-a1da-00d0e51521fc"
        ],
        "x-ms-correlation-request-id": [
          "d9da4fbd-0835-4f33-a1da-00d0e51521fc"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200427T065931Z:d9da4fbd-0835-4f33-a1da-00d0e51521fc"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 15 Jan 2020 12:57:05 GMT"
=======
          "Mon, 27 Apr 2020 06:59:30 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "66206"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-14ece36cc7a1\"\r\n    },\r\n    {\r\n      \"applicationId\": \"7c33bfcb-8d33-48d6-8e60-dc6404003489\",\r\n      \"roleDefinitionId\": \"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3\"\r\n    },\r\n    {\r\n      \"applicationId\": \"1e3e4475-288f-4018-a376-df66fd7fac5f\",\r\n      \"roleDefinitionId\": \"1d538b69-3d87-4e56-8ff8-25786fd48261\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a0be0c72-870e-46f0-9c49-c98333a996f7\",\r\n      \"roleDefinitionId\": \"7ce22727-ffce-45a9-930c-ddb2e56fa131\"\r\n    },\r\n    {\r\n      \"applicationId\": \"486c78bf-a0f7-45f1-92fd-37215929e116\",\r\n      \"roleDefinitionId\": \"98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d\"\r\n    },\r\n    {\r\n      \"applicationId\": \"19947cfd-0303-466c-ac3c-fcc19a7a1570\",\r\n      \"roleDefinitionId\": \"d813ab6c-bfb7-413e-9462-005b21f0ce09\"\r\n    },\r\n    {\r\n      \"applicationId\": \"341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd\",\r\n      \"roleDefinitionId\": \"8141843c-c51c-4c1e-a5bf-0d351594b86c\"\r\n    },\r\n    {\r\n      \"applicationId\": \"328fd23b-de6e-462c-9433-e207470a5727\",\r\n      \"roleDefinitionId\": \"79e29e06-4056-41e5-a6b2-959f1f47747e\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"virtualNetworks\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Brazil South\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Central India\",\r\n        \"South India\",\r\n        \"West India\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"West Central US\",\r\n        \"West US 2\",\r\n        \"UK West\",\r\n        \"UK South\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"France Central\",\r\n        \"Australia Central\",\r\n        \"South Africa North\",\r\n        \"UAE North\",\r\n        \"Switzerland North\",\r\n        \"West US\",\r\n        \"Central US EUAP\",\r\n        \"East US 2 EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2019-11-01\",\r\n        \"2019-09-01\",\r\n        \"2019-08-01\",\r\n        \"2019-07-01\",\r\n        \"2019-06-01\",\r\n        \"2019-04-01\",\r\n        \"2019-02-01\",\r\n        \"2018-12-01\",\r\n        \"2018-11-01\",\r\n        \"2018-10-01\",\r\n        \"2018-08-01\",\r\n        \"2018-07-01\",\r\n        \"2018-06-01\",\r\n        \"2018-05-01\",\r\n        \"2018-04-01\",\r\n        \"2018-03-01\",\r\n        \"2018-02-01\",\r\n        \"2018-01-01\",\r\n        \"2017-11-01\",\r\n        \"2017-10-01\",\r\n        \"2017-09-01\",\r\n        \"2017-08-01\",\r\n        \"2017-06-01\",\r\n        \"2017-04-01\",\r\n        \"2017-03-01\",\r\n        \"2016-12-01\",\r\n        \"2016-11-01\",\r\n        \"2016-10-01\",\r\n        \"2016-09-01\",\r\n        \"2016-08-01\",\r\n        \"2016-07-01\",\r\n        \"2016-06-01\",\r\n        \"2016-03-30\",\r\n        \"2015-06-15\",\r\n        \"2015-05-01-preview\",\r\n        \"2014-12-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"publicIPAddresses\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Brazil South\"[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourcegroups/ps5262?api-version=2016-09-01",
=======
          "75291"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourcegroups/ps80?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "6808d517-62df-4dd7-9100-8fcadfab917b"
=======
          "9e4fb3ef-4388-4ea7-9be2-377c2a2dbf55"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resource[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps5262/providers/Microsoft.Network/applicationSecurityGroups/ps4058?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps80\",\r\n  \"name\": \"ps80\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps80/providers/Microsoft.Network/applicationSecurityGroups/ps8368?api-version=2020-04-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "1e833c6a-2a28-440f-bebb-593e451fc768"
=======
          "999c8e8b-c98a-4037-8bad-ff06f2ac3864"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/423.1707.49677.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "b33d16ea-5d19-4e12-ae75-23efd0f1c742"
        ],
        "x-ms-correlation-request-id": [
          "b33d16ea-5d19-4e12-ae75-23efd0f1c742"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200115T125707Z:b33d16ea-5d19-4e12-ae75-23efd0f1c742"
=======
          "05bb70be-a31c-4215-87ee-1b8999c7c016"
        ],
        "x-ms-correlation-request-id": [
          "05bb70be-a31c-4215-87ee-1b8999c7c016"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200427T065931Z:05bb70be-a31c-4215-87ee-1b8999c7c016"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 15 Jan 2020 12:57:06 GMT"
=======
          "Mon, 27 Apr 2020 06:59:31 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "160"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/applicationSecurityGroups/ps4058' under resource group 'ps5262' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps80/providers/Microsoft.Network/applicationSecurityGroups/ps8368?api-version=2020-04-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/423.1707.49677.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "ETag": [
<<<<<<< HEAD
          "W/\"efeafbc3-1950-436a-a7ff-8fda21c54e2d\""
        ],
        "x-ms-request-id": [
          "ec31c7b3-e946-45e6-8e37-9ac0f9f48986"
        ],
        "x-ms-correlation-request-id": [
          "51cb73d1-a678-45a9-8cf1-e87360b8da02"
        ],
        "x-ms-arm-service-request-id": [
          "14e475fc-d6fd-4e1f-9b30-2f39e5628508"
=======
          "W/\"22cf584e-d778-4b2c-a43a-c7528dae11f6\""
        ],
        "x-ms-request-id": [
          "aeb4ced7-b922-4711-bfd2-86702b968c8d"
        ],
        "x-ms-correlation-request-id": [
          "7d92d5c0-fb82-4657-91a5-847b37cb6756"
        ],
        "x-ms-arm-service-request-id": [
          "b6f5b998-f04c-428e-acf1-db6d6b22d00c"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
<<<<<<< HEAD
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11983"
        ],
=======
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-routing-request-id": [
          "WESTUS2:20200115T125718Z:51cb73d1-a678-45a9-8cf1-e87360b8da02"
=======
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11977"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200427T065942Z:7d92d5c0-fb82-4657-91a5-847b37cb6756"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 15 Jan 2020 12:57:17 GMT"
        ],
        "Content-Length": [
          "381"
=======
          "Mon, 27 Apr 2020 06:59:41 GMT"
        ],
        "Content-Length": [
          "379"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"name\": \"ps4058\",\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps5262/providers/Microsoft.Network/applicationSecurityGroups/ps4058\",\r\n  \"etag\": \"W/\\\"efeafbc3-1950-436a-a7ff-8fda21c54e2d\\\"\",\r\n  \"type\": \"Microsoft.Network/applicationSecurityGroups\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps80/providers/Microsoft.Network/applicationSecurityGroups/ps8368?api-version=2020-04-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "dafb17c3-0329-4191-b654-45a4ed75bd45"
=======
          "ce2cc107-c016-4405-85e9-c4a326f39abd"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/423.1707.49677.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "37"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ]
<<<<<<< HEAD
          "a2d35867-4f68-42cd-9b6b-6ccad001ff24"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network/locations/westcentralus/operations/a2d35867-4f68-42cd-9b6b-6ccad001ff24?api-version=2019-11-01"
        ],
        "x-ms-correlation-request-id": [
          "271de048-a1be-4574-9158-1ea5a311194a"
=======
          "feffc8e1-7791-48c1-848e-1ffbc60f6629"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network/locations/westcentralus/operations/feffc8e1-7791-48c1-848e-1ffbc60f6629?api-version=2020-04-01"
        ],
        "x-ms-correlation-request-id": [
          "12e039af-87e5-478f-ba7f-01ce53da7240"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-arm-service-request-id": [
<<<<<<< HEAD
          "aa7d5188-bdfb-4af4-a02a-14be5a1011ce"
=======
          "44ed657c-cc78-4fc3-85ee-43a842f2368a"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
<<<<<<< HEAD
=======
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ],
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71f[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network/locations/westcentralus/operations/a2d35867-4f68-42cd-9b6b-6ccad001ff24?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps8368\",\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps80/providers/Microsoft.Network/applicationSecurityGroups/ps8368\",\r\n  \"etag\": \"W/\\\"491671ca-4195-4d3e-b40c-c47df229d909\\\"\",\r\n  \"type\": \"Microsoft.Network/applicationSecurityGroups\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps5262/providers/Microsoft.Network/networkSecurityGroups/ps4660?api-version=2019-11-01",
=======
          "153"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/networkSecurityGroups/ps547' under resource group 'ps80' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps5262/providers/Microsoft.Network/networkSecurityGroups/ps4660?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps547\",\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps80/providers/Microsoft.Network/networkSecurityGroups/ps547\",\r\n  \"etag\": \"W/\\\"3c881f31-ee15-4d39-953a-02d8f8654be6\\\"\",\r\n  \"type\": \"Microsoft.Network/networkSecurityGroups\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"3e0d09e3-160f-487d-a610-c4b7fe253dba\",\r\n    \"securityRules\": [],\r\n    \"defaultSecurityRules\": [\r\n      {\r\n        \"name\": \"AllowVnetInBound\",\r\n        \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps80/providers/Microsoft.Network/networkSecurityGroups/ps547/defaultSecurityRules/AllowVnetInBound\",\r\n        \"etag\": \"W/\\\"3c881f31-ee15-4d39-953a-02d8f8654be6\\\"\",\r\n        \"type\": \"Microsoft.Network/networkSecurityGroups/defaultSecurityRules\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"description\": \"Allow inbound traffic from all VMs in VNET\",\r\n          \"protocol\": \"*\",\r\n          \"sourcePortRange\": \"*\",\r\n          \"destinationPortRange\": \"*\",\r\n          \"sourceAddressPrefix\": \"VirtualNetwork\",\r\n          \"destinationAddressPrefix\": \"VirtualNetwork\",\r\n          \"access\": \"Allow\",\r\n          \"priority\": 65000,\r\n          \"direction\": \"Inbound\",\r\n          \"sourcePortRanges\": [],\r\n          \"destinationPortRanges\": [],\r\n          \"sourceAddressPrefixes\": [],\r\n          \"destinationAddressPrefixes\": []\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"AllowAzureLoadBalancerInBound\",\r\n        \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps80/providers/Microsoft.Network/networkSecurityGroups/ps547/defaultSecurityRules/AllowAzureLoadBalancerInBound\",\r\n        \"etag\": \"W/\\\"3c881f31-ee15-4d39-953a-02d8f8654be6\\\"\",\r\n        \"type\": \"Microsoft.Network/networkSecurityGroups/defaultSecurityRules\",\r\n        \"properties\": {\r\n         [...]
[...]
