{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peeringServices?api-version=2019-09-01-preview",
=======
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peeringServices?api-version=2020-01-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "f27ee3ca-15fe-4c41-973f-55ea288b1650"
=======
          "7a131acf-8f9d-47a1-8350-226f89d5c6d1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Peering.PeeringManagementClient/0.12.0.0"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "59"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"peeringServiceLocation\": \"Florida\",\r\n        \"peeringServiceProvider\": \"AS56845-Global1191\",\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"location\": \"East US\",\r\n      \"eTag\": \"d1325533-d921-4525-a70f-9425f3ce8b0a\",\r\n      \"name\": \"myPeeringService1011\",\r\n      \"id\": \"/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/resourceGroups/Building40/providers/Microsoft.Peering/peeringServices/myPeeringService1011\",\r\n      \"type\": \"Microsoft.Peering/peeringServices\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"peeringServiceLocation\": \"Florida\",\r\n        \"peeringServiceProvider\": \"AS56845-Global1191\",\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"location\": \"East US\",\r\n      \"eTag\": \"9c1f0cc5-b589-4496-bc9c-82812c657e3c\",\r\n      \"name\": \"myPeeringService4580\",\r\n      \"id\": \"/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/resourceGroups/Building40/providers/Microsoft.Peering/peeringServices/myPeeringService4580\",\r\n      \"type\": \"Microsoft.Peering/peeringServices\"\r\n    }\r\n  ]\r\n}",
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Peering.PeeringManagementClient/2.0.0.1"
        ]
      },
      "ResponseHeaders": {
        "WWW-Authenticate-dSTS": [
          "http://schemas.microsoft.com/dsts/saml2-bearer metadata-version=1,sts-realm=realm://dsts.core.azure-test.net/,certificate-sts-address=https://co2agg04-dsts.dsts.core.azure-test.net/v2/wstrust/13/certificate,issued-token-sts-address=https://co2agg04-dsts.dsts.core.azure-test.net/v2/wstrust/13/issuedtoken-bearer,discovery-sts-address=https://co2agg04-dsts.dsts.core.azure-test.net/2012/IDstsDiscoveryService,service-dns-name=secrets.wanrr-test.radar.core.azure-test.net,known-sts-thumbp[...]
