{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/15224-Global1895?api-version=2019-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 15224,\r\n    \"peerContactInfo\": {\r\n      \"emails\": [\r\n        \"noc@AS15224-Global7794.com\",\r\n        \"noc@15224-Global1895.com\"\r\n      ],\r\n      \"phone\": [\r\n        \"2342432433479\"\r\n      ]\r\n    },\r\n    \"peerName\": \"AS15224-Global7794\"\r\n  }\r\n}",
      "RequestHeaders": {
=======
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/15224-Global4825?api-version=2020-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 15224,\r\n    \"peerContactDetail\": [\r\n      {\r\n        \"role\": \"Noc\",\r\n        \"email\": \"Noc@AS15224-Global4699.com\",\r\n        \"phone\": \"+1(888)-889-8088\"\r\n      },\r\n      {\r\n        \"role\": \"Policy\",\r\n        \"email\": \"Policy@AS15224-Global4699.com\",\r\n        \"phone\": \"+1(888)-889-8088\"\r\n      }\r\n    ],\r\n    \"peerName\": \"AS15224-Global4699\"\r\n  }\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Peering.PeeringManagementClient/0.12.0.0"
=======
          "FxVersion/4.6.28619.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Peering.PeeringManagementClient/2.0.0.1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "279"
=======
          "386"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "b1d521fd-19f2-4f48-a957-c9249625ad3b"
=======
          "7e32ab2f-3457-464a-b3c3-43ebbca2ebd7"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "59"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "220780a8-447e-432b-ad8c-41815700d775"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20191007T184503Z:220780a8-447e-432b-ad8c-41815700d775"
=======
          "0cb3371c-19e5-4ed0-92f2-7430bbef83ed"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20200421T015648Z:0cb3371c-19e5-4ed0-92f2-7430bbef83ed"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 07 Oct 2019 18:45:03 GMT"
        ],
        "Content-Length": [
          "501"
=======
          "Tue, 21 Apr 2020 01:56:47 GMT"
        ],
        "Content-Length": [
          "611"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 15224,\r\n    \"peerContactInfo\": {\r\n      \"emails\": [\r\n        \"noc@AS15224-Global7794.com\",\r\n        \"noc@15224-Global1895.com\"\r\n      ],\r\n      \"phone\": [\r\n        \"2342432433479\"\r\n      ]\r\n    },\r\n    \"peerName\": \"AS15224-Global7794\",\r\n    \"validationState\": \"None\"\r\n  },\r\n  \"name\": \"15224-Global1895\",\r\n  \"id\": \"/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/15224-Global1895\",\r\n  \"type\": \"Microsoft.Peering/peerAsns\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/legacyPeerings?peeringLocation=Ashburn&kind=Exchange&api-version=2020-01-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "ca94d9eb-0594-43c2-9d73-85ee128f1922"
=======
          "0b80d609-bc99-4f5b-8055-ff8e0dfcdc64"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ][...]
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/legacyPeerings?peeringLocation=Ashburn&kind=Exchange&api-version=2019-09-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "59"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"sku\": {\r\n        \"name\": \"Basic_Exchange_Free\",\r\n        \"tier\": \"Basic\",\r\n        \"family\": \"Exchange\",\r\n        \"size\": \"Free\"\r\n      },\r\n      \"kind\": \"Exchange\",\r\n      \"properties\": {\r\n        \"exchange\": {\r\n          \"connections\": [\r\n            {\r\n              \"peeringDBFacilityId\": 1,\r\n              \"connectionState\": \"Active\",\r\n              \"bgpSession\": {\r\n                \"sessionPrefixV4\": \"206.126.236.0/22\",\r\n                \"sessionPrefixV6\": \"2001:504:0:2::/64\",\r\n                \"microsoftSessionIPv4Address\": \"206.126.236.17\",\r\n                \"microsoftSessionIPv6Address\": \"2001:504:0:2::8075:1\",\r\n                \"peerSessionIPv4Address\": \"206.126.236.131\",\r\n                \"peerSessionIPv6Address\": \"2001:504:0:2:0:1:1164:1\",\r\n                \"sessionStateV4\": \"Established\",\r\n                \"sessionStateV6\": \"Established\",\r\n                \"maxPrefixesAdvertisedV4\": 20000,\r\n                \"maxPrefixesAdvertisedV6\": 2000\r\n              },\r\n              \"connectionIdentifier\": \"11aa0fe6-e0a6-4c31-b2ec-d15275b9a1e4\"\r\n            },\r\n            {\r\n              \"peeringDBFacilityId\": 1,\r\n              \"connectionState\": \"Active\",\r\n              \"bgpSession\": {\r\n                \"sessionPrefixV4\": \"206.126.236.0/22\",\r\n                \"sessionPrefixV6\": \"2001:504:0:2::/64\",\r\n                \"microsoftSessionIPv4Address\": \"206.126.236.148\",\r\n                \"microsoftSessionIPv6Address\": \"2001:504:0:2::8075:2\",\r\n                \"peerSessionIPv4Address\": \"206.126.236.131\",\r\n                \"peerSessionIPv6Address\": \"2001:504:0:2:0:1:1164:1\",\r\n                \"sessionStateV4\": \"Established\",\r\n                \"sessionStateV6\": \"Established\",\r\n                \"maxPrefixesAdvertisedV4\": 20000,\r\n                \"maxPrefixesAdvertisedV6\": 2000\r\n              },\r\n              \"connectionIdentifier\": \"f1d15f47-002f-45ee-9673-bfa130b20332\"\r\n            }\r\n          ],\r\n          \"peerAsn\": {\r\n            \"id\": \"11164\"\r\n          }\r\n        },\r\n        \"peeringLocation\": \"Ashburn\",\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"sku\": {\r\n        \"name\": \"Basic_Exchange_Free\",\r\n        \"tier\": \"Basic\",\r\n        \"family\": \"Exchange\",\r\n        \"size\": \"Free\"\r\n      },\r\n      \"kind\": \"Exchange\",\r\n      \"properties\": {\r\n        \"exchange\": {\r\n          \"connections\": [\r\n            {\r\n              \"peeringDBFacilityId\": 1,\r\n              \"connectionState\": \"Active\",\r\n              \"bgpSession\": {\r\n         [...]
[...]
