{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/providers/Microsoft.PolicyInsights/policyStates/default/queryResults?api-version=2019-10-01&$top=10&$from=2019-12-01T00%3A00%3A00Z",
=======
      "RequestUri": "/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/providers/Microsoft.PolicyInsights/policyStates/default/queryResults?api-version=2019-10-01&$top=10&$from=2020-03-24T00%3A00%3A00Z",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "d203da81-eb01-49f3-ba9d-595baea59cba"
=======
          "5275f478-de9f-495e-a80a-b689a785522d"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.PolicyInsights.PolicyInsightsClient/3.0.0.0"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.PolicyInsights.PolicyInsightsClient/3.1.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "598"
        ]
<<<<<<< HEAD
          ":afabebc4-6e36-47f7-8771-6490ae813f8a"
=======
          ":90aa1843-18ab-454e-9776-7b84f5e43302"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11999"
        ],
        "x-ms-correlation-request-id": [
          "c83c2c6c-8554-4fde-bcbc-112ef73221f7"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20191209T194042Z:c83c2c6c-8554-4fde-bcbc-112ef73221f7"
=======
          "11998"
        ],
        "x-ms-correlation-request-id": [
          "3615a5c1-b167-49ab-81f8-7e70253fa4ed"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200331T000648Z:3615a5c1-b167-49ab-81f8-7e70253fa4ed"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 09 Dec 2019 19:40:42 GMT"
        ],
        "Content-Length": [
          "17468"
=======
          "Tue, 31 Mar 2020 00:06:48 GMT"
        ],
        "Content-Length": [
          "16908"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/providers/Microsoft.PolicyInsights/policyStates/$metadata#default\",\r\n  \"@odata.count\": 10,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/providers/Microsoft.PolicyInsights/policyStates/$metadata#default/$entity\",\r\n      \"timestamp\": \"2019-12-09T18:09:58.5037946Z\",\r\n      \"resourceId\": \"/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/microsoft.web/sites/clna71d8408-3329-48be-9b90-fc7955adde3e\",\r\n      \"policyAssignmentId\": \"/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/microsoft.authorization/policyassignments/147b065f2a0f409ca31325c7\",\r\n      \"policyDefinitionId\": \"/providers/microsoft.authorization/policydefinitions/b607c5de-e7d9-4eee-9e5c-83f1bcee4fa0\",\r\n      \"effectiveParameters\": \"\",\r\n      \"isCompliant\": false,\r\n      \"subscriptionId\": \"0b40be06-04e8-4f70-abde-a502b2646fe8\",\r\n      \"resourceType\": \"/Microsoft.Web/sites\",\r\n      \"resourceLocation\": \"northcentralus\",\r\n      \"resourceGroup\": \"cleanupservice\",\r\n      \"resourceTags\": \"tbd\",\r\n      \"policyAssignmentName\": \"147b065f2a0f409ca31325c7\",\r\n      \"policyAssignmentOwner\": \"tbd\",\r\n      \"policyAssignmentParameters\": \"\",\r\n      \"policyAssignmentScope\": \"/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourceGroups/cleanupservice\",\r\n      \"policyDefinitionName\": \"b607c5de-e7d9-4eee-9e5c-83f1bcee4fa0\",\r\n      \"policyDefinitionAction\": \"auditifnotexists\",\r\n      \"policyDefinitionCategory\": \"tbd\",\r\n      \"policySetDefinitionId\": \"\",\r\n      \"policySetDefinitionName\": \"\",\r\n      \"policySetDefinitionOwner\": \"\",\r\n      \"policySetDefinitionCategory\": \"\",\r\n      \"policySetDefinitionParameters\": \"\",\r\n      \"managementGroupIds\": \"2PolicyTestMG,72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"policyDefinitionReferenceId\": \"\",\r\n      \"complianceState\": \"NonCompliant\",\r\n      \"policyDefinitionGroupNames\": [\r\n        \"\"\r\n      ]\r\n    },\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/providers/Microsoft.PolicyInsights/policyStates/$metadata#default/$entity\",\r\n      \"timestamp\": \"2019-12-09T18:09:58.5037553Z\",\r\n      \"resourceId\": \"/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/microsoft.web/sites/clna71d8408-3329-48be-9b90-fc7955add[...]
