{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/Microsoft.Authorization/policyAssignments/147b065f2a0f409ca31325c7/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$top=10",
=======
      "RequestUri": "/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/resourcegroups/cheggpolicy/providers/Microsoft.Authorization/policyAssignments/8a4555d353ed46bb856e9890/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$top=10",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "c5ad7f0f-8a18-4486-b57b-8cfabed3e622"
=======
          "8df7f460-24b1-428e-9907-36f0aa020418"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.PolicyInsights.PolicyInsightsClient/3.0.0.0"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.PolicyInsights.PolicyInsightsClient/3.1.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "599"
        ]
<<<<<<< HEAD
          ":b4955cfa-507f-4b15-812c-41b9ece29277"
=======
          ":24cf5999-d667-4b0f-a3db-d0b83b28babc"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11999"
        ],
        "x-ms-correlation-request-id": [
          "3d21756b-006e-4456-a5f0-994523d6fc1b"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20191209T194009Z:3d21756b-006e-4456-a5f0-994523d6fc1b"
=======
          "11997"
        ],
        "x-ms-correlation-request-id": [
          "20cac05c-6b3b-41ff-9e6e-907accb45063"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200331T000637Z:20cac05c-6b3b-41ff-9e6e-907accb45063"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 09 Dec 2019 19:40:09 GMT"
        ],
        "Content-Length": [
          "2018"
=======
          "Tue, 31 Mar 2020 00:06:36 GMT"
        ],
        "Content-Length": [
          "6179"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/Microsoft.Authorization/policyAssignments/147b065f2a0f409ca31325c7/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest\",\r\n  \"@odata.count\": 1,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/Microsoft.Authorization/policyAssignments/147b065f2a0f409ca31325c7/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity\",\r\n      \"timestamp\": \"2019-12-09T18:09:58.5037946Z\",\r\n      \"resourceId\": \"/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/microsoft.web/sites/clna71d8408-3329-48be-9b90-fc7955adde3e\",\r\n      \"policyAssignmentId\": \"/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/microsoft.authorization/policyassignments/147b065f2a0f409ca31325c7\",\r\n      \"policyDefinitionId\": \"/providers/microsoft.authorization/policydefinitions/b607c5de-e7d9-4eee-9e5c-83f1bcee4fa0\",\r\n      \"effectiveParameters\": \"\",\r\n      \"isCompliant\": false,\r\n      \"subscriptionId\": \"0b40be06-04e8-4f70-abde-a502b2646fe8\",\r\n      \"resourceType\": \"/Microsoft.Web/sites\",\r\n      \"resourceLocation\": \"northcentralus\",\r\n      \"resourceGroup\": \"cleanupservice\",\r\n      \"resourceTags\": \"tbd\",\r\n      \"policyAssignmentName\": \"147b065f2a0f409ca31325c7\",\r\n      \"policyAssignmentOwner\": \"tbd\",\r\n      \"policyAssignmentParameters\": \"\",\r\n      \"policyAssignmentScope\": \"/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourceGroups/cleanupservice\",\r\n      \"policyDefinitionName\": \"b607c5de-e7d9-4eee-9e5c-83f1bcee4fa0\",\r\n      \"policyDefinitionAction\": \"auditifnotexists\",\r\n      \"policyDefinitionCategory\": \"tbd\",\r\n      \"policySetDefinitionId\": \"\",\r\n      \"policySetDefinitionName\": \"\",\r\n      \"policySetDefinitionOwner\": \"\",\r\n      \"policySetDefinitionCategory\": \"\",\r\n      \"policySetDefinitionParameters\": \"\",\r\n      \"managementGroupIds\": \"2PolicyTestMG,72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"policyDefinitionReferenceId\": \"\",\r\n      \"complianceState\": \"NonCompliant\",\r\n      \"policyDefinitionGroupNames\": [\r\n        \"\"\r\n      ]\r\n    }\r\n  ]\r\n}",
=======
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/resourcegroups/cheggpolicy/providers/Microsoft.Authorization/policyAssignments/8a4555d353ed46bb856e9890/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest\",\r\n  \"@odata.count\": 3,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.az[...]
