{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourcegroups/ps7978?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourcegroups/ps7289?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "ab1420b4-81bb-48e9-99c2-7d08a8def979"
=======
          "4d2b3c1c-6137-4d42-a219-7141e01cbc45"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.2"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.11"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "29"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
<<<<<<< HEAD
          "c974a858-f580-4e41-bbf5-f3090140e0dd"
        ],
        "x-ms-correlation-request-id": [
          "c974a858-f580-4e41-bbf5-f3090140e0dd"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200115T095822Z:c974a858-f580-4e41-bbf5-f3090140e0dd"
=======
          "f3228cf5-d433-440a-b7b6-dde790103b73"
        ],
        "x-ms-correlation-request-id": [
          "f3228cf5-d433-440a-b7b6-dde790103b73"
        ],
        "x-ms-routing-request-id": [
          "WESTEUROPE:20200410T075522Z:f3228cf5-d433-440a-b7b6-dde790103b73"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 15 Jan 2020 09:58:21 GMT"
=======
          "Fri, 10 Apr 2020 07:55:21 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "165"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7978\",\r\n  \"name\": \"ps7978\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7978/providers/Microsoft.Network/privateDnsZones/ps7277.pstest.test?api-version=2018-09-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7289\",\r\n  \"name\": \"ps7289\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7289/providers/Microsoft.Network/privateDnsZones/ps7342.pstest.test?api-version=2018-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"tags\": {\r\n    \"tag1\": \"value1\"\r\n  },\r\n  \"location\": \"global\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "343e3b93-4eb0-4fb0-aea7-633c58de7645"
=======
          "9c685de0-6cbd-4245-9d68-f2fc1789a319"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "If-None-Match": [
          "*"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28325.01",
=======
          "FxVersion/4.6.28516.03",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.PrivateDns.PrivateDnsManagementClient/1.0.0.0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "69"
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7978/providers/Microsoft.Network/privateDnsOperationResults/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTtmOGY4NTM3Mi0yNDY1LTQ0NTctYWY4MS1jOGY0N2JmMDliODE=?api-version=2018-09-01"
=======
          "https://management.azure.com/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7289/providers/Microsoft.Network/privateDnsOperationResults/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTsyZDViMGRhMS0zMzhjLTQwZWQtYjQ4YS1kZmFhZjhiNDNkZDY=?api-version=2018-09-01"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Retry-After": [
          "30"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Azure-AsyncOperation": [
<<<<<<< HEAD
          "https://management.azure.com:443/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7978/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTtmOGY4NTM3Mi0yNDY1LTQ0NTctYWY4MS1jOGY0N2JmMDliODE=?api-version=2018-09-01"
        ],
        "x-ms-request-id": [
          "343e3b93-4eb0-4fb0-aea7-633c58de7645"
=======
          "https://management.azure.com:443/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7289/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTsyZDViMGRhMS0zMzhjLTQwZWQtYjQ4YS1kZmFhZjhiNDNkZDY=?api-version=2018-09-01"
        ],
        "x-ms-request-id": [
          "9c685de0-6cbd-4245-9d68-f2fc1789a319"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [
          "Microsoft-IIS/10.0"
        ],
        "X-AspNet-Version": [
          "4.0.30319"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
<<<<<<< HEAD
          "11998"
        ],
        "x-ms-correlation-request-id": [
          "2a2d76ab-51b0-4c0a-9811-a3b95fb2ac56"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200115T095829Z:2a2d76ab-51b0-4c0a-9811-a3b95fb2ac56"
        ],
        "Date": [
          "Wed, 15 Jan 2020 09:58:28 GMT"
=======
          "11999"
        ],
        "x-ms-correlatio[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/microsoft.network?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "d4c1309d-f211-4ae8-ba7a-e40ff8f77021"
=======
          "7a426a45-62f5-4f2e-b720-feed3b28eea6"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "Fx[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7978/providers/Microsoft.Network/virtualNetworks/ps5321?api-version=2019-11-01",
=======
          "73986"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-14ece36cc7a1\"\r\n    },\r\n    {\r\n      \"applicationId\": \"7c33bfcb-8d33-48d6-8e60-dc6404003489\",\r\n      \"roleDefinitionId\": \"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3\"\r\n    },\r\n    {\r\n      \"applicationId\": \"1e3e4475-288f-4018-a376-df66fd7fac5f\",\r\n      \"roleDefinitionId\": \"1d538b69-3d87-4e56-8ff8-25786fd48261\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a0be0c72-870e-46f0-9c49-c98333a996f7\",\r\n      \"roleDefinitionId\": \"7ce22727-ffce-45a9-930c-ddb2e56fa131\"\r\n    },\r\n    {\r\n      \"applicationId\": \"486c78bf-a0f7-45f1-92fd-37215929e116\",\r\n      \"roleDefinitionId\": \"98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d\"\r\n    },\r\n    {\r\n      \"applicationId\": \"19947cfd-0303-466c-ac3c-fcc19a7a1570\",\r\n      \"roleDefinitionId\": \"d813ab6c-bfb7-413e-9462-005b21f0ce09\"\r\n    },\r\n    {\r\n      \"applicationId\": \"341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd\",\r\n      \"roleDefinitionId\": \"8141843c-c51c-4c1e-a5bf-0d351594b86c\"\r\n    },\r\n    {\r\n      \"applicationId\": \"328fd23b-de6e-462c-9433-e207470a5727\",\r\n      \"roleDefinitionId\": \"79e29e06-4056-41e5-a6b2-959f1f47747e\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"virtualNetworks\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Brazil South\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Central India\",\r\n        \"South India\",\r\n        \"West India\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"West Central US\",\r\n        \"West US 2\",\r\n        \"UK West\",\r\n        \"UK South\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"France Central\",\r\n        \"Australia Central\",\r\n        \"South Africa North\",\r\n        \"UAE North\",\r\n        \"Switzerland North\",\r\n        \"Germany West Central\",\r\n        \"Norway East\",\r\n        \"West US\",\r\n        \"Central US EUAP\",\r\n        \"East US 2 EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2020-03-01\",\r\n        \"2020-01-01\",\r\n        \"2019-12-01\",\r\n        \"2019-11-01\",\r\n        \"2019-09-01\",\r\n        \"2019-08-01\",\r\n        \"2019-07-01\",\r\n        \"2019-06-01\",\r\n        \"2019-04-01\",\r\n        \"2019-02-01\",\r\n        \"2018-12-01\",\r\n        \"2018-11-01\",\r\n        \"2018-10-01\",\r\n        \"2018-08-01\",\r\n        \"2018-07-01\",\r\n        \"2018-06-01\",\r\n        \"2018-05-01\",\r\n        \"2018-04-01\",\r\n        \"2018-03-01\",\r\n        \"2018-02-01\",\r\n        \"2018-01-01\",\r\n        \"2017-11-01\",\r\n        \"2017-10-01\",\r\n        \"2017-09-01\",\r\n        \"2017-08-01\",\r\n        \"2017-06-01\",\r\n        \"2017-04-01\",\r\n        \"2017-03-01\",\r\n        \"2016-12-01\",\r\n        \"2016-11-01\",\r\n        \"2016-10-01\",\r\n        \"2016-09-01\",\r\n        \"2016-08-01\",\r\n        \"2016-07-01\",\r\n        \"2016-06-01\",\r\n        \"2016-03-30\",\r\n        \"2015-06-15\",\r\n        \"2015-05-01-preview\",\r\n        \"2014-12-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"natGateways\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Brazil South\",\r\n [...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7289/providers/Microsoft.Network/virtualNetworks/ps7999?api-version=2020-03-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "c8c715b5-51b2-4948-94cf-1552970926b7"
=======
          "490034b7-68ef-46da-9d6d-6716eff99deb"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.19.10.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "6891653e-e10a-4efa-91f7-01919b54a792"
        ],
        "x-ms-correlation-request-id": [
          "6891653e-e10a-4efa-91f7-01919b54a792"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200115T095901Z:6891653e-e10a-4efa-91f7-01919b54a792"
=======
          "9c8868af-cb33-43e7-9bcb-8a15d220dad6"
        ],
        "x-ms-correlation-request-id": [
          "9c8868af-cb33-43e7-9bcb-8a15d220dad6"
        ],
        "x-ms-routing-request-id": [
          "WESTEUROPE:20200410T075600Z:9c8868af-cb33-43e7-9bcb-8a15d220dad6"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 15 Jan 2020 09:59:01 GMT"
=======
          "Fri, 10 Apr 2020 07:55:59 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "150"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps5321' under resource group 'ps7978' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7289/providers/Microsoft.Network/virtualNetworks/ps7999?api-version=2020-03-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.19.10.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "ETag": [
<<<<<<< HEAD
          "W/\"6175ac8c-0371-4d5a-9de4-97763525f417\""
        ],
        "x-ms-request-id": [
          "e960dd24-905a-4d12-a482-8cae24e0267e"
        ],
        "x-ms-correlation-request-id": [
          "aa28f3a9-b78b-4b74-8b2d-a1ebf9737c88"
        ],
        "x-ms-arm-service-request-id": [
          "397bd7d1-1605-4124-9c14-4add59bc3c54"
=======
          "W/\"3799ab9d-55be-4c28-95ce-24a5c0393ddc\""
        ],
        "x-ms-request-id": [
          "afcb3ef9-e115-40a6-b974-68476b960156"
        ],
        "x-ms-correlation-request-id": [
          "fb77cb32-e703-43ed-8d5d-9218748864d2"
        ],
        "x-ms-arm-service-request-id": [
          "2af96c0b-73f1-40c8-bebe-74ea24fba883"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7978/providers/Microsoft.Network/virtualNetworks/ps5321?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps7999\",\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7289/providers/Microsoft.Network/virtualNetworks/ps7999\",\r\n  \"etag\": \"W/\\\"3799ab9d-55be-4c28-95ce-24a5c0393ddc\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"57314fb4-a229-418d-977e-412ba6d9e615\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/8\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7289/providers/Microsoft.Network/virtualNetworks/ps7999?api-version=2020-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/8\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network/locations/westus.validation/operations/2e36fe52-ced2-48ad-986c-3f8f5dd479f6?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps7999\",\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7289/providers/Microsoft.Network/virtualNetworks/ps7999\",\r\n  \"etag\": \"W/\\\"631f0c9b-fe4e-4865-ad21-007bae718b14\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"57314fb4-a229-418d-977e-412ba6d9e615\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/8\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7978/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRWaXJ0dWFsTmV0d29ya0xpbms7NjM0ZGI5OWEtMDUwYi00MjQyLWEyNjAtZmJlZDM5NmUwYjNk?api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "497"
        ]
=======
          "a4fbef9b-3d2f-4249-b8ce-e104b7650f47"
        ],
        "x-ms-routing-request-id": [
          "WESTEUROPE:20200410T075646Z:a4fbef9b-3d2f-4249-b8ce-e104b7650f47"
        ],
        "Date": [
          "Fri, 10 Apr 2020 07:56:46 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "22"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7978/providers/Microsoft.Network/privateDnsZones/ps7277.pstest.test/virtualNetworkLinks/ps7178.testlink?api-version=2018-09-01",
=======
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7289/providers/Microsoft.Network/privateDnsZones/ps7342.pstest.test/virtualNetworkLinks/ps4939.testlink?api-ver[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7978/providers/Microsoft.Network/privateDnsZones/ps7277.pstest.test/virtualNetworkLinks/nonexistinglink?api-version=2018-09-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7289/providers/Microsoft.Network/privateDnsZones/ps7342.pstest.test/virtualNetworkLinks/ps4939.testlink\",\r\n  \"name\": \"ps4939.testlink\",\r\n  \"type\": \"Microsoft.Network/privateDnsZones/virtualNetworkLinks\",\r\n  \"etag\": \"\\\"5d00e631-0000-0100-0000-5e9026ba0000\\\"\",\r\n  \"location\": \"global\",\r\n  \"tags\": {\r\n    \"tag1\": \"value1\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"registrationEnabled\": false,\r\n    \"virtualNetwork\": {\r\n      \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7289/providers/Microsoft.Network/virtualNetworks/ps7999\"\r\n    },\r\n    \"virtualNetworkLinkState\": \"Completed\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzc5NzgtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzc5NzgtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11984"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
