{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/a200340d-6b82-494d-9dbf-687ba6e33f9e/resourceGroups/powershelltest/providers/Microsoft.ApiManagement/service/powershellsdkservice/apis?api-version=2019-01-01",
=======
      "RequestUri": "/subscriptions/a200340d-6b82-494d-9dbf-687ba6e33f9e/resourceGroups/powershelltest/providers/Microsoft.ApiManagement/service/powershellsdkservice/apis?api-version=2019-12-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "bd2c186c-57cd-412a-b95a-b7d71bce6e96"
=======
          "86c35db3-cc62-44bb-a391-caf26483c342"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.ApiManagement.ApiManagementClient/4.11.0.0"
=======
          "FxVersion/4.6.27817.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.ApiManagement.ApiManagementClient/5.0.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "5978502c-47d6-41bf-a06c-457bf9453cce"
=======
          "d505c2fe-bad4-4050-a43a-1ab41e07c581"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "8c0b1a5f-7cda-44f3-a431-8e278218fe80"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200114T212009Z:8c0b1a5f-7cda-44f3-a431-8e278218fe80"
=======
          "fdb6bc33-0e98-443d-8022-54bdfea8d23e"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200430T193612Z:fdb6bc33-0e98-443d-8022-54bdfea8d23e"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 14 Jan 2020 21:20:08 GMT"
        ],
        "Content-Length": [
          "690"
=======
          "Thu, 30 Apr 2020 19:36:12 GMT"
        ],
        "Content-Length": [
          "729"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/a200340d-6b82-494d-9dbf-687ba6e33f9e/resourceGroups/powershelltest/providers/Microsoft.ApiManagement/service/powershellsdkservice/apis/echo-api\",\r\n      \"type\": \"Microsoft.ApiManagement/service/apis\",\r\n      \"name\": \"echo-api\",\r\n      \"properties\": {\r\n        \"displayName\": \"Echo API\",\r\n        \"apiRevision\": \"1\",\r\n        \"description\": null,\r\n        \"serviceUrl\": \"http://echoapi.cloudapp.net/api\",\r\n        \"path\": \"echo\",\r\n        \"protocols\": [\r\n          \"https\"\r\n        ],\r\n        \"authenticationSettings\": null,\r\n        \"subscriptionKeyParameterNames\": null,\r\n        \"isCurrent\": true\r\n      }\r\n    }\r\n  ],\r\n  \"count\": 1\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a200340d-6b82-494d-9dbf-687ba6e33f9e/resourceGroups/powershelltest/providers/Microsoft.ApiManagement/service/powershellsdkservice/apis/echo-api?api-version=2019-01-01",
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/a200340d-6b82-494d-9dbf-687ba6e33f9e/resourceGroups/powershelltest/providers/Microsoft.ApiManagement/service/powershellsdkservice/apis/echo-api\",\r\n      \"type\": \"Microsoft.ApiManagement/service/apis\",\r\n      \"name\": \"echo-api\",\r\n      \"properties\": {\r\n        \"displayName\": \"Echo API\",\r\n        \"apiRevision\": \"1\",\r\n        \"description\": null,\r\n        \"subscriptionRequired\": true,\r\n        \"serviceUrl\": \"http://echoapi.cloudapp.net/api\",\r\n        \"path\": \"echo\",\r\n        \"protocols\": [\r\n          \"https\"\r\n        ],\r\n        \"authenticationSettings\": null,\r\n        \"subscriptionKeyParameterNames\": null,\r\n        \"isCurrent\": true\r\n      }\r\n    }\r\n  ],\r\n  \"count\": 1\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a200340d-6b82-494d-9dbf-687ba6e33f9e/resourceGroups/powershelltest/providers/Microsoft.ApiManagement/service/powershellsdkservice/apis/echo-api?api-version=2019-12-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "4eeabeb3-dae6-4e10-8c92-0091fdecd62c"
=======
          "b0d2cddc-cd90-4359-8a2e-2ce8a3cbdc00"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.ApiManagement.ApiManagementClient/4.11.0.0"
=======
          "FxVersion/4.6.27817.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.ApiManagement.ApiManagementClient/5.0.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "ETag": [
<<<<<<< HEAD
          "\"AAAAAAAAJdc=\""
=======
          "\"AAAAAAAACm8=\""
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "25eb26bc-96be-478c-b5d0-191f8c1100bf"
=======
          "5e35f1f7-f652-416d-8315-4ea7823baf47"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "305bae43-4482-4e13-93c6-16b9a66a60de"
        ],
        "x-ms-routing-request-id": [
          "WESTU[...]
    {
      "RequestUri": "/subscriptions/a200340d-6b82-494d-9dbf-687ba6e33f9e/resourceGroups/powershelltest/providers/Microsoft.ApiManagement/service/powershellsdkservice/apis?$filter=properties/displayName%20eq%20'Echo%20API'&api-version=2019-01-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a200340d-6b82-494d-9dbf-687ba6e33f9e/resourceGroups/powershelltest/providers/Microsoft.ApiManagement/service/powershellsdkservice/apis/echo-api\",\r\n  \"type\": \"Microsoft.ApiManagement/service/apis\",\r\n  \"name\": \"echo-api\",\r\n  \"properties\": {\r\n    \"displayName\": \"Echo API\",\r\n    \"apiRevision\": \"1\",\r\n    \"description\": null,\r\n    \"subscriptionRequired\": true,\r\n    \"serviceUrl\": \"http://echoapi.cloudapp.net/api\",\r\n    \"path\": \"echo\",\r\n    \"protocols\": [\r\n      \"https\"\r\n    ],\r\n    \"authenticationSettings\": {\r\n      \"oAuth2\": null,\r\n      \"openid\": null\r\n    },\r\n    \"subscriptionKeyParameterNames\": {\r\n      \"header\": \"Ocp-Apim-Subscription-Key\",\r\n      \"query\": \"subscription-key\"\r\n    },\r\n    \"isCurrent\": true\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a200340d-6b82-494d-9dbf-687ba6e33f9e/resourceGroups/powershelltest/providers/Microsoft.ApiManagement/service/powershellsdkservice/apis/ps7337?api-version=2019-01-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"description\": \"ps2166\",\r\n    \"subscriptionKeyParameterNames\": {\r\n      \"header\": \"ps9317\",\r\n      \"query\": \"ps7173\"\r\n    },\r\n    \"displayName\": \"ps9639\",\r\n    \"serviceUrl\": \[...]
[...]
    {
      "RequestUri": "/subscriptions/a200340d-6b82-494d-9dbf-687ba6e33f9e/resourceGroups/powershelltest/providers/Microsoft.ApiManagement/service/powershellsdkservice/apis/ps7578?api-version=2019-12-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"description\": \"ps1707\",\r\n    \"authenticationSettings\": {},\r\n    \"subscriptionKeyParameterNames\": {\r\n      \"header\": \"ps9189\",\r\n      \"query\": \"ps9899\"\r\n    },\r\n    \"apiRevision\": \"1\",\r\n    \"isCurrent\": true,\r\n    \"subscriptionRequired\": true,\r\n    \"displayName\": \"ps6201\",\r\n    \"serviceUrl\": \"http://newechoapi.cloudapp.net/newapinew\",\r\n    \"path\": \"ps9934\",\r\n    \"protocols\": [\r\n      \"https\"\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "If-Match": [
          "*"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.ApiManagement.ApiManagementClient/4.11.0.0"
=======
          "FxVersion/4.6.27817.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.ApiManagement.A[...]
[...]
    {
      "RequestUri": "/subscriptions/a200340d-6b82-494d-9dbf-687ba6e33f9e/resourceGroups/powershelltest/providers/Microsoft.ApiManagement/service/powershellsdkservice/products?api-version=2019-01-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a200340d-6b82-494d-9dbf-687ba6e33f9e/resourceGroups/powershelltest/providers/Microsoft.ApiManagement/service/powershellsdkservice/apis/ps7578\",\r\n  \"type\": \"Microsoft.ApiManagement/service/apis\",\r\n  \"name\": \"ps7578\",\r\n  \"properties\": {\r\n    \"displayName\": \"ps6201\",\r\n    \"apiRevision\": \"1\",\r\n    \"description\": \"ps1707\",\r\n    \"subscriptionRequired\": true,\r\n    \"serviceUrl\": \"http://newechoapi.cloudapp.net/newapinew\",\r\n    \"path\": \"ps9934\",\r\n    \"protocols\": [\r\n      \"https\"\r\n    ],\r\n    \"authenticationSettings\": {\r\n      \"oAuth2\": null,\r\n      \"openid\": null\r\n    },\r\n    \"subscriptionKeyParameterNames\": {\r\n      \"header\": \"ps9189\",\r\n      \"query\": \"ps9899\"\r\n    },\r\n    \"isCurrent\": true\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a200340d-6b82-494d-9dbf-687ba6e33f9e/resourceGroups/powershelltest/providers/Microsoft.ApiManagement/service/powershellsdkservice/products/starter/apis?api-version=2019-01-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a200340d-6b82-494d-9dbf-687ba6e33f9e/resourceGroups/powershelltest/providers/Microsoft.ApiManagement/service/powershellsdkservice/products/starter/apis/ps7578\",\r\n  \"type\": \"Microsoft.ApiManagement/service/products/apis\",\r\n  \"name\": \"ps7578\",\r\n  \"properties\": {\r\n    \"displayName\": \"ps6201\",\r\n    \"apiRevision\": \"1\",\r\n    \"description\": \"ps1707\",\r\n    \"subscriptionRequired\": true,\r\n    \"serviceUrl\": \"http://newechoapi.cloudapp.net/updateapi\",\r\n    \"path\": \"ps9934\",\r\n    \"protocols\": null,\r\n    \"authenticationSettings\": null,\r\n    \"subscriptionKeyParameterNames\": null,\r\n    \"isCurrent\": true\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/a200340d-6b82-494d-9dbf-687ba6e33f9e/resourceGroups/powershelltest/providers/Microsoft.ApiManagement/service/powershellsdkservice/products/starter/apis/ps7337?api-version=2019-01-01",
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/a200340d-6b82-494d-9dbf-687ba6e33f9e/resourceGroups/powershelltest/providers/Microsoft.ApiManagement/service/powershellsdkservice/products/starter/apis/echo-api\",\r\n      \"type\": \"Microsoft.ApiManagement/service/products/apis\",\r\n      \"name\": \"echo-api\",\r\n      \"properties\": {\r\n        \"displayName\": \"Echo API\",\r\n        \"apiRevision\": \"1\",\r\n        \"description\": null,\r\n        \"subscriptionRequired\": true,\r\n        \"serviceUrl\": \"http://echoapi.cloudapp.net/api\",\r\n        \"path\": \"echo\",\r\n        \"protocols\": [\r\n          \"https\"\r\n        ],\r\n        \"authenticationSettings\": null,\r\n        \"subscriptionKeyParameterNames\": null,\r\n        \"isCurrent\": true\r\n      }\r\n    }\r\n  ],\r\n  \"count\": 1\r\n}",
      "StatusCode": 200
    },
[...]
