{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/a200340d-6b82-494d-9dbf-687ba6e33f9e/resourceGroups/powershelltest/providers/Microsoft.ApiManagement/service/powershellsdkservice/tenant/access?api-version=2019-01-01",
=======
      "RequestUri": "/subscriptions/a200340d-6b82-494d-9dbf-687ba6e33f9e/resourceGroups/powershelltest/providers/Microsoft.ApiManagement/service/powershellsdkservice/tenant/access?api-version=2019-12-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "e82cb4bb-52ec-4ca1-b0b7-3705fef66572"
=======
          "9ee73e9b-5113-4fac-a769-9bfd8d64b0be"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.ApiManagement.ApiManagementClient/4.11.0.0"
=======
          "FxVersion/4.6.27817.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.ApiManagement.ApiManagementClient/5.0.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "ETag": [
<<<<<<< HEAD
          "\"AAAAAAAAFaMAAAAAAAAAAA==\""
=======
          "\"AAAAAAAACHcAAAAAAAAAAA==\""
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "84f8e53a-a9df-4dd6-b4c8-6ee1ef746c7f"
=======
          "2d0c06ed-eebf-4bd2-93df-6e9730384721"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11999"
        ],
        "x-ms-correlation-request-id": [
          "e5fb4095-e19c-40d2-a369-d50f8aa90354"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190930T215715Z:e5fb4095-e19c-40d2-a369-d50f8aa90354"
=======
          "11987"
        ],
        "x-ms-correlation-request-id": [
          "ecc3e602-3ab1-4f28-9e18-9a42ecf471f3"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200430T193409Z:ecc3e602-3ab1-4f28-9e18-9a42ecf471f3"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 30 Sep 2019 21:57:15 GMT"
        ],
        "Content-Length": [
          "246"
=======
          "Thu, 30 Apr 2020 19:34:08 GMT"
        ],
        "Content-Length": [
          "74"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      //[SuppressMessage("Microsoft.Security", "CS002:SecretInNextLine", Justification="Test passwords only valid for the duration of the test")]
      "ResponseBody": "{\r\n  \"id\": \"integration\",\r\n  \"primaryKey\": \"px8oHNI+IbcNYtFtsb2bsdM0hy8F/4CwHmofmyADIEGN8Mgx96w3pP8aiIgsxIHejhvwYZnaW4L2J/4fCTUwaQ==\",\r\n  \"secondaryKey\": \"8WIlMP85tsJNwT3yl0ZEgd7Ht+4hThjba63HjqLPKx09TmADUHljdDN9uIuh/wWPDGs30zkQLPe1XsI2xa9LQg==\",\r\n  \"enabled\": false\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a200340d-6b82-494d-9dbf-687ba6e33f9e/resourceGroups/powershelltest/providers/Microsoft.ApiManagement/service/powershellsdkservice/tenant/access?api-version=2019-12-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"enabled\": true\r\n  }\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "e8dc6ea8-3004-4004-a345-cb36fd6ed239"
=======
          "c160f4e1-858a-4e2f-9562-80753f89259c"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "If-Match": [
          "*"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.ApiManagement.ApiManagementClient/4.11.0.0"
=======
          "FxVersion/4.6.27817.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.ApiManagement.A[...]
