{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/Global3311?api-version=2019-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 65000,\r\n    \"peerContactInfo\": {\r\n      \"emails\": [\r\n        \"noc@ps1992.com\",\r\n        \"noc@Global3311.com\"\r\n      ],\r\n      \"phone\": [\r\n        \"ps5123\"\r\n      ]\r\n    },\r\n    \"peerName\": \"ps1992\"\r\n  }\r\n}",
      "RequestHeaders": {
=======
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/Global1549?api-version=2020-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 41806,\r\n    \"peerContactDetail\": [\r\n      {\r\n        \"role\": \"Noc\",\r\n        \"email\": \"Noc@ps7129.com\",\r\n        \"phone\": \"+1(888)-889-8088\"\r\n      },\r\n      {\r\n        \"role\": \"Policy\",\r\n        \"email\": \"Policy@ps7129.com\",\r\n        \"phone\": \"+1(888)-889-8088\"\r\n      }\r\n    ],\r\n    \"peerName\": \"ps7129\"\r\n  }\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Peering.PeeringManagementClient/0.12.0.0"
=======
          "FxVersion/4.6.28619.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Peering.PeeringManagementClient/2.0.0.1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "242"
=======
          "350"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "7bb7dcb7-4e86-4dfb-9ae5-384e278920da"
=======
          "a63a3f98-07cc-4898-8512-e39081521f51"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "59"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "64a80754-1a59-4ab5-a419-2b97f92e4998"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20191007T185122Z:64a80754-1a59-4ab5-a419-2b97f92e4998"
=======
          "56bb4537-14d7-4696-b410-db0c253e02b8"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20200421T015425Z:56bb4537-14d7-4696-b410-db0c253e02b8"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 07 Oct 2019 18:51:22 GMT"
        ],
        "Content-Length": [
          "452"
=======
          "Tue, 21 Apr 2020 01:54:24 GMT"
        ],
        "Content-Length": [
          "563"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 65000,\r\n    \"peerContactInfo\": {\r\n      \"emails\": [\r\n        \"noc@ps1992.com\",\r\n        \"noc@Global3311.com\"\r\n      ],\r\n      \"phone\": [\r\n        \"ps5123\"\r\n      ]\r\n    },\r\n    \"peerName\": \"ps1992\",\r\n    \"validationState\": \"None\"\r\n  },\r\n  \"name\": \"Global3311\",\r\n  \"id\": \"/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/Global3311\",\r\n  \"type\": \"Microsoft.Peering/peerAsns\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/Global3311?api-version=2019-09-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 41806,\r\n    \"peerContactDetail\": [\r\n      {\r\n        \"role\": \"Noc\",\r\n        \"email\": \"Noc@ps7129.com\",\r\n        \"phone\": \"+1(888)-889-8088\"\r\n      },\r\n      {\r\n        \"role\": \"Policy\",\r\n        \"email\": \"Policy@ps7129.com\",\r\n        \"phone\": \"+1(888)-889-8088\"\r\n      }\r\n    ],\r\n    \"peerName\": \"ps7129\",\r\n    \"validationState\": \"Pending\"\r\n  },\r\n  \"name\": \"Global1549\",\r\n  \"id\": \"/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/Global1549\",\r\n  \"type\": \"Microsoft.Peering/peerAsns\"\r\n}",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-GetPeerAsn": [
<<<<<<< HEAD
      "Global3311",
      "ps1992",
      "ps5123"
=======
      "Global1549",
      "ps7129"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
    ]
  },
  "Variables": {
    "SubscriptionId": "3e919f9a-4e26-4736-aa8d-d596d9a49239"
  }
}