{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/Global4030?api-version=2019-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 65000,\r\n    \"peerContactInfo\": {\r\n      \"emails\": [\r\n        \"noc@ps8831.com\",\r\n        \"noc@Global4030.com\"\r\n      ],\r\n      \"phone\": [\r\n        \"ps1704\"\r\n      ]\r\n    },\r\n    \"peerName\": \"ps8831\"\r\n  }\r\n}",
      "RequestHeaders": {
=======
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/Global5177?api-version=2020-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 38109,\r\n    \"peerContactDetail\": [\r\n      {\r\n        \"role\": \"Noc\",\r\n        \"email\": \"Noc@ps1674.com\",\r\n        \"phone\": \"+1(888)-889-8088\"\r\n      },\r\n      {\r\n        \"role\": \"Policy\",\r\n        \"email\": \"Policy@ps1674.com\",\r\n        \"phone\": \"+1(888)-889-8088\"\r\n      }\r\n    ],\r\n    \"peerName\": \"ps1674\"\r\n  }\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Peering.PeeringManagementClient/0.12.0.0"
=======
          "FxVersion/4.6.28619.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Peering.PeeringManagementClient/2.0.0.1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "242"
=======
          "350"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "66c069fb-d39d-48b6-ad79-0daa9e59503e"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "55"
        ],
        "x-ms-correlation-request-id": [
          "6349aea0-8953-43d3-94cb-a3982569f393"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20191007T185128Z:6349aea0-8953-43d3-94cb-a3982569f393"
=======
          "5550d2cb-187d-4d1e-a87e-3741bf278b10"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "57"
        ],
        "x-ms-correlation-request-id": [
          "8f852208-a9d7-4034-ade2-266910bd6f57"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20200421T015431Z:8f852208-a9d7-4034-ade2-266910bd6f57"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 07 Oct 2019 18:51:27 GMT"
        ],
        "Content-Length": [
          "452"
=======
          "Tue, 21 Apr 2020 01:54:30 GMT"
        ],
        "Content-Length": [
          "563"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 65000,\r\n    \"peerContactInfo\": {\r\n      \"emails\": [\r\n        \"noc@ps8831.com\",\r\n        \"noc@Global4030.com\"\r\n      ],\r\n      \"phone\": [\r\n        \"ps1704\"\r\n      ]\r\n    },\r\n    \"peerName\": \"ps8831\",\r\n    \"validationState\": \"None\"\r\n  },\r\n  \"name\": \"Global4030\",\r\n  \"id\": \"/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/Global4030\",\r\n  \"type\": \"Microsoft.Peering/peerAsns\"\r\n}",
      "StatusCode": 201
    },
[...]
