{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/65000-Global907?api-version=2019-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 65000,\r\n    \"peerContactInfo\": {\r\n      \"emails\": [\r\n        \"noc@AS65000-Global808.com\",\r\n        \"noc@65000-Global907.com\"\r\n      ],\r\n      \"phone\": [\r\n        \"23424324338816\"\r\n      ]\r\n    },\r\n    \"peerName\": \"AS65000-Global808\"\r\n  }\r\n}",
      "RequestHeaders": {
=======
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/33043-Global4375?api-version=2020-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 33043,\r\n    \"peerContactDetail\": [\r\n      {\r\n        \"role\": \"Noc\",\r\n        \"email\": \"Noc@AS33043-Global7219.com\",\r\n        \"phone\": \"+1(888)-889-8088\"\r\n      },\r\n      {\r\n        \"role\": \"Policy\",\r\n        \"email\": \"Policy@AS33043-Global7219.com\",\r\n        \"phone\": \"+1(888)-889-8088\"\r\n      }\r\n    ],\r\n    \"peerName\": \"AS33043-Global7219\"\r\n  }\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Peering.PeeringManagementClient/0.12.0.0"
=======
          "FxVersion/4.6.28619.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Peering.PeeringManagementClient/2.0.0.1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "277"
=======
          "386"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "a704e48c-5e2a-4ab0-8239-09e666a381fd"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "57"
        ],
        "x-ms-correlation-request-id": [
          "bc0573f9-7c76-4424-8a8a-9cc5a6946704"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20191007T185143Z:bc0573f9-7c76-4424-8a8a-9cc5a6946704"
=======
          "1643d674-9cca-45bd-83c3-0de4bfcb80ad"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "59"
        ],
        "x-ms-correlation-request-id": [
          "d4049b24-a4d2-4936-b551-ad8504accb2d"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20200421T015450Z:d4049b24-a4d2-4936-b551-ad8504accb2d"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 07 Oct 2019 18:51:43 GMT"
        ],
        "Content-Length": [
          "497"
=======
          "Tue, 21 Apr 2020 01:54:50 GMT"
        ],
        "Content-Length": [
          "611"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 65000,\r\n    \"peerContactInfo\": {\r\n      \"emails\": [\r\n        \"noc@AS65000-Global808.com\",\r\n        \"noc@65000-Global907.com\"\r\n      ],\r\n      \"phone\": [\r\n        \"23424324338816\"\r\n      ]\r\n    },\r\n    \"peerName\": \"AS65000-Global808\",\r\n    \"validationState\": \"None\"\r\n  },\r\n  \"name\": \"65000-Global907\",\r\n  \"id\": \"/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/65000-Global907\",\r\n  \"type\": \"Microsoft.Peering/peerAsns\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns?api-version=2020-01-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "b1c0d87f-69bb-47cc-970a-d9f9da2c345d"
=======
          "ce1d7825-0a2e-48a6-ab5f-462e439dd9df"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en[...]
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/65002-Global6415?api-version=2019-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 65002,\r\n    \"peerContactInfo\": {\r\n      \"emails\": [\r\n        \"noc@AS65002-Global2950.com\",\r\n        \"noc@65002-Global6415.com\"\r\n      ],\r\n      \"phone\": [\r\n        \"23424324336527\"\r\n      ]\r\n    },\r\n    \"peerName\": \"AS65002-Global2950\"\r\n  }\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"peerAsn\": 2545,\r\n        \"peerContactDetail\": [\r\n          {\r\n            \"role\": \"Noc\",\r\n            \"email\": \"Noc@AS2545-Global1529.com\",\r\n            \"phone\": \"+1(888)-889-8088\"\r\n          },\r\n          {\r\n            \"role\": \"Policy\",\r\n            \"email\": \"Policy@AS2545-Global1529.com\",\r\n            \"phone\": \"+1(888)-889-8088\"\r\n          }\r\n        ],\r\n        \"peerName\": \"AS2545-Glob[...]
[...]
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/2545-Global5415?api-version=2020-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.W[...]
[...]
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/19260-Global7408?api-version=2020-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14973"
        ]
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 07 Oct 2019 18:52:01 GMT"
=======
          "Tue, 21 Apr 2020 01:55:13 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-ListPeerAsn": [
<<<<<<< HEAD
      "65000-Global907",
      "AS65000-Global808",
      "23424324338816",
      "65001-Global7019",
      "AS65001-Global1584",
      "23424324335787",
      "65002-Global6415",
      "AS65002-Global2950",
      "23424324336527"
=======
      "33043-Global4375",
      "AS33043-Global7219",
      "59690-Global2639",
      "AS59690-Global4394",
      "19260-Global7408",
      "AS19260-Global9601"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
    ]
  },
  "Variables": {
    "SubscriptionId": "3e919f9a-4e26-4736-aa8d-d596d9a49239"
  }
}