{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/65000-Global1207?api-version=2019-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 65000,\r\n    \"peerContactInfo\": {\r\n      \"emails\": [\r\n        \"noc@AS65000-Global8391.com\",\r\n        \"noc@65000-Global1207.com\"\r\n      ],\r\n      \"phone\": [\r\n        \"23424324332235\"\r\n      ]\r\n    },\r\n    \"peerName\": \"AS65000-Global8391\"\r\n  }\r\n}",
      "RequestHeaders": {
=======
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/9982-Global8634?api-version=2020-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 9982,\r\n    \"peerContactDetail\": [\r\n      {\r\n        \"role\": \"Noc\",\r\n        \"email\": \"Noc@AS9982-Global3101.com\",\r\n        \"phone\": \"+1(888)-889-8088\"\r\n      },\r\n      {\r\n        \"role\": \"Policy\",\r\n        \"email\": \"Policy@AS9982-Global3101.com\",\r\n        \"phone\": \"+1(888)-889-8088\"\r\n      }\r\n    ],\r\n    \"peerName\": \"AS9982-Global3101\"\r\n  }\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Peering.PeeringManagementClient/0.12.0.0"
=======
          "FxVersion/4.6.28619.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Peering.PeeringManagementClient/2.0.0.1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "280"
=======
          "382"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "fb0987ec-64a7-49dc-8f24-f3e44acdc646"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "53"
        ],
        "x-ms-correlation-request-id": [
          "b8dda38e-4089-4032-9807-dc66cf0522eb"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20191007T185134Z:b8dda38e-4089-4032-9807-dc66cf0522eb"
=======
          "bb4884cf-46ef-48ae-9b59-4caa2dd0ea86"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "57"
        ],
        "x-ms-correlation-request-id": [
          "9d695af6-61f7-485e-b925-ef620b9f2845"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20200421T015439Z:9d695af6-61f7-485e-b925-ef620b9f2845"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 07 Oct 2019 18:51:33 GMT"
        ],
        "Content-Length": [
          "502"
=======
          "Tue, 21 Apr 2020 01:54:38 GMT"
        ],
        "Content-Length": [
          "605"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 65000,\r\n    \"peerContactInfo\": {\r\n      \"emails\": [\r\n        \"noc@AS65000-Global8391.com\",\r\n        \"noc@65000-Global1207.com\"\r\n      ],\r\n      \"phone\": [\r\n        \"23424324332235\"\r\n      ]\r\n    },\r\n    \"peerName\": \"AS65000-Global8391\",\r\n    \"validationState\": \"None\"\r\n  },\r\n  \"name\": \"65000-Global1207\",\r\n  \"id\": \"/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/65000-Global1207\",\r\n  \"type\": \"Microsoft.Peering/peerAsns\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/9982-Global8634?api-version=2020-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 9982,\r\n    \"peerContactDetail\": [\r\n      {\r\n        \"role\": \"Noc\",\r\n        \"email\": \"Noc@AS9982-Global3101.com\",\r\n        \"phone\": \"+1(888)-889-8088\"\r\n      },\r\n      {\r\n        \"role\": \"Policy\",\r\n    [...]
[...]
