{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/65000-Global5392?api-version=2019-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 65000,\r\n    \"peerContactInfo\": {\r\n      \"emails\": [\r\n        \"noc@AS65000-Global305.com\",\r\n        \"noc@65000-Global5392.com\"\r\n      ],\r\n      \"phone\": [\r\n        \"23424324338601\"\r\n      ]\r\n    },\r\n    \"peerName\": \"AS65000-Global305\"\r\n  }\r\n}",
      "RequestHeaders": {
=======
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/19487-Global2450?api-version=2020-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 19487,\r\n    \"peerContactDetail\": [\r\n      {\r\n        \"role\": \"Noc\",\r\n        \"email\": \"Noc@AS19487-Global8305.com\",\r\n        \"phone\": \"+1(888)-889-8088\"\r\n      },\r\n      {\r\n        \"role\": \"Policy\",\r\n        \"email\": \"Policy@AS19487-Global8305.com\",\r\n        \"phone\": \"+1(888)-889-8088\"\r\n      }\r\n    ],\r\n    \"peerName\": \"AS19487-Global8305\"\r\n  }\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Peering.PeeringManagementClient/0.12.0.0"
=======
          "FxVersion/4.6.28619.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Peering.PeeringManagementClient/2.0.0.1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "278"
=======
          "386"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "b6d9ff42-5fcb-4fe3-acc2-dc3b465b8032"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "55"
        ],
        "x-ms-correlation-request-id": [
          "d8d377d8-f571-4cb2-8a60-f2b200866717"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20191007T185207Z:d8d377d8-f571-4cb2-8a60-f2b200866717"
=======
          "4cd3faa5-dc98-42fa-8045-1758b2ea377e"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "59"
        ],
        "x-ms-correlation-request-id": [
          "af14b9f4-d890-4e44-bb92-8cb14238c5c4"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20200421T015521Z:af14b9f4-d890-4e44-bb92-8cb14238c5c4"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 07 Oct 2019 18:52:06 GMT"
        ],
        "Content-Length": [
          "500"
=======
          "Tue, 21 Apr 2020 01:55:21 GMT"
        ],
        "Content-Length": [
          "611"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 65000,\r\n    \"peerContactInfo\": {\r\n      \"emails\": [\r\n        \"noc@AS65000-Global305.com\",\r\n        \"noc@65000-Global5392.com\"\r\n      ],\r\n      \"phone\": [\r\n        \"23424324338601\"\r\n      ]\r\n    },\r\n    \"peerName\": \"AS65000-Global305\",\r\n    \"validationState\": \"None\"\r\n  },\r\n  \"name\": \"65000-Global5392\",\r\n  \"id\": \"/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/65000-Global5392\",\r\n  \"type\": \"Microsoft.Peering/peerAsns\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns?api-version=2019-09-01-preview",
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 19487,\r\n    \"peerContactDetail\": [\r\n      {\r\n        \"role\": \"Noc\",\r\n        \"email\": \"Noc@AS19487-Global8305.com\",\r\n        \"phone\": \"+1(888)-889-8088\"\r\n      },\r\n      {\r\n        \"role\": \"Policy\",\r\n        \"email\": \"Policy@AS19487-Global8305.com\",\r\n        \"phone\": \"+1(888)-889-8088\"\r\n      }\r\n    ],\r\n    \"peerName\": \"AS19487-Global8305\",\r\n    \"validationState\": \"Approved\"\r\n  },\r\n  \"name\": \"19487-Global2450\",\r\n  \"id\": \"/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/19487-Global2450\",\r\n  \"type\": \"Microsoft.Peering/peerAsns\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/65000-Global5392?api-version=2019-09-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ]
      },
      "ResponseBody": "",
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"peerAsn\": 19487,\r\n        \"peerContactDetail\": [\r\n          {\r\n            \"role\": \"Noc\",\r\n            \"email\": \"ps5298@19487-Global2450.com\",\r\n            \"phone\": \"+1(888)-889-8088\"\r\n          },\r\n          {\r\n            \"role\": \"Policy\",\r\n            \"email\": \"Policy@AS19487-Global8305.com\",\r\n            \"phone\": \"+1(888)-889-8088\"\r\n          }\r\n        ],\r\n        \"peerName\": \"AS19487-Global8305\",\r\n        \"validationState\": \"Approved\"\r\n      },\r\n      \"name\": \"19487-Global2450\",\r\n      \"id\": \"/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/19487-Global2450\",\r\n      \"type\": \"Microsoft.Peering/peerAsns\"\r\n    }\r\n  ]\r\n}",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-SetPeerAsn": [
<<<<<<< HEAD
      "65000-Global5392",
      "AS65000-Global305",
      "23424324338601",
      "ps1048"
=======
      "19487-Global2450",
      "AS19487-Global8305",
      "ps5298"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
    ]
  },
  "Variables": {
    "SubscriptionId": "3e919f9a-4e26-4736-aa8d-d596d9a49239"
  }
}