{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourcegroups/dc-cmdlet-test-rgps4050?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourcegroups/dc-cmdlet-test-rgps5232?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "2b17bc02-8e24-45ce-89f3-77088bf787e1"
=======
          "808ea6f2-ccab-4c6e-a137-d8b74ce9d942"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.1.17"
=======
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.9"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "37"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
<<<<<<< HEAD
          "3b988549-171c-4546-b99f-11b08b551cd6"
        ],
        "x-ms-correlation-request-id": [
          "3b988549-171c-4546-b99f-11b08b551cd6"
        ],
        "x-ms-routing-request-id": [
          "UKWEST:20190305T171543Z:3b988549-171c-4546-b99f-11b08b551cd6"
=======
          "60b90bcb-3195-4c8e-bcc1-e00d63fcbe7a"
        ],
        "x-ms-correlation-request-id": [
          "60b90bcb-3195-4c8e-bcc1-e00d63fcbe7a"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH:20200317T164315Z:60b90bcb-3195-4c8e-bcc1-e00d63fcbe7a"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 05 Mar 2019 17:15:43 GMT"
=======
          "Tue, 17 Mar 2020 16:43:15 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "206"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps4050\",\r\n  \"name\": \"dc-cmdlet-test-rgps4050\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps4050/providers/Microsoft.Sql/servers/dc-cmdlet-serverps4050?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5232\",\r\n  \"name\": \"dc-cmdlet-test-rgps5232\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5232/providers/Microsoft.Sql/servers/dc-cmdlet-serverps5232?api-version=2019-06-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "50a9b961-7f96-48f1-9516-eea4709a116e"
=======
          "fcd97ce9-5be0-4414-bcc6-500832de06e3"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.28.0.0"
=======
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.41.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "e799501b-abce-4b73-9bdd-645555e33580"
        ],
        "x-ms-correlation-request-id": [
          "e799501b-abce-4b73-9bdd-645555e33580"
        ],
        "x-ms-routing-request-id": [
          "UKWEST:20190305T171543Z:e799501b-abce-4b73-9bdd-645555e33580"
=======
          "27a03e4a-1ea3-4331-8d14-b85212d27bb0"
        ],
        "x-ms-correlation-request-id": [
          "27a03e4a-1ea3-4331-8d14-b85212d27bb0"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH:20200317T164316Z:27a03e4a-1ea3-4331-8d14-b85212d27bb0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 05 Mar 2019 17:15:43 GMT"
=======
          "Tue, 17 Mar 2020 16:43:15 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "171"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/dc-cmdlet-serverps4050' under resource group 'dc-cmdlet-test-rgps4050' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5232/providers/Microsoft.Sql/servers/dc-cmdlet-serverps5232?api-version=2019-06-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.28.0.0"
=======
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.41.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "ec3a7276-362f-4f04-bdd3-c7e87fcab6ca"
=======
          "bce26d30-4fe9-4bb5-83b3-d4c2a5bed240"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-correlation-request-id": [
          "f15b77ab-6a7a-4c59-8f37-9184a91de425"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH:20200317T164408Z:f15b77ab-6a7a-4c59-8f37-9184a91de425"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
          "Tue, 17 Mar 2020 16:44:08 GMT"
        ],
        "Content-Length": [
          "477"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testlogin\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"dc-cmdlet-serverps5232.database.windows.net\",\r\n    \"privateEndpointConnections\": [],\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5232/providers/Microsoft.Sql/servers/dc-cmdlet-serverps5232\",\r\n  \"name\": \"dc-cmdlet-serverps5232\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5232/providers/Microsoft.Sql/servers/dc-cmdlet-serverps5232?api-version=2019-06-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testlogin\",\r\n    \"administratorLoginPassword\": \"testp@ssMakingIt1007Longer\",\r\n    \"version\": \"12.0\"\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "57860ceb-092e-469f-8bb4-7153d95e08fa"
=======
          "61b7331d-6e1d-4926-9fb4-b5775520e836"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.28.0.0"
=======
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.41.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "190"
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps4050/providers/Microsoft.Sql/locations/westcentralus/serverOperationResults/194b42dc-d104-4eb3-9427-087f060964ca?api-version=2015-05-01-preview"
=======
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5232/providers/Microsoft.Sql/locations/westcentralus/serverOperationResults/9ff3a20e-6717-4598-a7c3-5fcafd6eb01e?api-version=2019-06-01-preview"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps4050/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/194b42dc-d104-4eb3-9427-087f060964ca?api-version=2015-05-01-preview"
        ],
        "x-ms-request-id": [
          "194b42dc-d104-4eb3-9427-087f060964ca"
=======
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5232/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/9ff3a20e-6717-4598-a7c3-5fcafd6eb01e?api-version=2019-06-01-preview"
        ],
        "x-ms-request-id": [
          "9ff3a20e-6717-4598-a7c3-5fcafd6eb01e"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps4050/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/194b42dc-d104-4eb3-9427-087f060964ca?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2020-03-17T16:43:23.137Z\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps4050/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/194b42dc-d104-4eb3-9427-087f060964ca?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"9ff3a20e-6717-4598-a7c3-5fcafd6eb01e\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-03-17T16:43:23.137Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps4050/providers/Microsoft.Sql/servers/dc-cmdlet-serverps4050/firewallRules/dcRule?api-version=2014-04-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"9ff3a20e-6717-4598-a7c3-5fcafd6eb01e\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-03-17T16:43:23.137Z\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5232/providers/Microsoft.Sql/servers/dc-cmdlet-serverps5232/firewallRules/dcRule?api-version=2014-04-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "5c1fa09c-bf05-4618-90b5-a4b5f6e0a712"
=======
          "48190b9d-ffea-4bcd-821a-02242a764f08"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11998"
        ],
        "x-ms-correlation-request-id": [
          "5821fc28-1572-4057-ad5a-6c1889b234fd"
        ],
        "x-ms-routing-request-id": [
          "UKWEST:20190305T171633Z:5821fc28-1572-4057-ad5a-6c1889b234fd"
        ],
        "Date": [
          "Tue, 05 Mar 2019 17:16:33 GMT"
=======
          "11971"
        ],
        "x-ms-correlation-request-id": [
          "3f03e10b-ddc2-4fb1-a9b7-0677a0dc30d6"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH:20200317T164409Z:3f03e10b-ddc2-4fb1-a9b7-0677a0dc30d6"
        ],
        "Date": [
          "Tue, 17 Mar 2020 16:44:09 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "136"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"NotFound\",\r\n  \"message\": \"Resource not found for the segment 'firewallRules'.\",\r\n  \"target\": null,\r\n  \"details\": [],\r\n  \"innererror\": []\r\n}",
      "StatusCode": 404
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps4050/providers/Microsoft.Sql/servers/dc-cmdlet-serverps4050/firewallRules/dcRule?api-version=2014-04-01",
=======
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5232/providers/Microsoft.Sql/servers/dc-cmdlet-serverps5232/firewallRules/dcRule?api-version=2014-04-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"startIpAddress\": \"0.0.0.0\",\r\n    \"endIpAddress\": \"255.255.255.255\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "69c7a27b-9ed1-4b18-9723-14108fcbbf1e"
=======
          "ae3fdeb7-6bb1-47de-9287-405e2fe82655"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Preference-Applied": [
          "return-content"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1198"
        ],
        "x-ms-correlation-request-id": [
          "876ee938-e63e-4301-bbb1-3af0aeb86ce3"
        ],
        "x-ms-routing-request-id": [[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps4050/providers/Microsoft.Sql/servers/dc-cmdlet-serverps4050/databases/dc-cmdlet-dbps4050?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5232/providers/Microsoft.Sql/servers/dc-cmdlet-serverps5232/firewallRules/dcRule\",\r\n  \"name\": \"dcRule\",\r\n  \"type\": \"Microsoft.Sql/servers/firewallRules\",\r\n  \"location\": \"West Central US\",\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"startIpAddress\": \"0.0.0.0\",\r\n    \"endIpAddress\": \"255.255.255.255\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5232/providers/Microsoft.Sql/servers/dc-cmdlet-serverps5232/securityAlertPolicies/Default?api-version=2017-03-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "e83a0883-49b2-49ca-b091-a41a7eeaed61"
=======
          "4de27fdc-e822-4d19-bef9-f62d427d2d2f"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.28.0.0"
=======
          "FxVersion/4.6.28325.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.41.0.0"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11990"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"state\": \"Disabled\",\r\n    \"disabledAlerts\": [\r\n      \"\"\r\n    ],\r\n    \"emailAddresses\": [\r\n      \"\"\r\n    ],\r\n    \"emailAccountAdmins\": false,\r\n    \"storageEndpoint\": \"\",\r\n    \"storageAccountAccessKey\": \"\",\r\n    \"retentionDays\": 0,\r\n    \"creationTime\": \"0001-01-01T00:00:00Z\"\r\n  },\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5232/providers/Microsoft.Sql/servers/dc-cmdlet-serverps5232/securityAlertPolicies/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/servers/securityAlertPolicies\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/providers/Microsoft.Sql/locations/westcentralus/securityAlertPoliciesAzureAsyncOperation/fbe3d137-0b32-4a39-9906-ee8893631895?api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11988"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"fbe3d137-0b32-4a39-9906-ee8893631895\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-03-17T16:44:12.003Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps4050/providers/Microsoft.Sql/servers/dc-cmdlet-serverps4050/databases/dc-cmdlet-dbps4050?api-version=2017-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"maxSizeBytes\": 0,\r\n    \"readScale\": \"Disabled\"\r\n  },\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"GP_Gen5\",\r\n    \"tier\": \"GeneralPurpose\",\r\n    \"family\": \"Gen5\",\r\n    \"capacity\": 2\r\n  },\r\n  \"kind\": \"v12.0,user,vcore\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 34359738368,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"f974798e-4564-4272-bbb9-e392361be3f6\",\r\n    \"creationDate\": \"2020-03-17T16:45:09.43Z\",\r\n    \"currentServiceObjectiveName\": \"GP_Gen5_2\",\r\n    \"requestedServiceObjectiveName\": \"GP_Gen5_2\",\r\n    \"defaultSecondaryLocation\": \"westus2\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false,\r\n    \"licenseType\": \"LicenseIncluded\",\r\n    \"maxLogSizeBytes\": 10307502080,\r\n    \"earliestRestoreDate\": \"2020-03-17T17:15:09.43Z\",\r\n    \"readScale\": \"Disabled\",\r\n    \"readReplicaCount\": 0,\r\n    \"currentSku\": {\r\n      \"name\": \"GP_Gen5\",\r\n      \"tier\": \"GeneralPurpose\",\r\n      \"family\": \"Gen5\",\r\n      \"capacity\": 2\r\n    }\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5232/providers/Microsoft.Sql/servers/dc-cmdlet-serverps5232/databases/dc-cmdlet-dbps5232\",\r\n  \"name\": \"dc-cmdlet-dbps5232\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps4050/providers/Microsoft.Sql/locations/westcentralus/databaseAzureAsyncOperation/77ca2ef5-2343-4483-bcb2-e010338dd361?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"CreateLogicalDatabase\",\r\n  \"startTime\": \"2020-03-17T16:44:19.55Z\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps4050/providers/Microsoft.Sql/servers/dc-cmdlet-serverps4050/databases/dc-cmdlet-dbps4050/recommendedSensitivityLabels?api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"name\": \"099acd3b-6e17-4fdb-a5fe-bdcf92ade3f6\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-03-17T16:44:19.55Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps4050/providers/Microsoft.Sql/servers/dc-cmdlet-serverps4050/databases/dc-cmdlet-dbps4050/schemas/dbo/tables/Persons/columns/Address/sensitivityLabels/current?api-version=2017-03-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"099acd3b-6e17-4fdb-a5fe-bdcf92ade3f6\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-03-17T16:44:19.55Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps4050/providers/Microsoft.Sql/servers/dc-cmdlet-serverps4050/databases/dc-cmdlet-dbps4050/schemas/dbo/tables/Persons/columns/Address/sensitivityLabels/current?api-version=2017-03-01-preview",
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"labelName\": \"Confidential - GDPR\",\r\n        \"labelId\": \"bf91e08c-f4f0-478a-b016-25164b2a65ff\",\r\n        \"informationType\": \"Name\",\r\n        \"informationTypeId\": \"57845286-7598-22f5-9659-15b24aeb125e\",\r\n        \"isDisabled\": false,\r\n        \"rank\": \"Medium\"\r\n      },\r\n      \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5232/providers/Microsoft.Sql/servers/dc-cmdlet-serverps5232/databases/dc-cmdlet-dbps5232/schemas/dbo/tables/Persons/columns/LastName/sensitivityLabels/recommended\",\r\n      \"name\": \"recommended\",\r\n      \"type\": \"Microsoft.Sql/servers/databases/sensitivityLabels\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"labelName\": \"Confidential - GDPR\",[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5232/providers/Microsoft.Sql/servers/dc-cmdlet-serverps5232/databases/dc-cmdlet-dbps5232/schemas/dbo/tables/Persons/columns/LastName/sensitivityLabels/current?api-version=2017-03-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "af4f67da-1f00-4e8b-abe1-b49a64e68fae"
===[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1EQzoyRENNRExFVDoyRFRFU1Q6MkRSR1BTNDA1MC1XRVNUQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
=======
          "Tue, 17 Mar 2020 16:45:25 GMT"
        ],
        "Content-Length": [
          "114"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"SensitivityLabelsLabelNotFound\",\r\n    \"message\": \"The specified sensitivity label could not be found\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
