{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourcegroups/dc-cmdlet-test-rgps2043?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourcegroups/dc-cmdlet-test-rgps4346?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "187f6bbc-5d82-4777-8314-162746cf5bb0"
=======
          "404b3d7f-957c-458d-a57f-cbf838e95c71"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.2"
=======
          "FxVersion/4.6.27817.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.11"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "37"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
<<<<<<< HEAD
          "d1e7eff1-e731-48c0-b24d-a104a329d3d8"
        ],
        "x-ms-correlation-request-id": [
          "d1e7eff1-e731-48c0-b24d-a104a329d3d8"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190918T082551Z:d1e7eff1-e731-48c0-b24d-a104a329d3d8"
=======
          "07f070d5-244b-402b-9a67-30d374a5f185"
        ],
        "x-ms-correlation-request-id": [
          "07f070d5-244b-402b-9a67-30d374a5f185"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH:20200419T161855Z:07f070d5-244b-402b-9a67-30d374a5f185"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 18 Sep 2019 08:25:50 GMT"
=======
          "Sun, 19 Apr 2020 16:18:54 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "206"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps2043\",\r\n  \"name\": \"dc-cmdlet-test-rgps2043\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps2043/providers/Microsoft.Sql/servers/dc-cmdlet-serverps2043?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/dc-cmdlet-test-rgps4346\",\r\n  \"name\": \"dc-cmdlet-test-rgps4346\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/dc-cmdlet-test-rgps4346/providers/Microsoft.Sql/servers/dc-cmdlet-serverps4346?api-version=2019-06-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "8247d62a-f8f1-4d2e-b095-2f240797c370"
=======
          "5da147cc-e84b-4bc5-a539-bcdfb33f080d"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.33.0.0"
=======
          "FxVersion/4.6.27817.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.41.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "9cf82575-c884-4cb1-a480-e0e89662cb6c"
        ],
        "x-ms-correlation-request-id": [
          "9cf82575-c884-4cb1-a480-e0e89662cb6c"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190918T082552Z:9cf82575-c884-4cb1-a480-e0e89662cb6c"
=======
          "5ba8c3ba-004b-4d13-a2d1-d7923ed965f5"
        ],
        "x-ms-correlation-request-id": [
          "5ba8c3ba-004b-4d13-a2d1-d7923ed965f5"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH:20200419T161855Z:5ba8c3ba-004b-4d13-a2d1-d7923ed965f5"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 18 Sep 2019 08:25:51 GMT"
=======
          "Sun, 19 Apr 2020 16:18:55 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "171"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/dc-cmdlet-serverps2043' under resource group 'dc-cmdlet-test-rgps2043' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/dc-cmdlet-test-rgps4346/providers/Microsoft.Sql/servers/dc-cmdlet-serverps4346?api-version=2019-06-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.33.0.0"
=======
          "FxVersion/4.6.27817.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.41.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "438662c0-5f45-4369-b4cc-49813d191930"
=======
          "b5a07250-ade4-4b11-b8c3-406909559488"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "c7b7e6b5-a5c8-40fb-99c7-519a8b90de60"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190918T082640Z:c7b7e6b5-a5c8-40fb-99c7-519a8b90de60"
=======
          "68d01150-9de8-43dc-8cd0-7445795632de"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH:20200419T161946Z:68d01150-9de8-43dc-8cd0-7445795632de"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 18 Sep 2019 08:26:39 GMT"
        ],
        "Content-Length": [
          "413"
=======
          "Sun, 19 Apr 2020 16:19:46 GMT"
        ],
        "Content-Length": [
          "477"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testlogin\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"dc-cmdlet-serverps2043.database.windows.net\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps2043/providers/Microsoft.Sql/servers/dc-cmdlet-serverps2043\",\r\n  \"name\": \"dc-cmdlet-serverps2043\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps2043/providers/Microsoft.Sql/servers/dc-cmdlet-serverps2043?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testlogin\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"dc-cmdlet-serverps4346.database.windows.net\",\r\n    \"privateEndpointConnections\": [],\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/dc-cmdlet-test-rgps4346/providers/Microsoft.Sql/servers/dc-cmdlet-serverps4346\",\r\n  \"name\": \"dc-cmdlet-serverps4346\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/dc-cmdlet-test-rgps4346/providers/Microsoft.Sql/servers/dc-cmdlet-serverps4346?api-version=2019-06-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testlogin\",\r\n    \"administratorLoginPassword\": \"testp@ssMakingIt1007Longer\",\r\n    \"version\": \"12.0\"\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "7a1fe4b1-6c4b-4543-a776-b25d4df6555c"
=======
          "55220910-9e4b-4aa0-96bd-a59be899f236"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.33.0.0"
=======
          "FxVersion/4.6.27817.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.41.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "190"
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps2043/providers/Microsoft.Sql/locations/westcentralus/serverOperationResults/645d218a-84c4-4c4e-bde5-1ac1a33d5445?api-version=2015-05-01-preview"
=======
          "https://management.azure.com/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/dc-cmdlet-test-rgps4346/providers/Microsoft.Sql/locations/westcentralus/serverOperationResults/fa338a31-f677-4710-9e8d-a471f7dee594?api-version=2019-06-01-preview"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps2043/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/645d218a-84c4-4c4e-bde5-1ac1a33d5445?api-version=2015-05-01-preview"
        ],
        "x-ms-request-id": [
          "645d218a-84c4-4c4e-bde5-1ac1a33d5445"
=======
          "https://management.azure.com/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/dc-cmdlet-test-rgps4346/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/fa338a31-f677-4710-9e8d-a471f7dee594?api-version=2019-06-01-preview"
        ],
        "x-ms-request-id": [
          "fa338a31-f677-4710-9e8d-a471f7dee594"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps2043/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/645d218a-84c4-4c4e-bde5-1ac1a33d5445?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2020-04-19T16:19:00.517Z\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps2043/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/645d218a-84c4-4c4e-bde5-1ac1a33d5445?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"fa338a31-f677-4710-9e8d-a471f7dee594\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-04-19T16:19:00.517Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps2043/providers/Microsoft.Sql/servers/dc-cmdlet-serverps2043/firewallRules/dcRule?api-version=2014-04-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"fa338a31-f677-4710-9e8d-a471f7dee594\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-04-19T16:19:00.517Z\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/dc-cmdlet-test-rgps4346/providers/Microsoft.Sql/servers/dc-cmdlet-serverps4346/firewallRules/dcRule?api-version=2014-04-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "693318f4-803e-4519-9aea-532b51c6f09c"
=======
          "c9c181ba-90b1-4978-ac25-5cbcb535d69e"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "822a3723-8157-4baa-a776-d84d837a2f27"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190918T082641Z:822a3723-8157-4baa-a776-d84d837a2f27"
        ],
        "Date": [
          "Wed, 18 Sep 2019 08:26:40 GMT"
=======
          "95ab6a47-5464-42d8-bc7d-da64debb09d0"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH:20200419T161947Z:95ab6a47-5464-42d8-bc7d-da64debb09d0"
        ],
        "Date": [
          "Sun, 19 Apr 2020 16:19:46 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "136"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"NotFound\",\r\n  \"message\": \"Resource not found for the segment 'firewallRules'.\",\r\n  \"target\": null,\r\n  \"details\": [],\r\n  \"innererror\": []\r\n}",
      "StatusCode": 404
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps2043/providers/Microsoft.Sql/servers/dc-cmdlet-serverps2043/firewallRules/dcRule?api-version=2014-04-01",
=======
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/dc-cmdlet-test-rgps4346/providers/Microsoft.Sql/servers/dc-cmdlet-serverps4346/firewallRules/dcRule?api-version=2014-04-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"startIpAddress\": \"0.0.0.0\",\r\n    \"endIpAddress\": \"255.255.255.255\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "c5e5a699-31a6-4510-9b27-51f411e82bb8"
=======
          "3ce2005a-3d73-4fac-9815-62a672881f59"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Preference-Applied": [
          "return-content"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "cedcda86-63cb-46ea-932d-ceef3710a0b9"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190918T082643Z:cedcda86-63cb-46ea-932d-ceef3710a0b9"
        ],
        "Date": [
          "Wed, 18 Sep 2019 08:26:42 GMT"
        ],
        "Content-Length": [
          "355"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps2043/providers/Microsoft.Sql/servers/dc-cmdlet-serverps2043/firewallRules/dcRule\",\r\n  \"name\": \"dcRule\",\r\n  \"type\": \"Microsoft.Sql/servers/firewallRules\",\r\n  \"location\": \"West Central US\",\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"startIpAddress\": \"0.0.0.0\",\r\n    \"endIpAddress\": \"255.255.255.255\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps2043/providers/Microsoft.Sql/servers/dc-cmdlet-serverps2043/databases/dc-cmdlet-dbps2043?api-version=2017-10-01-preview",
=======
          "942a0c71-2985-4894-9242-259adca01f74"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH:20200419T161948Z:942a0c71-2985-4894-9242-259adca01f74"
        ],
        "Date": [
          "Sun, 19 Apr 2020 16:19:47 GMT"
        ],
        "Content-Length": [
          "355"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/dc-cmdlet-test-rgps4346/providers/Microsoft.Sql/servers/dc-cmdlet-serverps4346/firewallRules/dcRule\",\r\n  \"name\": \"dcRule\",\r\n  \"type\": \"Microsoft.Sql/servers/firewallRules\",\r\n  \"location\": \"West Central US\",\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"startIpAddress\": \"0.0.0.0\",\r\n    \"endIpAddress\": \"255.255.255.255\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/dc-cmdlet-test-rgps4346/providers/Microsoft.Sql/servers/dc-cmdlet-serverps4346/securityAlertPolicies/Default?api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11990"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"state\": \"Disabled\",\r\n    \"disabledAlerts\": [\r\n      \"\"\r\n    ],\r\n    \"emailAddresses\": [\r\n      \"\"\r\n    ],\r\n    \"emailAccountAdmins\": false,\r\n    \"storageEndpoint\": \"\",\r\n    \"storageAccountAccessKey\": \"\",\r\n    \"retentionDays\": 0,\r\n    \"creationTime\": \"0001-01-01T00:00:00Z\"\r\n  },\r\n  \"id\": \"/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/dc-cmdlet-test-rgps4346/providers/Microsoft.Sql/servers/dc-cmdlet-serverps4346/securityAlertPolicies/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/servers/securityAlertPolicies\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/providers/Microsoft.Sql/locations/westcentralus/securityAlertPoliciesAzureAsyncOperation/28f22333-1710-4ecb-a3e4-09035201e614?api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11988"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"28f22333-1710-4ecb-a3e4-09035201e614\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-04-19T16:19:49.41Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps2043/providers/Microsoft.Sql/servers/dc-cmdlet-serverps2043/databases/dc-cmdlet-dbps2043?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"GP_Gen5\",\r\n    \"tier\": \"GeneralPurpose\",\r\n    \"family\": \"Gen5\",\r\n    \"capacity\": 2\r\n  },\r\n  \"kind\": \"v12.0,user,vcore\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 34359738368,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"260c5736-4689-45cc-9373-2bbb4d091182\",\r\n    \"creationDate\": \"2020-04-19T16:20:36.763Z\",\r\n    \"currentServiceObjectiveName\": \"GP_Gen5_2\",\r\n    \"requestedServiceObjectiveName\": \"GP_Gen5_2\",\r\n    \"defaultSecondaryLocation\": \"westus2\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false,\r\n    \"licenseType\": \"LicenseIncluded\",\r\n    \"maxLogSizeBytes\": 10307502080,\r\n    \"earliestRestoreDate\": \"2020-04-19T16:50:36.763Z\",\r\n    \"readScale\": \"Disabled\",\r\n    \"readReplicaCount\": 0,\r\n    \"currentSku\": {\r\n      \"name\": \"GP_Gen5\",\r\n      \"tier\": \"GeneralPurpose\",\r\n      \"family\": \"Gen5\",\r\n      \"capacity\": 2\r\n    }\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/dc-cmdlet-test-rgps4346/providers/Microsoft.Sql/servers/dc-cmdlet-serverps4346/databases/dc-cmdlet-dbps4346\",\r\n  \"name\": \"dc-cmdlet-dbps4346\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps2043/providers/Microsoft.Sql/locations/westcentralus/databaseAzureAsyncOperation/d8a143ee-6921-4221-a9f4-7d754b84024a?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"CreateLogicalDatabase\",\r\n  \"startTime\": \"2020-04-19T16:19:56.55Z\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps2043/providers/Microsoft.Sql/servers/dc-cmdlet-serverps2043/databases/dc-cmdlet-dbps2043/recommendedSensitivityLabels?api-version=2017-03-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"8879f1a5-2d3d-4af1-95a4-8bad4703e4e7\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-04-19T16:19:56.55Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps2043/providers/Microsoft.Sql/servers/dc-cmdlet-serverps2043/databases/dc-cmdlet-dbps2043/recommendedSensitivityLabels?api-version=2017-03-01-preview",
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"labelName\": \"Confidential - GDPR\",\r\n        \"labelId\": \"bf91e08c-f4f0-478a-b016-25164b2a65ff\",\r\n        \"informationType\": \"Name\",\r\n        \"informationTypeId\": \"57845286-7598-22f5-9659-15b24aeb125e\",\r\n        \"isDisabled\": false,\r\n        \"rank\": \"Medium\"\r\n      },\r\n      \"id\": \"/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/dc-cmdlet-test-rgps4346/providers/Microsoft.Sql/servers/dc-cmdlet-serverps4346/databases/dc-cmdlet-dbps4346/schemas/dbo/tables/Persons/columns/LastName/sensitivityLabels/recommended\",\r\n      \"name\": \"recommended\",\r\n      \"type\": \"Microsoft.Sql/servers/databases/sensitivityLabels\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"labelName\": \"Confidential - GDPR\",[...]
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps2043/providers/Microsoft.Sql/servers/dc-cmdlet-serverps2043/databases/dc-cmdlet-dbps2043/schemas/dbo/tables/Persons/columns/LastName/sensitivityLabels/recommended/disable?api-version=2017-03-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"labelName\": \"Confidential - GDPR\",\r\n        \"labelId\": \"bf91e08c-f4f0-478a-b016-25164b2a65ff\",\r\n        \"informationType\": \"Name\",\r\n        \"informationTypeId\": \"57845286-7598-22f5-9659-15b24aeb125e\",\r\n        \"isDisabled\": false,\r\n        \"rank\": \"Medium\"\r\n      },\r\n      \"id\": \"/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/dc-cmdlet-test-rgps4346/providers/Microsoft.Sql/servers/dc-cmdlet-serverps4346/databases/dc-cmdlet-dbps4346/schemas/dbo/tables/Persons/columns/FirstName/sensitivityLabels/recommended\",\r\n      \"name\": \"recommended\",\r\n      \"type\": \"Microsoft.Sql/servers/databases/sensitivityLabels\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/resourceGroups/dc-cmdlet-test-rgps4346/providers/Microsoft.Sql/servers/dc-cmdlet-serverps4346/databases/dc-cmdlet-dbps4346/recommendedSensitivityLabels?api-version=2017-03-01-preview",
      "RequestMethod": "Patch",
      "RequestBody": "{\r\n  \"operations\": [\r\n    {\r\n      \"properties\": {\r\n        \"op\": \"disable\",\r\n        \"schema\": \"dbo\",\r\n        \"table\": \"Persons\",\r\n        \"column\": \"LastName\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "b6bc666e-7d5b-48ac-9230-e4b72f8f7f34"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
=======
          "e4bd9916-a5c4-4092-93d8-9fd2156df3d9"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce213[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps2043/providers/Microsoft.Sql/servers/dc-cmdlet-serverps2043/databases/dc-cmdlet-dbps2043/schemas/dbo/tables/Persons/columns/City/sensitivityLabels/recommended/disable?api-version=2017-03-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
=======
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/857355f0-57d5-4754-b91a-0393dbff9afc/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1EQzoyRENNRExFVDoyRFRFU1Q6MkRSR1BTNDM0Ni1XRVNUQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "x-ms-request-id": [
          "19[...]
[...]
