{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourcegroups/sql-td-cmdlet-test-rgps229?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourcegroups/sql-td-cmdlet-test-rgps436?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "85f19794-b4db-4795-bcb2-c699c8e5bdef"
=======
          "85705735-3226-42d2-a6f0-34ad91c5dedb"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.26628.05",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17134.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.1.11"
=======
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.2"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "37"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
<<<<<<< HEAD
          "637bdf2c-b7ff-422e-baab-e07a383c8f20"
        ],
        "x-ms-correlation-request-id": [
          "637bdf2c-b7ff-422e-baab-e07a383c8f20"
        ],
        "x-ms-routing-request-id": [
          "SOUTHCENTRALUS:20181221T031448Z:637bdf2c-b7ff-422e-baab-e07a383c8f20"
=======
          "b8fdd7b5-3e41-43de-a683-399afc35c1ee"
        ],
        "x-ms-correlation-request-id": [
          "b8fdd7b5-3e41-43de-a683-399afc35c1ee"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20200106T141042Z:b8fdd7b5-3e41-43de-a683-399afc35c1ee"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 21 Dec 2018 03:14:47 GMT"
=======
          "Mon, 06 Jan 2020 14:10:42 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "212"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/sql-td-cmdlet-test-rgps229\",\r\n  \"name\": \"sql-td-cmdlet-test-rgps229\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/sql-td-cmdlet-test-rgps229/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps229?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps436\",\r\n  \"name\": \"sql-td-cmdlet-test-rgps436\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps436/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps436?api-version=2015-05-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "578e8c67-fedf-417f-a4d5-d216c0715f6c"
=======
          "4b5aa5a2-e50c-4b44-b974-296f5034c9f3"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.26628.05",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17134.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.22.0.0"
=======
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.33.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "eac15d7b-d80c-4ced-93f1-d4a16d3f8839"
        ],
        "x-ms-correlation-request-id": [
          "eac15d7b-d80c-4ced-93f1-d4a16d3f8839"
        ],
        "x-ms-routing-request-id": [
          "SOUTHCENTRALUS:20181221T031448Z:eac15d7b-d80c-4ced-93f1-d4a16d3f8839"
=======
          "faa65689-9f3b-4b0e-85c1-45dca66d4570"
        ],
        "x-ms-correlation-request-id": [
          "faa65689-9f3b-4b0e-85c1-45dca66d4570"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20200106T141043Z:faa65689-9f3b-4b0e-85c1-45dca66d4570"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 21 Dec 2018 03:14:47 GMT"
=======
          "Mon, 06 Jan 2020 14:10:42 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "177"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/sql-td-cmdlet-serverps229' under resource group 'sql-td-cmdlet-test-rgps229' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps436/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps436?api-version=2015-05-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.26628.05",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17134.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.22.0.0"
=======
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.33.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "d4f8334b-7968-4bf6-a104-be0886d9e266"
=======
          "30035cf9-99d6-4ab5-bb8e-3f98d69dfa21"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11990"
        ],
        "x-ms-correlation-request-id": [
          "e1655d66-8309-4134-a6e0-01621e5d33b9"
        ],
        "x-ms-routing-request-id": [
          "SOUTHCENTRALUS:20181221T031535Z:e1655d66-8309-4134-a6e0-01621e5d33b9"
=======
          "11992"
        ],
        "x-ms-correlation-request-id": [
          "25e589d3-8427-4871-a6d7-4dbaec23c49e"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20200106T141132Z:25e589d3-8427-4871-a6d7-4dbaec23c49e"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 21 Dec 2018 03:15:35 GMT"
=======
          "Mon, 06 Jan 2020 14:11:32 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "428"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"sql-td-cmdlet-serverps229.database.windows.net\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/sql-td-cmdlet-test-rgps229/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps229\",\r\n  \"name\": \"sql-td-cmdlet-serverps229\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps436/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps436?api-version=2015-05-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"t357ingP@s5w0rd!Sec\",\r\n    \"version\": \"12.0\"\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "e92e917c-5567-48de-ae42-4276800020de"
=======
          "36a9f2c2-c185-48bd-a5ac-d9b4024c335c"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.26628.05",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17134.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.22.0.0"
=======
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.33.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "186"
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/sql-td-cmdlet-test-rgps229/providers/Microsoft.Sql/locations/westcentralus/serverOperationResults/76f03d75-b219-4e4f-bdd8-1487caf679bf?api-version=2015-05-01-preview"
=======
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps436/providers/Microsoft.Sql/locations/westcentralus/serverOperationResults/be4ea622-b17d-49fe-8042-1eed08c42e1f?api-version=2015-05-01-preview"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/sql-td-cmdlet-test-rgps229/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/76f03d75-b219-4e4f-bdd8-1487caf679bf?api-version=2015-05-01-preview"
        ],
        "x-ms-request-id": [
          "76f03d75-b219-4e4f-bdd8-1487caf679bf"
=======
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps436/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/be4ea622-b17d-49fe-8042-1eed08c42e1f?api-version=2015-05-01-preview"
        ],
        "x-ms-request-id": [
          "be4ea622-b17d-49fe-8042-1eed08c42e1f"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server[...]
    {
      "RequestUri": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/sql-td-cmdlet-test-rgps229/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/76f03d75-b219-4e4f-bdd8-1487caf679bf?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2020-01-06T14:10:47.037Z\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/sql-td-cmdlet-test-rgps229/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/76f03d75-b219-4e4f-bdd8-1487caf679bf?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"be4ea622-b17d-49fe-8042-1eed08c42e1f\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-01-06T14:10:47.037Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/sql-td-cmdlet-test-rgps229/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps229/databases/sql-td-cmdlet-dbps229?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"be4ea622-b17d-49fe-8042-1eed08c42e1f\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-01-06T14:10:47.037Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/sql-td-cmdlet-test-rgps229/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps229/databases/sql-td-cmdlet-dbps229?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Basic\",\r\n    \"capacity\": 5\r\n  },\r\n  \"kind\": \"v12.0,user\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 2147483648,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"6e625100-5cfa-444a-9c56-1a547a6fc287\",\r\n    \"creationDate\": \"2020-01-06T14:12:10.273Z\",\r\n    \"currentServiceObjectiveName\": \"Basic\",\r\n    \"requestedServiceObjectiveName\": \"Basic\",\r\n    \"defaultSecondaryLocation\": \"westus2\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false,\r\n    \"earliestRestoreDate\": \"2020-01-06T14:42:10.273Z\",\r\n    \"readScale\": \"Disabled\",\r\n    \"readReplicaCount\": 0,\r\n    \"currentSku\": {\r\n      \"name\": \"Basic\",\r\n      \"tier\": \"Basic\",\r\n      \"capacity\": 5\r\n    }\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps436/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps436/databases/sql-td-cmdlet-dbps436\",\r\n  \"name\": \"sql-td-cmdlet-dbps436\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/sql-td-cmdlet-test-rgps229/providers/Microsoft.Sql/locations/westcentralus/databaseAzureAsyncOperation/62f4c40a-8f46-4f19-bb0f-3ce84622d367?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"CreateLogicalDatabase\",\r\n  \"startTime\": \"2020-01-06T14:11:35.73Z\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/sql-td-cmdlet-test-rgps229/providers/Microsoft.Storage/storageAccounts/tdcmdletsps229?api-version=2018-03-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"2b07af07-133c-4fd0-a363-d7fc0dd51128\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-01-06T14:11:35.73Z\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps436/providers/Microsoft.Storage/storageAccounts/tdcmdletsps436?api-version=2017-10-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\"\r\n  },\r\n  \"kind\": \"Storage\",\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "5f97e075-0[...]
    {
      "RequestUri": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/sql-td-cmdlet-test-rgps229/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps229/databases/sql-td-cmdlet-dbps229/securityAlertPolicies/Default?api-version=2014-04-01",
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"Storage\",\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps436/providers/Microsoft.Storage/storageAccounts/tdcmdletsps436\",\r\n  \"name\": \"tdcmdletsps436\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"virtualNetworkRules\": [],\r\n      \"ipRules\": [],\r\n      \"defaultAction\": \"Allow\"\r\n    },\r\n    \"supportsHttpsTrafficOnly\": false,\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"file\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2020-01-06T14:12:28.3204049Z\"\r\n        },\r\n        \"blob\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2020-01-06T14:12:28.3204049Z\"\r\n        }\r\n      },\r\n      \"keySource\": \"Microsoft.Storage\"\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"creationTime\": \"2020-01-06T14:12:28.2579104Z\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://tdcmdletsps436.blob.core.windows.net/\",\r\n      \"queue\": \"https://tdcmdletsps436.queue.core.windows.net/\",\r\n      \"table\": \"https://tdcmdletsps436.table.core.windows.net/\",\r\n      \"file\": \"https://tdcmdletsps436.file.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"westcentralus\",\r\n    \"statusOfPrimary\": \"available\",\r\n    \"secondaryLocation\": \"westus2\",\r\n    \"statusOfSecondary\": \"available\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps436/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps436/databases/sql-td-cmdlet-dbps436/securityAlertPolicies/Default?api-version=2014-04-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "0926d4bd-cb44-4335-9c8b-cbe5d874ecb2"
=======
          "d625d81a-4f90-4325-8b98-c24d9804ba8c"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11999"
        ],
        "x-ms-correlation-request-id": [
          "f424173c-e3ce-414c-a293-74cfa8043633"
        ],
        "x-ms-routing-request-id": [
          "SOUTHCENTRALUS:20181221T031726Z:f424173c-e3ce-414c-a293-74[...]
    {
      "RequestUri": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/sql-td-cmdlet-test-rgps229/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps229/databases/sql-td-cmdlet-dbps229/securityAlertPolicies/Default?api-version=2014-04-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps436/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps436/databases/sql-td-cmdlet-dbps436/securityAlertPolicies/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/servers/databases/securityAlertPolicies\",\r\n  \"location\": \"West Central US\",\r\n  \"kind\": null,\r\n  \"properties\": {\r\n    \"useServerDefault\": \"Disabled\",\r\n    \"state\": \"Disabled\",\r\n    \"disabledAlerts\": \"\",\r\n    \"emailAddresses\": \"\",\r\n    \"emailAccountAdmins\": \"Disabled\",\r\n    \"storageEndpoint\": \"\",\r\n    \"storageAccountAccessKey\": \"\",\r\n    \"retentionDays\": 0\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/sql-td-cmdlet-test-rgps229/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps229/databases/sql-td-cmdlet-dbps229/securityAlertPolicies/Default?api-version=2014-04-01",
=======
          "no-cache"
        ],
        "Pragma": [
          "no-cache"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUw6MkRURDoyRENNRExFVDoyRFRFU1Q6MkRSR1BTNDM2LVdFU1RDRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6Indlc3RjZW50cmFsdXMifQ?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ],
        "x-ms-request-id": [
          "11af7059-14f4-4226-9e30-9f8043a032f2"
        ],
        "x-ms-correlation-request-id": [
          "11af7059-14f4-4226-9e30-9f8043a032f2"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20200106T141303Z:11af7059-14f4-4226-9e30-9f8043a032f2"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
          "Mon, 06 Jan 2020 14:13:02 GMT"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUw6MkRURDoyRENNRExFVDoyRFRFU1Q6MkRSR1BTNDM2LVdFU1RDRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6Indlc3RjZW50cmFsdXMifQ?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "Microsoft.Azure.Management.Sql.LegacySdk.SqlManagementClient/1.0.0.0"
[...]
[...]
