{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourcegroups/sql-td-cmdlet-test-rgps161?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourcegroups/sql-td-cmdlet-test-rgps1522?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "268fe8b7-dca9-4832-9bc7-24f722e2a6c7"
=======
          "c7f599f7-9008-4667-bc00-7f845f51c8e9"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
=======
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.2"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "37"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
<<<<<<< HEAD
          "e7c21dec-4207-4d9c-8eca-f387fb358124"
        ],
        "x-ms-correlation-request-id": [
          "e7c21dec-4207-4d9c-8eca-f387fb358124"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190910T120918Z:e7c21dec-4207-4d9c-8eca-f387fb358124"
=======
          "89a640bb-84a5-444c-91fd-ff4535000944"
        ],
        "x-ms-correlation-request-id": [
          "89a640bb-84a5-444c-91fd-ff4535000944"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20200106T141957Z:89a640bb-84a5-444c-91fd-ff4535000944"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 10 Sep 2019 12:09:17 GMT"
        ],
        "Content-Length": [
          "212"
=======
          "Mon, 06 Jan 2020 14:19:56 GMT"
        ],
        "Content-Length": [
          "214"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps161\",\r\n  \"name\": \"sql-td-cmdlet-test-rgps161\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps161/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps161?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps1522\",\r\n  \"name\": \"sql-td-cmdlet-test-rgps1522\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps1522/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps1522?api-version=2015-05-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "c33940b1-b297-42f9-9687-4321e3916357"
=======
          "b6cde70f-0d16-4264-b3b3-a4769111503c"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
=======
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.33.0.0"
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "8ba40bdd-2c55-4a9b-9245-5c85905c84cc"
        ],
        "x-ms-correlation-request-id": [
          "8ba40bdd-2c55-4a9b-9245-5c85905c84cc"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190910T120919Z:8ba40bdd-2c55-4a9b-9245-5c85905c84cc"
=======
          "1afae17c-9a36-405f-aa41-ef53e136ec8e"
        ],
        "x-ms-correlation-request-id": [
          "1afae17c-9a36-405f-aa41-ef53e136ec8e"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20200106T141958Z:1afae17c-9a36-405f-aa41-ef53e136ec8e"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 10 Sep 2019 12:09:19 GMT"
=======
          "Mon, 06 Jan 2020 14:19:58 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "177"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/sql-td-cmdlet-serverps161' under resource group 'sql-td-cmdlet-test-rgps161' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps1522/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps1522?api-version=2015-05-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
=======
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.33.0.0"
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "df534e4d-823f-4207-8f2a-22a4459ff590"
=======
          "8d59e531-73b0-4ac4-8ab3-15252a0cf506"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11977"
        ],
        "x-ms-correlation-request-id": [
          "789d61dd-ae19-4108-95d9-389b4e80713a"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190910T121007Z:789d61dd-ae19-4108-95d9-389b4e80713a"
=======
          "11971"
        ],
        "x-ms-correlation-request-id": [
          "f7e790ff-4197-4d0d-8cf4-0f192e50203c"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20200106T142050Z:f7e790ff-4197-4d0d-8cf4-0f192e50203c"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 10 Sep 2019 12:10:07 GMT"
        ],
        "Content-Length": [
          "428"
=======
          "Mon, 06 Jan 2020 14:20:49 GMT"
        ],
        "Content-Length": [
          "432"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"sql-td-cmdlet-serverps161.database.windows.net\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps161/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps161\",\r\n  \"name\": \"sql-td-cmdlet-serverps161\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps1522/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps1522?api-version=2015-05-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"t357ingP@s5w0rd!Sec\",\r\n    \"version\": \"12.0\"\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "087fe9e9-2a4e-4372-8540-8dd6c3210c49"
=======
          "d6de839d-4951-40c2-b92a-675433e7130a"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
=======
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.33.0.0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "186"
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps161/providers/Microsoft.Sql/locations/westcentralus/serverOperationResults/9732dc7c-4bf7-4bc9-b687-a1c529824790?api-version=2015-05-01-preview"
=======
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps1522/providers/Microsoft.Sql/locations/westcentralus/serverOperationResults/827f405e-169d-438c-a15c-6e3288e3110b?api-version=2015-05-01-preview"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps161/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/9732dc7c-4bf7-4bc9-b687-a1c529824790?api-version=2015-05-01-preview"
        ],
        "x-ms-request-id": [
          "9732dc7c-4bf7-4bc9-b687-a1c529824790"
=======
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps1522/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/827f405e-169d-438c-a15c-6e3288e3110b?api-version=2015-05-01-preview"
        ],
        "x-ms-request-id": [
          "827f405e-169d-438c-a15c-6e3288e3110b"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Serve[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps161/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/9732dc7c-4bf7-4bc9-b687-a1c529824790?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2020-01-06T14:20:02.813Z\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps161/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/9732dc7c-4bf7-4bc9-b687-a1c529824790?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"827f405e-169d-438c-a15c-6e3288e3110b\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-01-06T14:20:02.813Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps161/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps161/databases/sql-td-cmdlet-dbps161?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"827f405e-169d-438c-a15c-6e3288e3110b\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-01-06T14:20:02.813Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps161/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps161/databases/sql-td-cmdlet-dbps161?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Basic\",\r\n    \"capacity\": 5\r\n  },\r\n  \"kind\": \"v12.0,user\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 2147483648,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"48a53a17-e69f-45d4-9709-083b88f55477\",\r\n    \"creationDate\": \"2020-01-06T14:21:31.623Z\",\r\n    \"currentServiceObjectiveName\": \"Basic\",\r\n    \"requestedServiceObjectiveName\": \"Basic\",\r\n    \"defaultSecondaryLocation\": \"westus2\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false,\r\n    \"earliestRestoreDate\": \"2020-01-06T14:51:31.623Z\",\r\n    \"readScale\": \"Disabled\",\r\n    \"readReplicaCount\": 0,\r\n    \"currentSku\": {\r\n      \"name\": \"Basic\",\r\n      \"tier\": \"Basic\",\r\n      \"capacity\": 5\r\n    }\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps1522/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps1522/databases/sql-td-cmdlet-dbps1522\",\r\n  \"name\": \"sql-td-cmdlet-dbps1522\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps161/providers/Microsoft.Sql/locations/westcentralus/databaseAzureAsyncOperation/3d5a2fa7-b03c-425a-b294-3a383505a8e5?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"CreateLogicalDatabase\",\r\n  \"startTime\": \"2020-01-06T14:20:52.81Z\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps161/providers/Microsoft.Storage/storageAccounts/tdcmdletsps161?api-version=2017-10-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"1cb58b5d-a639-4ad0-8526-c1a2d12d7c68\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-01-06T14:20:52.81Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps161/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps161/securityAlertPolicies/Default?api-version=2017-03-01-preview",
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"Storage\",\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps1522/providers/Microsoft.Storage/storageAccounts/tdcmdletsps1522\",\r\n  \"name\": \"tdcmdletsps1522\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"virtualNetworkRules\": [],\r\n      \"ipRules\": [],\r\n      \"defaultAction\": \"Allow\"\r\n    },\r\n    \"supportsHttpsTrafficOnly\": false,\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"file\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2020-01-06T14:21:42.8594841Z\"\r\n        },\r\n        \"blob\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2020-01-06T14:21:42.8594841Z\"\r\n        }\r\n      },\r\n      \"keySource\": \"Microsoft.Storage\"\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"creationTime\": \"2020-01-06T14:21:42.8125902Z\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://tdcmdletsps1522.blob.core.windows.net/\",\r\n      \"queue\": \"https://tdcmdletsps1522.queue.core.windows.net/\",\r\n      \"table\": \"https://tdcmdletsps1522.table.core.windows.net/\",\r\n      \"file\": \"https://tdcmdletsps1522.file.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"westcentralus\",\r\n    \"statusOfPrimary\": \"available\",\r\n    \"secondaryLocation\": \"westus2\",\r\n    \"statusOfSecondary\": \"available\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps161/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps161/securityAlertPolicies/Default?api-version=2017-03-01-preview",
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"state\": \"Disabled\",\r\n    \"disabledAlerts\": [\r\n      \"\"\r\n    ],\r\n    \"emailAddresses\": [\r\n      \"\"\r\n    ],\r\n    \"emailAccountAdmins\": false,\r\n    \"storageEndpoint\": \"\",\r\n    \"storageAccountAccessKey\": \"\",\r\n    \"retentionDays\": 0,\r\n    \"creationTime\": \"0001-01-01T00:00:00Z\"\r\n  },\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps1522/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps1522/securityAlertPolicies/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/servers/securityAlertPolicies\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/providers/Microsoft.Sql/locations/westcentralus/securityAlertPoliciesAzureAsyncOperation/e576dd1c-e3ec-48bc-b4de-4c9f96af3acd?api-version=2017-03-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"UpsertServerThreatDetectionPolicy\",\r\n  \"startTime\": \"2020-01-06T14:22:34.813Z\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resources?$filter=resourceType%20eq%20'Microsoft.ClassicStorage%2FstorageAccounts'&api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "20162108-52d7-446c-a83d-62e9603b21ff"
=======
          "b5000bb5-5671-46c5-a369-b1d46786c90c"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
      [...]
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resources?$filter=resourceType%20eq%20'Microsoft.Storage%2FstorageAccounts'&api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "cfcd504a-8cdd-4e99-bd0b-130ca05a1f71"
=======
          "11b40b4b-a791-4cb8-a1a0-2e0f2dfd3cd6"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
  [...]
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps161/providers/Microsoft.ClassicStorage/storageAccounts/tdcmdletsps161/listKeys?api-version=2014-06-01",
=======
          "18301"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/__elasticdatabasejob/providers/Microsoft.Storage/storageAccounts/sqlvatt5b62evq2c3s\",\r\n      \"name\": \"sqlvatt5b62evq2c3s\",\r\n      \"type\": \"Microsoft.Storage/storageAccounts\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_LRS\",\r\n        \"tier\": \"Standard\"\r\n      },\r\n      \"kind\": \"Storage\",\r\n      \"location\": \"southcentralus\",\r\n      \"tags\": {}\r\n    },\r\[...]
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps161/providers/Microsoft.Storage/storageAccounts/tdcmdletsps161/listKeys?api-version=2017-10-01",
=======
          "187"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.ClassicStorage/storageAccounts/tdcmdletsps1522' under resource group 'sql-td-cmdlet-test-rgps1522' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps161/providers/Microsoft.Storage/storageAccounts/tdcmdletsps161/listKeys?api-version=2017-10-01",
=======
      "ResponseBody": "{\r\n  \"keys\": [\r\n    {\r\n      \"keyName\": \"key1\",\r\n      \"value\": \"s8T2kOyPr8bmmTRjBoZOaHR6GpWXkRaiCpRg5KIx9F/uqVcUFFhFVPttGkWWsp1M5W3V/NfsjGwtofJJVFQYmw==\",\r\n      \"permissions\": \"FULL\"\r\n    },\r\n    {\r\n      \"keyName\": \"key2\",\r\n      \"value\": \"emHyPIXIYJw//aNne+EQEm+eCxcMuWrZDK081M4Lc2gcGODDbwq/DoZocvUTh1Jh3KGvl1e0w0f9CouYE/4H6Q==\",\r\n      \"permissions\": \"FULL\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUw6MkRURDoyRENNRExFVDoyRFRFU1Q6MkRSR1BTMTUyMi1XRVNUQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUw6MkRURDoyRENNRExFVDoyRFRFU1Q6MkRSR1BTMTUyMi1XRVNUQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11965"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
