{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourcegroups/sql-td-cmdlet-test-rgps7372?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourcegroups/sql-td-cmdlet-test-rgps3609?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "70622784-0909-4ca8-abbe-f582e20be23e"
=======
          "590e7cdb-3694-44bd-bd24-139c0a21d5a8"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.26628.05",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17134.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.1.11"
=======
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.2"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "37"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1198"
        ],
        "x-ms-request-id": [
          "c7a2e41c-0dfb-460b-97fc-457155e3913c"
        ],
        "x-ms-correlation-request-id": [
          "c7a2e41c-0dfb-460b-97fc-457155e3913c"
        ],
        "x-ms-routing-request-id": [
          "SOUTHCENTRALUS:20181221T032818Z:c7a2e41c-0dfb-460b-97fc-457155e3913c"
=======
          "1199"
        ],
        "x-ms-request-id": [
          "a6daa632-5981-4e44-ab41-798e2043e4d2"
        ],
        "x-ms-correlation-request-id": [
          "a6daa632-5981-4e44-ab41-798e2043e4d2"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20200106T141544Z:a6daa632-5981-4e44-ab41-798e2043e4d2"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 21 Dec 2018 03:28:17 GMT"
=======
          "Mon, 06 Jan 2020 14:15:44 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "214"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/sql-td-cmdlet-test-rgps7372\",\r\n  \"name\": \"sql-td-cmdlet-test-rgps7372\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/sql-td-cmdlet-test-rgps7372/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps7372?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps3609\",\r\n  \"name\": \"sql-td-cmdlet-test-rgps3609\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps3609/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps3609?api-version=2015-05-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "00eeed60-ca96-40b7-9bc9-aa1cd395987a"
=======
          "ddedb353-1b34-4a44-b1bb-b01b3b29090a"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.26628.05",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17134.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.22.0.0"
=======
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.33.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "c05eac4f-c261-416a-8ada-2300b88e779a"
        ],
        "x-ms-correlation-request-id": [
          "c05eac4f-c261-416a-8ada-2300b88e779a"
        ],
        "x-ms-routing-request-id": [
          "SOUTHCENTRALUS:20181221T032818Z:c05eac4f-c261-416a-8ada-2300b88e779a"
=======
          "01d1a7d3-c403-490f-941b-192ae0d01135"
        ],
        "x-ms-correlation-request-id": [
          "01d1a7d3-c403-490f-941b-192ae0d01135"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20200106T141544Z:01d1a7d3-c403-490f-941b-192ae0d01135"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 21 Dec 2018 03:28:18 GMT"
=======
          "Mon, 06 Jan 2020 14:15:44 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "179"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/sql-td-cmdlet-serverps7372' under resource group 'sql-td-cmdlet-test-rgps7372' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps3609/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps3609?api-version=2015-05-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.26628.05",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17134.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.22.0.0"
=======
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.33.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "bfde8c1e-ddf9-43b6-ade0-936433993e11"
=======
          "299a5047-dcab-4637-b53a-aac7d698ce93"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11970"
        ],
        "x-ms-correlation-request-id": [
          "e0046018-e66f-4fed-8769-f368b33c99aa"
        ],
        "x-ms-routing-request-id": [
          "SOUTHCENTRALUS:20181221T032905Z:e0046018-e66f-4fed-8769-f368b33c99aa"
=======
          "11992"
        ],
        "x-ms-correlation-request-id": [
          "8cbad4e7-a735-4ffe-b3ca-4b6a6816c6cf"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20200106T141635Z:8cbad4e7-a735-4ffe-b3ca-4b6a6816c6cf"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 21 Dec 2018 03:29:05 GMT"
=======
          "Mon, 06 Jan 2020 14:16:34 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "432"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"sql-td-cmdlet-serverps7372.database.windows.net\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/sql-td-cmdlet-test-rgps7372/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps7372\",\r\n  \"name\": \"sql-td-cmdlet-serverps7372\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps3609/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps3609?api-version=2015-05-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"t357ingP@s5w0rd!Sec\",\r\n    \"version\": \"12.0\"\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "30730ed8-12f5-4bc1-97eb-c6f75d8a9933"
=======
          "770291fa-6505-4784-9746-9f0a9903aa53"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.26628.05",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17134.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.22.0.0"
=======
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.33.0.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "186"
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/sql-td-cmdlet-test-rgps7372/providers/Microsoft.Sql/locations/westcentralus/serverOperationResults/db4631c3-c21d-43a4-83de-47401bdf77c2?api-version=2015-05-01-preview"
=======
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps3609/providers/Microsoft.Sql/locations/westcentralus/serverOperationResults/7fab01a7-efed-43c3-8db6-a38f6c81032b?api-version=2015-05-01-preview"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/sql-td-cmdlet-test-rgps7372/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/db4631c3-c21d-43a4-83de-47401bdf77c2?api-version=2015-05-01-preview"
        ],
        "x-ms-request-id": [
          "db4631c3-c21d-43a4-83de-47401bdf77c2"
=======
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-[...]
    {
      "RequestUri": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/sql-td-cmdlet-test-rgps7372/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/db4631c3-c21d-43a4-83de-47401bdf77c2?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2020-01-06T14:15:49.433Z\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/sql-td-cmdlet-test-rgps7372/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/db4631c3-c21d-43a4-83de-47401bdf77c2?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11976"
        ]
=======
          "11998"
        ],
        "x-ms-correlation-request-id": [
          "1842cce1-293c-4166-bbe8-f81264176c75"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20200106T141550Z:1842cce1-293c-4166-bbe8-f81264176c75"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 21 Dec 2018 03:28:21 GMT"
=======
          "Mon, 06 Jan 2020 14:15:50 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "108"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"name\": \"db4631c3-c21d-43a4-83de-47401bdf77c2\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2018-12-21T03:28:19.513Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/sql-td-cmdlet-test-rgps7372/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps7372/databases/sql-td-cmdlet-dbps7372?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"7fab01a7-efed-43c3-8db6-a38f6c81032b\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-01-06T14:15:49.433Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/sql-td-cmdlet-test-rgps7372/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps7372/databases/sql-td-cmdlet-dbps7372?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Basic\",\r\n    \"capacity\": 5\r\n  },\r\n  \"kind\": \"v12.0,user\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 2147483648,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"c1ea20ca-a965-4b7e-a7f1-f773243d8dcf\",\r\n    \"creationDate\": \"2020-01-06T14:17:12.537Z\",\r\n    \"currentServiceObjectiveName\": \"Basic\",\r\n    \"requestedServiceObjectiveName\": \"Basic\",\r\n    \"defaultSecondaryLocation\": \"westus2\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false,\r\n    \"earliestRestoreDate\": \"2020-01-06T14:47:12.537Z\",\r\n    \"readScale\": \"Disabled\",\r\n    \"readReplicaCount\": 0,\r\n    \"currentSku\": {\r\n      \"name\": \"Basic\",\r\n      \"tier\": \"Basic\",\r\n      \"capacity\": 5\r\n    }\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps3609/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps3609/databases/sql-td-cmdlet-dbps3609\",\r\n  \"name\": \"sql-td-cmdlet-dbps3609\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/sql-td-cmdlet-test-rgps7372/providers/Microsoft.Sql/locations/westcentralus/databaseAzureAsyncOperation/83a0d3b4-e042-4b8b-b0a2-f57f09d89fa5?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"CreateLogicalDatabase\",\r\n  \"startTime\": \"2020-01-06T14:16:38.173Z\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/sql-td-cmdlet-test-rgps7372/providers/Microsoft.Storage/storageAccounts/tdcmdletsps7372?api-version=2018-03-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"f223221f-ffc1-4777-b246-896134738387\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-01-06T14:16:38.173Z\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps3609/providers/Microsoft.Storage/storageAccounts/tdcmdletsps3609?api-version=2017-10-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\"\r\n  },\r\n  \"kind\": \"Storage\",\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "bec09969[...]
    {
      "RequestUri": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/sql-td-cmdlet-test-rgps7372/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps7372/databases/sql-td-cmdlet-dbps7372/securityAlertPolicies/Default?api-version=2014-04-01",
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"Storage\",\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps3609/providers/Microsoft.Storage/storageAccounts/tdcmdletsps3609\",\r\n  \"name\": \"tdcmdletsps3609\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"virtualNetworkRules\": [],\r\n      \"ipRules\": [],\r\n      \"defaultAction\": \"Allow\"\r\n    },\r\n    \"supportsHttpsTrafficOnly\": false,\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"file\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2020-01-06T14:17:28.2701201Z\"\r\n        },\r\n        \"blob\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2020-01-06T14:17:28.2701201Z\"\r\n        }\r\n      },\r\n      \"keySource\": \"Microsoft.Storage\"\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"creationTime\": \"2020-01-06T14:17:28.2076214Z\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://tdcmdletsps3609.blob.core.windows.net/\",\r\n      \"queue\": \"https://tdcmdletsps3609.queue.core.windows.net/\",\r\n      \"table\": \"https://tdcmdletsps3609.table.core.windows.net/\",\r\n      \"file\": \"https://tdcmdletsps3609.file.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"westcentralus\",\r\n    \"statusOfPrimary\": \"available\",\r\n    \"secondaryLocation\": \"westus2\",\r\n    \"statusOfSecondary\": \"available\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps3609/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps3609/databases/sql-td-cmdlet-dbps3609/securityAlertPolicies/Default?api-version=2014-04-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "56b67a7d-3449-4ef2-88ab-96a0d1b72078"
=======
          "708bbf71-ed4c-4e76-877c-8a856f4ca731"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11999"
        ],
        "x-ms-correlation-request-id": [
          "ceedca78-62f4-494c-8d58-a6afd5512db8"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20181221T033055Z:ceedca78-62f4-494c-8d58-a6afd5512[...]
    {
      "RequestUri": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/sql-td-cmdlet-test-rgps7372/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps7372/securityAlertPolicies/Default?api-version=2017-03-01-preview",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-td-cmdlet-test-rgps3609/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps3609/databases/sql-td-cmdlet-dbps3609/securityAlertPolicies/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/servers/databases/securityAlertPolicies\",\r\n  \"location\": \"West Central US\",\r\n  \"kind\": null,\r\n  \"properties\": {\r\n    \"useServerDefault\": \"Disabled\",\r\n    \"state\": \"Disabled\",\r\n    \"disabledAlerts\": \"\",\r\n    \"emailAddresses\": \"\",\r\n    \"emailAccountAdmins\": \"Disabled\",\r\n    \"storageEndpoint\": \"\",\r\n    \"storageAccountAccessKey\": \"\",\r\n    \"retentionDays\": 0\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
