{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/a6383be3-f0e8-4968-93d5-10f2625f5bb5/providers/Microsoft.OperationalInsights?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a6383be3-f0e8-4968-93d5-10f2625f5bb5/providers/Microsoft.OperationalInsights\",\r\n  \"namespace\": \"Microsoft.OperationalInsights\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"d2a0a418-0aac-4541-82b2-b3142c89da77\",\r\n    \"roleDefinitionId\": \"86695298-2eb9-48a7-9ec3-2fdb38b6878b\"\r\n  },\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"workspaces\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"West Europe\",\r\n        \"Southeast Asia\",\r\n        \"Australia Southeast\",\r\n        \"West Central US\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2017-03-03-preview\",\r\n        \"2017-01-01-preview\",\r\n        \"2015-11-01-preview\",\r\n        \"2015-03-20\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"workspaces/dataSources\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"West Europe\",\r\n        \"Southeast Asia\",\r\n        \"Australia Southeast\",\r\n        \"West Central US\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-11-01-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"storageInsightConfigs\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2014-10-10\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"workspaces/linkedServices\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"West Europe\",\r\n        \"Southeast Asia\",\r\n        \"Australia Southeast\",\r\n        \"West Central US\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-11-01-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"linkTargets\",\r\n      \"locations\": [\r\n        \"East US\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-03-20\",\r\n        \"2014-10-10\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"operations\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2014-11-10\"\r\n      ]\r\n    }\r\n  ],\r\n  \"registrationState\": \"Registered\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/providers/Microsoft.OperationalInsights?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "14865"
        ],
        "x-ms-request-id": [
          "ece228cc-e798-4de5-9331-142647cbc893"
        ],
        "x-ms-correlation-request-id": [
          "ece228cc-e798-4de5-9331-142647cbc893"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20170509T205905Z:ece228cc-e798-4de5-9331-142647cbc893"
=======
          "11995"
        ],
        "x-ms-request-id": [
          "31bb3b86-d882-48fe-aa66-c4f4d99b5522"
        ],
        "x-ms-correlation-request-id": [
          "31bb3b86-d882-48fe-aa66-c4f4d99b5522"
        ],
        "x-ms-routing-request-id": [
          "SOUTHEASTASIA:20200509T083255Z:31bb3b86-d882-48fe-aa66-c4f4d99b5522"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
<<<<<<< HEAD
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Tue, 09 May 2017 20:59:05 GMT"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a6383be3-f0e8-4968-93d5-10f2625f5bb5/resourcegroups/onesdk1860?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
=======
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
          "Sat, 09 May 2020 08:32:54 GMT"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "5961"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/providers/Microsoft.OperationalInsights\",\r\n  \"namespace\": \"Microsoft.OperationalInsights\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"d2a0a418-0aac-4541-82b2-b3142c89da77\",\r\n      \"roleDefinitionId\": \"86695298-2eb9-48a7-9ec3-2fdb38b6878b\"\r\n    },\r\n    {\r\n      \"applicationId\": \"ca7f3f0b-7d91-482c-8e09-c5d840d0eac5\",\r\n      \"roleDefinitionId\": \"5d5a2e56-9835-44aa-93db-d2f19e155438\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"workspaces\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"West Europe\",\r\n        \[...]
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourcegroups/ps3771?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "29"
<<<<<<< HEAD
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a6383be3-f0e8-4968-93d5-10f2625f5bb5/resourceGroups/onesdk1860\",\r\n  \"name\": \"onesdk1860\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
        ]
      },
      "ResponseHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1199"
        ],
        "x-ms-request-id": [
          "4a2ea74c-7c23-415f-93f7-b088cb6231ad"
        ],
        "x-ms-correlation-request-id": [
          "4a2ea74c-7c23-415f-93f7-b088cb6231ad"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20170509T205906Z:4a2ea74c-7c23-415f-93f7-b088cb6231ad"
=======
          "1197"
        ],
        "x-ms-request-id": [
          "44bb2d1a-7725-409b-974f-ca336a4c9d63"
        ],
        "x-ms-correlation-request-id": [
          "44bb2d1a-7725-409b-974f-ca336a4c9d63"
        ],
        "x-ms-routing-request-id": [
          "SOUTHEASTASIA:20200509T083257Z:44bb2d1a-7725-409b-974f-ca336a4c9d63"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
<<<<<<< HEAD
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Tue, 09 May 2017 20:59:05 GMT"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/a6383be3-f0e8-4968-93d5-10f2625f5bb5/resourcegroups/onesdk1860/providers/Microsoft.OperationalInsights/workspaces/AzTestonesdk8109?api-version=2015-11-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"STANDARD\"\r\n    }\r\n  },\r\n  \"location\": \"East US\",\r\n  \"tags\": {\r\n    \"tag1\": \"val1\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\": \"e56fab72-aa7c-4ee0-8a1b-eed02bf365be\",\r\n    \"portalUrl\": \"https://eus.mms.microsoft.com/Account?tenant=72f988bf-86f1-41af-91ab-2d7cd011db47&resource=%2fsubscriptions%2fa6383be3-f0e8-4968-93d5-10f2625f5bb5%2fresourcegroups%2fonesdk1860%2fproviders%2fmicrosoft.operationalinsights%2fworkspaces%2faztestonesdk8109\",\r\n    \"provisioningState\": \"Creating\",\r\n    \"sku\": {\r\n      \"name\": \"standard\"\r\n    },\r\n    \"retentionInDays\": 30,\r\n    \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 0\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/a6383be3-f0e8-4968-93d5-10f2625f5bb5/resourcegroups/onesdk1860/providers/microsoft.operationalinsights/workspaces/aztestonesdk8109\",\r\n  \"name\": \"AzTestonesdk8109\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n  \"location\": \"East US\",\r\n  \"tags\": {\r\n    \"tag1\": \"val1\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
=======
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
          "Sat, 09 May 2020 08:32:56 GMT"
        ],
        "Content-Length": [
          "165"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourceGroups/ps3771\",\r\n  \"name\": \"ps3771\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourcegroups/ps3771/providers/Microsoft.OperationalInsights/workspaces/AzTestps4929?api-version=2020-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"STANDARD\"\r\n    }\r\n  },\r\n  \"tags\": {\r\n    \"tag1\": \"val1\"\r\n  },\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "3fd1dd0b-32e4-4433-847f-e4674904af12"
=======
          "8433fb9a-b28a-4dbc-a9da-dae49149b7d7"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
<<<<<<< HEAD
        "Cache-Control": [
          "no-cache"
        ],
        "Server": [
          "Microsoft-IIS/8.5",
          "Microsoft-IIS/8.5"
        ],
        "X-AspNet-Version": [
          "4.0.30319"
=======
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Server": [
          "Microsoft-IIS/10.0",
          "Microsoft-IIS/10.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "X-Powered-By": [
          "ASP.NET",
          "ASP.NET"
        ],
<<<<<<< HEAD
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "x-ms-correlation-request-id": [
          "fb41e730-0ee0-49df-8ba6-a8b30739ff37"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20170509T205909Z:fb41e730-0ee0-49df-8ba6-a8b30739ff37"
        ],
        "Date": [
          "Tue, 09 May 2017 20:59:09 GMT"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/a6383be3-f0e8-4968-93d5-10f2625f5bb5/resourcegroups/onesdk1860/providers/Microsoft.OperationalInsights/workspaces/AzTestonesdk8109?api-version=2015-11-01-preview",
=======
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "x-ms-correlation-request-id": [
          "1e20dd70-3fcb-4a6e-ab4f-97dcafc2332a"
        ],
        "x-ms-routing-request-id": [
          "SOUTHEASTASIA:20200509T083307Z:1e20dd70-3fcb-4a6e-ab4f-97dcafc2332a"
        ],
        "Date": [
          "Sat, 09 May 2020 08:33:07 GMT"
        ],
        "Content-Length": [
          "980"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\": \"dbb57161-b364-4392-95f1-153a22879205\",\r\n    \"provisioningState\": \"Creating\",\r\n    \"sku\": {\r\n      \"name\": \"standard\",\r\n      \"lastSkuUpdate\": \"Sat, 09 May 2020 08:33:05 GMT\"\r\n    },\r\n    \"retentionInDays\": 30,\r\n    \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 1,\r\n      \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n    },\r\n    \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n      \"quotaNextResetTime\": \"Sat, 09 May 2020 13:00:00 GMT\",\r\n      \"dataIngestionStatus\": \"RespectQuota\"\r\n    },\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n    \"publicNetworkAccessForQuery\": \"Enabled\"\r\n  },\r\n  \"id\": \"/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourcegroups/ps3771/providers/microsoft.operationalinsights/workspaces/aztestps4929\",\r\n  \"name\": \"AzTestps4929\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n  \"location\": \"East US\",\r\n  \"tags\": {\r\n    \"tag1\": \"val1\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/a6383be3-f0e8-4968-93d5-10f2625f5bb5/resourcegroups/onesdk1860/providers/Microsoft.OperationalInsights/workspaces/AzTestonesdk8109/intelligencePacks/ChangeTracking/Enable?api-version=2015-11-01-preview",
=======
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11990"
        ],
        "x-ms-correlation-request-id": [
          "9b2f631c-79f0-43a1-af22-aa4349e76b60"
        ],
        "x-ms-routing-request-id": [
          "SOUTHEASTAS[...]
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourcegroups/ps3771/providers/Microsoft.OperationalInsights/workspaces/AzTestps4929/intelligencePacks/ChangeTracking/Enable?api-version=2020-03-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "2a55548e-c765-4cff-8381-3e1ee567af12"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.2046.0",
          "OSName/Windows_10_Enterprise",
          "OSVersion/6.3.15063",
          "Microsoft.Azure.Management.OperationalInsights.OperationalInsightsManagementClient/0.18.0-preview"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
=======
          "f0026ca4-d0e4-4202-a28f-4418d645680b"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.28008.02",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.OperationalInsights.OperationalInsightsManagementClient/0.20.0.0"
        ]
      },
      "ResponseHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Pragma": [
          "no-cache"
        ],
        "X-AMS-APIVersion": [
          "WebAPI1.0"
        ],
        "CacheControl": [
          "no-cache"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "bcbd2a4d-abbb-41fd-b8cb-a769cc37dab9"
=======
          "9c65906f-a5af-40e1-8d06-d51a6120f215"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
<<<<<<< HEAD
        "Cache-Control": [
          "no-cache"
        ],
        "Server": [
          "Microsoft-IIS/8.5",
          "Microsoft-IIS/8.5"
        ],
        "X-AspNet-Version": [
          "4.0.30319"
=======
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Server": [
          "Microsoft-IIS/10.0",
          "Microsoft-IIS/10.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "X-Powered-By": [
          "ASP.NET",
          "ASP.NET"
        ],
<<<<<<< HEAD
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "x-ms-correlation-request-id": [
          "2d9a081b-b2cb-44db-9e34-2e269ee13c38"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20170509T205940Z:2d9a081b-b2cb-44db-9e34-2e269ee13c38"
        ],
        "Date": [
          "Tue, 09 May 2017 20:59:39 GMT"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a6383be3-f0e8-4968-93d5-10f2625f5bb5/resourcegroups/onesdk1860/providers/Microsoft.OperationalInsights/workspaces/AzTestonesdk8109/intelligencePacks/SiteRecovery/Enable?api-version=2015-11-01-preview",
=======
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-correlation-request-id": [
          "32ef4ea6-a41c-48c9-9373-9b5ae41f33e4"
        ],
        "x-ms-routing-request-id": [
          "SOUTHEASTASIA:20200509T083338Z:32ef4ea6-a41c-48c9-9373-9b5ae41f33e4"
        ],
        "Date": [
          "Sat, 09 May 2020 08:33:38 GMT"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourcegroups/ps3771/providers/Microsoft.OperationalInsights/workspaces/AzTestps4929/intelligencePacks/SiteRecovery/Enable?api-version=2020-03-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "7919d7dc-645d-4bfd-9d31-60e42a266640"
        ],
        "accept-language": [
          "en-US"
        ],
  [...]
    {
      "RequestUri": "/subscriptions/a6383be3-f0e8-4968-93d5-10f2625f5bb5/resourcegroups/onesdk1860/providers/Microsoft.OperationalInsights/workspaces/AzTestonesdk8109/intelligencePacks?api-version=2015-11-01-preview",
=======
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "x-ms-correlation-request-id": [
          "4bf4bbc8-ea96-48f8-80ee-7ffe11e78ebc"
        ],
        "x-ms-routing-request-id": [
          "SOUTHEASTASIA:20200509T083339Z:4bf4bbc8-ea96-48f8-80ee-7ffe11e78ebc"
        ],
        "Date": [
          "Sat, 09 May 2020 08:33:38 GMT"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourcegroups/ps3771/providers/Microsoft.OperationalInsights/workspaces/AzTestps4929/intelligencePacks?api-version=2020-03-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "7ce7992c-0308-4c71-8b59-2dd9df4ce6d2"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.2046.0",
          "OSName/Windows_10_Enterprise",
          "OSVersion/6.3.15063",
          "Microsoft.Azure.Management.OperationalInsights.OperationalInsightsManagementClient/0.18.0-preview"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"name\": \"CapacityPerformance\",\r\n    \"enabled\": false,\r\n    \"displayname\": \"Capacity and Performance\"\r\n  },\r\n  {\r\n    \"name\": \"AzureWebAppsAnalytics\",\r\n    \"enabled\": false,\r\n    \"displayname\": \"Azure Web Apps Analytics (Preview)\"\r\n  },\r\n  {\r\n    \"name\": \"Security\",\r\n    \"enabled\": false,\r\n    \"displayname\": \"Security and Audit\"\r\n  },\r\n  {\r\n    \"name\": \"Updates\",\r\n    \"enabled\": false,\r\n    \"displayname\": \"Update Management\"\r\n  },\r\n  {\r\n    \"name\": \"AntiMalware\",\r\n    \"enabled\": false,\r\n    [...]
[...]
    {
      "RequestUri": "/subscriptions/a6383be3-f0e8-4968-93d5-10f2625f5bb5/resourcegroups/onesdk1860/providers/Microsoft.OperationalInsights/workspaces/AzTestonesdk8109/intelligencePacks/ChangeTracking/Disable?api-version=2015-11-01-preview",
=======
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11988"
        ],
        "x-ms-correlation-request-id": [
          "a183b227-5ee4-49f5-9b55-a10d4e4f33a9"
        ],
        "x-ms-routing-request-id": [
          "SOUTHEASTA[...]
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourcegroups/ps3771/providers/Microsoft.OperationalInsights/workspaces/AzTestps4929/intelligencePacks/ChangeTracking/Disable?api-version=2020-03-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "6498a737-2def-40d7-b7d0-175945563e5c"
        ],
        "accept-language": [
          "en-US"
        ],[...]
    {
      "RequestUri": "/subscriptions/a6383be3-f0e8-4968-93d5-10f2625f5bb5/resourcegroups/onesdk1860/providers/Microsoft.OperationalInsights/workspaces/AzTestonesdk8109/intelligencePacks/SiteRecovery/Disable?api-version=2015-11-01-preview",
=======
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "x-ms-correlation-request-id": [
          "71b0be72-588e-45a0-98aa-670efefd6c81"
        ],
        "x-ms-routing-request-id": [
          "SOUTHEASTASIA:20200509T083340Z:71b0be72-588e-45a0-98aa-670efefd6c81"
        ],
        "Date": [
          "Sat, 09 May 2020 08:33:39 GMT"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourcegroups/ps3771/providers/Microsoft.OperationalInsights/workspaces/AzTestps4929/intelligencePacks/SiteRecovery/Disable?api-version=2020-03-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "c6ef0cc3-37ca-48b8-9e38-6c80ad7c24d6"
        ],
        "accept-language": [
          "en-US"
        ],
 [...]
[...]
    {
      "RequestUri": "/subscriptions/a6383be3-f0e8-4968-93d5-10f2625f5bb5/resourcegroups/onesdk1860/providers/Microsoft.OperationalInsights/workspaces?api-version=2015-11-01-preview",
=======
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14995"
        ],
        "x-ms-correlation-request-id": [
          "8d6629f3-f523-47a6-a1b2-785044c8554e"
        ],
        "x-ms-routing-request-id": [
          "SOUTHEASTASIA:20200509T083345Z:8d6629f3-f523-47a6-a1b2-785044c8554e"
        ],
        "Date": [
          "Sat, 09 May 2020 08:33:45 GMT"
        ],
        "Content-Length": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourcegroups/ps3771/providers/Microsoft.OperationalInsights/workspaces?api-version=2020-03-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "34e53841-cd00-40e2-b575-09304689a7f3"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.2046.0",
          "OSName/Windows_10_Enterprise",
          "OSVersion/6.3.15063",
          "Microsoft.Azure.Management.OperationalInsights.OperationalInsightsManagementClient/0.18.0-preview"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "ecc32b9f-c785-4a08-99cf-89fbe15c548d"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.28008.02",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.OperationalInsights.OperationalInsightsManagementClient/0.20.0.0"
        ]
 [...]
    {
      "RequestUri": "/subscriptions/a6383be3-f0e8-4968-93d5-10f2625f5bb5/resourcegroups/onesdk1860/providers/Microsoft.OperationalInsights/workspaces/wsname?api-version=2015-11-01-preview",
=======
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
          "Sat, 09 May 2020 08:33:45 GMT"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "12"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourcegroups/ps3771/providers/Microsoft.OperationalInsights/workspaces/wsname?api-version=2020-03-01-preview",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "e4940c63-476d-468d-a653-90c92b4f4f0f"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.2046.0",
          "OSName/Windows_10_Enterprise",
          "OSVersion/6.3.15063",
          "Microsoft.Azure.Management.OperationalInsights.OperationalInsightsManagementClient/0.18.0-preview"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.OperationalInsights/workspaces/wsname' under resource group 'onesdk1860' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "51f7d87c-7167-4c32-b740-dd2562ae1712"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.28008.02",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.OperationalInsights.OperationalInsightsManagementClient/0.20.0.0"
        ]
      },
      "ResponseHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "dd0e740e-fb40-47bc-94a0-0cd4f86fae17"
        ],
        "x-ms-correlation-request-id": [
          "dd0e740e-fb40-47bc-94a0-0cd4f86fae17"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20170509T205944Z:dd0e740e-fb40-47bc-94a0-0cd4f86fae17"
=======
          "dd20d53d-a457-4d20-b698-8fb53555c12e"
        ],
        "x-ms-correlation-request-id": [
          "dd20d53d-a457-4d20-b698-8fb53555c[...]
