{
  "Entries": [
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "92b1b819-f86b-4b96-86bc-3d06015cf7df"
=======
          "1f097981-fa0d-4ddb-9d5e-db40db09e098"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.2"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.11"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11929"
        ],
        "x-ms-request-id": [
          "cc33ef0d-705d-48a7-8f71-5603f16a6ac0"
        ],
        "x-ms-correlation-request-id": [
          "cc33ef0d-705d-48a7-8f71-5603f16a6ac0"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200115T121327Z:cc33ef0d-705d-48a7-8f71-5603f16a6ac0"
=======
          "11990"
        ],
        "x-ms-request-id": [
          "2e5829ca-f0fd-4a0c-8389-c40ae7d4edf8"
        ],
        "x-ms-correlation-request-id": [
          "2e5829ca-f0fd-4a0c-8389-c40ae7d4edf8"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200427T073558Z:2e5829ca-f0fd-4a0c-8389-c40ae7d4edf8"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 15 Jan 2020 12:13:26 GMT"
=======
          "Mon, 27 Apr 2020 07:35:58 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "66206"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-14ece36cc7a1\"\r\n    },\r\n    {\r\n      \"applicationId\": \"7c33bfcb-8d33-48d6-8e60-dc6404003489\",\r\n      \"roleDefinitionId\": \"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3\"\r\n    },\r\n    {\r\n      \"applicationId\": \"1e3e4475-288f-4018-a376-df66fd7fac5f\",\r\n      \"roleDefinitionId\": \"1d538b69-3d87-4e56-8ff8-25786fd48261\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a0be0c72-870e-46f0-9c49-c98333a996f7\",\r\n      \"roleDefinitionId\": \"7ce22727-ffce-45a9-930c-ddb2e56fa131\"\r\n    },\r\n    {\r\n      \"applicationId\": \"486c78bf-a0f7-45f1-92fd-37215929e116\",\r\n      \"roleDefinitionId\": \"98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d\"\r\n    },\r\n    {\r\n      \"applicationId\": \"19947cfd-0303-466c-ac3c-fcc19a7a1570\",\r\n      \"roleDefinitionId\": \"d813ab6c-bfb7-413e-9462-005b21f0ce09\"\r\n    },\r\n    {\r\n      \"applicationId\": \"341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd\",\r\n      \"roleDefinitionId\": \"8141843c-c51c-4c1e-a5bf-0d351594b86c\"\r\n    },\r\n    {\r\n      \"applicationId\": \"328fd23b-de6e-462c-9433-e207470a5727\",\r\n      \"roleDefinitionId\": \"79e29e06-4056-41e5-a6b2-959f1f47747e\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"virtualNetworks\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Brazil South\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Central India\",\r\n        \"South India\",\r\n        \"West India\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"West Central US\",\r\n        \"West US 2\",\r\n        \"UK West\",\r\n        \"UK South\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"France Central\",\r\n        \"Australia Central\",\r\n        \"South Africa North\",\r\n        \"UAE North\",\r\n        \"Switzerland North\",\r\n        \"West US\",\r\n        \"Central US EUAP\",\r\n        \"East US 2 EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2019-11-01\",\r\n        \"2019-09-01\",\r\n        \"2019-08-01\",\r\n        \"2019-07-01\",\r\n        \"2019-06-01\",\r\n        \"2019-04-01\",\r\n        \"2019-02-01\",\r\n        \"2018-12-01\",\r\n        \"2018-11-01\",\r\n        \"2018-10-01\",\r\n        \"2018-08-01\",\r\n        \"2018-07-01\",\r\n        \"2018-06-01\",\r\n        \"2018-05-01\",\r\n        \"2018-04-01\",\r\n        \"2018-03-01\",\r\n        \"2018-02-01\",\r\n        \"2018-01-01\",\r\n        \"2017-11-01\",\r\n        \"2017-10-01\",\r\n        \"2017-09-01\",\r\n        \"2017-08-01\",\r\n        \"2017-06-01\",\r\n        \"2017-04-01\",\r\n        \"2017-03-01\",\r\n        \"2016-12-01\",\r\n        \"2016-11-01\",\r\n        \"2016-10-01\",\r\n        \"2016-09-01\",\r\n        \"2016-08-01\",\r\n        \"2016-07-01\",\r\n        \"2016-06-01\",\r\n        \"2016-03-30\",\r\n        \"2015-06-15\",\r\n        \"2015-05-01-preview\",\r\n        \"2014-12-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"publicIPAddresses\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Brazil South\"[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourcegroups/ps5963?api-version=2016-09-01",
=======
          "75291"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourcegroups/ps8934?api-version=2016-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "ede25a55-8f52-42b1-b0cc-3b6bae8632af"
=======
          "9e0ff28a-d11f-4df1-b784-3d03455450ae"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resource[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps5963/providers/Microsoft.Network/publicIPAddresses/ps3114?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps8934\",\r\n  \"name\": \"ps8934\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps8934/providers/Microsoft.Network/publicIPAddresses/ps8260?api-version=2020-04-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "a2b97e91-458b-4ab7-b595-213274dd0037"
=======
          "f68a841a-1f7f-406b-b70b-8cf667eab951"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/423.1707.49677.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "6b7c05ca-6c31-4ee4-9f74-4cbcbb2851ec"
        ],
        "x-ms-correlation-request-id": [
          "6b7c05ca-6c31-4ee4-9f74-4cbcbb2851ec"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200115T121327Z:6b7c05ca-6c31-4ee4-9f74-4cbcbb2851ec"
=======
          "3f4f2caf-84c7-4fda-a23a-be86976ceb06"
        ],
        "x-ms-correlation-request-id": [
          "3f4f2caf-84c7-4fda-a23a-be86976ceb06"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200427T073558Z:3f4f2caf-84c7-4fda-a23a-be86976ceb06"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 15 Jan 2020 12:13:27 GMT"
=======
          "Mon, 27 Apr 2020 07:35:58 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "152"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/ps3114' under resource group 'ps5963' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps8934/providers/Microsoft.Network/publicIPAddresses/ps8260?api-version=2020-04-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/423.1707.49677.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "ETag": [
<<<<<<< HEAD
          "W/\"30876a35-8696-4c9e-a5e8-b7dd4679688b\""
        ],
        "x-ms-request-id": [
          "783bb031-fc8b-4728-a4e8-94851fb8183a"
        ],
        "x-ms-correlation-request-id": [
          "5e3bcc67-1e2e-4904-8536-822a8f2ab126"
        ],
        "x-ms-arm-service-request-id": [
          "f4962f2b-5e41-47ea-81d5-7af0eecb7429"
=======
          "W/\"0176fa33-4004-4c72-8cab-e3c5db9ec789\""
        ],
        "x-ms-request-id": [
          "fc307d2b-e844-4499-9e81-1e9fa8036e03"
        ],
        "x-ms-correlation-request-id": [
          "7f612d56-5d0f-41cf-8c39-64858f332ddd"
        ],
        "x-ms-arm-service-request-id": [
          "954ba731-bee3-4c7f-b60c-fce7d3c7dc2e"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11996"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200115T121330Z:5e3bcc67-1e2e-4904-8536-822a8f2ab126"
=======
          "11968"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200427T073601Z:7f612d56-5d0f-41cf-8c39-64858f332ddd"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 15 Jan 2020 12:13:30 GMT"
=======
          "Mon, 27 Apr 2020 07:36:00 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Length": [
          "810"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"name\": \"ps3114\",\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps5963/providers/Microsoft.Network/publicIPAddresses/ps3114\",\r\n  \"etag\": \"W/\\\"30876a35-8696-4c9e-a5e8-b7dd4679688b\\\"\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"b7e8ac8d-bb9a-46ab-84d7-e404e21e6712\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"ps4883\",\r\n      \"fqdn\": \"ps4883.westcentralus.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": [\r\n      {\r\n        \"ipTagType\": \"FirstPartyUsage\",\r\n        \"tag\": \"/Sql\"\r\n      }\r\n    ]\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps5963/providers/Microsoft.Network/publicIPAddresses/ps3114?api-version=2019-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"ps4883\"\r\n    },\r\n    \"ipTags\": [\r\n      {\r\n        \"ipTagType\": \"FirstPartyUsage\",\r\n        \"tag\": \"/Sql\"\r\n      }\r\n    ]\r\n  },\r\n  \"zones\": [],\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"name\": \"ps8260\",\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps8934/providers/Microsoft.Network/publicIPAddresses/ps8260\",\r\n  \"etag\": \"W/\\\"a7e6fda4-59d6-4ffb-8916-bbeebbc8660d\\\"\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"d2b6d3dc-b26e-4ff8-9894-b6a7497792d7\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"ps2781\",\r\n      \"fqdn\": \"ps2781.westcentralus.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": [\r\n      {\r\n        \"ipTagType\": \"FirstPartyUsage\",\r\n        \"tag\": \"/Sql\"\r\n      }\r\n    ]\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps8934/providers/Microsoft.Network/publicIPAddresses/ps8260?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"ps2781\"\r\n    },\r\n    \"ipTags\": [\r\n      {\r\n        \"ipTagType\": \"FirstPartyUsage\",\r\n        \"tag\": \"/Sql\"\r\n      }\r\n    ]\r\n  },\r\n  \"zones\": [],\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28207.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/423.1707.49677.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "293"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ]
<<<<<<< HEAD
          "c54fbd14-4f07-4a73-87bf-c94b69675781"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network/locations/westcentralus/operations/c54fbd14-4f07-4a73-87bf-c94b69675781?api-version=2019-11-01"
        ],
        "x-ms-correlation-request-id": [
          "62f5c63e-dbf6-4635-a54a-eb465e0e4e24"
=======
          "af53d650-e11a-46e3-9ce7-c2326c76b5d9"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network/locations/westcentralus/operations/af53d650-e11a-46e3-9ce7-c2326c76b5d9?api-version=2020-04-01"
        ],
        "x-ms-correlation-request-id": [
          "9e058bf0-d426-4a46-820b-61cd6843ba41"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-arm-service-request-id": [
<<<<<<< HEAD
          "e9ca1959-6324-4aa6-bcca-dad9bdb86962"
=======
          "6096a4f0-9a5b-493b-a0b5-411932d6b327"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-w[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps5963/providers/Microsoft.Network/publicIPAddresses/ps3114?api-version=2019-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"ps4883\",\r\n      \"fqdn\": \"ps4883.westcentralus.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": [\r\n      {\r\n        \"ipTagType\": \"FirstPartyUsage\",\r\n        \"tag\": \"/Sql\"\r\n      }\r\n    ],\r\n    \"ipAddress\": \"Not Assigned\",\r\n    \"idleTimeoutInMinutes\": 4\r\n  },\r\n  \"zones\": [],\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps5963/providers/Microsoft.Network/publicIPAddresses/ps3114\",\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"name\": \"ps8260\",\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps8934/providers/Microsoft.Network/publicIPAddresses/ps8260\",\r\n  \"etag\": \"W/\\\"a2e39eef-cfad-489c-820f-857c58cb6db2\\\"\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"d2b6d3dc-b26e-4ff8-9894-b6a7497792d7\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"ps2781\",\r\n      \"fqdn\": \"ps2781.westcentralus.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": [\r\n      {\r\n        \"ipTagType\": \"FirstPartyUsage\",\r\n        \"tag\": \"/Sql\"\r\n      }\r\n    ]\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network/locations/westcentralus/operations/c54fbd14-4f07-4a73-87bf-c94b69675781?api-version=2019-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps8260\",\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps8934/providers/Microsoft.Network/publicIPAddresses/ps8260\",\r\n  \"etag\": \"W/\\\"a7e6fda4-59d6-4ffb-8916-bbeebbc8660d\\\"\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"d2b6d3dc-b26e-4ff8-9894-b6a7497792d7\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"ps2781\",\r\n      \"fqdn\": \"ps2781.westcentralus.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": [\r\n      {\r\n        \"ipTagType\": \"FirstPartyUsage\",\r\n        \"tag\": \"/Sql\"\r\n      }\r\n    ]\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
