{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourcegroups/ps2751?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
=======
      "RequestUri": "/subscriptions/19bfaf65-cc32-4d16-b78f-9a1416a4584b/resourcegroups/ps885?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus2\"\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28008.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.2"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.11"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "28"
=======
          "29"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
<<<<<<< HEAD
          "fa501d64-2a94-43c4-bd70-6d3bb56b9223"
        ],
        "x-ms-correlation-request-id": [
          "fa501d64-2a94-43c4-bd70-6d3bb56b9223"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20191023T234627Z:fa501d64-2a94-43c4-bd70-6d3bb56b9223"
=======
          "f979108c-899b-47c0-ba19-defa8cc464a1"
        ],
        "x-ms-correlation-request-id": [
          "f979108c-899b-47c0-ba19-defa8cc464a1"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200323T205045Z:f979108c-899b-47c0-ba19-defa8cc464a1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 23 Oct 2019 23:46:27 GMT"
        ],
        "Content-Length": [
          "165"
=======
          "Mon, 23 Mar 2020 20:50:44 GMT"
        ],
        "Content-Length": [
          "164"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps2751\",\r\n  \"name\": \"ps2751\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps2751/providers/Microsoft.DataLakeStore/accounts/ps6714?api-version=2016-11-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/19bfaf65-cc32-4d16-b78f-9a1416a4584b/resourceGroups/ps885\",\r\n  \"name\": \"ps885\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/19bfaf65-cc32-4d16-b78f-9a1416a4584b/resourceGroups/ps885/providers/Microsoft.DataLakeStore/accounts/ps9313?api-version=2016-11-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "ef652023-4f71-43fb-91b5-5a670344248a"
=======
          "c4562633-f7c9-4204-9f10-4bc7dd91e8ef"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28008.01",
=======
          "FxVersion/4.6.28516.03",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.DataLake.Store.DataLakeStoreAccountManagementClient/2.4.2.0"
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "38b513e1-7510-4b99-8149-19b3a4d567f3"
        ],
        "x-ms-correlation-request-id": [
          "38b513e1-7510-4b99-8149-19b3a4d567f3"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20191023T234628Z:38b513e1-7510-4b99-8149-19b3a4d567f3"
=======
          "cd08f790-5e4e-4d31-a776-756e62856d78"
        ],
        "x-ms-correlation-request-id": [
          "cd08f790-5e4e-4d31-a776-756e62856d78"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200323T205045Z:cd08f790-5e4e-4d31-a776-756e62856d78"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 23 Oct 2019 23:46:28 GMT"
=======
          "Mon, 23 Mar 2020 20:50:45 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "149"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.DataLakeStore/accounts/ps6714' under resource group 'ps2751' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/19bfaf65-cc32-4d16-b78f-9a1416a4584b/resourceGroups/ps885/providers/Microsoft.DataLakeStore/accounts/ps9313?api-version=2016-11-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.28008.01",
=======
          "FxVersion/4.6.28516.03",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.DataLake.Store.DataLakeStoreAccountManagementClient/2.4.2.0"
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "1e6bf3c7-667e-429c-9aa4-8899e009715a"
=======
          "71a8f1f9-2272-4991-8f14-b0f3b7f59178"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "14995"
=======
          "11995"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [
          "Microsoft-IIS/10.0"
        ],
        "X-AspNet-Version": [
          "4.0.30319"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "8885ba89-cb54-41c3-9dad-ee2313a0a70b"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20191023T234704Z:8885ba89-cb54-41c3-9dad-ee2313a0a70b"
=======
          "27b8a8a1-6f00-4738-9c9a-1ea1a1eb2903"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200323T205120Z:27b8a8a1-6f00-4738-9c9a-1ea1a1eb2903"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 23 Oct 2019 23:47:03 GMT"
        ],
        "Content-Length": [
          "853"
=======
          "Mon, 23 Mar 2020 20:51:19 GMT"
        ],
        "Content-Length": [
          "829"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"firewallState\": \"Disabled\",\r\n    \"firewallAllowAzureIps\": \"Disabled\",\r\n    \"firewallAllowDataLakeAnalytics\": \"Disabled\",\r\n    \"firewallRules\": [],\r\n    \"virtualNetworkRules\": [],\r\n    \"trustedIdProviderState\": \"Disabled\",\r\n    \"trustedIdProviders\": [],\r\n    \"encryptionState\": \"Disabled\",\r\n    \"encryptionConfig\": {},\r\n    \"currentTier\": \"Consumption\",\r\n    \"newTier\": \"Consumption\",\r\n    \"replicationType\": \"LRS\",\r\n    \"dataLakePerformanceTierState\": \"Disabled\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"state\": \"Active\",\r\n    \"endpoint\": \"ps6714.caboaccountdogfood.net\",\r\n    \"accountId\": \"a8610bc0-d24a-488a-857e-36877a5232a7\",\r\n    \"creationTime\": \"2019-10-23T23:46:31.7263962Z\",\r\n    \"lastModifiedTime\": \"2019-10-23T23:46:31.7263962Z\"\r\n  },\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps2751/providers/Microsoft.DataLakeStore/accounts/ps6714\",\r\n  \"name\": \"ps6714\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/19bfaf65-cc32-4d16-b78f-9a1416a4584b/resourceGroups/ps885/providers/Microsoft.DataLakeStore/accounts/ps9313?api-version=2016-11-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "d264d548-4ae1-40b4-b869-e5bbc93a447d"
=======
          "95b68f4c-8f15-4eeb-ba81-523ed766e37a"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28008.01",
=======
          "FxVersion/4.6.28516.03",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.DataLake.Store.DataLakeStoreAccountManagementClient/2.4.2.0"
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-request-id": [
          "1dac8de9-423b-463b-852e-9d29665d864a"
        ],
        "x-ms-correlation-request-id": [
          "1dac8de9-423b-463b-852e-9d29665d864a"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20191023T234723Z:1dac8de9-423b-463b-852e-9d29665d864a"
=======
        "x-ms-request-id": [
          "57dc894b-400b-469e-b8e6-095e254e647c"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
[...]
[...]
    {
      "RequestUri": "/subscriptions/19bfaf65-cc32-4d16-b78f-9a1416a4584b/resourceGroups/ps885/providers/Microsoft.DataLakeStore/accounts/ps9313?api-version=2016-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"encryptionState\": \"Disabled\"\r\n  }\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28008.01",
=======
          "FxVersion/4.6.28516.03",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.DataLake.Store.DataLakeStoreAccountManagementClient/2.4.2.0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "103"
=======
          "104"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://api-dogfood.resources.windows-int.net/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourcegroups/ps2751/providers/Microsoft.DataLakeStore/accounts/ps6714/operationresults/0?api-version=2016-11-01"
=======
          "https://management.azure.com/subscriptions/19bfaf65-cc32-4d16-b78f-9a1416a4584b/resourcegroups/ps885/providers/Microsoft.DataLakeStore/accounts/ps9313/operationresults/0?api-version=2016-11-01"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
<<<<<<< HEAD
          "https://api-dogfood.resources.windows-int.net/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/providers/Microsoft.DataLakeStore/locations/westus/operationResults/a8610bc0-d24a-488a-857e-36877a5232a7_0?api-version=2016-11-01"
        ],
        "x-ms-request-id": [
          "6ebfc043-3ea0-4970-84bd-80879999c53d"
=======
          "https://management.azure.com/subscriptions/19bfaf65-cc32-4d16-b78f-9a1416a4584b/providers/Microsoft.DataLakeStore/locations/eastus2/opera[...]
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/providers/Microsoft.DataLakeStore/locations/westus/operationResults/a8610bc0-d24a-488a-857e-36877a5232a7_0?api-version=2016-11-01",
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"encryptionState\": \"Disabled\",\r\n    \"provisioningState\": \"Creating\",\r\n    \"state\": null,\r\n    \"endpoint\": null,\r\n    \"accountId\": \"bdeff151-711e-435b-9f3d-e511df862c05\"\r\n  },\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/19bfaf65-cc32-4d16-b78f-9a1416a4584b/resourceGroups/ps885/providers/Microsoft.DataLakeStore/accounts/ps9313\",\r\n  \"name\": \"ps9313\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/19bfaf65-cc32-4d16-b78f-9a1416a4584b/providers/Microsoft.DataLakeStore/locations/eastus2/operationResults/bdeff151-711e-435b-9f3d-e511df862c05_0?api-version=2016-11-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.28008.01",
=======
          "FxVersion/4.6.28516.03",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "OSNam[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "a9f72211-f99c-47f0-a232-df797667f5bc.0"
=======
          "fe68cecd-8993-4770-86d8-ae96f58f70e3.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "f51a9d17-47d0-453e-acf2-019b090e8a9d"
        ],
        "x-origin-server": [
          "bn4sch103190910"
        ],
        "Server-Perf": [
          "[f51a9d17-47d0-453e-acf2-019b090e8a9d][ AuthTime::972.5::PostAuthTime::28531 ][S-HdfsGetFileStatus :: 00:00:003 ms]%0a[GETFILESTATUS :: 00:00:005 ms]%0a"
=======
          "1429ff8a-46dd-4fb1-a76d-d274be710e63"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x8309000A"
        ],
<<<<<<< HEAD
        "x-ms-server-perf": [
          "RequestTime:864;HandlerTime:8"
        ],
=======
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Strict-Transport-Security": [
          "max-age=15724800; includeSubDomains"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 23 Oct 2019 23:47:06 GMT"
=======
          "Mon, 23 Mar 2020 20:51:21 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "237"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /adlspstestfolder [f51a9d17-47d0-453e-acf2-019b090e8a9d][2019-10-23T16:47:06.7346343-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
=======
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /adlspstestfolder [1429ff8a-46dd-4fb1-a76d-d274be710e63][2020-03-23T13:51:22.1841376-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "StatusCode": 404
    },
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
<<<<<<< HEAD
          "d36a7de2-c607-4db0-83a6-83d7ba26a47b.0.0,88,,MKDIRS,16,1"
=======
          "ef4e2ad5-bb37-47c5-985e-114fd11ff230.0.0,84,,MKDIRS,16,1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "User-Agent": [
          "Microsoft.Azure.DataLake.Store;1.2.3-alpha/Microsoft Windows 10.0.14393  X64/NETCOREAPP1_1/AzurePowershell/Az1.0.0"
        ],
        "x-ms-client-request-id": [
<<<<<<< HEAD
          "c583d797-03e4-4d96-8116-eb44b907d044.0"
=======
          "d9a65b7d-98bd-4575-a1a8-d993e67d5d61.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "3051193d-266a-466e-bd61-36312289cc56"
        ],
        "x-origin-server": [
          "bn4sch103190910"
        ],
        "Server-Perf": [
          "[3051193d-266a-466e-bd61-36312289cc56][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:00[...]
[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder?op=MKDIRS&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
<<<<<<< HEAD
          "a9f72211-f99c-47f0-a232-df797667f5bc.0.1,1417,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,1"
=======
          "fe68cecd-8993-4770-86d8-ae96f58f70e3.0.1,731,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Femptyfile.txt?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
<<<<<<< HEAD
          "c583d797-03e4-4d96-8116-eb44b907d044.0.0,86,,GETFILESTATUS,280,1"
=======
          "d9a65b7d-98bd-4575-a1a8-d993e67d5d61.0.0,83,,GETFILESTATUS,280,1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "User-Agent"[...]
[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Femptyfile.txt?op=CREATE&overwrite=True&leaseid=3e7e7f01-36b5-48fd-a4e5-820ec7277839&filesessionid=3e7e7f01-36b5-48fd-a4e5-820ec7277839&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01",
=======
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 36,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"FILE\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1584996682758,\r\n    \"modificationTime\": 1584996686152,\r\n    \"replication\": 1,\r\n    \"permission\": \"770\",\r\n    \"owner\": \"a9490485-6472-48d0-bf72-50cb3c216b9c\",\r\n    \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"msExpirationTime\": 0,\r\n    \"aclBit\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Fcontentfile.txt?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
<<<<<<< HEAD
          "c4bfc497-c163-4964-b841-a6fb090fabb2.0.0,89,,GETFILESTATUS,304,1"
=======
          "6faaee39-e30d-41d1-a258-d8f67a209ca2.0.0,82,,GETFILESTATUS,304,1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "User-Agen[...]
[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Fcontentfile.txt?op=CREATE&overwrite=True&leaseid=58169e0b-0507-4579-bb60-79aacf6696ac&filesessionid=58169e0b-0507-4579-bb60-79aacf6696ac&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01",
=======
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 36,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"FILE\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1584996683205,\r\n    \"modificationTime\": 1584996683324,\r\n    \"replication\": 1,\r\n    \"permission\": \"770\",\r\n    \"owner\": \"a9490485-6472-48d0-bf72-50cb3c216b9c\",\r\n    \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"msExpirationTime\": 0,\r\n    \"aclBit\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
<<<<<<< HEAD
          "5f9d5d34-7580-466b-b240-2ef937380170.0.0,85,,GETFILESTATUS,305,1"
=======
          "aef87d4f-6337-4518-b67e-3e4545660a16.0.0,81,,GETFILESTATUS,305,1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "User[...]
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=CREATE&overwrite=True&leaseid=6adc3d80-1f91-40c2-a8c9-07073d321acd&filesessionid=6adc3d80-1f91-40c2-a8c9-07073d321acd&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01",
=======
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /encodingFolder/unicodecontentfile.txt [2273d5c5-7222-4feb-866f-d46ca43a4821][2020-03-23T13:51:23.5121621-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=GETFILESTATUS&tooid=True&getconsistentlength=true&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
<<<<<<< HEAD
          "a9c3c40a-31f1-47c8-b419-3e945140e11c.0.0,90,,APPEND,0,1"
=======
          "79112b64-8948-45da-9e73-77ee37d8860d.0.0,85,,APPEND,0,1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
      [...]
[...]
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=OPEN&read=true&filesessionid=134c654f-30e1-41ac-b48a-768224560a9d&offset=0&length=4194304&api-version=2018-09-01",
=======
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 34,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"FILE\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1584996683616,\r\n    \"modificationTime\": 1584996683996,\r\n    \"replication\": 1,\r\n    \"permission\": \"770\",\r\n    \"owner\": \"a9490485-6472-48d0-bf72-50cb3c216b9c\",\r\n    \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"msExpirationTime\": 0,\r\n    \"aclBit\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Futf32contentfile.txt?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
<<<<<<< HEAD
          "383f00f4-41e3-4a81-aafb-83677d6c0400.0.0,130,,OPEN,34,1"
=======
          "36e88d1c-4617-4ed9-8079-edddeb6cbd99.0.0,113,,OPEN,34,1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "User-Agent": [
         [...]
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Futf32contentfile.txt?op=CREATE&overwrite=True&leaseid=c280a444-7343-461c-985a-8363be5f10cc&filesessionid=c280a444-7343-461c-985a-8363be5f10cc&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01",
=======
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /encodingFolder/utf32contentfile.txt [e460dd34-cd15-4810-a125-95cda08eeb2d][2020-03-23T13:51:24.4339669-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Futf32contentfile.txt?op=GETFILESTATUS&tooid=True&getconsistentlength=true&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
<<<<<<< HEAD
          "a60bdd89-6ec3-4299-8618-3787506bf2bd.0.0,274,,APPEND,60,1"
=======
          "edfaf258-7929-4dce-9192-8ef1b752bed0.0.0,136,,APPEND,60,1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
    [...]
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Futf32contentfile.txt?op=OPEN&read=true&filesessionid=cedb459f-02dc-4f68-8eb7-b05f9f496e49&offset=0&length=4194304&api-version=2018-09-01",
=======
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 60,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"FILE\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1584996684525,\r\n    \"modificationTime\": 1584996684637,\r\n    \"replication\": 1,\r\n    \"permission\": \"770\",\r\n    \"owner\": \"a9490485-6472-48d0-bf72-50cb3c216b9c\",\r\n    \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"msExpirationTime\": 0,\r\n    \"aclBit\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/WebHdfsExt%2Fadlspstestfolder%2Fcontentfile.txt?op=SETEXPIRY&expireTime=-1&expiryOption=NeverExpire&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
<<<<<<< HEAD
          "95456aa6-c8e8-4a72-9c2c-85de851213f4.0.0,87,,GETFILESTATUS,317,1"
=======
          "610f760d-a055-4a15-9047-03048343fd11.0.0,81,,GETFILESTATUS,317,1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
     [...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder?op=LISTSTATUS&listSize=4000&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
<<<<<<< HEAD
          "7479930b-5026-43a8-b829-369c69f831b8.0.0,87,,GETFILESTATUS,305,1"
=======
          "2ba375f5-d82b-4751-99b8-c1484afd058e.0.0,80,,GETFILESTATUS,305,1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "User-Agent": [
 [...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Femptyfile.txt?op=APPEND&leaseid=91bff7cd-a7f0-4146-8491-613f656d0dfd&filesessionid=91bff7cd-a7f0-4146-8491-613f656d0dfd&append=true&offset=0&syncFlag=DATA&api-version=2018-09-01",
=======
      "ResponseBody": "{\r\n  \"FileStatuses\": {\r\n    \"continuationToken\": \"\",\r\n    \"FileStatus\": [\r\n      {\r\n        \"length\": 36,\r\n        \"pathSuffix\": \"contentfile.txt\",\r\n        \"type\": \"FILE\",\r\n        \"blockSize\": 268435456,\r\n        \"accessTime\": 1584996683205,\r\n        \"modificationTime\": 1584996683324,\r\n        \"replication\": 1,\r\n        \"permission\": \"770\",\r\n        \"owner\": \"a9490485-6472-48d0-bf72-50cb3c216b9c\",\r\n        \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n        \"msExpirationTime\": 0,\r\n        \"aclBit\": false\r\n      },\r\n      {\r\n        \"length\": 0,\r\n        \"pathSuffix\": \"emptyfile.txt\",\r\n        \"type\": \"FILE\",\r\n        \"blockSize\": 268435456,\r\n        \"accessTime\": 1584996682758,\r\n        \"modificationTime\": 1584996682758,\r\n        \"replication\": 1,\r\n        \"permission\": \"770\",\r\n        \"owner\": \"a9490485-6472-48d0-bf72-50cb3c216b9c\",\r\n        \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n        \"msExpirationTime\": 0,\r\n        \"aclBit\": false\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Femptyfile.txt?op=GETFILESTATUS&tooid=True&getconsistentlength=true&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
<<<<<<< HEAD
          "0e85b73e-5eb0-4b59-b5a6-2f6f523e0e81.0.0,90,,APPEND,0,1"
=======
          "de76ccdc-581f-4bc0-b59c-d0295f588ddb.0.0,84,,APPEND,0,1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "User[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Fconcatfile.txt?op=MSCONCAT&api-version=2018-09-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"sources\": [\r\n    \"/adlspstestfolder/emptyfile.txt\",\r\n    \"/adlspstestfolder/contentfile.txt\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
<<<<<<< HEAD
          "70c1868b-49d8-4c87-8592-bc1132906de4.0.0,86,,GETFILESTATUS,305,1"
=======
          "994f828c-d91d-4e05-af36-f40d528c6e4f.0.0,88,,GETFILESTATUS,305,1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "User-Agent": [
          "Microsoft.Azure.DataLake.Store;1.2.3-alpha/Microsoft Windows [...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Fconcatfile.txt?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
<<<<<<< HEAD
          "02ae03c6-f539-4789-84a4-e9537ab3812b.0.0,578,,MSCONCAT,83,1"
=======
[...]
