{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourcegroups/ps1693?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
=======
      "RequestUri": "/subscriptions/19bfaf65-cc32-4d16-b78f-9a1416a4584b/resourcegroups/ps7357?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus2\"\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28008.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.2"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.9"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "28"
=======
          "29"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
<<<<<<< HEAD
          "effb56b7-1291-40d0-8513-15f9a6e2d414"
        ],
        "x-ms-correlation-request-id": [
          "effb56b7-1291-40d0-8513-15f9a6e2d414"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20191023T234330Z:effb56b7-1291-40d0-8513-15f9a6e2d414"
=======
          "76a51b5a-20a3-470f-8d13-c596c45f6661"
        ],
        "x-ms-correlation-request-id": [
          "76a51b5a-20a3-470f-8d13-c596c45f6661"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200317T210533Z:76a51b5a-20a3-470f-8d13-c596c45f6661"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 23 Oct 2019 23:43:29 GMT"
        ],
        "Content-Length": [
          "165"
=======
          "Tue, 17 Mar 2020 21:05:32 GMT"
        ],
        "Content-Length": [
          "166"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps1693\",\r\n  \"name\": \"ps1693\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps1693/providers/Microsoft.DataLakeStore/accounts/ps348?api-version=2016-11-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/19bfaf65-cc32-4d16-b78f-9a1416a4584b/resourceGroups/ps7357\",\r\n  \"name\": \"ps7357\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/19bfaf65-cc32-4d16-b78f-9a1416a4584b/resourceGroups/ps7357/providers/Microsoft.DataLakeStore/accounts/ps9896?api-version=2016-11-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "8bcd832f-92ff-4e21-8f6e-a163239215cd"
=======
          "cd53b575-e9d6-49ff-b3e6-de1c411ea39d"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28008.01",
=======
          "FxVersion/4.6.28516.03",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.DataLake.Store.DataLakeStoreAccountManagementClient/2.4.2.0"
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "c6bec33c-1134-4dc5-88a4-8c6e869bb4a3"
        ],
        "x-ms-correlation-request-id": [
          "c6bec33c-1134-4dc5-88a4-8c6e869bb4a3"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20191023T234331Z:c6bec33c-1134-4dc5-88a4-8c6e869bb4a3"
=======
          "25d193a9-c43e-4e68-bbb6-066b5e1d6156"
        ],
        "x-ms-correlation-request-id": [
          "25d193a9-c43e-4e68-bbb6-066b5e1d6156"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200317T210534Z:25d193a9-c43e-4e68-bbb6-066b5e1d6156"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 23 Oct 2019 23:43:30 GMT"
=======
          "Tue, 17 Mar 2020 21:05:33 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "148"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.DataLakeStore/accounts/ps348' under resource group 'ps1693' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/19bfaf65-cc32-4d16-b78f-9a1416a4584b/resourceGroups/ps7357/providers/Microsoft.DataLakeStore/accounts/ps9896?api-version=2016-11-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.28008.01",
=======
          "FxVersion/4.6.28516.03",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.DataLake.Store.DataLakeStoreAccountManagementClient/2.4.2.0"
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "09882696-c110-4462-a28e-34d0ccb77f08"
=======
          "cbf75cf2-de4c-44ba-9f3f-0647f0184d30"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "14995"
=======
          "11995"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server": [
          "Microsoft-IIS/10.0"
        ],
        "X-AspNet-Version": [
          "4.0.30319"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "818065f5-448f-48fd-b188-5d5f9d8dfaca"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20191023T234407Z:818065f5-448f-48fd-b188-5d5f9d8dfaca"
=======
          "a6b749ff-f167-4a54-afa4-6d447cd83562"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200317T210608Z:a6b749ff-f167-4a54-afa4-6d447cd83562"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 23 Oct 2019 23:44:07 GMT"
        ],
        "Content-Length": [
          "848"
=======
          "Tue, 17 Mar 2020 21:06:08 GMT"
        ],
        "Content-Length": [
          "830"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"firewallState\": \"Disabled\",\r\n    \"firewallAllowAzureIps\": \"Disabled\",\r\n    \"firewallAllowDataLakeAnalytics\": \"Disabled\",\r\n    \"firewallRules\": [],\r\n    \"virtualNetworkRules\": [],\r\n    \"trustedIdProviderState\": \"Disabled\",\r\n    \"trustedIdProviders\": [],\r\n    \"encryptionState\": \"Disabled\",\r\n    \"encryptionConfig\": {},\r\n    \"currentTier\": \"Consumption\",\r\n    \"newTier\": \"Consumption\",\r\n    \"replicationType\": \"LRS\",\r\n    \"dataLakePerformanceTierState\": \"Disabled\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"state\": \"Active\",\r\n    \"endpoint\": \"ps348.caboaccountdogfood.net\",\r\n    \"accountId\": \"05eac1d5-2e1c-4d62-9965-2c4b4a1984d9\",\r\n    \"creationTime\": \"2019-10-23T23:43:36.811813Z\",\r\n    \"lastModifiedTime\": \"2019-10-23T23:43:36.811813Z\"\r\n  },\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps1693/providers/Microsoft.DataLakeStore/accounts/ps348\",\r\n  \"name\": \"ps348\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/19bfaf65-cc32-4d16-b78f-9a1416a4584b/resourceGroups/ps7357/providers/Microsoft.DataLakeStore/accounts/ps9896?api-version=2016-11-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "3dbff07f-c9a5-43e1-9e4b-a0b332339403"
=======
          "802f302a-cd29-4a46-8a6b-c277faed6efa"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28008.01",
=======
          "FxVersion/4.6.28516.03",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.DataLake.Store.DataLakeStoreAccountManagementClient/2.4.2.0"
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-request-id": [
          "a00d00a3-b549-4287-a520-c43f9a5ad87f"
        ],
        "x-ms-correlation-request-id": [
          "a00d00a3-b549-4287-a520-c43f9a5ad87f"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20191023T234452Z:a00d00a3-b549-4287-a520-c43f9a5ad87f"
=======
        "x-ms-request-id": [
          "ed383758-ba42-4aaf-b2fc-d98e81bdbe77"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
[...]
[...]
    {
      "RequestUri": "/subscriptions/19bfaf65-cc32-4d16-b78f-9a1416a4584b/resourceGroups/ps7357/providers/Microsoft.DataLakeStore/accounts/ps9896?api-version=2016-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"encryptionState\": \"Disabled\"\r\n  }\r\n}",
      "RequestHeaders": {
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.28008.01",
=======
          "FxVersion/4.6.28516.03",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.DataLake.Store.DataLakeStoreAccountManagementClient/2.4.2.0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "103"
=======
          "104"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://api-dogfood.resources.windows-int.net/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourcegroups/ps1693/providers/Microsoft.DataLakeStore/accounts/ps348/operationresults/0?api-version=2016-11-01"
=======
          "https://management.azure.com/subscriptions/19bfaf65-cc32-4d16-b78f-9a1416a4584b/resourcegroups/ps7357/providers/Microsoft.DataLakeStore/accounts/ps9896/operationresults/0?api-version=2016-11-01"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
<<<<<<< HEAD
          "https://api-dogfood.resources.windows-int.net/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/providers/Microsoft.DataLakeStore/locations/westus/operationResults/05eac1d5-2e1c-4d62-9965-2c4b4a1984d9_0?api-version=2016-11-01"
        ],
        "x-ms-request-id": [
          "7d1d9abd-fc93-40c9-a1a0-12f3274e94bb"
=======
          "https://management.azure.com/subscriptions/19bfaf65-cc32-4d16-b78f-9a1416a4584b/providers/Microsoft.DataLakeStore/locations/eastus2/opera[...]
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/providers/Microsoft.DataLakeStore/locations/westus/operationResults/05eac1d5-2e1c-4d62-9965-2c4b4a1984d9_0?api-version=2016-11-01",
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"encryptionState\": \"Disabled\",\r\n    \"provisioningState\": \"Creating\",\r\n    \"state\": null,\r\n    \"endpoint\": null,\r\n    \"accountId\": \"ffc752ca-53f9-4c56-84d1-a64b0e433d91\"\r\n  },\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/19bfaf65-cc32-4d16-b78f-9a1416a4584b/resourceGroups/ps7357/providers/Microsoft.DataLakeStore/accounts/ps9896\",\r\n  \"name\": \"ps9896\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/19bfaf65-cc32-4d16-b78f-9a1416a4584b/providers/Microsoft.DataLakeStore/locations/eastus2/operationResults/ffc752ca-53f9-4c56-84d1-a64b0e433d91_0?api-version=2016-11-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.28008.01",
=======
          "FxVersion/4.6.28516.03",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "OSNam[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "fdc83ddb-e371-4630-bec7-8c19eec3c17e.0"
=======
          "b10fec83-ca65-4a8a-875a-762179b70f68.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "00ea1a9e-5980-4357-9b0d-0a85f8d3a588"
        ],
        "x-origin-server": [
          "bn4sch103190124"
        ],
        "Server-Perf": [
          "[00ea1a9e-5980-4357-9b0d-0a85f8d3a588][ AuthTime::9905.9::PostAuthTime::4150178.9 ][S-HdfsGetFileStatus :: 00:00:004 ms]%0a[GETFILESTATUS :: 00:00:011 ms]%0a"
=======
          "6422f606-5eec-4bdd-a335-f284835debd3"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x8309000A"
        ],
<<<<<<< HEAD
        "x-ms-server-perf": [
          "RequestTime:5077;HandlerTime:13"
        ],
=======
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Strict-Transport-Security": [
          "max-age=15724800; includeSubDomains"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 23 Oct 2019 23:44:13 GMT"
=======
          "Tue, 17 Mar 2020 21:06:10 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "237"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /adlspstestfolder [00ea1a9e-5980-4357-9b0d-0a85f8d3a588][2019-10-23T16:44:14.4702920-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
=======
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /adlspstestfolder [6422f606-5eec-4bdd-a335-f284835debd3][2020-03-17T14:06:10.4689302-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "StatusCode": 404
    },
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
<<<<<<< HEAD
          "8df05d5b-01a9-4a43-9e3f-09ec1c2f8b42.0.0,88,,MKDIRS,16,1"
=======
          "40e4cbfd-f5ac-482d-9617-859eed481234.0.0,81,,MKDIRS,16,1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "User-Agent": [
          "Microsoft.Azure.DataLake.Store;1.2.3-alpha/Microsoft Windows 10.0.14393  X64/NETCOREAPP1_1/AzurePowershell/Az1.0.0"
        ],
        "x-ms-client-request-id": [
<<<<<<< HEAD
          "9ddd07f4-ca24-4744-96df-80600d602f6a.0"
=======
          "ca10e868-3647-4d97-aee0-58a08586167a.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "72634ffc-5812-4eae-b236-2864c12b5289"
        ],
        "x-origin-server": [
          "bn4sch103190124"
        ],
        "Server-Perf": [
          "[72634ffc-5812-4eae-b236-2864c12b5289][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:00[...]
[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder?op=MKDIRS&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
<<<<<<< HEAD
          "fdc83ddb-e371-4630-bec7-8c19eec3c17e.0.1,5714,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,1"
=======
          "b10fec83-ca65-4a8a-875a-762179b70f68.0.1,791,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Femptyfile.txt?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
<<<<<<< HEAD
          "9ddd07f4-ca24-4744-96df-80600d602f6a.0.0,89,,GETFILESTATUS,280,1"
=======
          "ca10e868-3647-4d97-aee0-58a08586167a.0.0,76,,GETFILESTATUS,280,1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "User-Agent"[...]
[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Femptyfile.txt?op=CREATE&overwrite=True&leaseid=271ce44d-c074-4c93-94fe-dfeeff3d1d57&filesessionid=271ce44d-c074-4c93-94fe-dfeeff3d1d57&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01",
=======
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 36,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"FILE\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1584479171019,\r\n    \"modificationTime\": 1584479174234,\r\n    \"replication\": 1,\r\n    \"permission\": \"770\",\r\n    \"owner\": \"a9490485-6472-48d0-bf72-50cb3c216b9c\",\r\n    \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"msExpirationTime\": 0,\r\n    \"aclBit\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Femptyfile.txt?op=APPEND&leaseid=2aec2bfd-76ab-4136-9a4c-f8acbac81f1d&filesessionid=2aec2bfd-76ab-4136-9a4c-f8acbac81f1d&append=true&offset=0&syncFlag=CLOSE&api-version=2018-09-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "47c6d4e2-4618-40c1-a5a6-b3d40f190d44.0.0,89,,CREATE,0,1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Use[...]
[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Fcontentfile.txt?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "7397c655-0ba7-4eba-9c60-16e7f77ce8a4.0.0,77,,GETFILESTATUS,304,1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "User-Agent": [
          "Microsoft.Azure.DataLake.Store;1.2.3-alpha/Microsoft Windows 10.0.14393  X64/NETCOREAPP1_1/AzurePowershell/Az1.0.0"
        ],
        "x-ms-client-request-id": [
<<<<<<< HEAD
          "5df54102-fac5-4083-83c9-4af40a3e4482.3"
        ],
        "Content-Length": [
          "0"
=======
          "ed40d41f-a6bd-4e23-b877-fe579814ceb4.0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "Location": [
          "https://ps348.caboaccountdogfood.net/webhdfs/v1/adlspstestfolder/emptyfile.txt?op=CREATE&overwrite=True&leaseid=271ce44d-c074-4c93-94fe-dfeeff3d1d57&filesessionid=271ce44d-c074-4c93-94fe-dfeeff3d1d57&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01"
        ],
        "x-ms-request-id": [
          "0aa9d03c-1a74-4100-97bd-1b416f335ec8"
        ],
        "x-origin-server": [
          "bn4sch103201424"
        ],
        "ContentLength": [
          "0"
        ],
        "Server-Perf": [
          "[0aa9d03c-1a74-4100-97bd-1b416f335ec8][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:003 ms]%0a[S-HdfsCheckAccess :: 00:00:002 ms]%0a[S-HdfsOpenV2 :: 00:00:016 ms]%0a[BufferingTime :: 00:00:000 ms]%0a[WriteTime :: 00:00:000 ms]%0a[CREATE :: 00:00:025 ms]%0a"
=======
        "x-ms-request-id": [
          "94e1c94f-015e-420c-8a23-ea370fabac32"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
<<<<<<< HEAD
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:36;HandlerTime:28"
=======
          "0x8309000A"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Strict-Transport-Security": [
          "max-age=15724800; includeSubDomains"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 23 Oct 2019 23:44:36 GMT"
=======
          "Tue, 17 Mar 2020 21:06:10 GMT"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Fcontentfile.txt?op=CREATE&overwrite=True&leaseid=63b798cc-6151-433f-a81f-f97bb79127e2&filesessionid=63b798cc-6151-433f-a81f-f97bb79127e2&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "ed40d41f-a6bd-4e23-b877-fe579814ceb4.0.1,75,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,1"
>>>[...]
[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Fcontentfile.txt?op=APPEND&leaseid=63b798cc-6151-433f-a81f-f97bb79127e2&filesessionid=63b798cc-6151-433f-a81f-f97bb79127e2&append=true&offset=0&syncFlag=CLOSE&api-version=2018-09-01",
      "RequestMethod": "POST",
      "RequestBody": "Test file content! @ Azure PsTest01?",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "6c081a9a-580d-451d-bcc6-e6b3bce2aef2.0.0,90,,CREATE,0,1"
>>>>>>> e5fcd5c7b105c638909ca50ef4[...]
[...]
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
<<<<<<< HEAD
          "398bb681-1ed6-4ba3-bafb-3e9c81c3258a.0.0,131,,SETEXPIRY,0,1"
=======
          "50a71f56-1bf7-4460-8a79-1ac5cd463a3e.0.0,76,,GETFILESTATUS,305,1"
>>>>>>> e5fcd5c7b105c638909ca[...]
[...]
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=CREATE&overwrite=True&leaseid=b91c6894-4eda-40b3-a840-95d5d8a08385&filesessionid=b91c6894-4eda-40b3-a840-95d5d8a08385&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
<<<<<<< HEAD
          "56489bcf-c1a1-4ccb-bfb6-d98635198634.0.[...]
[...]
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=APPEND&leaseid=d2515cf2-2242-42cf-af76-537512faf2c3&filesessionid=d2515cf2-2242-42cf-af76-537512faf2c3&append=true&offset=0&syncFlag=CLOSE&api-version=2018-09-01",
=======
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=APPEND&leaseid=b91c6894-4eda-40b3-a840-95d5d8a08385&filesessionid=b91c6894-4eda-40b3-a840-95d5d8a08385&append=true&offset=0&syncFlag=CLOSE&api-version=2018-09-01",
>>[...]
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=GETFILESTATUS&tooid=True&getconsistentlength=true&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
<<<<<<< HEAD
          "1e600225-e982-4363-85c8-63cacd18ee7b.0.0,92,,APPEND,0,1"
=======
          "0934848a-b76a-46cc-8172-5c14a86039b5.0.0,86,,APPEND,0,1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
      [...]
[...]
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=OPEN&read=true&filesessionid=f1575baf-778f-4dd1-937e-fdc204ec03ca&offset=0&length=4194304&api-version=2018-09-01",
=======
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 34,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"FILE\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1584479171822,\r\n    \"modificationTime\": 1584479172203,\r\n    \"replication\": 1,\r\n    \"permission\": \"770\",\r\n    \"owner\": \"a9490485-6472-48d0-bf72-50cb3c216b9c\",\r\n    \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"msExpirationTime\": 0,\r\n    \"aclBit\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Futf32contentfile.txt?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
<<<<<<< HEAD
          "159b05b2-3c8e-448b-9ead-58e6a346d9b3.0.0,210,,OPEN,34,1"
=======
          "9dd03c27-b78e-4e24-9ced-e14fd65aaa10.0.0,108,,OPEN,34,1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "User-Agent": [
         [...]
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Futf32contentfile.txt?op=CREATE&overwrite=True&leaseid=1c5cc84b-489b-4be2-86a0-ca696873e4f4&filesessionid=1c5cc84b-489b-4be2-86a0-ca696873e4f4&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01",
=======
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /encodingFolder/utf32contentfile.txt [95f68cd6-ca7b-4bd8-8898-a812635bb56a][2020-03-17T14:06:12.5938059-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Futf32contentfile.txt?op=GETFILESTATUS&tooid=True&getconsistentlength=true&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
<<<<<<< HEAD
          "e0945c40-82a0-42bf-8193-da6056609e84.0.0,145,,APPEND,60,1"
=======
          "da73a155-f71c-4a4c-ba6a-c541d20e5acc.0.0,126,,APPEND,60,1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
    [...]
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Futf32contentfile.txt?op=OPEN&read=true&filesessionid=2ef66ad8-a54a-495e-8b85-f37e6416f1ab&offset=0&length=4194304&api-version=2018-09-01",
=======
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 60,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"FILE\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1584479172726,\r\n    \"modificationTime\": 1584479172828,\r\n    \"replication\": 1,\r\n    \"permission\": \"770\",\r\n    \"owner\": \"a9490485-6472-48d0-bf72-50cb3c216b9c\",\r\n    \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"msExpirationTime\": 0,\r\n    \"aclBit\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/WebHdfsExt%2Fadlspstestfolder%2Fcontentfile.txt?op=SETEXPIRY&expireTime=-1&expiryOption=NeverExpire&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
<<<<<<< HEAD
          "002535f4-3f20-4d8c-b879-5b42d8c4b725.0.0,91,,GETFILESTATUS,317,1"
=======
          "8fbfb4c0-273b-4b11-b790-5d65ed7b6706.0.0,82,,GETFILESTATUS,317,1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
     [...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder?op=LISTSTATUS&listSize=4000&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
[...]
