{
  "Entries": [
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "4284ad81-4683-4caa-ab44-0f70f43cd371"
=======
          "231a8a57-5110-4f9d-916b-b997a0b70ad1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.2"
=======
          "FxVersion/4.6.27817.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.4"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11999"
        ],
        "x-ms-request-id": [
          "ac3bf65e-dc8e-4037-8ab9-423560b1562b"
        ],
        "x-ms-correlation-request-id": [
          "ac3bf65e-dc8e-4037-8ab9-423560b1562b"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20191021T193344Z:ac3bf65e-dc8e-4037-8ab9-423560b1562b"
=======
          "11995"
        ],
        "x-ms-request-id": [
          "239df54f-6fc3-4b02-b456-deb8bffe41e9"
        ],
        "x-ms-correlation-request-id": [
          "239df54f-6fc3-4b02-b456-deb8bffe41e9"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200122T223835Z:239df54f-6fc3-4b02-b456-deb8bffe41e9"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 21 Oct 2019 19:33:43 GMT"
=======
          "Wed, 22 Jan 2020 22:38:35 GMT"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "4349"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices\",\r\n  \"namespace\": \"Microsoft.Devices\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"0cd79364-7a90-4354-9984-6e36c841418d\",\r\n      \"roleDefinitionId\": \"C121DF10-FE58-4BC4-97F9-8296879F7BBB\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"checkNameAvailability\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2019-07-01-preview\",\r\n        \"2019-03-22-preview\",\r\n        \"2019-03-22\",\r\n        \"2018-12-01-preview\",\r\n        \"2018-04-01\",\r\n        \"2018-01-22\",\r\n        \"2017-07-01\",\r\n        \"2017-01-19\",\r\n        \"2016-02-03\",\r\n        \"2015-08-15-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"checkProvisioningServiceNameAvailability\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2018-01-22\",\r\n       [...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices/IotHubs?api-version=2019-07-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "6a464d6d-a26b-4135-8603-7d5099c7a24a"
=======
          "ff5dcb48-bbaf-41d8-afc7-67ff2e8fbaa9"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
=======
          "FxVersion/4.6.27817.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "Microsoft.Azure.Management.IotHub.IotHubClient/2.10.0.0"
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "x-ms-request-id": [
          "644bfb46-9a1c-4886-a811-4c72a488451f"
        ],
        "x-ms-correlation-request-id": [
          "644bfb46-9a1c-4886-a811-4c72a488451f"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20191021T193358Z:644bfb46-9a1c-4886-a811-4c72a488451f"
=======
        "x-ms-ratelimit-remaining-subscription-reads": [
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourcegroups/ps9672?api-version=2016-09-01",
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/affandarrg/providers/Microsoft.Devices/IotHubs/affanga\",\r\n      \"name\": \"affanga\",\r\n      \"type\": \"Microsoft.Devices/IotHubs\",\r\n      \"location\": \"westus\",\r\n      \"tags\": {\r\n        \"foo\": \"bar\"\r\n      },\r\n      \"subscriptionid\": \"91d12660-3dec-467a-be2a-213b5544ddc0\",\r\n      \"resourcegroup\": \"affandarrg\",\r\n      \"etag\": \"AAAAAAqNIHc=\",\r\n      \"properties\": {\r\n        \"locations\": [\r\n          {\r\n            \"location\": \"West US\",\r\n            \"role\": \"primary\"\r\n          },\r\n          {\r\n            \"location\": \"East US\",\r\n            \"role\": \"secondary\"\r\n          }\r\n        ],\r\n        \"state\": \"Active\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"ipFilterRules\": [\r\n          {\r\n            \"filterName\": \"1\",\r\n            \"action\": \"Reject\",\r\n            \"ipMask\": \"1.0.0.1\"\r\n          }\r\n        ],\r\n        \"hostName\": \"affanga.azure-devices.net\",\r\n        \"eventHubEndpoints\": {\r\n          \"events\": {\r\n            \"retentionTimeInDays\": 1,\r\n            \"partitionCount\": 4,\r\n            \"partitionIds\": [\r\n              \"0\",\r\n              \"1\",\r\n              \"2\",\r\n              \"3\"\r\n            ],\r\n            \"path\": \"affanga\",\r\n            \"endpoint\": \"sb://iothub-ns-affanga-85919-dbb37074f2.servicebus.windows.net/\"\r\n          }\r\n        },\r\n        \"routing\": {\r\n          \"endpoints\": {\r\n            \"serviceBusQueues\": [\r\n              {\r\n                \"connectionString\": \"Endpoint=sb://dmpypinoneboxsbns.servicebus.windows.net:5671/;SharedAccessKeyName=iothubroutes_affandarrg;SharedAccessKey=****;EntityPath=dmpypindesktop-iothub-q-acmediscov-6-3edb84555f\",\r\n                \"name\": \"asdfsadfasdf\",\r\n                \"id\": \"baa5b0c2-e893-4e3b-9122-eb722430eb17\",\r\n                \"subscriptionId\": \"91d12660-3dec-467a-be2a-213b5544ddc0\",\r\n                \"resourceGroup\": \"Default-ServiceBus-SouthCentralUS\"\r\n              }\r\n            ],\r\n            \"serviceBusTopics\": [],\r\n            \"eventHubs\": [],\r\n            \"storageContainers\": [\r\n              {\r\n                \"connectionString\": \"DefaultEndpointsProtocol=https;AccountName=affanwj;AccountKey=****\",\r\n                \"containerName\": \"iotcontainer\",\r\n                \"fileNameFormat\": \"{iothub}/{partition}/{YYYY}/{MM}/{DD}/{HH}/{mm}\",\r\n                \"batchFrequencyInSeconds\": 100,\r\n                \"maxChunkSizeInBytes\": 104857600,\r\n                \"encoding\": \"avro\",\r\n                \"name\": \"stg1\",\r\n                \"id\": \"f2f26f9d-72a2-4409-b4fd-24b0fd4e9afb\",\r\n                \"subscriptionId\": \"91d12660-3dec-467a-be2a-213b5544ddc0\",\r\n                \"resourceGroup\": \"affandarrg\"\r\n              }\r\n            ]\r\n          },\r\n          \"routes\": [],\r\n          \"fallbackRoute\": {\r\n            \"name\": \"$fallback\",\r\n            \"source\": \"DeviceMessages\",\r\n            \"condition\": \"true\",\r\n            \"endpointNames\": [\r\n              \"events\"\r\n            ],\r\n            \"isEnabled\": true\r\n          }\r\n        },\r\n        \"storageEndpoints\": {\r\n          \"$default\": {\r\n            \"sasTtlAsIso8601\": \"PT1H\",\r\n            \"connectionString\": \"\",\r\n            \"containerName\": \"\"\r\n          }\r\n        },\r\n        \"messagingEndpoints\": {\r\n          \"fileNotifications\": {\r\n            \"lockDurationAsIso8601\": \"PT1M\",\r\n            \"ttlAsIso8601\": \"PT1H\",\r\n            \"maxDeliveryCount\": 10\r\n          }\r\n        },\r\n        \"enableFileUploadNotifications\": false,\r\n        \"cloudToDevice\": {\r\n          \"maxDeliveryCount\": 10,\r\n          \"defaultTtlAsIso8601\": \"PT1H\",\r\n          \"feedback\": {\r\n            \"lockDurationAsIso8601\": \"PT1M\",\r\n            \"ttlAsIso8601\": \"PT1H\",\r\n            \"maxDeliveryCount\": 10\r\n          }\r\n        },\r\n        \"features\": \"None\"\r\n      },\r\n      \"sku\": {\r\n        \"name\": \"S1\",\r\n        \"tier\": \"Standard\",\r\n        \"capacity\": 1\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ilie/providers/Microsoft.Devices/IotHubs/IlieEdgeTest\",\r\n      \"name\": \"IlieEdgeTest\",\r\n      \"type\": \"Microsoft.Devices/IotHubs\",\r\n      \"location\": \"eastus\",\r\n      \"tags\": {},\r\n      \"subscriptionid\": \"91d12660-3dec-467a-be2a-213b5544ddc0\",\r\n      \"resourcegroup\": \"ilie\",\r\n      \"etag\": \"AAAAAAXQNps=\",\r\n      \"properties\": {\r\n   [...]
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps9672/providers/Microsoft.EventHub/namespaces/eventHub6735?api-version=2017-04-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps4732\",\r\n  \"name\": \"ps4732\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps4732/providers/Microsoft.EventHub/namespaces/eventHub4729?api-version=2017-04-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"isAutoInflateEnabled\": false,\r\n    \"kafkaEnabled\": false\r\n  },\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "227c88fa-90b6-4aed-93e9-355ac9819ab7"
=======
          "f7f5b16c-e45d-43a4-9533-1da7766235a0"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
=======
          "FxVersion/4.6.27817.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
          "Microsoft.Azure.Management.EventHub.EventHubManagementClient/2.5.0.0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "117"
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "3ba55253-6976-49ac-95d3-01494285b5cc_M0SN1_M0SN1"
=======
          "0afe4c88-1574-49f9-91fa-82285fa0cded_M3SN1_M3SN1"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
<<<<<<< HEAD
=======
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "49"
        ],
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        "Server": [
          "Service-Bus-Resource-Provider/SN1",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-correlation-request-id": [
          "22b6956d-dce[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps9672/providers/Microsoft.EventHub/namespaces/eventHub6735?api-version=2017-04-01",
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 1\r\n  },\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps4732/providers/Microsoft.EventHub/namespaces/eventHub4729\",\r\n  \"name\": \"eventHub4729\",\r\n  \"type\": \"Microsoft.EventHub/Namespaces\",\r\n  \"location\": \"West US\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"isAutoInflateEnabled\": false,\r\n    \"maximumThroughputUnits\": 0,\r\n    \"kafkaEnabled\": true,\r\n    \"provisioningState\": \"Created\",\r\n    \"metricId\": \"91d12660-3dec-467a-be2a-213b5544ddc0:eventhub4729\",\r\n    \"createdAt\": \"2020-01-22T22:38:52.823Z\",\r\n    \"updatedAt\": \"2020-01-22T22:38:52.823Z\",\r\n    \"serviceBusEndpoint\": \"https://eventHub4729.servicebus.windows.net:443/\",\r\n    \"status\": \"Activating\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps9672/providers/Microsoft.EventHub/namespaces/eventHub6735/eventhubs/ps1800?api-version=2017-04-01",
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 1\r\n  },\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps4732/providers/Microsoft.EventHub/namespaces/eventHub4729\",\r\n  \"name\": \"eventHub4729\",\r\n  \"type\": \"Microsoft.EventHub/Namespaces\",\r\n  \"location\": \"West US\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"isAutoInflateEnabled\": false,\r\n    \"maximumThroughputUnits\": 0,\r\n    \"kafkaEnabled\": true,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"metricId\": \"91d12660-3dec-467a-be2a-213b5544ddc0:eventhub4729\",\r\n    \"createdAt\": \"2020-01-22T22:38:52.823Z\",\r\n    \"updatedAt\": \"2020-01-22T22:39:43.917Z\",\r\n    \"serviceBusEndpoint\": \"https://eventHub4729.servicebus.windows.net:443/\",\r\n    \"status\": \"Active\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps4732/providers/Microsoft.EventHub/namespaces/eventHub4729/eventhubs/ps7567?api-version=2017-04-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"messageRetentionInDays\": 3,\r\n    \"partitionCount\": 2\r\n  }\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "cd8ca793-f81f-4bea-862a-c82ea873b1b5"
=======
          "86e45c62-28b0-4906-91b0-a9bb75ceef9b"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
=======
          "FxVersion/4.6.278[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps9672/providers/Microsoft.EventHub/namespaces/eventHub6735/eventhubs/ps1800/authorizationRules/ps1757?api-version=2017-04-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps4732/providers/Microsoft.EventHub/namespaces/eventHub4729/eventhubs/ps7567\",\r\n  \"name\": \"ps7567\",\r\n  \"type\": \"Microsoft.EventHub/Namespaces/EventHubs\",\r\n  \"location\": \"West US\",\r\n  \"properties\": {\r\n    \"messageRetentionInDays\": 3,\r\n    \"partitionCount\": 2,\r\n    \"status\": \"Active\",\r\n    \"createdAt\": \"2020-01-22T22:40:13.36Z\",\r\n    \"updatedAt\": \"2020-01-22T22:40:13.747Z\",\r\n    \"partitionIds\": [\r\n      \"0\",\r\n      \"1\"\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps4732/providers/Microsoft.EventHub/namespaces/eventHub4729/eventhubs/ps7567/authorizationRules/ps4195?api-version=2017-04-01",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"rights\": [\r\n      \"Listen\",\r\n      \"Send\"\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "59a76215-0775-47ef-949d-90a678cdc42a"
=======
          "659cb95b-58ea-4916-9b33-c636a38a8f86"
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
=======
          [...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps9672/providers/Microsoft.EventHub/namespaces/eventHub6735/eventhubs/ps1800/authorizationRules/ps1757/ListKeys?api-version=2017-04-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps4732/providers/Microsoft.EventHub/namespaces/eventHub4729/eventhubs/ps7567/authorizationRules/ps4195\",\r\n  \"name\": \"ps4195\",\r\n  \"type\": \"Microsoft.EventHub/Namespaces/EventHubs/AuthorizationRules\",\r\n  \"location\": \"West US\",\r\n  \"properties\": {\r\n    \"rights\": [\r\n      \"Listen\",\r\n      \"Send\"\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps9672/providers/Microsoft.Devices/IotHubs/ps6778?api-version=2019-07-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"routing\": {\r\n      \"endpoints\": {\r\n        \"eventHubs\": [\r\n          {\r\n            \"connectionString\": \"Endpoint=sb://eventhub6735.servicebus.windows.net/;SharedAccessKeyName=ps1757;SharedAccessKey=lCTU3IraUBmNJb3+Jih6gAagTk5xS4YVUJC5Jrwfkgs=;EntityPath=ps1800\",\r\n            \"name\": \"eh1\"\r\n          }\r\n        ]\r\n      },\r\n      \"routes\": [\r\n        {\r\n          \"name\": \"route\",\r\n          \"source\": \"DeviceMessages\",\r\n          \"condition\": \"true\",\r\n          \"endpointNames\": [\r\n            \"eh1\"\r\n          ],\r\n          \"isEnabled\": true\r\n        }\r\n      ]\r\n    },\r\n    \"features\": \"None\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"B1\",\r\n    \"capacity\": 1\r\n  },\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"primaryConnectionString\": \"Endpoint=sb://eventhub4729.servicebus.windows.net/;SharedAccessKeyName=ps4195;SharedAccessKey=GvGkQ1usT76jlQukSaFgENllWRQ3fAF5CjanFCzTRcw=;EntityPath=ps7567\",\r\n  \"secondaryConnectionString\": \"Endpoint=sb://eventhub4729.servicebus.windows.net/;SharedAccessKeyName=ps4195;SharedAccessKey=RNkb8db9xSe4NoNQ74LTKp+5y4fbGnYnblb5JzgZZYM=;EntityPath=ps7567\",\r\n  \"primaryKey\": \"GvGkQ1usT76jlQukSaFgENllWRQ3fAF5CjanFCzTRcw=\",\r\n  \"secondaryKey\": \"RNkb8db9xSe4NoNQ74LTKp+5y4fbGnYnblb5JzgZZYM=\",\r\n  \"keyName\": \"ps4195\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps9672/providers/Microsoft.Devices/IotHubs/ps6778?api-version=2019-07-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"etag\": \"AAAAAAju6m8=\",\r\n  \"properties\": {\r\n    \"authorizationPolicies\": [\r\n      {\r\n        \"keyName\": \"iothubowner\",\r\n        \"primaryKey\": \"RiUQFY37noLI1dYJSCkhg9DwfrB3OmE5BugOeRKNLJs=\",\r\n        \"secondaryKey\": \"wRVkB94BHCE3WmUzekcufzpt3y6Z8xAPMlAowPlVsUU=\",\r\n        \"rights\": \"RegistryWrite, ServiceConnect, DeviceConnect\"\r\n      },\r\n      {\r\n        \"keyName\": \"service\",\r\n        \"primaryKey\": \"BlGk+I06BeNDBrmAfwkajvFn0bUMlJxW2B1TQo3ZPSA=\",\r\n        \"secondaryKey\": \"EYYmQtPY4sVeaEsWOaPlpRHfYDUz4uWGXnqpb/MVOTk=\",\r[...]
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices/operationResults/b3NfaWhfMGYxYmY5YjMtNzVjZi00M2M0LWI2YTItYjg0MTRmNGJmNWI5?api-version=2019-07-01-preview&operationSource=os_ih&asyncinfo",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps4732/providers/Microsoft.Devices/IotHubs/ps1678\",\r\n  \"name\": \"ps1678\",\r\n  \"type\": \"Microsoft.Devices/IotHubs\",\r\n  \"location\": \"West US\",\r\n  \"tags\": {},\r\n  \"subscriptionid\": \"91d12660-3dec-467a-be2a-213b5544ddc0\",\r\n  \"resourcegroup\": \"ps4732\",\r\n  \"etag\": \"AAAAAArmojo=\",\r\n  \"properties\": {\r\n    \"operationsMonitoringProperties\": {\r\n      \"events\": {\r\n        \"None\": \"None\",\r\n        \"Connections\": \"None\",\r\n        \"DeviceTelemetry\": \"None\",\r\n        \"C2DCommands\": \"None\",\r\n        \"DeviceIdentityOperations\": \"None\",\r\n        \"FileUploadOperations\": \"None\",\r\n        \"Routes\": \"None\"\r\n      }\r\n    },\r\n    \"provisioningState\": \"Accepted\",\r\n    \"authorizationPolicies\": [\r\n      {\r\n        \"keyName\": \"iothubowner\",\r\n        \"primaryKey\": \"Ho5EuuXOcYTuakmiVUnxguNivSpGPtO6OrFftDQqhaY=\",\r\n        \"secondaryKey\": \"wM8Qf/CvcJ0mGlCKwmpzzM/K6R+xodvmIrtOIhTdzGU=\",\r\n        \"rights\": \"RegistryWrite, ServiceConnect, DeviceConnect\"\r\n      },\r\n      {\r\n        \"keyName\": \"service\",\r\n        \"primaryKey\": \"2dLH80kkz+bj5uYzWElg[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices/operationResults/b3NfaWhfM2NjZGM5NjItYzFhYy00MjhhLWFhZjktOTNkNDVkODE3ZTkz?api-version=2019-07-01-preview&operationSource=os_ih&asyncinfo",
>>>>>>> e5fcd5c7b105c638909ca50ef4370d71fce2137e
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.183[...]
[...]
